[2020-08-20 06:45] nasermirzaei89 commented on #465
I built sample with this Dockerfile:
[code]
**but I didn't test it on Linux!!!**

Build with:
[code]

After that, you can see `game1` binary in the current directory

[2020-08-20 06:55] pavankumar-go commented on #465
Anyway i wrote one too
[code]
able to build for linux os

[2020-08-20 07:39] veeableful commented on #465
Ahh yes, I'm sorry. I did not test for other packages, only `sdl`. I've updated the Docker image to work for other packages as well. You might also want to remove unused images listed in `docker images` with `docker rmi <image ID>` as Docker seems to take significant amount of space in macOS.

[2020-09-20 15:10] bardiel commented on #459
Hi!
I've had similar behavior when trying to draw using `FPoint`s. Turns out I was using SDL2 2.0.9 provided by Debian 10.
Using the static libraries provided by go-sdl2 (2.0.12 at this time), everything works just fine.

[2020-09-29 06:23] Diamondtroller opened #473 "Can't install go-sdl2 on Win10"
I can't install sdl package because it returns this error:
[code]

I'm using git bash: GNU bash, version 4.4.23(1)-release (x86_64-pc-msys)
Go: go version go1.15.2 windows/amd64

[2020-09-29 06:26] veeableful commented on #473
Hi @Diamondtroller, have you installed the native SDL2 libraries? You can follow the steps on the README.

[2020-09-29 07:07] Diamondtroller commented on #473
Sorry @veeableful I didn't install libs correctly, after I posted this issue I only then checked closed issues and saw #472. This was my first issue in github, sorry for inconvenience.

[2020-09-29 07:07] #473 closed

[2020-11-05 12:36] Richie765 opened #474 "gfx docu links to wrong docu"
The gfx documentation at https://godoc.org/github.com/veandco/go-sdl2/gfx links to SDL1.2 version of gfx.

Outdated links: https://www.ferzkopp.net/Software/SDL_gfx-2.0/Docs/html/index.html

Correct link: https://www.ferzkopp.net/Software/SDL2_gfx/Docs/html/index.html

[2020-11-07 02:48] veeableful commented on #474
Thanks for reporting, @Richie765! I have fixed it in the master branch.

[2020-12-11 01:58] mikedesu commented on #299
Dude yes!!! Thank you so much!!!

[2020-12-27 20:21] gcstr commented on #399
I can still reproduce the issue.

[code]

Is there a way to compile with static libs?

[2020-12-28 02:55] veeableful commented on #399
Hi @gcstr, I believe SDL2 is compiled with glibc which is why it can't be fully static. I could be wrong though.

Do you have a specific issue that is caused by this behavior?

[2020-12-28 13:51] veeableful commented on #399
Sorry, I couldn't figure out how to make it completely static. The `sdl2-config --static-libs` command still defines some dynamic libraries though they should be available on most Linux platform.

[code]

If anyone knows how to make it completely static, please let me know!

[2020-12-30 19:25] gen2brain commented on #399
@gcstr It is not really recommended to build a fully static binary with Glibc, you will get a big fat warning from Glibc, and you will have issues with Alsa, which is hard to compile statically (probably some patches are needed).

If you really want this, you need to use `musl` toolchain to build SDL and all dependencies fully static, and again apply some patches to Alsa (probably Alpine distro ha

[2021-01-03 02:40] EugeneGlevsky opened #476 "could not determine kind of name for C.Mix_OpenAudioDevice"
Ubuntu 16.04 try to use this example:
https://github.com/veandco/go-sdl2-examples/tree/4298a5894b3ec15532eb78de70c71a528095865e/examples/audio_wav_memory
and get an error:
[code]
How can I fix it?

[2021-01-04 06:48] EugeneGlevsky commented on #476
I read in the source that: Mix_OpenAudioDevice is not supported before SDL 2.0.9
I am installed this, my sdl2-config --version shows: 2.0.9 but this error still exists.
Any ideas?

[2021-01-04 06:57] veeableful commented on #476
Hi @EugeneGlevsky, what does `pkg-config --cflags sdl2` print? Could you use the printed include directory to find `SDL_version.h` and verify that the version is at least 2.0.9?

[2021-01-04 09:24] EugeneGlevsky commented on #476
pkg-config --cflags sdl2  return: -D_REENTRANT -I/usr/include/SDL2  I fount SDL_version.h and open, in the source I can see:
`SDL_MAJOR_VERSION   2
 SDL_PATCHLEVEL          9`

 But if I try to run: sudo apt install libsdl2-mixer-dev  it says:
 is already the newest version (2.0.1+dfsg1-1)

 In the current moment I comment this function in source code and it is compiling without errors and working

[2021-01-04 09:44] veeableful commented on #476
Ahh sorry, it appears the message was wrong. It needs SDL2_mixer 2.0.2. I will correct it right away.

[2021-01-04 11:02] EugeneGlevsky commented on #476
@veeableful Thank you so much. I make pull in my version from git and not I can see this:

`# github.com/veandco/go-sdl2/mix
../extgo/src/github.com/veandco/go-sdl2/mix/sdl_mixer.go:28:32: error: missing binary operator before token "("
 //#if !(SDL_MIXER_VERSION_ATLEAST(2,0,2))
`

[2021-01-04 13:25] veeableful commented on #476
Hmm perhaps the Go version is out of date. Could you tell me which version is your Go toolchain?

[2021-01-04 15:33] EugeneGlevsky commented on #476
`go version go1.15.6 linux/amd64
`

[2021-01-04 16:21] veeableful commented on #476
Ahh I think it must be the gcc version then. Could you try installing newer GCC? I'm using GCC 10 and the problem doesn't appear to me.

[2021-01-05 10:21] EugeneGlevsky commented on #476
Ok, thank you so much!

[2021-01-05 10:21] #476 closed

[2021-01-19 08:53] sigzegv opened #477 "about renderers ReadPixel usage"
How am I supposed to use renderer.ReadPIxels pixel parameter ?

I am doing this

    renderer.SetRenderTarget(t)
    var pixels unsafe.Pointer
    renderer.ReadPixels(nil, sdl.PIXELFORMAT_ARGB8888, pixels, int(unsafe.Sizeof(uint32(1)))*int(width))
    fmt.Printf("%#v\n", pixels)

but I just get (unsafe.Pointer)(nil) as response. So this mean my pixels array wasn't filled.

I would like to be able

[2021-01-20 06:38] veeableful commented on #477
Hi @sigzegv, you can pass the address of the first item of an array such as `unsafe.Pointer(&pixels[0])`. So `pixels` can be declared like `var pixels = make([]byte, width*height*channels)`.

[2021-01-20 08:54] sigzegv commented on #477
I am not realy familiar with unsafe.pointer type, am I forced to use then the texture Update method to reaffect the pixels ? or is there a way then to indirect value to the pointer directly ?

[2021-01-20 10:34] gen2brain commented on #477
@sigzegv You have an example here https://play.golang.org/p/14JFZvpukGK, ReadPixels is a slow operation.

[2021-01-20 10:55] sigzegv commented on #477
Do you think it's better (and quicker) to maintain a Surface at same time and then push it to a new texture when needed to ?

[2021-01-20 15:28] gen2brain commented on #477
Depends on what you want to do, check migration guide https://wiki.libsdl.org/MigrationGuide, and `If your game wants to blit surfaces to the screen/If your game wants to do both`, but yes, that is the recommended method for what you want.

[2021-01-20 16:21] sigzegv commented on #477
thank you very much it's clear now.

[2021-01-20 20:24] #477 closed

[2021-02-09 09:35] MendeburMarul opened #478 "too many arguments to conversion to sdl.Rect"
So im writing a program just rendering screen a BMP there is all of my code and Exeptıons as err. i making this like in renderer example.
[code]
[code]

[2021-02-09 15:32] veeableful commented on #478
Hi @MendeburMarul, sdl.Rect is a struct so you can create them using `sdl.Rect{0, 0, 105, 105}` for example. You can replace the parentheses you used with curly braces.

[2021-03-02 08:20] bartgrantham opened #479 "Support for Apple Silicon?"
In trying to install on an M1 machine I am getting a very, very long list of linker errors, ending with:
[code]

I'm not sure why its trying to build for x64_64, I'm just doing a straightforward install with:
[code]
as suggested in the documentation.  I can see that the included static libs in `.go-sdl2-libs` don't include "darwin_amd64" versions, so that will also need addressing.

Let me know if

[2021-03-03 15:13] veeableful commented on #479
Hi @bartgrantham, I wonder if you are using Go 1.16 which is the Go version that supports Apple ARM64? I don't have an M1 machine so I haven't made sure that it works on a Apple ARM64 machine. I will find a way to get access to an Apple ARM64 machine so I can make sure it works and update you here.

[2021-03-03 17:30] bartgrantham commented on #479
Yes, I am running 1.16.  I might look into figuring out what is going wrong later today, do you have suggestions?

[2021-03-03 17:49] veeableful commented on #479
Do you have SDL2 installed? What's the the output of `file /path/to/libSDL2-[version].dylib`? You should be able to locate where the dylib is by running `pkg-config --libs sdl2` and see the argument of the `-L` flag.

[2021-03-03 19:33] bartgrantham commented on #479
[code]

Appears to all be arm64, as expected.  I installed with brew (`brew install sdl2{,_image,_mixer,_ttf,_gfx} pkg-config`).

`arch=arm64 brew install llvm`, eh?  That's... pretty brute-force.  I may give that a try, but I'll see if I can find something more surgical first.

[2021-03-05 06:21] bartgrantham commented on #479
I am so, so, so, so sorry!  I just realized I was running the amd64 version of 1.16 by accident!

It worked with the _correct_ compiler.  I hope you didn't spend much time diagnosing it.  Well, now that I have it compiling, are there tests I could do?

[2021-03-05 10:17] veeableful commented on #479
@bartgrantham Ooh I'm glad that it worked! I'm still waiting for Scaleway to have stock of M1 servers as apparently they ran out of stock :joy_cat:

To test it, you could try running the examples at `.go-sdl2-examples/examples/render` and run `go run main.go` and let me know if it works! It's just a bunch of random rendering (which I should probably update with nicer example...).

[2021-03-05 14:50] bartgrantham commented on #479
`render` worked!  Here's my full report:

* :white_check_mark: `audio`: as expected (steady tone)
* :white_check_mark: `audio_microphone`: repeating "Received audio: 1024 bytes" messages
* :x: `audio_mp3`: `signal: killed`
* :question: `audio_network`: no data on http://127.0.0.1:8080/audio (looking at code, not sure what was supposed to happen?)
* :x: `audio_wav_memory`: `signal: killed`
* :x: `d

[2021-03-05 16:56] veeableful commented on #479
@bartgrantham Thanks for testing it! It seems like I can finally rent an M1 machine so I will check and fix those examples some time this weekend.

[2021-03-07 12:31] veeableful commented on #479
Hi @bartgrantham, about those `signal: killed` messages, could you elaborate more on what happened? The same happened to me but I think it's because I used the `.tar.gz` version of the Go toolchain and macOS doesn't trust the programs that came with it.

I managed to fix it by allowing the Go linker tool to be executed which maybe isn't needed if you're using `.pkg` version. I did it by going to `

[2021-03-09 16:55] bartgrantham commented on #479
So strange!  You are also using Big Sur, Go 1.16, and Apple Silicon?

They were all installed with `brew install sdl2{,_image,_mixer,_ttf,_gfx} pkg-config`, all were from "bottles".  Just double-checked that the libs are are arm64 and not amd64. ;)

Are these examples based on SDL C examples?  I'm wondering if I should turn my eye toward SDL.  I've assumed that homebrew published a proper and test

[2021-03-13 22:59] bartgrantham commented on #479
I just did a `brew upgrade sdl2{,_image,_mixer,_ttf,_gfx} pkg-config` to make sure I had the most recent packages, everything was already up to date.

Just tried `go run -a drawing-text.go` in `drawing-text`: still killed

Tried this, still killed.

Tried this, still killed.

:(

I did `go build -x` to see what how it was resolving libraries, nothing seemed out of place.  Same with `go built -v`.

[2021-03-14 03:36] bartgrantham commented on #479
Stepping through the program with delve works.  (!)  Even just doing `dlv debug drawing-text` followed with "c" immediately works (ie. no setting breakpoints, etc).

delve kicked up a security dialog about permissions, I thought it was another XCode annoyance and didn't pay close attention so I can't remember exactly what it said, I wish I had.  Is it something fundamentally different about how de

[2021-03-15 15:48] veeableful commented on #479
@bartgrantham It certainly sounds like macOS doesn't want the program to run for some reason. I don't have anything that isn't just another shot in the dark. I wish I could replicate your set-up...

Could you attach the executable for `drawing-text` here? I would like to see if I can run it.

[2021-03-15 19:47] bartgrantham commented on #479
[drawing-text.zip](https://github.com/veandco/go-sdl2/files/6144063/drawing-text.zip)

Attached.  I'm going to assume it's something on my system with Big Sur's permissions system, but if you could give it a try it would be helpful to have confirmation of this.  Thank you!

[2021-03-16 15:46] veeableful commented on #479
Thanks! I managed to run it even as a fresh new user. I downloaded and extracted the go-sdl2-examples repository and put the executable at the `examples/drawing-text` directory so I suppose it was able to use the Homebrew installation of the native packages.

I also wrote C version of the program here:
[code]

If you put it inside the `drawing-text` directory, you should be able to compile it by r

[2021-03-18 17:17] bartgrantham commented on #479
Tried your C example: _also SIGKILL'ed!_

Ok, I think this really drives it home: something is screwy on my system.  Probably with permissions but it's going to require some investigation to figure out.

Thank you **SO MUCH** for your help in diagnosing this.  I think you can probably close this issue since it appears you now have M1 support generally.  I'll come back and update the issue if I fig

[2021-03-18 18:24] bartgrantham commented on #479
Investigating in `Console.app` (which I should have done from the beginning!), I can see AMFI reject the process:
[code]

What's odd is that library _is_ signed, at least adhoc:
[code]

Still digging...

[2021-03-18 22:54] bartgrantham commented on #479
`brew uninstall`ed anything that had to do with SDL, then reinstalled with `brew install`.  So it all seems to work for me now.  I have no idea why uninstalling and reinstalling made a difference, AFAICT it was all the same versions and they were installed with the exact same method.

Oh well.  I guess the old joke about the computer scientist, "how about we get out of the car and get back in and

[2021-03-19 03:30] veeableful commented on #479
Thank you too for trying all my attempts to solve it and helping me narrow down the issue! I'm really glad that you found the root of the problem and fixed it. Certainly, I will keep this issue open as well and update you here when I manage to build and put the static library in the repo for macOS M1 😃

[2021-03-21 15:44] veeableful commented on #479
Just to let you know that I managed (I think) to build darwin/arm64 static library for SDL2 which is on the `v0.5.0-alpha.1` tag now and tested the static compilation on darwin/amd64, darwin/arm64 and linux/amd64 machine!

However, I'm encountering stumbling blocks with the other SDL2_* libraries so I'm still working that out..

[2021-04-27 02:53] manuelmenzella opened #480 "Surface::Pixels() may return an undersized slice"
`Surface::Pixels()` [calculates](https://github.com/veandco/go-sdl2/blob/master/sdl/surface.go#L542) the length of the underlying buffer as `width * heigh * bytesPerPixel`. However, the pitch (i.e. bytes per row) is not always `width * bytesPerPixel`. More concretely, it is [rounded up](https://github.com/libsdl-org/SDL/blob/c59d4dcd38c382a1e9b69b053756f1139a861574/src/video/SDL_surface.c#L51) to

[2021-04-28 12:14] veeableful commented on #480
Hi @manuelmenzella, I think you are right that we should probably change the slice length calculation code, perhaps to `height * pitch`? I will try to produce an example that shows the issue with the current code so I know we fixed some cases with that change sometime this weekend (unless you already have an existing example to show in which case I would love to see it!).

[2021-05-01 04:05] manuelmenzella commented on #480
Thanks for looking into this! I had a busy last couple of days, but I’ll create a minimal example tomorrow and share it here.

[2021-05-01 07:37] veeableful commented on #480
Thank you, that would be very helpful!

[2021-05-01 22:49] manuelmenzella commented on #480
Hi @veeableful; I've added a minimal reproducible example [here](https://github.com/manuelmenzella/sdl2-buffer-bug/blob/main/main.go). You should be able to run `go build` and run the executable -- see the comments in the code for details. Let me know if you have any questions!

I've confirmed that replacing `surface.W` with `surface.Pitch` where the [slice length is calculated](https://github.com

[2021-05-02 04:48] veeableful commented on #480
Thank you very much for your time in creating the example @manuelmenzella! I have confirmed that the change fixes the issue. I have tagged the commit so you should be able to apply the fix by updating version of go-sdl2 in the`go.mod` file to `v0.4.6` 🙂

P.S. I had to modify a line in the example code to `buf[len(buf)-4] = 0xff` for setting the last pixel to blue as I suppose the last three bytes

[2021-05-02 13:52] manuelmenzella commented on #480
Ah, good catch -- thanks for fixing this so quickly, @veeableful!

I'll leave this issue open in case you want to use it for tracking, but I think we can otherwise close it :)

[2021-05-03 03:51] veeableful commented on #480
Yes, I think we can close this too. If there's something that is still not working related to this, don't hesitate re-open the issue!

[2021-05-03 03:51] #480 closed

[2021-05-20 13:39] veeableful commented on #342
Hi @hdfsyu, do you also have an issue with the installation on Windows 10? If possible, could you create a new issue with an overview on how you installed and tried to use it? Thanks!

[2021-05-20 13:57] hdfsyu opened #482 "SDL2 "No such file or directory SDL2/SDL.h""
I am on Windows 10 and I tried to include the SDL2/SDL.h header and it didnt work! I also found out its not only SDL.h its also SDL_image.h cannot be found I tried to track down the folders and rename "SDL2/SDL.h" to SDL.h and that did not work I updated the include path and it didnt work. Help please!

[2021-05-20 13:58] hdfsyu commented on #482
EDIT: HOLY CRAP IT WORKS I USED THIS COMMAND ON WINDOWS: "g++ -c src/*.cpp -std=c++14 -g -Wall -m64 -I include -I C:/SDL2-w64/include && g++ *.o -o bin/debug/main -L C:/SDL2-w64/lib -lmingw32 -lSDL2main -lSDL2 -lSDL2_image -lSDL2_mixer -lSDL2_ttf && start bin/debug/main" if ur using SDL2 and SDL2_image remove sdl2mixer and sdl2ttf OK B A I

[2021-05-20 13:58] #482 closed

[2021-05-26 07:22] Lundis opened #483 "mix feature: "subchunks""
Hey!

I discovered by accident yesterday that repetitive sound effects (such as lasers) sound **much** more natural if you vary the starting position a little every time you play them, but I didn't find any support for accomplishing this easily in mix. I imagine that this is something that many game developers would want to use for sound effects, instead of creating multiple sound tracks.

I forke

[2021-05-26 10:40] veeableful commented on #483
Hi @Lundis, thanks for the interest in adding feature into the project! I wonder if it is something that you could incorporate into the underlying SDL2_mixer library? I think It would be useful for wider audience and we would able to also implement the binding to it here!

[2021-05-26 11:02] Lundis commented on #483
Thanks for a quick reply. I will check with the SDL2_mixer developers if they like it. A quick look tells me that it could be implemented identically there, but it could also be implemented as a variant of Mix_PlayChannel. In any case I'll get back to you later.

[2021-05-27 17:00] mumbaicat opened #484 "About Static compilation gcc: error: unrecognized argument in option '-mabi=32'"
main.go

[code]

build.bat

[code]

run it

[code]

gcc version 8.1.0 (x86_64-posix-sjlj-rev0, Built by MinGW-W64 project)
go version go1.16.4 windows/amd64

What should I do to complete the compilation from windows to mips, thank you.

[2021-05-29 04:18] mumbaicat opened #485 "About mips cross-compilation"
WSL2 ubuntu Ubuntu 20.04.2 LTS
go version go1.16.4 linux/amd64

[code]
run it
[code]

[2021-05-30 06:57] veeableful commented on #485
Hi @mumbaicat! Have you tried compiling SDL2 from source? I have provided instructions below.

1. Create a workspace directory and go to that directory.
[code]

2. Download SDL2 and extract it.
[code]

3. Install build tools

[code]

4. Create the build script (e.g. `build-SDL2-linux-mipsel.sh`) using the content below. I adapted this from our current build script for ARM static libraries so perha

[2021-05-30 13:29] mumbaicat commented on #485
It's running successfully. It's a perfect help. Thank you.

[2021-05-30 13:29] #485 closed

[2021-05-30 16:28] fboerman commented on #438
Hi @jamesfmackenzie  and @veeableful ! I think there was an update to the go webassembly back-end since I now get a very different error. Im a beginner in golang so not sure how to fix this but maybe a starting point for the experts here.
[code]
The full source code for the project you can find [here](https://github.com/fboerman/microworlds). Its an experiment with microworld simulations from me a

[2021-05-31 11:15] veeableful commented on #438
Hi @fboerman, we don't yet support WASM output as Go itself doesn't support cgo with WASM. I think Go might not ever support it, or at least not anytime soon 😢.

If you need to create the web version, I believe it would probably be best to write it in JavaScript. From the look of the project's source code, I think the SDL2 usage is minimal enough that it can be translated to use HTML5 Canvas or ma

[2021-05-31 17:12] fboerman opened #486 "crosscompile to windows with gfx library"
Hi I am trying to compile my program which uses gfx for windows. I am running archlinux. I cant get it to compile and keep getting this error:
[code]
this is probably due to the fact that gfx has no windows zip to put in mingw environment. How do I fix this?

[2021-06-02 14:40] veeableful commented on #486
Hi @fboerman, sorry for the late response! We haven't fleshed out cross-compilation from Linux to Windows but perhaps you can try the steps below. It will require you to compile SDL2 and SDL2_gfx from source for MinGW as we don't have static library for SDL2_gfx yet.

1. Create a working directory.
[code]
2. Download [SDL2](libsdl.org) and [SDL2_gfx](https://www.ferzkopp.net/wordpress/2016/01/02/s

[2021-06-02 15:02] fboerman commented on #486
hi @veeableful thankyou for the very thorough reply. coincidentally I solved my issue already and was just gonna respond to the issue when I saw your response.

anway my fix is two options. Fort both statical compilation works the first proper crosscompiling option is that I found the package mingw-w64-sdl_gfx on the [AUR](https://aur.archlinux.org/packages/mingw-w64-sdl_gfx/) which actually insta

[2021-06-02 15:02] #486 closed

[2021-06-03 20:50] fboerman opened #487 "windows build very slow compared to linux when using gfx"
Hi,

I have build a small simulation with SDL2 frontend. When running the exact same build on both linux and windows there is a huge performance gap. I am using the gfx library.
Below I have copied the prints of my simple timing of the render function for a linux and a windows build with the exact same code. There is a bufferflip for the logic which is included but timed seperately. its very small

[2021-06-04 17:12] veeableful commented on #487
Hi @fboerman, could you try profiling the program? You can see the article here: https://blog.golang.org/pprof

[2021-06-05 10:50] fboerman commented on #487
hi @veeableful yes sure, thanks for the link. See below the zipfiles with the results. I am relatively new to this but it seems that the draw polygon function from gfx is very slow?

[profilers.zip](https://github.com/veandco/go-sdl2/files/6602425/profilers.zip)

[2021-06-05 13:36] veeableful commented on #487
Hi @fboerman, it seems like the Windows version spends a lot of time in the C space. Could you try building the program without the `-tags static -ldflags "-s -w"` flag on Windows and test that version? Or if you know where the libraries installed by MSYS2 are, set `CGO_LDFLAGS` environment variable to have `-L` flag that point to the directory containing libraries installed by MSYS2.

[2021-06-05 14:57] fboerman commented on #487
@veeableful hmm I tried to do this but apparently when I closed our discussion #486 I apparently only checked the static compilation. When I try the non static I get below error even if I add the flags you mentioned

[code]

bit annoying that I cant get this fixed so im gonna setup a testing branch with github actions again, because that one worked. then I can test it with a non static version

[2021-06-05 15:40] fboerman commented on #487
okay fixed it, see below new profiler file from a non static windows build (build using github actions)

[profiler.zip](https://github.com/veandco/go-sdl2/files/6602784/profiler.zip)

[2021-06-05 15:45] jakoblorz commented on #320
@thomas-holmes What is the status on this? Would be interested into moving my ray-tracing onto the gpu :smiley:

[2021-06-06 03:22] veeableful commented on #487
Thanks. I was wondering if our included static library could be the issue but it seems like the system-provided library performs the same.

Are you testing them on different machines and no virtual machines? If yes, have you installed the graphics driver for Windows?

[2021-06-06 10:41] fboerman commented on #487
hi @veeableful yes I tested it on a native windows machine with no virtualization whatsoever. and the github actions builds it on windows machines so its not even crosscompiling.

[2021-06-06 10:51] veeableful commented on #487
Hi @fboerman, is the machine the same one that runs Linux where your Linux version of the program runs? What GPU are you using and have you installed the latest graphics driver for it on the Windows environment?

[2021-06-06 11:32] fboerman commented on #487
hi @veeableful that was a good suggestion. i actually tried it on my surface pro 7 which is intel uhd graphics. on my desktop with an rtx 2060 its much faster! I dual boot my desktop so the linux one was on that gpu as well.

still for the first couple of ticks (when the screen is the fullest) it is still a factor three slower then the linux version. I have attached new profilings and below the te

[2021-06-06 12:53] veeableful commented on #487
Yeah, that approach might be useful if can reuse the textures. You could also try drawing using pixels and then scale the texture up to match window size which would be much cheaper than drawing polygons I think.

[2021-06-06 13:02] fboerman commented on #487
yes but I want to transition to hexagons and then I have to use polygons.

but I think the gfx library is not that efficient at least in go. so im probably gonna rewrite to writing pixels in a  texture buffer and then render the texture to the screen.

[2021-06-06 13:57] fboerman commented on #487
hi @veeableful so yes that approach is MUCH faster. So I think we can conclude that the gfx library is rather slow, at least in this configuration. The rewrite you can see here: https://github.com/fboerman/microworlds/commit/b7011c4e7c514b7d9e07a3be4137e36c570244a9

dropping the gfx library also solves my crosscompiling issues.

I will close this issue now!

[2021-06-06 13:57] #487 closed

[2021-06-07 05:02] GXTX opened #488 "ttf does not offer `TTF_RenderGlyph_Solid`"
As the title states currently in `v0.4.x` the TTF package does not offer a RenderGlyphSolid (`TTF_RenderGlyph_Solid`), instead opting to offer RenderUTF8Solid.

In a project I'm working on UTF8 causes problems for me and I just need base ASCII glyphs.

[2021-06-07 10:31] GXTX commented on #488
You can ignore this. The UTF8 render is suitable.

[2021-06-07 10:31] #488 closed

[2021-06-08 03:39] veeableful commented on #488
Hi @GXTX, thanks for reporting the missing methods! I have added them to `v0.4.x` should you be interested in using them. I haven't tested them myself but once I do, I will tag it as `v0.4.8`.

[2021-06-30 16:39] mvrpl opened #489 "Support Sony DualSense ?"
Does this lib support the Sony DualSense device?

Product ID: 0x0ce6
Vendor ID: 0x054c
Location ID: 0x14100000 / 2

[2021-07-01 03:23] veeableful commented on #489
Hi @mvrpl. If you use SDL2 2.0.14, it should support the Sony DualSense device.

[2021-07-03 02:45] #489 closed

[2021-07-23 17:52] husio commented on #418
I have reported this issue so long ago that I no longer remember any details. I think it can be closed, although I really cannot tell if the root cause was solved (or valid).

[2021-07-24 00:17] veeableful commented on #418
Thanks, @husio. I will close it for now but feel free to comment here again if the same issue comes up!

[2021-07-24 00:17] #418 closed

[2021-08-19 11:30] MightyPancake opened #490 "Using depracated function SDL_GetRevisionNumber()"
Please correct me if I'm wrong, but I think SDL_GetRevisionNumber() is being used and SDL2 outputs a warning about it being a deprecated thing.
Although the binding still works, it outputs this nasty warning
`# github.com/veandco/go-sdl2/sdl
cgo-gcc-prolog: In function '_cgo_a4414542972c_Cfunc_SDL_GetRevisionNumber':`
From what I found replacing the call with SDL_GetRevision() should do the trick,

[2021-08-20 12:24] veeableful commented on #490
Hi @MightyPancake, thanks for reporting this issue! I pushed a commit that should show the deprecation warning on staticcheck (also on VS Code using the plugin) only when users use `sdl.GetRevisionNumber()`.

[2021-08-21 12:54] MightyPancake commented on #490
Everything works after this commit got released! Thanks for the great response time.
Cheers!

[2021-08-21 12:55] #490 closed

[2021-08-24 11:15] MightyPancake opened #492 "Potentially missing "SDL2/SDL_mixer.h" header file"
I tried to install the binding for sdl_mixer with the command that is advised in the README.md. Unfortunately, it looks like the "SDL_mixer.h" header file is missing from the GitHub directory! I get the error below while trying to install the binding:

[code]

Is there something that I do wrong or is this just a little error on the GitHub side?

P.S. I have the sdl_mixer lib installed in my MinGW

[2021-08-24 11:44] #492 closed

[2021-08-24 11:47] MightyPancake commented on #492
Turns out I downloaded the wrong lib from SDL. My bad, please delete this issue.
Sorry to waste your time 😅

[2021-08-25 05:43] CannibalVox opened #493 "VulkanCreateSurface example?"
I'm attempting to use a vulkan surface in an application, and I am receiving the error `VK_KHR_win32_surface extension is not enabled in the Vulkan instance.` - in fact that surface is enabled in the instance.  And that error is raised when vkGetInstanceProcAddr returns NULL (https://github.com/emscripten-ports/SDL2/blob/edfa5806ffc8a8fc05327ac709124a479514cab7/src/video/windows/SDL_windowsvulkan.

[2021-08-25 05:45] CannibalVox commented on #493
Some code:

[code]

Output:

[code]

[2021-08-25 12:39] veeableful commented on #493
Hi @CannibalVox, have you taken a look at this thread? I wonder if it is the same issue. https://discourse.libsdl.org/t/sdl-vulkan-createsurface-vk-khr-win32-surface-extension-not-enabled/24934

I'm not familiar with Vulkan so if that doesn't solve the issue, perhaps you could share a minimal example using your existing code? I will look into it!

[2021-08-25 13:36] gen2brain commented on #493
@CannibalVox there are examples in vulkan-go, e.g. https://github.com/vulkan-go/demos/blob/master/vulkancube/vulkancube_sdl2/main.go

[2021-09-10 06:43] CannibalVox opened #495 "Update to SDL 2.0.14+?"
For whatever reason, SDL chooses to ship a vulkan loader itself, which means that if SDL gets a little out of date, so does vulkan.  At this time, the SDL2 version shipped with go-sdl2 ships a vulkan 1.1 loader instead of the most recent vulkan 1.2, which ships in SDL 2.0.14 and above.  This means some extensions are not available, and we get warnings about layer versions when debugging devices th

[2021-09-10 06:59] veeableful commented on #495
Hi @CannibalVox, what a coincidence! Thanks for the reminder and the offer to assist. I was actually planning to at least update the bindings to support 2.0.16 either today or tomorrow. But as for the static libraries, previously they were built on Gentoo by @gen2brain. However it is a little challenging for me to re-produce them so we started working on scripts that can be used on other operating

[2021-09-10 14:09] CannibalVox commented on #495
That's great to hear!

I can understand not wanting to have the libs included in the repository, but on the other hand go-sdl2 is unusually easy to work with for a cgo wrapper and I think that's a large part of why.

[2021-09-12 15:29] veeableful commented on #495
I created a repository for the scripts at https://github.com/veandco/sdl2-static-library-build-scripts and pushed scripts that I have tested again to have worked on my Fedora machine. There are actually more scripts in my local machine and I will push them as well once I have tested them again!

[2021-09-18 09:39] CannibalVox commented on #495
I've finally gotten the opportunity to try this out, and the windows bindings do seem to have a small issue-

A) They don't include windows.h on their own, so SDL.h doesn't get included, since system.h only includes it in windows mode
B) system_windows.go assumes that SDL.h has been included so it has a compile failure attempting to use SDL_VERSION_ATLEAST

[2021-09-19 12:37] veeableful commented on #495
Hi @CannibalVox, thanks for testing it and the report. I have pushed a couple of fixes to the bindings to `master` and `v0.4.x` branches. If you have the time, please try it out. I tested with the cross-compilation method to compile to Windows so it should work now.

I have also been updating the static library build scripts for SDL2 which I will push later. After that I would like to figure out h

[2021-09-20 01:45] CannibalVox commented on #495
Works great, thank you!

[2021-10-10 13:19] shish opened #496 "Compile broken with old SDL?"
Trying to build inside github actions, where the current version of SDL is 2.0.8

[code]

It looks to my eyes like the `SDL_LockTextureToSurface` stub for pre-2.0.12 versions is missing a body?

https://github.com/veandco/go-sdl2/blob/0abc017f41d3daacca87cef4f36cbab8a95e1b14/sdl/render.go#L193

[2021-10-11 03:56] veeableful commented on #496
Thanks, @shish for reporting the issue! I have pushed the fix to `master` and `v0.4.x` branches.

[2021-10-17 01:21] kkevinchou opened #497 "Crosscompiling from Windows to Mac"
Hello is there any guidance for crosscompiling from Windows to Mac? I get the following error:

[code]

I am using MinGW

[2021-10-18 02:13] kkevinchou commented on #497
Thanks for the suggestion, I was hoping for something a little more out-of-the-box but that's a reasonable workaround 👍

[2021-10-20 14:36] rasa-silva opened #498 "Renderer seems to leak memory"
Running any example with a `Renderer` like [render](https://github.com/veandco/go-sdl2-examples/blob/master/examples/render/render.go) seems to leak memory. (at least on OSX)

[2021-10-21 13:01] rasa-silva commented on #498
I just monitored it with `htop` and "Activity Monitor" and the value keeps rising every second

[2021-10-21 13:25] #498 closed, assigned to nobody

[2021-11-01 15:08] veeableful commented on #497
Hi @depili, sorry for taking so long to reply! I added a commit that seems to fix the undefined symbol issue. Could you try the `v0.4.x` branch? If it does fix it, I will tag it immediately.

[2021-11-01 15:44] depili commented on #497
Seems to have fixed that linking error, now just running into other issues on my osx-crossbuild with (supposedly) the golang builtin time package...
[code]
But this is probably unrelated to the go-sdl2 in of itself, just some other issue with osxcross and golang.

[2021-11-01 16:16] depili commented on #497
Actually, doing a quick test and just trying to compile the example from go-sdl2 readme results in linking errors with _clock_gettime:

[code]

[code]

Just compiling a go program printing out time.Now(), runtime.GOOS and runtime.ReadBuildInfo() works when cross-compiled with osxcross.

[2021-11-01 16:18] depili commented on #497
Using git head (e59a63461da2cbc20cb0a5bbfc954730e50a5472) of osxcross, if that matters.

[2021-11-02 13:56] veeableful commented on #497
Hi @depili, you're right. It seems like macOS SDK 10.11 can't be used, at least with the Go 1.17. I was able to compile with macOS SDK 11.3 but I think any SDK version 10.13 or newer should work which seems to be requirement for Go 1.17 (https://golang.org/doc/go1.17). It might also work with an older Go versions like 1.16 if we don't want to upgrade the macOS SDK. I used this code as a test:
[cod

[2021-11-02 16:11] depili commented on #497
Unfortunately, I can't seem to get osxcross up with 10.13 as
`build_compiler_rt.sh` fails, so can't test. Will try with go 1.16

[2021-11-02 18:45] depili commented on #497
Trying with go1.16.9 and SDK 10.11 still runs into a linking problem, just
one this time:

[code]

Will need to see if I can get any SDK other than 10.11 up with osxcross,
can't go lower than go 1.16 since I use embed that requires go 1.16

[2021-11-02 19:03] depili commented on #497
Finally had success, using `liushuyu/osxcross` container that is based on
10.14 SDK and go 1.16. For some reason my attempts of creating the SDK
tarballs via the osxcross/tools/ scripts resulted always in something
non-functional in the end.

[2021-11-14 06:36] khanalnabin opened #499 "Couldnot load the font"
panic: Couldn't open ./assets/Impact.ttf

goroutine 1 [running, locked to thread]:
main.main()
        /home/nabin/Projects/coding/go/src/github.com/khanalnabin/tic-tac-toe/main.go:90 +0x24b
exit status 2

[Process exited 1]

[2021-11-15 04:38] veeableful commented on #499
Hi @khanalnabin, could you share a minimal example code that re-produces this problem? I will investigate it. Thanks!

[2021-11-15 15:56] khanalnabin commented on #499
Thank you @veeableful for your concern. The directory where I put the assets was inside the folder where i was writing a go file. When I transferred to the main package level, it worked. I think since I was using go run . at package level, the assets folder needed to be in that same package level, not inside folder where the go file accessing the assets is present. Once again thanks.

[2021-11-17 08:15] Lundis commented on #483
My solution did not work out. However, I was able to accomplish the same effect to great success by introducing random-length fade-ins to my sound effects.

[2021-11-17 08:15] #483 closed

[2021-11-25 15:45] remko opened #500 "Example uses 100% CPU on macOS"
When compiling the example from the README on macOS (10.15.7, SDL2 2.0.16 from homebrew), the application goes to 100%.
Printing the events that come from SDL_PollEvent, it doesn't seem that there are many events coming in (just what you would expect). Any clue what could be wrong, or how to figure out what's going wrong?

[2021-11-26 11:34] veeableful commented on #500
Hi @remko, that should be because the loop doesn't have a delay so it would render as many times as it can. You could put a `sdl.Delay(16)` inside the `for running {}` loop to have it refresh at roughly 60 frames per second.

[2021-11-27 11:31] remko commented on #500
Hi @veeableful
Thanks! I was actually confusing the behavior of SDL_PollEvent with SDL_WaitEvent.

[2021-11-27 11:31] #500 closed

[2021-12-07 20:06] Keithcat1 opened #501 "Avoid assuming that Go structs match C strucs"
I noticed that Go-SDL2 seems to deal with structs by defining Go structs that have the same field layout as SDL2 structs.
However, this is unsafe because if SDL2 updates and silently adds or changes struct fields, the C compiler will figure it out and throw errors if your code is now invalid, but Go could randomly cause undefined behavior (this happened for me in github.com/gen2brain/malgo and the

[2021-12-09 05:19] veeableful commented on #501
Hi @Keithcat1, thanks for the suggestion! Would you be submitting a PR that implements this change? Otherwise, I will have a look at it when I have more time in my hand.

[2022-01-08 13:17] anilkonac commented on #342
I had the same problem, but I noticed that I'm copying bin, include, lib and share folders into ..\x86_64-8.1.0-win32-seh-rt_v6-rev0\mingw64 not into ..\x86_64-8.1.0-win32-seh-rt_v6-rev0\mingw64\x86_64-w64-mingw32. Copying x86_64-w64-mingw32 folder as told in Readme.md would solve it in the first place.

[2022-01-17 15:28] kbolino opened #502 "Build errors on Windows 10/AMD64/MSYS2"
# Problem

Can't build on Windows 10, AMD64/x86_64, with MSYS2 and latest versions of SDL2/go-sdl2:

[code]

# Possible solution

The latter problem seems to stem from a difference between this platform and others, but can likely be resolved for all platforms by simply using the correct target type in the cast (based upon the signature of `SDL_GetWindowICCProfile`):

[code]

I can suggest a fix fo

[2022-01-17 22:17] pendar747 commented on #502
I'm seeing the same problem when trying to install on macOS big sur (v11.6.2):
[code]
and also
[code]

[2022-01-17 22:45] jncornett commented on #502
Same, I am able to reproduce on macOS.
FWIW a workaround that worked for me was to downgrade to `v0.4.9`.

Reproduction details below:

### My Environment

OS: macOS Big Sur 11.2.3
Device: MacBook Pro (M1)

[code]

[code]

### What am I running?

In a go module:

[code]

### What do I expect?

`go get` succeeds

### What do I see instead?

[code]

[2022-01-18 00:35] kbolino commented on #502
I tried downgrading to `v0.4.9` and that produced a *different* problem:

[code]

Ditto for `v0.4.10`. I was able to resolve that issue by also downgrading SDL2_ttf to `2.0.15` (the version I was using previously).

[2022-01-18 14:07] veeableful commented on #502
Oh dear.. sorry for that. I tried the build using go-sdl2 v0.4.11 and SDL2-2.0.18 in Fedora Linux 35 and macOS Monterey and they worked for me. I will try to reproduce these issues if I am able and fix these hopefully by tomorrow.

[2022-01-19 13:31] veeableful commented on #502
Ahh, I wasn't aware that there were new releases. It seems like SDL2 2.0.20 and SDL2_ttf 2.0.18 contained breaking API changes. I have made the fixes to v0.4.12. Hopefully, the issues are fixed!

[2022-01-19 19:24] #502 closed

[2022-01-20 08:13] ConnorHQ opened #503 "error while getting SDL with go"
./sdl_wrapper.h:2:11: fatal error: SDL2/SDL.h: No such file or directory
  #include <SDL2/SDL.h>
           ^~~~~~~~~~~~
compilation terminated.

[2022-01-20 08:15] veeableful commented on #503
Hi @ConnorHQ, could you share more information? Did you install the SDL2 library? Which OS are you running it on? What's your SDL2 and go-sdl2 version?

[2022-01-20 09:38] Semj0n commented on #503
Hi, i'm having the same issue. While installing:

In file included from ..\..\go\pkg\mod\github.com\veandco\go-sdl2@v0.4.12\sdl\audio.go:4:0:
./sdl_wrapper.h:2:11: fatal error: SDL2/SDL.h: No such file or directory
  #include <SDL2/SDL.h>
           ^~~~~~~~~~~~
compilation terminated.

OS  = Windows 10
I've installed mingw and put the SDL files into C:\Program Files\mingw-w64\x86_64-7.3.0-posix-s

[2022-01-20 09:45] veeableful commented on #503
Hi @Semj0n, did you copy SDL2's `i686-w64-mingw32` and / or `x86_64-w64-mingw32` directories into `C:\Program Files\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64`? Can your shell find `gcc`?

[2022-01-20 09:56] Semj0n commented on #503
Hi @veeableful, i've copied x86_64-w64-mingw32 and yes, i can find gcc.
Any ideas ?

[2022-01-20 10:01] Semj0n commented on #503
@veeableful , @ConnorHQ

I found another dir C:\Program Files\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64\x86_64-w64-mingw32

copied the SDL files to this dir solves the problem!

Thanks @veeableful

[2022-01-20 10:04] veeableful commented on #503
Nice @Semj0n! Don’t mention it 🙂

[2022-01-20 18:22] Semj0n opened #504 "cannot find -lSDL2_gfx"
Hi,

when i try to install gfx package with "go get github.com/veandco/go-sdl2/gfx"

C:/Program Files/mingw-w64/x86_64-7.3.0-posix-seh-rt_v5-rev0/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/7.3.0/../../../../x86_64-w64-mingw32/bin/ld.exe: cannot find -lSDL2_gfx
collect2.exe: error: ld returned 1 exit status

I've downloaded SDL2_gfx-1.0.1 and tried to compile it with Visual Studio but i get several

[2022-01-20 18:23] Semj0n commented on #504
insert precompiled lib leads to:

# github.com/veandco/go-sdl2/gfx
C:/Program Files/mingw-w64/x86_64-7.3.0-posix-seh-rt_v5-rev0/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/7.3.0/../../../../x86_64-w64-mingw32/bin/ld.exe: cannot find -lSDL2_gfx
collect2.exe: error: ld returned 1 exit status
PS C:\Users\s8636452\GoProjects\Brutkasten> go get github.com/veandco/go-sdl2/gfx
# github.com/veandco/go-sdl2/

[2022-01-20 18:29] Semj0n commented on #504
-> go get github.com/veandco/go-sdl2/gfx

C:/Program Files/mingw-w64/x86_64-7.3.0-posix-seh-rt_v5-rev0/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/7.3.0/../../../../x86_64-w64-mingw32/lib/../lib/libSDL2_gfx.a(SDL2_framerate.o):(.text+0x5): undefined reference to `SDL_GetTicks'
C:/Program Files/mingw-w64/x86_64-7.3.0-posix-seh-rt_v5-rev0/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/7.3.0/../../../../x86

[2022-01-21 16:08] Semj0n commented on #504
Solved it by removing USE_MMX flag in Visual Studio -> C++ Settings

[2022-01-21 16:09] #504 closed

[2022-01-21 16:48] Semj0n opened #505 "install/ build SDL2_gfx"
Hi,

i'd ilke to make use of functions provided in the gfx package.
when i try to install it with: > go get github.com/veandco/go-sdl2/gfx

i get
C:/Program Files/mingw-w64/x86_64-7.3.0-posix-seh-rt_v5-rev0/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/7.3.0/../../../../x86_64-w64-mingw32/bin/ld.exe: cannot find -lSDL2_gfx
collect2.exe: error: ld returned 1 exit status

I'm able to build SDL2 and SDL2

[2022-01-22 03:51] veeableful commented on #505
Hi Semj0n, I don't have Windows with me at the moment but perhaps it would be easier for you to use MSYS2 and install SDL2 and SDL2_gfx using the following command:
[code]

Then I think you need to add something like `C:\mingw\bin` to the PATH environment variable. You might also need to remove previous MinGW paths from it so you will only use the ones installed by MSYS2.

I'm not sure if my instr

[2022-01-23 06:55] #503 closed

[2022-01-23 06:55] ConnorHQ commented on #503
thanks!

[2022-01-26 12:34] veeableful commented on #505
Hi @Semj0n, I corrected the MSYS2 path for environment variable in my previous comment. It seems to work on my Windows installation so please let me know if it works for you too!

[2022-01-26 16:03] #505 closed

[2022-02-05 15:32] yory8 opened #506 "window.UpdateSurface() errors out"
I'm using sdl2 2.0.20 and go-sdl2 0.4.12.
I believe the bug was introduced by the new sdl2 version, as the code worked fine around 2.0.16 with go-sdl2 0.4.10 a few months ago.

The following minimal example breaks with error `Window surface is invalid, please call SDL_GetWindowSurface() to get a new surface`:

[code]

[2022-02-07 05:45] veeableful commented on #506
Hi @yory8! I couldn't reproduce the issue using SDL2 2.0.20 and go-sdl2 v0.4.12 on my Fedora Linux, macOS Monterey (M1), and Windows 10. Could you help me reproduce it by specifying which platform you are running it on and how you got SDL2? Any extra information that could be related to this would also help.

[2022-02-07 07:50] yory8 commented on #506
Thanks. I'm using it on Arch Linux, with the system's sdl2, using wayland. Unfortunately I had paused working on my code for several months, so I'm unable to say when exactly it started breaking, and why (I managed to try sdl2 2.0.18 and it breaks too, but I cannot go any further because of incompatible dependencies)

[2022-02-07 08:38] veeableful commented on #506
Ahh you're using Wayland. I'm not too familiar with it but perhaps setting the environment variable `SDL_VIDEODRIVER=wayland` would make it work? Maybe running a command like:
[code]

If not, I will try to set up the same environment on one of my spare laptops or VMs to see if I can reproduce it.

[2022-02-07 10:12] yory8 commented on #506
Doesn't work (was already using wayland), but it works if I do `SDL_VIDEODRIVER=x11 go run main.go` so it seems to be some change in wlroots (the wayland implementation used by sway).

[2022-02-15 09:13] SolarLune opened #507 "Can't build static with Linux / Mac - #if SDL_TTF_VERSION_ATLEAST(2,0,18)"
Hello! I'm trying to build a bit of a complex program of mine ([MasterPlan, a graphical ideaboard](https://github.com/SolarLune/masterplan)) that uses the ttf package, and while it works fine when building the application normally, building statically doesn't work. I'm getting an error, on Manjaro Linux as well as Mac OS:

[code]

Here's the build command I'm using:

[code]

I've been able to buil

[2022-02-15 09:31] SolarLune commented on #507
After checking go-sdl2 out and making the following change in ttf/sdl_ttf.go (as I'm using a version of SDL2 that's greater than 2.0.18):

[code]

I now get this when I try to build statically:

[code]

[2022-02-16 07:29] veeableful commented on #507
Hi @SolarLune, thanks for reporting the issue! Unfortunately, I haven't been able to keep the static libraries updated, and that caused the errors above as the SDL2_ttf static library included in the binding is at version 2.0.14 which doesn't recognize SDL_TTF_VERSION_ATLEAST. Nevertheless, I will try my best to update the SDL2_ttf library by tomorrow and inform you here. I apologize for the incon

[2022-02-16 18:05] SolarLune commented on #507
No problem! I wasn't sure if it was just my system updating and incompatibilities arising or what - no worries. I can just build dynamically for now. Thank you very much for the support!

[2022-02-17 18:09] veeableful commented on #507
Hi @SolarLune, I managed to compile updated SDL2_ttf libraries albeit they are a lot bigger in size. Would you be able to test them? I have temporarily uploaded the libraries to our object storage bucket [here](https://go-sdl2.veandco.sg-sin1.upcloudobjects.com/.go-sdl2-libs.zip)

You can extract it and then copy the libraries and `include` directory inside over the ones inside `.go-sdl2-libs` in

[2022-02-17 19:08] veeableful commented on #507
Please disregard the above. I have made a workaround that is available in `v0.4.14` so you can just static build with the libraries that we have now!

[2022-03-01 23:09] kbolino opened #509 "Add support for SDL_GetTicks64"
SDL 2.0.18 added [`SDL_GetTicks64`](https://wiki.libsdl.org/SDL_GetTicks64) which returns a `Uint64` instead of the `Uint32` returned by [`SDL_GetTicks`](https://wiki.libsdl.org/SDL_GetTicks), removing the need to use tricks to handle rollover after 49 days. It would be nice to have this available in Go, e.g. as `sdl.GetTicks64()`.

I can submit a PR if desired.

[2022-03-02 14:29] veeableful commented on #509
Hi @kbolino, thanks for reporting this! I have added it and tagged `v0.4.15`.

[2022-03-12 01:42] kbolino opened #510 "Honor max_vertices in RenderGeometryRaw"
Currently, the signature for `Renderer.RenderGeometryRaw` looks like this:

[code]

However, the parameter `num_vertices` is ignored and the actual number of vertices passed to `SDL_RenderGeometryRaw` is taken from the `xy` slice length instead:

[code]

This sort of deduction is fine for `RenderGeometry` which takes a slice of `sdl.Vertex`. But here, for `RenderGeometryRaw`, the slices being supp

[2022-03-12 01:50] kbolino commented on #510
Further thoughts: given the low-level nature of `RenderGeometryRaw`, it may be best to discard the slice parameter types in favor of something more generic. I know the C signature uses `float *` and `SDL_Color *` types, which *usually* map nicely to `[]float32` and `[]sdl.Color`, but I think those types are actually misleading. For example, what if the stride is not a multiple of 4? I don't know i

[2022-03-12 01:58] #509 closed

[2022-03-13 10:21] veeableful commented on #510
Hi @kbolino, thank you for pointing this out! I was thinking to use `*float32` and `*sdl.Color` but I see that you think it's misleading. Could you elaborate more on that to explain why you think it's misleading?

[2022-03-13 14:17] kbolino commented on #510
Sure. The biggest reason I think it's misleading is because the strides are specified in bytes. Here's an example of how the `uv` array, for one, is used inside `SDL_RenderGeometryRaw`:

[code]

If we look at the renderer implementations as well, e.g. for Metal in `METAL_QueueGeometry`, we can see similar pointer arithmetic on `xy_stride` and `color_stride`:

[code]

So the apparent type is thrown

[2022-03-13 15:46] veeableful commented on #510
Thank you for writing such comprehensive reasons! I agree that it might be better to match closer to SDL2 function and I did think of the `*float32` and `*sdl.Color` types to be pointers to the values instead of arrays and they could also be clues of what you would normally put into the address.

I have made the change in fed6d2 where I fix the unused `num_vertices` parameter and change the parame

[2022-03-14 00:03] AXDOOMER commented on #496
Also broken with SDL 2.0.10.

`../../go/pkg/mod/github.com/veandco/go-sdl2@v0.4.15/sdl/timer.go:22:16: could not determine kind of name for C.SDL_GetTicks64`

Since this commit: https://github.com/veandco/go-sdl2/commit/06f44fad53c24fe011318f3bc2c2d31bac315e7c

This function is only available in SDL 2.0.18.

[2022-03-14 03:08] veeableful commented on #496
Hi @AXDOOMER, thanks for reporting the issue! I have fixed it in the latest tag release `v0.4.16`.

[2022-03-14 14:55] kbolino commented on #510
I tested it out and it works fine. Definitely more ergonomic to pass pointers instead of slices, since I had to make fake slice headers for them before.

[2022-03-20 21:14] Kurkkuo commented on #119
Any new updates?

[2022-03-27 15:00] Lundis opened #513 "android arm64 support"
It seems that android arm64 (AKA aarch64 / arm64-v8a) is the standard now (meaning you cant technically use this library for android). I suppose adding support for it is as "simple" as https://github.com/veandco/go-sdl2/commit/cd80a890a1854d8ec41d8815948b110ac7691709

I would do it myself but I'm guessing you already have SDL cross-compiling set up (which does not exactly seem trivial according to

[2022-03-28 10:23] Lundis commented on #513
I just found https://github.com/veandco/sdl2-static-library-build-scripts

I can probably work with that.

[2022-03-28 10:27] veeableful commented on #513
Ahh sorry, I haven't managed to finalize the scripts. I will push what I have now tomorrow so it will be more up-to-date.

[2022-03-28 10:36] Lundis commented on #513
No worries. I'm thinking that library might be good for me to practise my github actions skills. If you would be interested in an automated solution? I have gained some experience with docker recently which I could put to use to have github produce the static libs.

I noticed that it's set up for the older android NDKs though, which I am not sure if supported arm64 (new ones use LLVM and is much e

[2022-03-28 10:54] veeableful commented on #513
That would be extremely helpful! I have met a couple stumbling blocks in building for android and darwin arm64 architecture so I greatly appreciate any help on those matters!

[2022-03-28 18:04] Lundis commented on #513
I started working on it: https://github.com/veandco/sdl2-static-library-build-scripts/pull/1 Now it should be possible to build using that container. No time for that today though ;)

[2022-03-29 09:46] Jonathan0827 opened #514 "Can't get sdl"
How can I fix this
<img width="3008" alt="스크린샷 2022-03-29 오후 6 46 06" src="https://user-images.githubusercontent.com/74815888/160584012-710b4af0-6ca6-41bf-b8b5-08c89bf12d1a.png">
?

[2022-03-29 10:00] veeableful commented on #514
Hi @Jonathan0827! You can first create a Go module in your current directory by running `go mod init [name]` (replace [name] with your project name). Then you can run the `go get -v github.com/veandco/go-sdl2/gfx` command like what you did earlier.

[2022-03-29 13:05] Jonathan0827 commented on #514
Thanks a lot! It worked like a magic

[2022-03-29 13:05] #514 closed

[2022-03-29 14:44] veeableful commented on #513
Thanks @Lundis! I have also pushed the current state of the repository which may have affected the list of packages installed in the Dockerfile.

[2022-04-07 03:42] IfeSunmola commented on #342
If anyone still has this problem, I fixed mine by just copying everything in the include folder of SDL to the include folder of MinGW and I used it in my code like: `#include <SDL.h`

The SDL was downloaded from https://libsdl.org/download-2.0.php  (.zip)

Something might probably go wrong soon but if it works, it works I guess

[2022-04-11 00:08] advisoft opened #516 "Unable to call RenderGeometery with nil indicies"
The SDL2 documentation says you can pass in NULL indices.

![image](https://user-images.githubusercontent.com/11500738/162645584-9c8570a8-6b97-4013-9bcb-55d068ae65c0.png)

The go-sdl2 function assumes there is at least one indice passed in:

![image](https://user-images.githubusercontent.com/11500738/162645569-f20cb08b-9325-40fe-b9da-2b127f598f4c.png)

I presume the fix is probably something like

[2022-04-11 04:53] veeableful commented on #516
Thanks for reporting the issue and providing the fix @advisoft! I have applied it and tagged a new patch release with `v0.4.20`.

[2022-04-11 04:56] advisoft commented on #516
Thank you.

[2022-04-11 10:04] gedw99 commented on #466
i have a mac  and ios device to test on, if anyone needs a guinea pig to test on :)

[2022-04-12 11:10] veeableful commented on #466
Thanks for the kind offer, @gedw99! I will let you know once we start implementing support for iOS.

[2022-04-13 17:08] SolarLune commented on #507
Hello - sorry for the late reply, but I was able to build my app with go-sdl2 statically since this with one of the latest versions. Thanks a lot for your assistance, @veeableful!

[2022-04-13 17:08] #507 closed

[2022-04-15 00:45] IoIxD opened #517 ""undefined reference" when trying to compile a 32-bit executable for Linux."
I get a very strange error when trying to compile a program using `GOOS=386` that I don't get otherwise...

[code]

[A copy of all the test project is available here](https://f.funnywa.rs/files/SDLTest.tar.gz)

[code]

[2022-04-15 02:32] vit1251 opened #518 "ArchLinux compilation error on SDL2_ttf"
During ArchLinux compilation meet with error message:

[code]
Could you please suggest how to fix it?

[2022-04-16 03:43] veeableful commented on #518
Hi @vit1251, it seems like the `sdl2_ttf` package hasn't been installed. Does it work if you install the package?

[2022-04-16 05:53] veeableful commented on #517
Hi @IoIxD, could it be that the 32-bit version of SDL2 is not installed in the system? If you have it installed, I think it should work.

Another way you can try is to compile it statically. The following command would make it use the pre-compiled static libraries that we provide.
[code]

[2022-04-16 11:30] vit1251 commented on #518
Yep. My fault. Sorry,

[2022-04-16 11:30] #518 closed

[2022-04-16 12:35] gen2brain commented on #517
@IoIxD You are missing CGO_ENABLED=1. When you are changing GOARCH to 386 you are cross-compiling, which means Go is running with CGO_ENABLED=0. Add CGO_ENABLED=1 so you can see the real error messages. i.e. missing 32bit lib etc.

[2022-04-18 23:09] IoIxD commented on #517
CGO_ENABLED helped. I'm now getting a floating point exception so maybe this doesn't have great 32-bit support after all but at least it compiles. Thanks!

[2022-04-18 23:09] #517 closed

[2022-04-30 17:14] SiirRandall opened #519 "Running on Raspberry Pi 64bit SLD2"
So I build the latest SDL2 with RPI Video support to use this in framebuffer mode. Everything else seems to run fine for SDL2. When I try to run any examples or even try to build it just stays and the prompt with no warnings or errors.

`pi@raspberrypi:~/go-sdl2-examples/examples/texture $ go run texture.go

`
I installed the mod with `go get -v github.com/veandco/go-sdl2/sdl@master`

I am not sur

[2022-05-01 05:11] veeableful commented on #519
Hi @SiirRandall! Does the program eventually exit (should be after around 2 seconds)? If so, I believe it has something to do with the program not having an event loop. I have updated the example to have it on the `master` branch. Could you try again and see if that helps?

[2022-05-02 14:42] veeableful commented on #519
Hi @SiirRandall, could you try to build the program shown in README.md using `go build`? I wonder if it takes a long time to finish compiling the first time on the Raspberry Pi. If the program can be built and it still runs indefinitely, could you try reducing the Go code as much as you can and re-build it until it works? Perhaps we can find the cause that way.

[code]

[2022-05-02 16:29] SiirRandall commented on #519
It is working after the build. It took around 4-5 min to build. My apologies for creating this issue. I feel pretty stupid right now.

[2022-05-03 03:28] veeableful commented on #519
Thank goodness! It's not a waste of time. Perhaps I should add this information to the README.

[2022-05-03 12:22] SiirRandall commented on #519
Glad I could help. I will go ahead and close this. Again thank you again for your help.

[2022-05-03 12:22] #519 closed

[2022-05-13 18:34] kazzmir opened #521 "sdl_ttf.go: build error with libsdl2-ttf-dev 2.0.18"
I receive this error when building go-sdl2@v0.4.4
[code]
The first thing is just a warning, but the second seems to be an incompatability with libsdl-ttf. On the system where this error occurs I have libsdl2-ttf-dev 2.0.18. I have another system that works fine with libsdl2-ttf-dev 2.0.15.

[2022-05-14 00:08] veeableful commented on #521
Hi @kazzmir, I believe that has been fixed in more recent version such as v0.4.21. Could you try again after updating go-sdl2?

[2022-05-14 00:44] kazzmir commented on #521
You are right, 0.4.21 fixes it. Sorry, I did not realize 0.4.21 was released.

[2022-05-14 00:44] #521 closed

[2022-05-17 08:39] steeleduncan commented on #438
Would it be possible to make this work by using https://github.com/tetratelabs/wazero?

[2022-05-18 12:45] veeableful commented on #438
Hi @steeleduncan, thanks for sharing! I will try it out once I find out how to compile SDL2 to WebAssembly.

[2022-05-30 18:37] Keyn1 opened #522 "What am I doing wrong?"
If I compile a program with "github.com/veandco/go-sdl2/sdl "then everything is ok. The program is compiled.
If I insert "github.com/veandco/go-sdl2/ttf " then I get an error

C:\GoPrg\sdl2_start>go build main.go                                                                                    # github.com/veandco/go-sdl2/ttf

[2022-05-31 06:39] veeableful commented on #522
Hi @Keyn1, I think that is because SDL2_ttf is not installed in the Windows environment. You can download the runtime library [here](https://www.libsdl.org/projects/SDL_ttf/release/SDL2_ttf-2.0.18-win32-x64.zip) and the header file from the source code [here](https://www.libsdl.org/projects/SDL_ttf/release/SDL2_ttf-2.0.18.zip). They can be put in the same location as the SDL2 that you have install

[2022-06-14 19:18] kazzmir opened #523 "0.4.21 compiler error with sdl2 2.0.8"
go-sdl2 0.4.21 references SDL_SensorType in sdl/gamecontroller.go like so:
[code]
But since SDL_SensorType is not defined in sdl 2.0.8 this results in a compiler error.
[code]
A simple fix would be to typedef SDL_SensorType in gamecontroller.go if the version is not at least 2.0.14
[code]

[2022-06-15 14:27] veeableful commented on #523
Hi @kazzmir, thanks for reporting this issue! It should be fixed in `v0.4.22` now.

[2022-06-18 03:49] josexy opened #525 "Closing the window does not exit completely"
I noticed that when I close the window, it doesn't disappear completely. The window only closes completely when the signal Ctrl+C or force quit is captured. How should I solve this? By the way my system is macOS M1

The sample code:
[code]

[2022-06-18 04:08] veeableful commented on #525
Hi @josexy, I believe the interrupt channel is preventing the program from exiting on the last line of `main()`. If you remove that line, it should behave correctly.

[2022-06-18 04:18] josexy commented on #525
Yes, but I would like to be able to continue execution after closing the window (e.g. creating and closing it again) instead of ending the program.

[2022-06-18 05:17] veeableful commented on #525
Ah! I'm sorry I misunderstood your issue. So you would like the app to continue running. In that case, there's a new hint in SDL 2.0.22 called `SDL_HINT_QUIT_ON_LAST_WINDOW_CLOSE` that you can set to `0`. I have just added the support in go-sdl2 `v0.4.24` so please try. I modified your example a little bit which looks like this.
[code]

[2022-06-18 06:51] josexy commented on #525
OK, thanks for your answer

[2022-06-19 16:56] kazzmir commented on #523
works great!

[2022-06-19 16:56] #523 closed

[2022-06-23 08:36] djnjbjb opened #526 ""go get" is deprecated, how to install go-sdl2"
In the document, it says I can install by

But, with Go 1.18, the command results in" 'go get' is no longer supported... "

<br/>

Then I try

But it results in "package github.com/veandco/go-sdl2/sdl is not a main package ..."

<br/>

How to install go-sdl2 with Go 1.18?

[2022-06-24 03:49] djnjbjb commented on #526
Thank you.
I'm new to Go and not familiar with Go module.
I'll try “go mod init [module name]”.

[2022-06-27 13:48] djnjbjb commented on #526
I have learnt go module these days. The "go mod init - go get" way works.
Thank you again.

I still do not understand "go install" now.
With git module, "go get" works fine. I didn't use "go install" and don't understand what does "go install"  do.

[2022-06-27 13:48] #526 closed

[2022-07-21 09:13] SolindekDev opened #527 "What im doing wrong with installing go-sdl2"
Hi i have a problem with go-sdl2 first i create go module next install all package on debian next write some sdl2 code in golang and go mod tidy then i go build it and there's this loong warning

[code]

but ./app is creating when i am starting it there's this error message:

[code]

im using code from the example please help me!

[2022-07-21 12:51] veeableful commented on #527
Hi @SolindekDev, could you let me know your version of SDL2?

[2022-08-01 02:07] shish commented on #496
Looks like another one just appeared

[code]

Using latest go-sdl2 and libsdl 2.0.10

Example of a build that was working a couple of days ago and not today: https://github.com/shish/rosettaboy/runs/7602639263

[2022-08-01 04:29] veeableful commented on #496
Hi @shish, did it really use the latest go-sdl2 which is `v0.4.24`? The `go.sum` seems to suggest that it's using `v0.4.10`.

[2022-08-01 10:01] shish commented on #496
Looks like I was actually ignoring `go.sum` because my github actions script installed the latest go-sdl from the main branch before it even checks out my project code ^^;

(I am not a go expert, I don't even know how to install specific versions of things >.>)

[2022-08-01 10:08] shish commented on #496
Bumping go.sum to use v0.4.24 also seems to hit the same error

[2022-08-01 12:59] shish commented on #496
Actually, this happens before even getting to my code at all - just taking a fresh github actions VM, running `sudo apt-get update && sudo apt-get install -y golang libsdl2-dev` + `go get github.com/veandco/go-sdl2/sdl`

[2022-08-01 13:38] cvermazen opened #530 "Build error during docker container build of retro-cs"
During the build of a Docker container build: Dockerfile contents:

FROM ubuntu:bionic

RUN apt-get update
RUN apt-get install -y \
    golang \
    git \
    libsdl2-dev \
    libsdl2-image-dev \
    libsdl2-mixer-dev \
    libsdl2-ttf-dev \
    libsdl2-gfx-dev

RUN mkdir -p /root/go/src/github.com/blackchip-org/retro-cs
RUN go get github.com/veandco/go-sdl2/sdl
RUN go get github.com/chzyer/readl

[2022-08-02 12:50] veeableful commented on #496
Hi @shish , it seems like the container is using Go provided by Ubuntu 18.04 which is relatively old at `v1.10`. Could you use newer Go, at least `v1.13`? Since we are using Go modules now, the minimum Go version has been bumped to `v1.13`.

[2022-08-02 12:50] veeableful commented on #530
Hi @cvermazen , it seems like the container is using Go provided by Ubuntu 18.04 which is relatively old at `v1.10`. Could you use newer Go, at least `v1.13`? Since we are using Go modules now, the minimum Go version has been bumped to `v1.13`.

[2022-08-02 13:58] shish commented on #496
I'm not sure where you're seeing ubuntu-18.04 / golang 1.10 -- I was using the ubuntu-20.04 base with golang 1.13 :S (See the "install deps" logs in https://github.com/shish/rosettaboy/runs/7602639263?check_suite_focus=true )

However, using the "ubuntu-22.04 beta" container with golang 1.18 + libsdl2 2.0.20 appears to work, so that's enough for me :)

[2022-08-02 14:09] veeableful commented on #496
Oh I'm sorry, I must have confused it with another new issue which has the same issue as yours and same way of using Ubuntu's Go package. It seems like it might not only be the Go version issue as our Github Actions for `v0.4.x` have been building fine with Go 1.13 though it's using latest Ubuntu. I will see if I can make it work with Ubuntu 20.04 as well if there's truly an issue with it somewher

[2022-08-03 16:39] cvermazen commented on #530
Thanks for the fast update. I will give it a try.
Thanks

[2022-08-03 23:03] veeableful commented on #530
@cvermazen Oh and be sure to use go-sdl2 `0.4.24` as I think that error comes from using the go-sdl2's `master` branch which is what Go older than `v1.13` would use by default.

[2022-08-16 08:08] #530 closed

[2022-08-16 08:09] cvermazen commented on #530
Thanks for the reply's

[2022-08-18 07:19] marethyu opened #533 "16-bit textures?"
I have a 16-bit frame buffer: `buffer [WIDTH * HEIGHT]uint16`. Each pixel follows the following format: `MBBBBBGGGGGRRRRR` (M is either 0 or 1). I am wondering whether Go's SDL2 package support rendering 16-bit textures like this. It seems to support pixel format `SDL_PIXELFORMAT_BGR555` so I can create a texture like this
[code]
but how to update texture with 16-bit framebuffer? `texture.Update(.

[2022-08-20 04:14] veeableful commented on #533
Hi @marethyu, thanks for reporting this issue! It does seem to be quite troublesome if you have an array of uint16. Do you think it's acceptable if I change the type from `[]byte` to `unsafe.Pointer`? That way, you can use array of any type as the data by passing it like this full example if you use []uint16:
[code]

[2022-08-20 07:39] iBug opened #534 "`sdl.PushEvent(&sdl.UserEvent)` produces "Cgo argument has Go pointer to Go pointer" for non-nil `Data1` or `Data2`"
This was originally asked on [Stack Overflow](https://stackoverflow.com/q/73424458/5958455), but I later discovered that `Data1` and `Data2` are completely unusable.

The code snippet is:

[code]

In fact, `Data1` can't be anything non-nil, so even this gives the "Go pointer to Go pointer" error:

[code]

Am I missing something? What is the correct way to pass extra data using `Data1` and `Data2`

[2022-08-20 08:24] marethyu commented on #533
@veeableful Thank you for providing an example! But what version did you use? My compiler is complaining that unsafe doesn't work with byte array
[code]

[2022-08-20 15:46] veeableful commented on #534
Hi @iBug, thanks for submitting the question! I believe due to Go's garbage collector default behavior of disallowing having Go pointer within the object another Go pointer is pointing to, it is not possible to pass data to SDL2 which is using C runtime using Go-allocated pointers.

However if you would like to experiment with passing Go-allocated pointer to SDL2, you can disable the check by disa

[2022-08-20 16:07] veeableful commented on #533
Oh sorry @marethyu, I was only proposing to change the API so that example would work and wondered if you'd think it's acceptable. I have pushed it to Github as `v0.4.25` now if you'd like to try the example again.

[2022-08-20 19:41] marethyu commented on #533
@veeableful Perfect, it is working well! Thank you for all the support!

[2022-08-20 19:41] #533 closed

[2022-08-21 05:53] iBug commented on #534
Thank you for your response. I'm not familiar with Cgo so I'd rather not touch that part with my application.

I ended up `make(chan MyData, 16)` and use `PushEvent(UserEvent)` as a notification for "data ready" so I don't have to create a separate `select` statement, which also enabled me to incorporate my custom events into the main `sdl.PollEvent` loop. This workaround was satisfactory for me a

[2022-08-22 13:01] veeableful commented on #534
Oh that's really smart! I'm glad that you found a better solution.

[2022-09-01 02:49] n-i-x commented on #513
Hey there! Any progress on this? I was trying to build an SDL app for an aarch64 linux embedded system and getting an error:

`# error "No ABI matched"`

I'm assuming this is because there are no SDL libs for this platform. I'm happy to compile them myself if there are some instructions, but I haven't been able to find any.

[2022-09-01 03:20] veeableful commented on #513
Hi @n-i-x, you could try downloading the latest SDL2 library from GitHub at https://github.com/libsdl-org/SDL/releases

After extracting it, you could build it like this:
[code]

and then make sure `pkg-config` can find it by setting the environment variable:
[code]
After that, I believe you should be able to use the binding.

[2022-09-04 03:09] n-i-x commented on #513
I don't think that'll let me statically compile though will it? I have all the .a files from the device I'm targeting and tried adding them to the repo... but it couldn't find them. Not sure what I missed.

[2022-09-04 03:26] n-i-x commented on #513
FYI, I tried compiling SDL 2.0.7 (the version included in the embedded device) using your instructions and then building one of the examples and I get the following error:

[code]

I've tried `go mod tidy` and `go get -v github.com/veandco/go-sdl2/sdl` and it sill gives me that error. If I don't try to cross-compile then it works fine.

[2022-09-04 07:57] gen2brain commented on #513
@n-i-x That is because you need to explicitly enable cgo with CGO_ENABLED=1, Go will by default disable cgo when ever you try to cross-compile. It is a common error when one wants to cross-compile a cgo project just like that.

When you add CGO_ENABLED, the next error will probably be something that tells you that you must use the C compiler/toolchain for the target architecture, i.e. to set CC. B

[2022-09-04 14:17] n-i-x commented on #513
Okay I tried all of that except compiling sdl with the aarch64 gcc I’ll try that next and report back.

[2022-09-04 17:07] n-i-x commented on #513
[code]

Then when trying to cross-compile I get the following:

[code]

Is there something I need to do to make sure cgo can see the the libs in ~/.local? I have `PKG_CONFIG_PATH="$HOME/.local/lib/pkgconfig:$PKG_CONFIG_PATH"` exported. I'm also trying to compile SDL 2.0.7 which is the SDL included in the embedded device I'm working with, would I need to use a more updated SDL? I would assume if I

[2022-09-04 17:11] n-i-x commented on #513
I also wonder if I just need to compile SDL -image,-mixer,-ttf,-gfx to get all the references needed by the bindings... I'll make my way through compiling those libs for aarch64 as well. I really appreciate you helping me through this.

[2022-09-06 14:13] veeableful commented on #513
Hi @n-i-x, the SDL2 build instructions written above are for dynamic compilation as we don't have static libraries for android arm64 yet. There shouldn't be a need to install the other SDL2 libraries such as SDL2_image if only `sdl` is imported.

[2022-09-12 05:29] kazzmir opened #535 "TextInputEvent missing GetText()"
Commit 1aaca478b312bea92192d243d7f2c19a1369fc14 removed the GetText() function from TextInputEvent and TextEditingEvent. It looks like this is an oversight, as the other functions for those events remain (GetTimestamp(), GetType(), ...).

GetText() can trivially be implemented as
[code]
and the same for TextInputEvent.

I think GetText() should remain to keep API compatability.

[2022-09-12 12:19] mmp opened #536 "redefinition of enumerator 'SDL_JOYSTICK_POWER_UNKNOWN' errors with top of tree"
(Many thanks for the go-sdl2 bindings--they're invaluable!)

With top of tree (3624de6c831d) I'm seeing the errors below. From a little investigation, this seems to have been introduced in 28145e5f; if I roll back to 253cca45719b63, it works fine. I think the issue is the `#if !defined(SDL_JoystickPowerLevel)` check there; I don't see anything that would actually `#define` that in the SDL2 code. (

[2022-09-12 16:08] veeableful commented on #535
Hi @kazzmir, thanks for reporting this! I have added them back in the `master` branch.

[2022-09-12 16:11] veeableful commented on #536
Hi @mmp, thanks for the compliment (it means a lot!) and reporting of this issue. I have implemented a fix for this in the `master` branch.

[2022-09-12 16:43] kazzmir commented on #535
:+1:

[2022-09-12 16:43] #535 closed

[2022-09-12 18:39] mmp commented on #536
Thanks for the quick fix--confirmed that it works!

[2022-09-12 18:39] #536 closed

[2022-09-12 20:55] mmp opened #537 "build error with windows in top-of-tree"
With top-of-tree (aka 0696db96700f2b8) I'm seeing this error with Windows builds. (I assume it's just a matter of a missing cast.)

[code]

[2022-09-13 14:51] veeableful commented on #537
Hi @mmp, thanks for the reporting of issues again! It should be fixed in the `master` branch now.

[2022-09-13 20:54] mmp commented on #537
Looks good now--thank you!

[2022-09-13 20:54] #537 closed

[2022-09-19 02:43] tower111 commented on #484
I have the same problem, how did you solve it?

[2022-09-20 13:53] veeableful commented on #484
Hi @tower111, do you have the same environment as the original poster? We don't currently support cross-compilation on Windows (only Linux is supported and GOARCH=mipsle will be supported on future version).

[2022-09-24 14:44] #510 closed

[2022-10-02 05:49] SolarLune opened #540 "Crash on running Go-SDL2 app through Rosetta"
Hello!

Just wanted to see if anybody knew anything about this particular issue - I'm the creator of a productivity and organization app known as [MasterPlan](https://github.com/SolarLune/masterplan). It's written with go-sdl2, and has been working pretty well. Normally, I build on GitHub Actions through Mac OS 10.15 - you can see the setup script for the action [here](https://github.com/SolarLune

[2022-10-03 09:12] veeableful commented on #540
Hi @SolarLune, thanks for reporting the issue! I will check if I can reproduce this and fix it. Really cool to see an actual application that uses go-sdl2!

[2022-10-09 14:24] veeableful commented on #540
Hi @SolarLune, would it be possible for you to test the building for darwin/arm64 in the latest `v0.4.x` branch? I have added static compilation support for darwin/arm64. It seems to work on my Linux machine to cross-compile to the macOS and it runs on my Macbook Air M1 laptop. If it works for you too, I will add the tag for `v0.4.26`!

[2022-10-17 13:58] wushu037 opened #541 "Can't understand the sentences in the readme"
I wrote a program on macos, probably affected by sdl2 so it can not be compiled cross-platform. So I tried to compile the windows exe on windows. when compiling it reported an error
![image](https://user-images.githubusercontent.com/61787040/196196740-4118887d-f8a8-4e1a-849f-6fc640bbf675.png)

I tried to find the answer in the readme, but I couldn't understand it

The passage:
[code]

I downloaded

[2022-10-17 15:55] wushu037 opened #542 "windows build error: SDL_GetRevisionNumber"
I got an error when I tried to compile the windows platform
(Both compiling with cross-platform and compiling directly on windows gave me an error)
macos to windows
![image](https://user-images.githubusercontent.com/61787040/196224893-adfe8ea6-6fb2-4175-ac5e-1c14f1c83381.png)

windows
![image](https://user-images.githubusercontent.com/61787040/196225170-d091dceb-b748-4c88-afc2-496515fe0f9b.png)

[2022-10-17 15:56] wushu037 commented on #541
Should I download `SDL2-devel... `, while I downloaded `SDL2-xx-win32-x64.zip`
I found the file described in the readme here

But a problem also happened, I think a new issue should be created: #542

[2022-10-18 09:13] veeableful commented on #542
Hi @wushu037, could you try with the latest version which is `v0.4.25` and see if it's still happening? It seems like you were using `v0.3.3`.

[2022-10-18 09:19] veeableful commented on #541
Hi @wushu037, yes you should download the development version. Inside the folder refers to the inside of the extracted SDL2 package directory. Afterwards, you can copy the said directories (`i686-w64-mingw32` and/or `x86_64-w64-mingw32`) to a directory inside your MinGW installation at something like `C:\Program Files\mingw-w64\x86_64-6.3.0-win32-seh-rt_v5-rev1\mingw64`. Your version is most likel

[2022-10-18 16:34] wushu037 commented on #542
Hi @veeableful , thank you very much, I tried it and now it compiles successfully.
(But there are some problems running. I'm using go-sdl2 indirectly from the gobot library, where should I ask)

[2022-10-19 17:22] veeableful commented on #542
Hi @wushu037, it seems like you have already asked in the right place! If you need a fix now, I think you may be able to just simply use older SDL2 versions such as 2.0.12 or maybe even 2.0.14.

On second look, it seems like the error is just a warning so maybe you were able to compile it? Did it produce the `gamepad-keys-map` executable?

[2022-10-20 04:14] wushu037 commented on #542
Hi @veeableful , thank you for your interest!

**1.** I modified to the latest version and the warning is gone

**2.** oh, indeed. I updated the issue in gobot, thank you.
It does compile the executable. As for why I got the warnings and errors confused, it's because in the program I wrote myself, I still used [robotgo](https://github.com/go-vgo/robotgo) and used it to call the system screenshot.

[2022-10-20 13:05] veeableful commented on #542
Hi @wushu037, I think you could try using Docker or Podman to run the cross-compilation under Linux which seems to be a supported way of cross-compiling for robotgo. If you want to cross-compile on macOS, you might need to build [zlib](http://zlib.net/) using the mingw-w64 tools so robotgo can use it but it might be more troublesome than just using Linux container to do it.

[2022-11-12 04:32] veeableful commented on #540
Hi @SolarLune, I have included static libraries for darwin/arm64 in the new `v0.4.26` release. Let me know if it works for you!

[2022-11-13 07:14] bytecounter opened #543 "Invalid type error when building for i386"
When trying to build for i368 architecture, I got this error:
`/go/pkg/mod/github.com/veandco/go-sdl2@v0.4.26/sdl/guid.go:38:33: cannot use _cap (variable of type _Ctype_ulong) as type _Ctype_uint in argument to (_Cfunc_SDL_malloc)`

Environment:
Docker 20.10.12 on Ubuntu 22.04 LTS

go.mod
[code]

Go-Source:
[code]

My Dockerfile:
[code]
Build command:
`docker run --rm -it -v "$PWD":/usr/src/myapp

[2022-11-13 14:13] veeableful commented on #543
Hi @bytecounter, thanks for reporting this issue! I have backported a fix from the main branch into `v0.4.27` after testing with a similar container setup as the one provided. Could you try it out and let me know if it fixes the problem for you?

[2022-11-13 16:50] bytecounter commented on #543
@veeableful , thank you for the very fast bugfixing! I can confirm, that is fixed with 0.4.37. My build was successful.

[2022-11-13 16:50] #543 closed

[2022-11-25 13:26] geniot commented on #447
So I went a bit further than this :) Obviously you need a toolchain to cross-compile.
The error that I'm getting:
mipsel-gcw0-linux-uclibc-gcc: error: unrecognized command line option '-mno-odd-spreg'

Do you know where  no-odd-spreg option is set? Why is it set and why my toolchain's mipsel gcc doesn't recognize it?

[2022-11-26 06:36] gen2brain commented on #447
@geniot `no-odd-spreg` is set in Go, here https://github.com/golang/go/blob/master/src/cmd/cgo/gcc.go#L1639 depends if GOMIPS is hardfloat or softfloat, that also defaults in GCC for 32bit arch (hard-float), see here https://gcc.gnu.org/onlinedocs/gcc/MIPS-Options.html.

How did you try to build, did you manage to build and install SDL2 first?

[2022-11-26 09:24] geniot commented on #447
Thanks @gen2brain for replying.
What I'm trying to achieve: using Go create a simple SDL2 demo for my PocketGo2v2 which has MIPS architecture.
What I did:
1. simple "helloworld.go" on my Linux host - OK
2. same with GOARCH=mipsle, upload, run on PocketGo - OK
3. simple SDL2 red rectangle program taken from your examples (on my host) - OK
4. same with cross compilation - FAIL

My env variables:
CC=

[2022-11-26 10:03] gen2brain commented on #447
@geniot Now you should compile SDL2 with that same toolchain. pkg-config is now trying to use your system SDL2, which is not good. Point `PKG_CONFIG_PATH` and `PKG_CONFIG_LIBDIR` to i.e. `/opt/gcw0-toolchain/usr/mipsel-gcw0-linux-uclibc/sysroot/usr/lib/pkgconfig`. If you have `mipsel-gcw0-linux-uclibc-pkg-config`, set that as PKG_CONFIG though I don't think it is necessary to have.

The goal is to

[2022-11-26 10:19] gen2brain commented on #447
Btw. if that toolchain is using GCC-4.3 that is the reason why you don't have `-mno-odd-spreg`, the GCC is too old. You can either build/install some newer toolchain, or you can hack the Go source and use that build instead. That is if the device actually has support for hard float.

[2022-11-26 11:39] geniot commented on #447
Hurray! It's working! Thanks a lot! Now I can write a retro emulator in Go, test it on my laptop and then compile it for PocketGo.

![red](https://user-images.githubusercontent.com/199748/204086368-4bdd132d-70ce-4a40-8833-ede6a19ca051.jpg)

To get it working I only had to add PKG_CONFIG:
![env_vars](https://user-images.githubusercontent.com/199748/204086469-8ccc76aa-98d4-43c9-81fe-0049f765012a.png

[2022-11-29 08:33] 0x3alex opened #544 "WINOWS: Go Build is **really** slow"

[2022-11-29 08:34] 0x3alex commented on #544
When I build a small SDL2 program, it takes like 3-4 minutes to compile on windows 11

[2022-11-29 08:58] veeableful commented on #544
Hi @0x3alex, thanks for submitting this issue! Was the Windows build the first time it was ever built and does it still take a long time on subsequent builds? If so, it sounds like go-sdl2 is being built each time your program is compiled, in which case may I know which version of Go you are using on Windows?

[2022-11-29 09:03] 0x3alex commented on #544
Hi, so it was for the first, let me guess, three to four builds. I added the -x flag and it seemed like, that it rebuild all of the SDL2 stuff...

I then restarted the CMD and now its as fast as on macOS...

Windows is weird :(

[2022-11-29 09:08] veeableful commented on #544
Ahh okay, I was thinking that either the Go version is too old (<1.13) where you had to pre-build go-sdl2 if you didn't install go-sdl2 a certain way or the build command had a `-a` flag which always rebuilds everything.

[2022-11-30 08:34] #544 closed