[2018-01-19 21:44] #301 closed

[2018-01-20 03:32] tosone commented on #302
I see it. It is very useful, thank you.

[2018-01-20 16:26] MartanLV opened #303 "Any way to use integrated graphics card only?"
I would like to create an application that would tend to use integrated graphics card instead of descrete graphics card. Is there a way to achieve this?

_Render without using opengl._ ?

[2018-01-20 17:12] MartanLV opened #304 "There could be a binding for this"
SDL_SetWindowOpacity

https://wiki.libsdl.org/SDL_SetWindowOpacity

[2018-01-21 08:10] veeableful commented on #304
Hi @MartanLV, @malashin has implemented the binding. Could you test it out?

[2018-01-21 08:14] veeableful commented on #303
Hi @MartanLV, I'm not entirely sure about this but I think that's a setting that may only be set by the system. I believe there's no way to force usage of integrated graphics card inside of SDL2.

[2018-01-31 11:27] aaaaeinai opened #307 "Is pacman in arch same as pacman in mingw?"

[2018-01-31 11:29] #307 closed

[2018-02-02 16:38] jackmott opened #308 "Does the LoadWAV binding make sense?"
https://github.com/veandco/go-sdl2/blob/master/sdl/audio.go#L334

LoadWAV takes a pointer to an AudioSpec, then also returns a pointer to an audiospec, I think the *same* pointer.  Is the return value redundant/unecessary?

[2018-02-03 01:58] malashin commented on #301
@veeableful

TestSurface() fails now due to the lack of `../assets/test.bmp`.

[code]
https://github.com/veandco/go-sdl2/blob/master/sdl/surface_test.go#L37

[2018-02-05 01:35] veeableful commented on #301
@malashin

Hmm, I guess I'll add the go-sdl2-examples repository as submodule. Thanks for the notice!

[2018-02-05 02:34] veeableful commented on #308
Hi @jackmott, you're right that it's redundant. @malashin has implemented the change so you won't need to pass the *AudioSpec anymore.

[2018-02-05 02:40] #302 closed

[2018-02-05 02:40] #299 closed

[2018-02-05 02:40] #304 closed

[2018-02-05 03:16] jackmott commented on #308
Great, seems solved to me.

[2018-02-05 04:24] #308 closed

[2018-02-05 06:38] malashin opened #311 "Functions should return structs instead of requiring pointers to them"
I've found some C-code leftovers that in my opinion should be changed, but decided not to at this time and would like to hear more opinions on this issue. There are plenty of binding functions that require struct pointers to be passed because C can't return those structs.

**Examples:**
[code]

**The way it is used now:**
[code]

I think that in Go those struct should be returned from those functi

[2018-02-05 16:46] ryancheung commented on #299
@veeableful  Thanks! You're really save me from dying of trying to figure out why MP3 not supported in macOS.

[2018-02-05 17:11] ryancheung commented on #299
For the latest homebrew, run `brew install sdl2_mixer --with-mpg123` can fix all these trouble.

[2018-02-06 01:35] veeableful commented on #311
Yeah, it seems like that's the direction is this kind of functions are going to. I don't see any downside and it does seem more ergonomic. I'd say go for it!

[2018-02-06 01:40] veeableful commented on #299
Thanks @ryancheung! I'll add that command to the README as alternate installation method for macOS, maybe eventually replace the current one.

[2018-02-06 09:38] xahon opened #312 "Please, provide some example how to use sdl ttf"
How to print a text?
P.S. I there a way to use tilemap instead of font?

[2018-02-07 02:41] veeableful commented on #312
Hi @xahon, you can checkout `https://github.com/veandco/go-sdl2-examples/blob/master/examples/text/text.go` for an example.

There's no built-in support for tilemap but perhaps you can create the font tilemap and blit them into the surface yourself?

[2018-02-08 11:53] Sendoushi opened #314 "Calculate the pitch for texture update"
Hi guys,

I'm trying to setup V4L2 with SDL and I already have a frame / byte[] . Now I want to set a texture and updating the texture I need the pitch. What should be the pitch?

From general `SDL_UpdateTexture()` usage, it seems that I should use `frameWidth * sizeof(uint32)` but is this still true for `go-sdl2`? How should I calculate the row size in bytes?

[2018-02-08 13:06] xahon commented on #312
@veeableful thank you. It's exactly what i wanted

[2018-02-08 13:06] #312 closed

[2018-02-08 19:55] MartanLV commented on #303
I am using app called gfxCardStatus, there I apply setting to use integrated only, once I run an example using this library, gfxCardStatus notifies it had just switched cards. Maybe it's some bug in gfxCardStatus app.

[2018-02-08 21:10] Sendoushi commented on #314
So that byte[] variable, I can simply save it like: `ioutil.WriteFile("./test.jpg", frame, 0644)` if that helps somehow...

[2018-02-12 01:40] veeableful commented on #314
Hi @Sendoushi, you can get the pitch from using `Lock()` on the texture. However the bytes you get won't be encoded in JPEG so you will need to encode it first before saving into a JPEG file.

[2018-02-12 08:33] Sendoushi commented on #314
Here is the solution I found, and it is working but maybe not the best solution, what do you think?

[code]

[2018-02-21 09:46] theGeekPirate opened #315 "Unable to set HapticDirection.dir"
dir is unexported (https://github.com/veandco/go-sdl2/blob/master/sdl/haptic.go#L46) and has no methods to set it with, so we're currently unable to use it.

https://wiki.libsdl.org/SDL_HapticDirection

[2018-02-21 14:25] malashin commented on #315
Hey @theGeekPirate, Dir is exported now. Thank you for your feedback.

I am wondering if anyone has actually used the bindings for haptics. Either I am missing something or there is no way to actually create/update the HapticEffect. I had to update the C pointer for this to work:
[code]

We should probably make functions to update HapticEffect with actual effects or think of some other way of crea

[2018-02-21 21:13] theGeekPirate commented on #315
From both my PS3 and XBOne controllers using your code:

```panic: Haptic: Effect not supported by haptic device.```

Tried changing the Type just in case, but to no avail.

My original goal was to have the left/right sides rumble independently.

Have you been able to get it working with an sdl.GameController?

[2018-02-21 21:19] theGeekPirate commented on #315
I should probably mention that a regular ```haptic.RumblePlay()``` does work on both controllers.

[2018-02-22 03:43] theGeekPirate commented on #315
Interesting, I wonder if your first example doesn't work because SDL2 is detecting it as an XInput device instead of an XB One controller.

Thanks for pasting working examples, made testing much easier!

[2018-02-22 03:49] theGeekPirate commented on #315
Also, is there any reason you use the sdl.Joystick instead of an sdl.GameController?

Best practice, or preference?

[2018-02-22 03:49] malashin commented on #315
@theGeekPirate

As far as I remember is that if you open it as gamepad instead of joystick it will recognize it as Xbox One Contoller. But the example doesn't work because the gamepad doesn't support those effects. XInput is Microsofts API for Xbox Controller, and many other gamepads use it now, instead of legacy DirectInput.

[2018-02-22 03:51] veeableful commented on #314
Hi @Sendoushi, sorry I've been away for the lunar new year (Happy new year by the way!).

Did you manage to solve all your problems? From the code snippet itself, I don't really see if there's any potential issue with it. If you can give us a complete minimal code that runs, I'd be happy to check it!

[2018-02-22 03:51] theGeekPirate commented on #315
Oh neat, thanks for the information! FWIW, using sdl.GameController still returns the Name as ```XInput```.

[2018-02-22 03:52] veeableful commented on #303
Hi @MartanLV, sorry I've been away for the lunar new year (Happy new year!).

I'll ask on the SDL2 forum about this to see if they have any input as I don't have the knowledge to help you solve this problem.

[2018-02-22 04:05] malashin commented on #315
@theGeekPirate

The first example was used to test directional effects and since they don't work with gamepads I had to use joystick.

Joysticks are all the peripheral devices like wheels, joysticks, pedals, gamepads. GameController is still a joystick but have different functions and you might not find needed one in GameController methods. You are better off opening it as a GameController and ret

[2018-02-22 10:33] Sendoushi commented on #314
Yep. Using the golang image standard library makes more sense.
I ended up improving the code to convert to `RGBA` just in case it isn't.

This also removes the dependency from `sdl-image` and `SDL` is used essentially to show data. Relying more in the go standard library. Makes sense to me.

[2018-02-22 10:33] #314 closed

[2018-02-22 10:40] malashin commented on #315
There is no need for sdl.HapticEffect{} now, pass pointer to sdl.HapticLeftRight{} instead of it.

Check https://github.com/veandco/go-sdl2/pull/316 for details.

[2018-02-22 10:43] theGeekPirate commented on #315
Your commit logs and issue comments are unparalleled.

Thanks for the great work!

[2018-02-22 10:43] #315 closed

[2018-02-24 01:26] thomas-holmes commented on #311
I would think the only real upside is allowing you to reuse the same rectangle in an iterative operation rather than always, potentially, allocating a new one.

[2018-02-24 01:36] thomas-holmes commented on #311
On further thought, likely we could still avoid an excess of allocations based on how it's called. May be a bit more expensive to do the copy than direct setting, but when I think more about it probably may not make much of a difference. Might be worth wipping up some benchmarks to see if there is a variance.

[2018-02-24 13:31] MartanLV commented on #303
@veeableful thank you.

[2018-02-27 17:25] s-nieuwlandt-dev opened #317 "exec: "FR": executable not found in %PATH%"
Hi !
Thanks for your library, it's really a good job :)

I faced an issue when doing a `go get -v github.com/veandco/go-sdl2/sdl` :
[code]

My configuration is :

* Windows10 64bit
* MinGW-w64/x86_64.7.2.0-posix-seh-rt_v5-rev1
* go1.9.4 windows/amd64
* SDL-2.0.7

The MinGW bin directories are added to my PATH.

When I run a `go build -v -work -x -n`, I can see that the library use cgo, which in tu

[2018-02-28 02:40] veeableful commented on #317
Hmm strange. Does it also do that when compiling a simple cgo program? Perhaps you can try `go run` on this snippet and see if it does the same thing.

[code]

[2018-02-28 03:20] malashin commented on #317
@s-nieuwlandt-dev
Can you please run this commands in your windows console?
[code]

This is how compiler used by cgo is set. It basically takes one from `CC` or `GCC` if they are set or defaults to "gcc".

[code]

So you either have environment variable set for `CC` or `GCC`, or something else _(console)_ replaces "gcc" to "FR" with alias after that.

[2018-02-28 09:20] s-nieuwlandt-dev commented on #317
Hi !

Thanks for your answers :)

I can reproduce the error on the snippet, and effectively, my `%CC%` var is set to `FR` (which is strange because I tried the same install on a different windows10_64bits computer, and was unable to reproduce this behavior).

So clearly this is not a go-sdl2 issue :)

Thanks for the informations and your time !

[2018-02-28 09:20] #317 closed

[2018-03-02 00:49] Pixdigit opened #318 "window.GetDisplayMode shouldnt require a displayMode object"
Currently window.GetDisplayMode requires a displayMode object to be filled with the data just as SDL2 does. However to be consistent it should construct it itself and just return the new object.

[2018-03-02 00:53] Pixdigit commented on #318
Same for sdl.GetDesktopDisplayMode(displayIndex, mode)

[2018-03-03 19:03] Pixdigit commented on #318
Same goes for `renderer.ReadPixels(rect *Rect, format uint32,` _pixels unsafe.Pointer_ `, pitch int)`

[2018-03-05 02:11] veeableful commented on #318
I have changed all the above and some except `renderer.ReadPixels` as it's slightly more complicated.

[2018-03-05 12:32] malashin commented on #318
There is an issue https://github.com/veandco/go-sdl2/issues/311 regarding this problem. I'm closing this one.

[2018-03-05 12:32] #318 closed

[2018-03-05 13:10] malashin commented on #311
@veeablefu, regarding this changes https://github.com/veandco/go-sdl2/commit/1cae00eaa8b51cbf3d4e680c287b378e8bec0f20.

It might be more feasible to return pointers, instead of structs. That way in case of an error we can return `nil` instead of an empty struct.

This function right next to the modified ones does return a pointer already (original C code though):
https://github.com/veandco/go-sdl2

[2018-03-05 15:19] thomas-holmes commented on #311
I'm of two minds with regard to this. Some increased consistency from the go side would be nice but might be really challenging to nail perfectly. Just copying what SDL does (which seems to be the case  for the current API) seems to be the safest approach.

I will admit I'm not sure I understand why some of these SDL functions return pointers instead of the simple structures that only have a few l

[2018-03-06 01:59] veeableful commented on #311
@malashin

What concern do you have with returning structs? My thought was that it is fine because the errors are returned as well. It also aligns with how I imagine the C code would be, for example:

[code]

where `r` is a struct and not pointer. I just thought that this is the "right" translation to Go.

[2018-03-06 03:40] malashin commented on #311
@veeableful

I think that its the way it should be myself. There should be a rule when we are allowed to do this. Probably everything that has a Go struct without unsafe pointers in it should be returned as a struct.

There are not not so many structs to return then and should be easy to do.

Though this ones might also be better off returned as structs, since they are created without pointers _(t

[2018-03-08 04:10] veeableful commented on #311
@malashin

Which part do you think differs a lot from the C code? I actually thought that they're very similar except that we merge `Uint8*` and `Uint32` in C as `[]byte` in Go. The pointer return is consistent with the C counterpart too.

[2018-03-17 05:08] thomas-holmes opened #320 "Support for sdl-gpu?"
Do you have any interest in or plans to add support for [sdl-gpu](https://github.com/grimfang4/sdl-gpu)?

I've started prototyping support for it and thought it might be nice to integrate here if there's interest.

[2018-03-17 21:38] thomas-holmes commented on #320
In some ways it replaces a ton of functionality. I've started a repository, but maybe we could look at integrating it if it proves desirable. Otherwise it might make sense to keep it separate as I'm not sure how well it plays with the rest of the plugins wrapped in this repository. Also installation is a much bigger hassle.

[2018-03-19 01:57] veeableful commented on #320
Hmm I've never used it before so it does seem to be very useful for rendering. I don't have any reason for why we wouldn't want it so sure! If you do a pull request, perhaps we can take a look and merge it if desired.

[2018-03-19 14:32] thomas-holmes commented on #320
Sounds good! After getting in further I think it would benefit from being in the same ecosystem as the rest of the core SDL bindings. I've got most of the API implemented so far here: https://github.com/thomas-holmes/go-sdl-gpu

If all goes well I should hopefully have the rest of it done and tested in the next few weeks.

[2018-03-23 16:05] Pixdigit opened #321 "Convert texture to surface?"
I know this is for once not an issue of go-sdl2 but SDL2 itself and secondly is not an issue rather than a question about how SDL2/go-sdl2 works. However @veeableful mentioned in #259 that I can ask here.

I have the issue that I want to convert a texture back to a surface. SDL2 itself does not come with this functionality and therefore go-sdl2 neither. So I tried CreateRGBSurfaceFrom with anythin

[2018-03-24 23:02] hsoolien opened #322 "Error in GFX update/install"
Got the following error when updating my SDL/GFX
First popped up trying out the demo code for GFX
[code]

[2018-03-25 06:20] malashin commented on #322
Hello @hsoolien.

Do you actually have `SDL2_gfx` installed? `SDL2_framerate.h` is a part of `SDL2_gfx`.

[2018-03-25 07:08] hsoolien commented on #322
You know I thought I had, don't I feel foolish, thank you

[2018-03-25 07:08] #322 closed

[2018-03-26 02:41] veeableful commented on #321
I'm no expert but as far as I can tell, there's no method to convert texture back to surface. Is there a reason why you would want a surface?

[2018-03-26 09:35] malashin commented on #321
@Pixdigit

You read the pixel data from sdl.Texture with Texture.ReadPixels().

This will update the Surface pixels with the ones read from the Texture.
[code]

Though you are much better off with reading the file as a Sruface in the first place. Other options are slow and might not be reliable since Texture might be modified by the GPU.

[2018-03-26 09:55] Pixdigit commented on #321
@malashin But then I would need to keep track of either the filepath (which could possibly change during runtime) or the surface which eats a ton of ram. So I would stick with your answer.

[2018-03-26 10:51] malashin commented on #321
@Pixdigit I screwed up with the answer actually. ReadPixles() is a Renderer's method, hence r.ReadPixles() in the example. You will need to copy Texture to Renderer first (quite a bad idea imo).

[2018-03-26 11:52] Pixdigit commented on #321
Well then the user just has to provide the filepath instead of pixeldata

[2018-03-26 11:52] #321 closed

[2018-03-29 15:25] grkuntzmd opened #323 "Add const definitions for SDL_TRUE and SDL_FALSE"
When calling `(*sdl.Surface).SetColorKey()`, the first argument, an `int`, needs to be either `SDL_TRUE` or `SDL_FALSE`. (See https://wiki.libsdl.org/SDL_SetColorKey).

These are defined in `SDL/SDL_stdinc.h` and `SDL2/SDL_stdinc.h`, but not passed through to the Go code.

[2018-03-30 03:52] malashin commented on #323
@grkuntzmd you can use `1` as `SDL_TRUE`, `0` as `SDL_FALSE`.
[code]
I'm gonna rewrite it to use golangs `boolean` instead of `int` later on.

[2018-03-30 05:25] malashin commented on #323
@grkuntzmd
I've updated the rest of the functions that still used `int` instead of `bool` in the core SDL bindings.
+ `Surface.SaveBMPRW()` requires (\*RWops, bool) instead of (\*RWops, int)
+ `Surface.SetColorKey()` requires (bool, uint32) instead of (int, uint32)
+ `Surface.SetRLE()` requires bool instead of int
+ `LoadBMPRW()` requires (\*RWops, bool) instead of (\*RWops, int)

[code]

[2018-03-30 12:48] grkuntzmd commented on #323
That works. Thanks.

[2018-03-30 12:48] #323 closed

[2018-04-05 13:43] jackmott opened #325 "should GLCreateContext use a *Window receiver?"
I expected to be able to call window.GLCreateContext() as other functions follow that pattern, but currently it is sdl.GLCreateContext(window)

[2018-04-05 15:52] malashin commented on #325
Hi @jackmott

I've merged the following changes into the Master branch. Thank you for bringing this up.

+ `GLCreateContext()`, `GLMakeCurrent()`, `GLGetDrawableSize()`, `GLSwapWindow()` are now methods of `Window`
+ Renamed `GL_SwapWindow()` to `GLSwap()`

[code]

[2018-04-20 03:38] jojomickymack opened #327 "opengl and opengl3 examples need new GLCreateContext and GLSwap methods"
I wasn't able to compile the opengl examples (opengl, opengl3), the sdl.createContext and sdl.GLSwapWindow methods were undefined.

I found issue below and used window.GLCreateContext() and window.GLSwap() and was able to then compile and run.

should GLCreateContext use a *Window receiver? #325

those 2 methods should be fixed in the master branch of the examples repo so new users can run them.

[2018-04-20 03:48] veeableful commented on #327
Hi @jojomickymack, thanks for the report! It should have been fixed in the latest commit now.

[2018-04-21 02:44] jojomickymack commented on #327
works great!

[2018-04-21 02:44] #327 closed

[2018-04-29 22:03] stuartdd opened #328 "Cannot build on windows 10 with latest version of go"
I have spent two days configuring a simple go app that uses SDL2. I have done this several times on Linux. I have followed instructions from various places.
1) Started with git-bash. No GCC
2) MinGW could not get gcc 64
3) Sdl2 installation instructions do not match anything in MinGW
3) Full cygwin 64 + gcc 64. Cannot find headers audio.h
    Copied from SDL zip
    ld  cannot find SDL2, copied fr

[2018-04-29 22:41] stuartdd commented on #328
Finally got it working... Only took a day! is there no way of simplifying it?

[2018-04-30 01:48] veeableful commented on #328
Sorry @stuartdd, I also wish that I could make it as simple as Linux at setting up go-sdl2. We definitely need a Windows expert for that :joy:

[2018-04-30 08:04] malashin commented on #328
This is the way I do it on Windows 7 (64 bit). Windows 10 might have a proper package manager with its linux subsystem, but since I do not have it, I use [choco](https://chocolatey.org/) (though it got quite slow recently). Both **msys2** and **golang** are installed using **choco** to make it easier to update to the latest versions later on.

1. Install [choco](https://chocolatey.org/).
2. `choco

[2018-04-30 16:20] gen2brain opened #329 "Include static libraries in project?"
I have a couple of cgo projects where I include all .c source files, like here https://github.com/gen2brain/aac-go/blob/master/aacenc/aacenc_cgo.go or here https://github.com/gen2brain/x264-go/blob/master/x264c/x264c_cgo.go .

Compiler sees that as one file, and that probably cannot be done for all C projects, i.e. duplicate defines etc., I guess it is not easy for SDL, but there is also another m

[2018-04-30 18:40] stuartdd commented on #328
Thanks for the replies.  It's a art form - When faced with a combination of choices, make a enough wrong ones to prevent a solution, Iterate!

I chose the wrong version of minGW, then chose badly from the selection of SDL2 downloads. Thought Ubuntu Windows 10, SubSystem would fix the gcc issue but realised too late that it was headless and would not run any way, then tried full fat cygwin, that wo

[2018-05-01 10:59] mbenkmann opened #330 "No way to get CommonEvent"
Unless I'm missing something there does not seem to be any way to obtain a CommonEvent from an Event without using direct pointer conversion with package "unsafe". Some way should be added to either get a *CommonEvent or to otherwise access Timestamp and Type from an sdl.Event.

[2018-05-01 14:27] tanema opened #331 "Make iHapticEffect interface public"
iHapticEffect was introduced here: https://github.com/veandco/go-sdl2/pull/316

I was updating my codebase for the newest version of the library and found a sticking point. I often save my effects for running later and updating and to have a single method I can call to run the effects. Here is my method that runs effects: https://github.com/tanema/amore/blob/master/joystick/joystick.go#L249

If iH

[2018-05-01 17:10] tanema commented on #331
nvm I realized I can just do this with NewEffect 👍

[2018-05-01 17:12] tanema commented on #331
*sorry for the noise* I was incorrect because I still cannot add an iHapticEffect as a struct field or a method param.

[2018-05-01 17:20] malashin commented on #330
Hello @mbenkmann

Can you please give an example of what you want to achieve and how?
I'm not sure why you would need a CommonEvent and how you are supposed to receive it.

All events have Timestamp and Type exported.

CommonEvent is returned as default value in event type switch:
https://github.com/veandco/go-sdl2/blob/master/sdl/events.go#L644
[code]

But it's probably never returned since SDL e

[2018-05-01 19:09] malashin commented on #331
Hi @tanema

My guess is that you want to pass HapticEffect and be able to modify its type afterwards.
Sadly it's not possible with current implementation. You can create and update effects as long as they still have the same type.
[code]

Interface access wont fix this. Golang doesn't have unions and the only reason it worked before is that you could return pointers to the C's HapticEffect that wa

[2018-05-01 19:32] mbenkmann commented on #330
What I want to do is use the Timestamp in my event loop, so that I can process events for the proper frames (because of CPU load and process scheduling it's possible that I miss frame and have to catch up).

[code]

The marked line could be something like
[code]
or
[code]

Both functions are trivial casts using unsafe.Pointer, but I would like that ugliness to be in the library code not in my clie

[2018-05-01 19:36] mbenkmann commented on #330
Another use case I have is a function that has a type switch with common code using the timestamp for all cases. Right now it looks like this:

[code]

It's really stupid to have to start every case with
[code]
Again, it would be way better to have one of the functions I detailed above.

[2018-05-01 19:43] mbenkmann commented on #330
Even nicer of course would be to have sdl.Event give access to the fields directly. So the subtypes would have to be declared like this

[code]

[2018-05-01 19:53] tanema commented on #331
Well, I don't want to edit an effect, I just want to store it and pass it into a method. I will try again to refactor but this makes it pretty difficult to pass around effect data.

[2018-05-01 20:45] tanema commented on #331
I *think* it is bad practice to pass around a private interface, if you run `golint` on this repo I imagine it would warn you.

All I want to do is.

- Make an effect with NewEffect.
- If the effect changes, update that effect with UpdateEffect and pass in a new struct to that.
- if the update fails, destroy the effect and create a new one, passing in the struct that was just passed into updateeff

[2018-05-02 05:10] malashin commented on #330
This is another issue of **Go** not having unions.

**sdl.Event** is not a struct, it's an interface.
Since all event types implement it (because it's empty) type assertion is used to access events data directly.

The easy solution would be adding methods to access **Type** and **Timestamp** that are common to all event types.

[code]
After doing this to all event types it will be possible to rece

[2018-05-02 07:11] veeableful commented on #330
Creating functions for getting the type and timestamp seems to require less work for both sides. If it's not a method, I believe it doesn't violate the Go idiom of not having `Get` in a function name? Perhaps in the future, we can make the breaking change if really necessary.

[2018-05-02 08:04] veeableful commented on #331
I believe it should be fine to make the interface public if the method is private. It also seems like we're not using the HapticEffect type so perhaps we can rename the iHapticEffect interface to that? You could then use the HapticEffect interface as a variable type to store your effects. Would that solve your problem @tanema?

[2018-05-02 12:46] tanema commented on #331
Absolutely.

[2018-05-02 21:28] gen2brain commented on #329
Ok, I added some changes and static libraries here https://github.com/gen2brain/go-sdl2 . They are not configured for sub-module, currently you can just `go get -tags static` and then later `go build -tags static`.  sdl2_mixer is compiled with libmpg123 support (version 2.0.3 of mixer is needed).

I tested some of examples in Linux, Windows and macOS and it works ok and binary is standalone.

In L

[2018-05-03 01:39] veeableful commented on #331
@tanema I've made the update on the master branch. You can try it now :grin:

[2018-05-03 04:52] veeableful commented on #329
Nice! I tried compiling on my Arch system and running it on a Ubuntu 14.04 virtual machine and it seems to work! I couldn't seem to compile it on Ubuntu 14.04 (log [here](https://paste.fedoraproject.org/paste/ih5R1ahdwyyps7BjbhueQQ) if you're interested) but I suppose that's a minor issue since this is a new addition and we can always improve it.

Anyway, I'll happily merge it if you make a PR!

[2018-05-03 10:17] gen2brain commented on #329
I sent a PR. That error on Ubuntu 14 is what I meant, just found that it is not related to gcc or glibc, but binutils. It seems older versions then 2.26 don't know about that relocation, some info is here https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=808181 and https://stackoverflow.com/questions/46058050/unable-to-compile-unrecognized-relocation .

[2018-05-03 10:43] mbenkmann commented on #330
"I wonder if anyone does changes to the events data."

Please do not make the struct fields private. Being able to create and modify instances of sdl structures in client code is crucial for writing unit tests.

" would be nicer to have [...] getter methods [..]"

*puke*. Maybe for a Java programmer. They've spread around this disease.

[2018-05-03 11:58] mbenkmann opened #333 "inconsistent types between JoyDeviceEvent.Which and JoystickOpen()"
For some reason the type of JoystickOpen() was changed from JoystickID to int. This creates an inconsistency with a very common source of this argument JoyDeviceEvent.Which.

In the future, please do not make changes that breaks client code and makes it WORSE (by requiring casts).

[2018-05-03 12:06] mbenkmann commented on #333
After checking the newest SDL sources it seems that the actual problem is the type of ev.Which. That one should not be JoystickID. In any case ev.Which should be able to be plugged into JoystickOpen without cast.

[2018-05-03 12:13] mbenkmann commented on #333
*sigh* After an even closer look it seems like the meaning of ev.Which differs for add and remove events, which conflicts with go-sdl2's use of a special JoystickID type. I think the only proper way to fix this is to split JoyDeviceEvent into 2 structs where the AddedEvent has ev.Which as int and the RemovedEvent has ev.Which as JoystickID.

[2018-05-03 12:43] malashin commented on #333
This is the way it is supposed to work. There two different functions now as they are in SDL2.
[code]

Ye, I think that's the way we should do it.

[2018-05-03 13:49] tanema commented on #331
Thank you so much, this cleaned up my code really well.

For your reference: https://github.com/tanema/amore/pull/13/files#diff-6304fb2f8471613ba36ad9b2971638e8R241

[2018-05-03 13:49] #331 closed

[2018-05-03 14:14] mbenkmann commented on #330
I've created 3 possible solutions for this issue. The following are the implementation links, followed by what the client code would look like, assuming

    var event sdl.Event

https://github.com/mbenkmann/go-sdl2/commit/71e00c91d82e965f5a68221855b98faff496b15c

    ts := sdl.Common(event).Timestamp
    typ := sdl.Common(event).Type

https://github.com/mbenkmann/go-sdl2/commit/3a4151d407cf6f8418

[2018-05-03 14:29] mbenkmann opened #334 "Keep names in go-sdl2 and upstream SDL the same where possible"
I've noticed that e.g. GetAxis() was renamed to Axis(). Please don't forget that go-sdl2 is not its own library but a wrapper around SDL. Having a 1:1 mapping between upstream SDL names and go-sdl2 names is WAY MORE IMPORTANT than conforming with the OPINIONS about Go function naming of a few old men.

Besides, the change broke client code for no good reason.

[2018-05-03 14:40] tanema commented on #334
Absolutely not, this is a wrapper around SDL but should conform to community best practices. If you start making exceptions like that you get inconsistent code all over the place. That is the exact reason the Go team has put so much effort into documenting and tooling Go best practices.

[2018-05-03 14:51] mbenkmann commented on #334
Best practices for a wrapper is to keep the original names. You may live in your happy little Go world all the time, but other people live in a larger world. I also use SDL in C and in Python. The function is called SDL_JoystickGetAxis() in C. It's pygame.joystick.Joystick.get_axis() in Python. And it used to be sdl.Joystick.GetAxis() in Go.

THAT is best practice.

Keeping a name once people have

[2018-05-03 14:59] tanema commented on #334
The developers of this library are being very patient with you but you are coming in here without constructive criticism and strongly held *incorrect* opinions and making it hard for the developers to maintain this library. When you write *sigh* or *puke* you are taking energy away from the developers. Your attitude is toxic. Please take a moment and consider the impact of your actions.

As for co

[2018-05-03 15:13] malashin commented on #333
I've committed the changes into the master branch.
There are two types of JoyDevice events now:

[code]

Previous behavior:
[code]

Current behavior:
[code]

[2018-05-03 16:27] malashin commented on #334
I understand the issue but it was vaguely decided to use Go's guidelines in this library and there is still a lot to do in this regard. And I don't think that it's handled in a good way. Package is still consider unstable with all the frequent changes to it in the master branch.

If we are actually following the guidelines then we should state what they are in the readme. Knowing what naming conve

[2018-05-03 17:19] malashin opened #335 "Change bindings version for every breaking change"
@veeableful
We should look into making the package more dependable in terms of versioning with all the breaking changes we do.

We can use http://labix.org/gopkg.in.

This is the link we have for go-sdl, but since all our tags major versions are zero there is only one version available:
https://gopkg.in/veandco/go-sdl2.v0

Installation `go get gopkg.in/veandco/go-sdl2.v0`
Package import `gopkg.in/

[2018-05-04 03:49] malashin commented on #335
Ye, this is what I proposed in the Tags way.

Keep master as unstable. Add taged releases with every change (perhaps we should think about grouping several changes into one, but it seems not likely with the way development is going so far).

Add changelogs to each release like this:
https://github.com/acemod/ACE3/releases
https://github.com/Microsoft/vscode-go/releases

I would like all commit nam

[2018-05-04 05:18] veeableful commented on #335
Alright! I think once the existing PR is merged and the few recent issues we have are solved, I will tag master as v1.0, do some of the stuff you listed and we can start practicing our process then. Although I'm not sure if we should make a tagged release for every change. Perhaps we can tag it every month for starters?

As for the release note, I was wondering if we can just use `git shortlog v0.

[2018-05-04 06:18] malashin commented on #335
`git log --oneline` seems to be good for this. The problem is that first line of commit message might be too short.

Example of commit:
`sdl: events: Split JoyDeviceEvent into two different events #333`

What it should be in the changelog imo:
`sdl: events: Split JoyDeviceEvent into JoyDeviceAddedEvent and JoyDeviceRemovedEvent  #333`

This is what I wrote in the BREAKING.md:
`Split JoyDeviceEvent

[2018-05-04 09:57] veeableful commented on #335
Hmm you have a point. How about tagging a minor version for every issue that is resolved then? I think we'll have a reasonable number of tags that way and every tag will have a purpose behind it (e.g. every new tag is a new issue fixed!).

About the commit message prefix, I personally think ours is easier to read and more consistent when read in many lines. But I did ask my colleague and he also s

[2018-05-04 21:47] gen2brain commented on #329
I added Android and RPi libs to https://github.com/veandco/go-sdl2-libs . After https://github.com/veandco/go-sdl2/pull/332 is merged I will also add flags for android/arm and linux/arm to *cgo_static.go files.

Binary can then be built with compiler from NDK, e.g:
[code]
Although, such binary is not much useful on Android. I will see if I can combine .aar from gomobile and gradle build. I will fi

[2018-05-05 10:28] #333 closed

[2018-05-05 11:47] malashin commented on #330
Added two new methods to event interface. No breaking changes.

[code]

[2018-05-07 10:56] malashin commented on #335
I've looked in other alternatives and found that there will be and official **Go** solution to versioning, currently known as **vgo**.

https://github.com/golang/proposal/blob/master/design/24301-versioned-go.md
https://github.com/golang/go/wiki/vgo
https://research.swtch.com/vgo
https://www.youtube.com/watch?v=F8nrpe0XWRg

[code]

There will be some compatibility bits for **vgo** in **Go** 1.11 (

[2018-05-08 02:41] veeableful commented on #334
I really am sorry that a lot of troubles seems to have been caused by the API changes. The original developer did want to keep it simple in terms of naming (such as using SDL2 function names as they are without `SDL_`). However, we think that this API change will create a much better experience for Go developers using the library in the future as we're conforming to the Go coding guidelines.

We'r

[2018-05-08 02:58] veeableful commented on #335
Nice find! So I guess this means we won't be required to use gopkg.in for versioning in the future. The `go release` command will also be quite handy to make sure we version correctly :smile:.

[2018-05-08 03:10] veeableful commented on #335
I'm also thinking to tag our current version as v0.3 just so we have some breathing space as we work towards v1.0. Breaking changes since v0.2 are getting pretty long. Do you have any objection? :thinking:

[2018-05-08 04:42] malashin commented on #335
This won't hurt, go for it. There is official `dep` tool that can use them since go 1.6 and we are better off doing tagged releases once in a while.

[2018-05-08 05:43] veeableful commented on #335
Cool! I pushed v0.3 to the repository now.

[2018-05-08 08:38] malashin commented on #335
I'm currently working on `CHANGELOG.md`. Found this more or less popular standard [Keep a Changelog](https://keepachangelog.com/en/1.0.0/).

**Things to point out:**
1. Rename all tags to adhere to [Semantic Versioning](https://semver.org/spec/v2.0.0.html). v0.3.0 instead of v0.3, v0.2.0 instead of v0.2 and so on.
2. Each version has a link to compare it to the previous one. Example https://github

[2018-05-08 09:13] veeableful commented on #335
@malashin Oh I didn't see this! It looks great! I just finished writing the release note but perhaps I should write a **Fixed** section as well.

[2018-05-08 09:32] malashin commented on #335
Wow, you did a lot :)
I like grouping of functions, structs and types.
`UpdateYUV()` was a part of v0.2. It shows up in v0.3 most likely due to not squashed commits added, probably my first merged PR.

[2018-05-08 09:37] veeableful commented on #335
You're right, I found the commit as the last one in v0.2. Gonna remove that now :stuck_out_tongue:. Thanks for the tip!

[2018-05-08 22:45] gen2brain commented on #252
@billyninja now you can use prebuilt libraries for Android, and other arches, with `static` tag (just initialize submodules in repo). Error you are having here is fixed in go-sdl2-libs repo (and SDL_config files for different arches are added).

To build binary for Android, you need just NDK and something like this can be used:
`CGO_ENABLED=1 CC=arm-linux-androideabi-gcc GOOS=android GOARCH=arm go

[2018-05-09 02:59] veeableful commented on #335
@malashin Gotcha! I've tweaked the description to be more correct.

Although on closer inspection, I wonder if any problem will be caused by having the type as `int` instead of `int32`? Specifically, I'm concerned about the extra 4 bytes because `int` in Go is 8 bytes for 64-bit machines according to my knowledge.

[2018-05-09 03:07] #334 closed

[2018-05-09 03:11] #234 closed

[2018-05-09 03:13] #99 closed

[2018-05-09 05:41] malashin commented on #335
@veeableful

Yes, this is the case. Go `int` is 8 bytes on 64-bit, C `int` is 4 bytes on 64-bit in most compilers (cgo included) for backwards compatibility. Running `C.int(goint)` will change the size from 8 to 4 bytes on 64-bit.

So far we've changed it to `int32` in all the rendering stuff, but left it as `int` in places that return number of things, indexes or IDs. It more or less makes sense

[2018-05-09 05:59] malashin commented on #335
Though there is a problem of Go `int` becoming `-1` if it doesn't fit into `int32` after running `int32(int)` or `C.int(int)` on it.

[2018-05-09 07:57] malashin commented on #335
I've just found this issue https://github.com/campoy/flappy-gopher/issues/9.

This means that `gopkg.in` won't really help with versioning, because optional packages are still importing original `"github.com/veandco/go-sdl2/sdl"` instead of `"gopkg.in/veandco/go-sdl2.v0/sdl"`.

This makes it pretty much pointless.

[2018-05-13 16:57] adam000 opened #336 "[Help requested] Cross-compile from WSL to Windows"
**tl;dr:** I'm trying to cross-compile an application using go-sdl2 and the Windows Subsystem for Linux (or WSL) to build a Windows binary on a Windows machine, without Windows hassles. There is a runtime error that I am trying to figure out:

[code]

The repository with a fully-reproducible build is here: https://github.com/adam000/go-sdl2-wsl-build-windows

---------

## The details:

Go version

[2018-05-14 18:39] gedw99 opened #337 "Compositing a webview with an opengl context"
I am have a webview in one window and a 3d opengl view in another window.

But I would like to composite them into the same window OR dock one window to the other.

Wondering if SDL can help or if I should keep trying with glfw.
I have not used SDL

[2018-05-14 23:55] stuartdd commented on #328
I am finally giving up trying to build on Windows 10. Days of frustration, it should not be this complex.

Building on Linux is fine. On Windows I just cannot get it to work. It's fine until I use GFX.

I need to be able to build on windows so I am scrapping the whole project. Going back to Java to implement.

Sorry to be so negative but it is very frustrating...

[2018-05-15 02:38] veeableful commented on #336
Hi @adam000, I will give this a shot when I have a chance.

[2018-05-15 02:52] veeableful commented on #337
Hi @gedw99, I believe it isn't possible to do that if you're not using SDL for creating the windows. If you created the windows using SDL, you could use `window.GetSurface()` to get the pixels of the windows and blit one of the surfaces to another.

[2018-05-15 04:45] malashin commented on #328
@stuartdd

Can you please post the errors you are getting with GFX in the build?

With **MSYS2** it's fairly simple to get all the dependencies. Just follow my earlier post and ask questions if you need help. You can skip first tow steps with **choco** and install **MSYS2** manually.

[2018-05-15 07:25] gedw99 commented on #337
Thank you the the thorough answer.
Any examples of this that you know of. Its a bit specialised.
Boy i wish i used SDL :)

[2018-05-15 08:14] gedw99 commented on #337
i see now that what i need to do is edit each of the programs i want to composite into SDL and give them a SDL "Veneer" on top so that the Main SDL windows can plug into them.
Correct ?

Here are the two systems i want to combine
- https://github.com/zserge/webview
- https://github.com/g3n/engine

what about this ?
 http://lazyfoo.net/tutorials/SDL/09_the_viewport/index.php
Its using SDL_RenderSet

[2018-05-15 09:06] gedw99 commented on #337
this looks like the way to get it working !!!
https://github.com/golang-ui/nuklear/blob/master/cmd/nk-example-sdl2/main.go

that gets me a opengl context with a SDL window managing it.

[2018-05-15 11:38] malashin commented on #337
I'm not familiar with how webview works.

But you can either create separate windows in SDL, or do rendering inside one window.

I couldn't get separate windows to follow each other as you drag them around since window movement event occurs only after the window was moved. If that's ok you can just use event to move the other window to the side of new windows position.

Pressing **1** or **2** sel

[2018-05-15 14:38] gedw99 commented on #337
@malashin thank you soooo much for the sample of docking windows. that is as good as it gets.
will give this a whirl now and see how it goes !

[2018-05-15 21:19] gen2brain commented on #328
@stuartdd  Hi, did you try new `-tags static` thing that is mentioned in release notes, that should work on windows/darwin/linux ? Prebuilt libraries are available, even for Android, if you have any issues with static build it would be great if you can report those here and I can try to fix.

[2018-05-16 22:29] malashin commented on #328
Did you install sdl_gfx in MinGW? It is a separate package, not a part of SDL2.
'pacman -S mingw64/mingw-w64-x86_64-SDL2{,_image,_mixer,_ttf,_gfx}'
This command should install SDL2 and all 4 optional packages.

[2018-05-17 17:53] stuartdd commented on #328
Hi.

I believe that I did. Is that:
[code]
I have both:
[code]
and
[code]
On my class path.
It finds
#### C:/Software/mingw-w64/x86_64-7.3.0-posix-seh-rt_v5-rev0/mingw64/lib/gcc/x86_64-w64-mingw32/7.3.0/include/stddef.h
ok. It's the #include_next that throws it!
[code]

One thing that might help is understanding which file to download from http://libsdl.org/download-2.0.php. I went for SDL2-devel-

[2018-05-17 17:57] stuartdd commented on #328
@gen2brain; Could you please clarify:

did you try new -tags static thing that is mentioned in release notes

I cannot find where this is detailed...

Maybe I have a gen0brain;-)

[2018-05-17 22:32] stuartdd commented on #336
Hi @adam000, I almost got this working on the Ubuntu WSL but failed at the last stage when cross compiling with the old SDL2/SDL2.h trap.

I have been trying to put a Windows 10 build together for some time.

I would love to see the results (no rush!)

Stuart

[2018-05-18 01:54] veeableful commented on #336
I've installed WSL and tried the script yesterday and I've also come across the same issue being `libpng16-16.dll` not found. I'll try and see if I can't solve the problem.

[2018-05-18 21:10] adam000 commented on #336
@veeableful @stuartdd Good and bad news! It seems that the project succeeds if I change the SDL_image version to 2.0.1 instead of the most current version, 2.0.3. (in my test project, this can be done by changing line 38 of build/grab-win64-resources-on-wsl.go)

The other bad news is that I won't have a Windows development machine for a week or so. I'm willing to ask around on the SDL forums when

[2018-05-19 23:09] stuartdd commented on #328
@malashin @gen2brain
I now have a working GFX build.

For info this is what I had to do.

Remove: Windows installations of GIT, GIT-BASH and MinGW (and any other tools that may clash). Don't remove GO but make sure it is up to date.

- From http://www.msys2.org/ install the 64bit version of Msys2 windows installer. For example msys2-x86_64-20161025.exe.
- Follow the instructions on the msys2 site

[2018-05-20 23:12] buchanae opened #338 "Flag enums should be typed"
It would be very useful for documentation purposes if flag enums had types.

Currently, the signature for `CreateWindow` is:
[code]

...where flags is just plain `uint32`. If this had a corresponding `type WindowFlags uint32`, I could easily navigate from the `CreateWindow` docs to the `WindowFlags` docs in godoc.org.

If there's no objection, I think I can manage making a PR.

[2018-05-22 01:44] veeableful commented on #338
Sounds good to me @buchanae! I'd very much like to have your PR if it's not too much trouble :joy:

[2018-07-07 12:51] nrich opened #340 "Crash on Windows calling Texture.Destroy()"
Installed today from latest github head, my code does this:

[code]
Which throws

`signal arrived during external code execution`

The stack traces is as follows:

[code]

Changing go-sdl2/sdl/error.go:52 from:
`C.GoSetError(nil)`
to:
`C.GoSetError(C.CString(""))`
seems to stop the crash.

[2018-07-09 09:45] veeableful commented on #340
Hi @nrich, I'll look into this when I get on my Windows computer!

[2018-07-09 13:55] veeableful commented on #340
I tried to reproduce it on my Windows computer but I can't seem to do it. If possible, could you please add a minimal example that would reproduce the crash? Some info on your C/C++/Go compilers, Windows, and SDL2 would help. In the meantime, I applied your fix to the master branch :)

Thanks!

[2018-07-09 21:44] nrich commented on #340
Hi @veeableful, I'll put together a minimal example when I get back to my dev PC. A complication to trigger this bug may be the fact I'm cross compiling from Linux to Windows.

In the meantime, here are my env details:

Windows: 10
SDL: SDL2-2.0.5
go version go1.10.1 linux/amd64
CC: i686-w64-mingw32-gcc

I'm building my app with the following command:

env CGO_CFLAGS="-I$(pwd)/win32/SDL2-2.0.5/i68

[2018-07-10 11:16] nrich commented on #340
Hi @veeableful,

Here is a minimal example that triggers the bug:

[code]

Same build env as above.

[2018-07-10 11:20] nrich commented on #340
Exception thrown:

[code]

[2018-07-10 15:24] Pixdigit opened #341 "Render operations take too long"
When doing drawing operations the renderers buffer is not immediately updated. If e.g. I fill a rect and directly present afterwards the rect will not be drawn.
I think this is an issue with sdl. Either they are not mentioning it in their docu or is indeed a _bug_. It could however be solved within go. But I would recommend against since it would just be a workaround and not a fix. However this co

[2018-07-11 19:20] nitrix commented on #341
Do you have a code example to help reproduce the problem?

I suspect a bad manipulation or faulty hardware, because there would be way much of a bigger uproar had this been the case...

[2018-07-11 19:31] Pixdigit commented on #341
See the [Pastebin](https://pastebin.com/b99uUDMe) here.

[2018-07-12 02:52] nitrix commented on #341
The default color is white. Then you set it again to white.

Then you draw with SDL_RenderFillRect, which, when the argument is NULL, draws over the entire render target, so your whole screen.

You're drawing a fullscreen white rectangle on an already white screen.

I switched to red and I cannot reproduce your issue.

[code]

![untitled](https://user-images.githubusercontent.com/246380/42609954-2

[2018-07-12 09:11] Pixdigit commented on #341
I set it again to the default colour because it is more descriptive. Also makes it easier to change colour.

For me this program results in this picture:
![picture](https://user-images.githubusercontent.com/9216782/42623812-19dfe27c-85c4-11e8-97f7-56f54818c27f.png)

Note: the content is part of my desktop background. As soon as I add delay between the Draw call and the Present it works as intended

[2018-07-13 13:00] jGeorge437 opened #342 "SDL2/SDL.h: No such file or directory {Windows 10}"
This issue was raised two years ago here:
https://github.com/veandco/go-sdl2/issues/88

Unfortunately the user's account has been deleted and other efforts of mine to find the fix has failed.
Tried following this tutorial (led to failure, can skip first five minutes, installation ends at 23:30)
https://www.youtube.com/watch?v=OXSMx45kayw

Error message
`
C:\Users\USERNAME\Documents\GOProjects\src\

[2018-07-14 07:30] veeableful commented on #341
It does appear to be the behavior of native SDL2 when I run the C equivalent of the example which is this:
[code]

I'll put a note about this in the README.md.

[2018-07-14 07:52] veeableful commented on #342
For me, I only merged the folder that SDL2 provides with the existing directory (`x86_64-w64-mingw32`) under mingw-w64. I do use Git Bash as the command-line interface though which may provide different environment somewhat. What terminal do you use for compiling? I could try it again on the same terminal to see if it's related.

[2018-07-14 08:33] jGeorge437 commented on #342
I got it working. I'm so startled!

I started using Powershell as my method, and my current solution involved me moving mingw64 out from Program Files and under my windows profile (Icky, I know) and using Git Bash, though I would like to try this again on my work computer using powershell to truly see if that had anything to do with it. Bear in mind the first computer I tried this on was a work co

[2018-07-14 17:59] #342 closed

[2018-07-16 02:19] adam000 commented on #336
An update: I was hoping to have better news and sooner, but I haven't heard anything back on the [bug I submitted](https://bugzilla.libsdl.org/show_bug.cgi?id=4198) regarding this problem.

It appears to have been caused by SDL2_image updating its version of libpng. A workaround is providing the libpng dll from 2.0.1 with all of the other DLLs packaged with 2.0.3.

[2018-07-23 21:49] slump64 opened #343 "Rename constants to Go standard?"
Since all function bindings work differently from C's versions, why not go full-in and rename constants from LIKE_THIS to likeThis?

when in Rome, do as the Romans do

[2018-07-24 00:46] veeableful commented on #343
I wanted to rename the constants to follow Go standard but there's constants like sdl.QUIT that will cause conflict with the function sdl.Quit if renamed. I seem to vaguely remember there's other constants that conflict with existing stuff when I was trying to rename them but I'll have to double-check again.

[2018-07-24 00:58] slump64 commented on #343
Maybe it should follow Go standards anyway even by renaming some of the constants/function? I don't have a feeling that these SDL2 bindings care about compatibility with C anyway, this repo has been changed drastically quite some times in the past, so this one should not be a problem either.

[2018-07-24 01:50] veeableful commented on #343
I'll have a go at it again and figure out what needs to be done about the conflicts from there. I'll probably only make the change once Go has a proper versioning system though (which seems soon!) so there's less unexpected breaking changes.

I'll keep this issue open :grin:

[2018-07-24 01:57] #329 closed

[2018-07-31 00:07] rucuriousyet opened #344 "How to use RWOps"
I was wondering how to read/write from RWOps srcs.... I would love an example using a io.Reader or io.Writer since that is very standard and commonly used. The goal here is to statically load assets that can be compiled and bundled into the Go binary, meaning that rather than opening a file, I will need to load fonts, images etc from memory.

[2018-07-31 18:46] veeableful commented on #344
Hi @rucuriousyet! I decided to make the functions to look more Go-like and conforms to standard Go I/O interfaces. I've also added an example to `.go-sdl2-examples/examples/rwops/memory.go`. Let me know if it does or doesn't help you!

[2018-08-02 16:03] rucuriousyet opened #345 "How to add system compatible menu"
I'm wondering how one might add a system compatible window menu. Maybe using a GTK/Cocoa etc window context to render? Thoughts?

[2018-08-02 16:59] veeableful commented on #345
I imagine you'd need to use `Window.GetWMInfo()` to get the underlying windowing system and use another binding for interacting with the windowing system directly via GTK/Cocoa/etc. I don't have the experience doing this though. Maybe I'll learn a bit of X11 and make an example to show how it's done in Linux at least.

[2018-08-02 20:18] rucuriousyet commented on #345
yeah. tricky....

[2018-08-02 22:25] rucuriousyet commented on #345
[code]
This code is a bit messy (just experimenting), but this sends DBus-based notifications on Linux/FreeDesktop implementing OS's. I think DBus also provides utilities for creating Tray apps, and application menus (both right click and menu). Definitely more exploring to do, but I'm getting somewhere.

[2018-08-05 03:05] rucuriousyet opened #346 "Extremely High CPU Usage"
Just wondering whats going on here... On my razer blade stealth (dual core i7) running Arch Linux with Xorg and the following program, I am getting CPU usage of 25%..... super unusual for such a simple program.

[code]

[2018-08-05 03:13] veeableful commented on #346
Hi @rucuriousyet, I believe it is because you are running a busy loop without letting the thread sleep. You can put an sdl.Delay(16) inside the loop at the end to make it not so busy.

[2018-08-05 03:17] rucuriousyet commented on #346
Are you sure @veeableful? sdl.PollEvent blocks until an event is pushed in, so Im not sure why it would be going crazy over a loop.

[2018-08-07 13:22] Chipsterjulien opened #348 "All audio support are not available"
Hello
I try this [go audio example](https://github.com/veandco/go-sdl2-examples/blob/master/examples/audio_mp3/audio_mp3.go) and i always have mp3 support are not available (same for all others formats)

all the sdl lib is installed
[code]
Someone have an idea ?

[2018-08-07 14:14] veeableful commented on #348
Hi @Chipsterjulien, could you try installing sdl2_mixer 2.0.1 and try again? According to the FAQs, that should fix it.

[2018-08-08 15:20] Chipsterjulien commented on #348
I try to compile sdl2_mixer-2.0.1 with mp3 and ogg but mp3 don't work. Fortunately ogg is good. I did not look further. I think my flags were bad.
Thx for your help

Best regards

[2018-08-08 15:20] #348 closed

[2018-08-08 15:26] gen2brain commented on #348
@Chipsterjulien You can try with `go build -tags static` to use prepared libraries (prepared with libmpg123) where mp3 should just work.

[2018-08-08 15:49] Chipsterjulien opened #349 "Failed to found *sdl.KeyUpEvent"
Hello
I search _*sdl.KeyUpEvent_ and _*sdl.KeyDownEvent_ as [your example](https://github.com/veandco/go-sdl2-examples/blob/48be04793af0dc1ef534cd5bd8660430345b7e30/examples/events/WaitEvent.go) but i'm failed to found it
Any idea ?

[2018-08-08 16:01] veeableful commented on #349
Hi @Chipsterjulien, I've updated the examples. Could you try again?

[2018-08-08 16:05] Chipsterjulien commented on #349
I go home and test it.
Thank you for help and the great responsiveness

[2018-08-08 16:53] #349 closed

[2018-08-10 18:07] DavidStreet opened #350 "zlib1.dll is different in SDL_image"
The version of zlib1.dll (bin) in SDl_image is little bigger. I dont know wich choose.

[2018-08-11 06:17] veeableful commented on #350
Hi @DavidStreet, could you elaborate on your problem? I don't quite follow.

[2018-08-16 14:52] deadprogram opened #352 "Joystick event IDs are different on Raspberry Pi, you need to update to kernel 4.14+"
Just was trying out my usual Dualshock3 clone on a fresh install of Raspbian with SDL2 2.0.8 installed, and spent a few hours utterly confused on why my joystick mappings were all wrong vs. my notebook.

Finally noticed that my dev machine was running 4.14, and the Rasp was running 4.9 so I thought to update the Raspian using `rpi-update`. Rebooted, and then the joystick mappings worked as expecte

[2018-08-25 01:15] jclc opened #353 "Vulkan support"
Support for Vulkan functions. Compatibility with https://github.com/vulkan-go/vulkan would be very nice. Could Vulkan handles be transferred between packages as uintptrs? I'm not sure how two separate CGO-enabled packages will handle the same types.

[2018-08-25 13:19] veeableful commented on #353
I think both packages need to type alias the handles as uintptr which requires Go 1.9. Maybe there's a hack that can be used for forcing a cast between the two types but I have no clue what the hack is..

[2018-08-25 17:39] jclc commented on #353
This isn't quite solved yet. The only function I couldn't test properly is VulkanCreateSurface. I'll need to make sure go-sdl2 can interface with vulkan-go first. I'll probably have to change the Go wrapper function signature to take a uintptr instead of the actual Vk handle.

[2018-08-28 14:37] Pixdigit commented on #353
Doesnt SDL support Vulkan natively?

[2018-08-28 14:51] Pixdigit opened #356 "Weird Bug"
I have absolutely no idea what why or how. Technically it probably isnt even an error with go-sdl2 but I hope you have some insight.

I have worked on my [Project](https://gitlab.com/Pixdigit/turboOcto) (branch fix_renderer) for quite some time on my laptop now. However now coming back home when I run the tests on my desktop pc I don't get any output from the renderer at all. In testEnv I made a [

[2018-08-28 15:04] jclc commented on #353
It does, but you need another library to load and use the Vulkan functions.

[2018-08-29 03:11] veeableful commented on #356
Hmm I think it's because of how Go run tests and how we setup SDL currently. If you initialize SDL in your test function, it should work.

This is certainly an area that we can improve on though. I'll keep this in mind for future development!

[2018-08-29 11:14] Pixdigit commented on #356
SDL is initialized in all cases the same way. There _should_ be no difference since the exact same code is run. Or are go tests run in their own goroutine?

[2018-08-29 18:07] jclc commented on #353
My patches are now in vulkan-go/vulkan, you can test Vulkan support yourself with `go get github.com/vulkan-go/demos/vulkancube/vulkancube_sdl2`

[2018-08-29 18:07] #353 closed

[2018-09-03 02:58] dragonfax commented on #303
Unity seems to be able to do this. I've seen their settings popup for some games, lets you select the GPU to use from a drop-down list.

I can understand the need for it. It would let you test out your code on a lower-end gpu, without having to move to a completely different machine.

[2018-09-05 06:29] veeableful commented on #303
@dragonfax I don't think SDL2 supports this :(

I posted the question to the SDL2 forum several months ago: https://discourse.libsdl.org/t/question-is-it-possible-to-set-sdl2-to-use-integrated-graphics-only/23929

But I didn't get any reply. I didn't find anything related after some Googling. I think you need to use system software to force integrated graphics if you have to use SDL2.

[2018-09-07 14:56] rucuriousyet opened #357 "RenderUTF8BBlended Out of memory when loaded from RWops"
The title kinda says it all, here's the code I'm working with:
[code]
just note that everything works perfectly when I call OpenFont (with a file). The end goal here is to embed fonts as constants and load them using rwops in order to have a completely standalone binary.

And yes, I totally wrote this while watching comedy skit from Jim Gaffigan... which is where those slides sentences are coming

[2018-09-07 15:01] rucuriousyet commented on #357
On linux this program only uses about 15mb of memory before the program panics, and the font file I'm loading is only about 120kb in size.... My laptop has 16gb of memory with atleast 10gb free while running. This laptop is running Arch Linux with Gnome and uses embedded graphics, So I wonder if maybe the program is running out of VRAM or something? I don't know what parts of SDL are loading surfa

[2018-09-07 15:07] #344 closed

[2018-09-07 15:26] rucuriousyet commented on #343
I agree with the premise here. I have hardly needed to reference the SDL docs here given how simple SDL is, and It would definitely make development a bit easier. I also feel like it might be wise to try to implement so of the more common interfaces used in Go instead of those offered by SDL. For example, RWops is pretty confusing sometimes, so why not using `io.ReadWriter` or something similar? M

[2018-09-07 15:28] rucuriousyet commented on #345
For future readers, the closest I came to figuring this out was using Gtk as the window context (which is really gross to be honest). While it is a bit more work, I am plannning to implement my own UI's for context menus (aka right click menu), and application menus. Ill make sure to post examples when they are complete.

[2018-09-07 15:28] #345 closed

[2018-09-07 15:29] rucuriousyet commented on #337
any progress @gedw99???

[2018-09-11 08:39] veeableful commented on #303
Some people (including Icculus) just replied!

https://discourse.libsdl.org/t/question-is-it-possible-to-set-sdl2-to-use-integrated-graphics-only/23929/4

[2018-09-12 01:43] veeableful commented on #357
Hi @rucuriousyet, I'm really sorry for taking so long to respond! It seems you supplied too big of a point size to `ttf.OpenFontRW()`. Once you put a reasonable value, it should work!

[2018-09-13 15:12] chenzhekl opened #358 "]Feature Request] Would you mind supporting MSVC besides MinGW?"
Would you mind supporting MSVC besides MinGW?

[2018-09-14 05:42] veeableful commented on #358
Hi @chenzhekl, certainly. I'll put this as one of the things to support for the next release. Seems like it would be useful for a lot of people :slightly_smiling_face:

[2018-09-16 22:03] Pixdigit opened #359 "renderer becomes invalid"
Are there any operations that cause a renderer to become invalid?
Because I have a test that succeeds when run in isolation but fails when run together with the other tests.
Since almost all tests involve the renderer I cannot isolate a test that causes the renderer to become invalid.
If you want to check out the error run the code [here](https://gitlab.com/Pixdigit/turboOcto/tree/sprite-refactor)

[2018-09-17 01:57] veeableful commented on #359
Hi @Pixdigit, I couldn't find a test called TestZSpace. I checked out the `sprite-refactor` branch and applied the patch but I couldn't find any function matching that name.

[2018-09-17 05:40] Pixdigit commented on #359
Ok, my bad. I didnt know git diff --patch didnt actually patch in new files.
Then just create a file zSpace_test.go with [this](https://pastebin.com/iMSV61ag) in it.

[2018-09-17 05:43] Pixdigit commented on #359
Please for now ignore all the comments as I am currently working on a refactor so I wanted to have the smallest broken code. Also since the code was copied from NewEmptyFame() so the error messages arent too accurate for TestZSpace()

[2018-09-17 15:01] veeableful commented on #359
Hi @Pixdigit, sorry but what was the error that you encountered? It seems like the test passed for me.

[2018-09-17 15:31] veeableful commented on #358
Hi @chenzhekl, I just found out that Go itself hasn't supported MSVC out-of-the-box (seems like it _is_ coming though according to [this](https://github.com/golang/go/issues/20982)).

However, it seems possible to convert an existing MSVC.dll to MinGW-compatible one as shown [here](https://groups.google.com/forum/#!topic/golang-nuts/i6UWSCPSRl4). Would that work for your case? If not, could I know

[2018-09-17 15:44] Pixdigit commented on #359
The exact error is:
 zSpace_test.go:14: could not copy pixel buffer into frame: Invalid renderer
Which is returned after a call to screenRenderer.CreateTexture
The test fails with --short but passes with --short --run="TestZSpace"

[2018-09-18 13:08] chenzhekl commented on #358
@veeableful Thanks for your investigation. I want MSVC support because MSVC toolchain is used by most Windows programmers, and being able to use go-sdl2 without extra installation will be a merit. A MinGW compiler is still required after converting MSVC DLLs to MinGW compatible format. Probably we should wait for MSVC support to land on Go.

[2018-09-18 14:36] Pixdigit commented on #359
After hours of searching through the code I found the error. Dont ask why since I dont know myself. But in one test I called `sdl.Quit()` for some reason. Of course that would lead to an invalid renderer. Still wonder why I did that and why I didnt notice that much sooner.
Thank you for your time.

[2018-09-18 14:36] #359 closed

[2018-09-20 20:45] Pixdigit commented on #356
Depends on what you see as solved. The error still exists but not within go-sdl2 so you decide.

[2018-09-20 20:45] Pixdigit opened #360 "Missing WarpMouseGlobal"
[WarpMouseGlobal](https://wiki.libsdl.org/SDL_WarpMouseGlobal) is not yet implemented

[2018-09-21 01:17] malashin commented on #360
Added it to the master branch.

`*Window.WarpMouseInWindow` should be renamed at some point with other breaking changes, leaving it for now.

[2018-09-21 02:03] veeableful commented on #356
@Pixdigit Ack sorry! I labeled this one by mistake. I meant to label [this one](https://github.com/veandco/go-sdl2/issues/357). Don't mind me!

[2018-09-21 02:04] veeableful commented on #360
Thanks @malashin! You're the best.

[2018-09-21 23:46] jclc commented on #358
I don't think supporting MSVC is a priority for the Go team. It has incompatible linkage with GCC when compiling C++ and their C support is laughably bad. If you need to link with DLLs to which you don't have source code access, you could either make a C-linked wrapper for it or try Clang; apparently they added MSVC-linking recently.

[2018-10-03 23:25] jclc opened #362 "Linker error when compiling to Windows when importing github.com/andlabs/ui"
I'm importing this package alongside github.com/andlabs/ui and I get this error when cross-compiling to Windows using mingw:
[code]
The package ui uses C++, could this be confusing the Go linker into using C++ linkage for SDL2?

[2018-10-04 01:02] jclc commented on #362
https://github.com/andlabs/ui/issues/326#issuecomment-426847357
Apparently some linker flags are lost in the ether when including both packages. Appending `-lole32 -loleaut32 -limm32 -lversion` on `CGO_LDFLAGS` fixes this issue.

[2018-10-05 14:20] veeableful commented on #362
Hi @jclc, does that mean the `ui` package is the one that requires the extra link libraries?

[2018-10-05 14:31] jclc commented on #362
The error message is triggered by SDL2, so I would imagine that it's an SDL2 issue. Adding these linker flags as a CGO directive would probably fix it, but I'd like to know the root cause of it.

[2018-10-05 14:48] veeableful commented on #362
It seems some people experienced it because they were compiling statically or have only static SDL2 library in their paths. Maybe it's because the `ui` package compiles with `-static` option?

[2018-10-05 14:52] jclc commented on #362
You're right, it seems that SDL2 is now linked statically... that's not good. `ui` being linked statically shouldn't affect SDL2, so I believe this is an issue with Go.

[2018-10-05 15:07] veeableful commented on #362
Perhaps you could try compiling the program via  `go get -tags static` and  `go build -tags static`? We had support for static build since 0.3 (thanks gen2brain!).

[2018-10-05 22:46] jclc commented on #362
Yeah that's the thing though, `ui` seems to force static linking on SDL2 which I don't want. Also, the error comes from g++ for some reason. `ui` uses C++ on Windows and it's also forcing SDL2 to use it as well, I don't think that's intended.

[2018-10-06 00:51] andlabs commented on #362
It should still be possible to dynamically link SDL2 even with package ui; that's weird. I'll have to look at the build tags of this package...

The C++ linker should not affect anything.

[2018-10-08 03:21] 5k3105 opened #363 "Window stalls after 2nd texture.Update"
Win7. All other SDL examples work. Window becomes inactive after second render, but program continues to print:
[code]

[code]

[2018-10-08 09:34] veeableful commented on #363
Hi @5k3105, could you try this C counterpart to see if the same problem happens?

[code]

I compiled and ran it with
[code]

[2018-10-10 02:17] veeableful commented on #363
Hm.. I can't seem to reproduce it on my Windows 10 system.

The only thing I would try is to use `Texture.Lock()` and `Texture.Unlock()` which is recommended by the [official wiki](https://wiki.libsdl.org/SDL_UpdateTexture) when updating streaming textures. It probably won't solve the problem but I guess it's worth a try.

You could also ask for more support in SDL's official forum [here](https://

[2018-10-10 16:25] #363 closed, assigned to nobody

[2018-10-12 23:23] Noofbiz opened #364 "doesn't draw content initially on macOS Mojave"
Currently, when you open a window with a GLContext in macOS Mojave, drawing doesn't start until you manually move the window. To fix it, the NSGLContext has to be updated a couple times before calling Window.GLSwap(). I have a fix for it [here](https://github.com/Noofbiz/sdlMojaveFix) that makes the NSGLContext calls that can be used before GLSwap(). I'm wondering if you guys would like that incor

[2018-10-13 06:15] veeableful commented on #364
Hi @Noofbiz, it sounds like maybe SDL2 itself need to fix this. Perhaps you could report it to them at https://discourse.libsdl.org? Although without a native C version of a program that reproduces this issue, I can't be 100% sure it's their issue.

[2018-10-26 12:02] akiross opened #365 "Implement go's image and image/draw interfaces"
Hello,
I would like to propose to implement the [image.Image](https://golang.org/pkg/image/#Image) and [https://golang.org/pkg/image/draw/#Image](draw.Image) for sdl.Surface.

Actually, I am a bit surprised they are not already implemented: it is not so common among programming languages to have a standardized package for managing images and color, but go does and I think you should take advantage

[2018-10-28 01:42] veeableful commented on #365
Hi @akiross!

I definitely agree that we should provide such interfaces if it means the binding feels more natural for the programming language. There is actually another branch where I was working on that but unfortunately hasn't been continued for awhile.

Are you proposing to implement them yourself? If not, I can work on that. Thanks for the reminder either way!

[2018-10-30 02:06] veeableful commented on #365
Hi @akiross,

Yeah, it probably needs certain degree of SDL2 knowledge (which I got to admit: I'm not anywhere near an expert myself). I haven't worked on that code for awhile and probably need to set aside some time on Saturday to get into it again and properly work on this.

For the Surface locking, maybe we can change the existing `Lock()` method. Currently it only returns an error and the user

[2018-11-04 01:56] veeableful commented on #365
I think it's fine as long as we implement the interface correctly. It's up to the other libraries to make use of them. My guess is they did it that way for performance reasons.

I think the code you did looks fine! Would you like to open a pull request to merge it?

[2018-11-04 07:44] akiross commented on #365
That's true and I suspect that as well.

Regarding my code, I'm not really happy with it. If it is no rush, I will have time to work on it later this month and I plan to review it thoroughly and have it support other formats as well (e.g. palettes).

[2018-11-05 07:46] veeableful commented on #365
Yes, definitely! Take as much time as you need @akiross. I really appreciate you working on this!

[2018-11-11 21:00] 3auris opened #366 "Strange messages from sensor"
After dcef35236774244fd0d2ee001ce75940d166b50b commit when building go application there appear a lot of messages:

![screenshot from 2018-11-11 22-57-34](https://user-images.githubusercontent.com/7118780/48318204-65168600-e605-11e8-86bf-c623951368f5.png)

Is the only way to remove these messages is to upgrade SDL2 to 2.0.9 version?

[2018-11-17 20:13] FriskyDev commented on #366
The default package on Ubuntu for libsdl2-dev has not made it to 2.0.9. As a result, if you attempt to use go-sdl2 on Ubuntu, you are greeted with lots of #pragma messages.

Is there a way to just disable and make unavailable the things that are not supported, such that if you try to use them, you get an error then, instead of just for attempting to use anything in the library?

[2018-11-18 17:35] gen2brain opened #367 "Android example"
New Android example is here https://github.com/veandco/go-sdl2-examples/tree/master/examples/android . Thanks to static libs now it is really simple to build apk.

User needs to `import "C"` to export "main" function, https://github.com/veandco/go-sdl2-examples/blob/master/examples/android/main.go#L182 , and is used then in Java https://github.com/veandco/go-sdl2-examples/blob/master/examples/andr

[2018-11-18 17:39] gen2brain commented on #252
New Android example, much simpler https://github.com/veandco/go-sdl2-examples/tree/master/examples/android .

[2018-11-20 09:41] veeableful commented on #366
Hi @3auris and @FriskyDev, I've disabled the warnings by default with this commit e081255f. You can see the commit message if you want to know how to re-enable it.

If people think errors is a good idea, I'll probably think about how to add that option too! For now though, I think warnings are enough.

[2018-11-20 15:15] veeableful commented on #367
Great work @gen2brain!

[2018-11-20 23:29] FriskyDev commented on #366
Awesome, thanks! I'll take a look as soon as I can get back to that environment. 👍

[2018-11-21 10:14] 3auris commented on #366
For me, it's a great solution, thank you very much @veeableful

[2018-11-21 23:05] FriskyDev commented on #366
This works for me. Thanks for doing this!

[2018-11-22 01:50] veeableful commented on #366
Yay! I'll close this for now but let me know if there's any issue!

[2018-11-22 01:50] #366 closed

[2018-12-03 10:30] akiross commented on #365
I created a PR for this #369, although it does not include the support for palettes.

[2018-12-07 01:00] xpander69 commented on #315
Same issue here. FFB doesn't work
log reveals that:

[code]

i tried to search what this effect type 128 is, but didnt find anything. I guess i have to downgrade to older version also. The Game works superbly other than that. Just need my FFB

[2018-12-10 14:09] veeableful commented on #315
Hi @xpander69, could you provide a minimal code example and details about your setup? I'll see if I can try to reproduce the problem. Sorry for the late response..

[2018-12-10 15:30] malashin commented on #315
The issue is most likely in the SDL itself and not in the bindings.

Haptics are fairly weird and each device works differently on different operating systems. I got Xbox One Controller and the list of supported effects is different on Windows and Linux.

I did an example quite a while ago that let's you test which effects are supported:
https://github.com/veandco/go-sdl2-examples/blob/4298a5894b3

[2018-12-10 15:36] xpander69 commented on #315
@veeableful what you have in mind with the code example? btw i reported in another issue https://github.com/ValveSoftware/Proton/issues/908#issuecomment-445087179

The effect that failed does not cause the FFB not to work in the newer version of the game, older version of the game has the same error messages in proton log, but FFB still works.

I have logitech Driving Force GT (my G920 should arri

[2018-12-11 10:35] #365 closed

[2018-12-16 13:17] bartgrantham commented on #364
Are you polling any events?  I discovered that even on non-GL windows the window doesn't raise or draw window decorations without pumping events.  You don't even have to do anything with the events, but you have to at least consume the first two (`sdl.WINDOWEVENT_SHOWN`, followed by `sdl.WINDOWEVENT_EXPOSED`) before the window appears.

[2018-12-18 04:59] roglew commented on #143
I'm really late to the party but I wanted to reply about the error:

I was having this problem and it was due to using a RWFromMem wrapped around a ttf font I loaded into memory previously. It looks like the resulting RWOps didn't have any references to the byte slice that I used to create the RWOps and it was getting garbage collected and throwing the zero width error later.

[2018-12-27 22:25] dpeckham opened #371 "Can't find any SDL_Sensors code (linux)"
This simple test program won't compile... other go "hello world" apps are working, and C SDL2 examples are working. This won't.

main.go:

func main() {
	if err := sdl.Init(sdl.INIT_EVERYTHING); err != nil {
		panic(err)
	}
	defer sdl.Quit()
}

$ go build main.go

# command-line-arguments
/usr/local/go/pkg/tool/linux_amd64/link: running gcc failed: exit status 1
/usr/bin/ld: /tmp/go-link-683652254

[2018-12-28 02:41] veeableful commented on #371
Wow that is strange. Could it be somehow using newer SDL2 headers but linking to outdated SDL2 libraries? Did you install a custom version of SDL2?

I installed on my own Ubuntu 18.10 and it seems to work.

[2018-12-29 01:36] dpeckham commented on #371
I've got it working on another distro (Arch) for now. Closing...

[2018-12-29 01:36] #371 closed

[2019-01-06 08:12] bartgrantham opened #372 "sdl.Main() and sdl.Do() onerous"
I completely understand why there is `sdl.Main()` and `sdl.Do` functions, and I'm sure that playing nice with SDL's threading is pretty difficult, but I just wanted to provide some feedback that the suggested patterns of use with those two functions don't leave much room for structuring of client code.

go-sdl2 is likely to be used with other libraries, and this pattern can make it difficult to ad

[2019-01-07 02:08] veeableful commented on #372
Hi @bartgrantham, I can see how it takes over the client code in that way makes it a pretty rigid library. I will consider an alternative approach that empowers the clients to use it more flexibly. I probably won't be very active until after Chinese New Year but after that I should have come back and I will think this through!

[2019-02-11 23:01] suryanshv23 commented on #328
I have the same prblem and i am new to this part can you explain what happens during this process as I am not able to solve the problem all attempts

[2019-02-12 04:52] malashin commented on #328
@suryanshv23
Hello, I'm not really sure what exactly is the issue you are having. Some more info of what did you do and where is fails would be great to have.

go-sdl2 is just bindings for the SDL2 itself and in order to use it you need to have SDL2 source files. What I explained in the post you've quoted is how to get SDL2 on Windows.

Step 1 is installing choco package manager.
Step 2 is install

[2019-02-12 09:38] go101 commented on #343
Rename constants to Go standard is not good for googling the constants.

[2019-02-14 12:47] gonutz opened #377 "AudioStream.Clear calls SDL_AudioStreamFlush"
[The implementation of AudioStream.Clear](https://github.com/veandco/go-sdl2/blob/master/sdl/audio.go#L620) calls `SDL_AudioStreamFlush`. It should probably be calling `SDL_AudioStreamClear` right?

[2019-02-14 12:48] gonutz commented on #377
By the way, why are there so many `TODO:`s in the doc comments of API calls?

[2019-02-15 03:20] veeableful commented on #377
You're right @gonutz. Thanks for informing me!

The `TODO`s are to mark page URLs that don't exist yet. When SDL2 devs publish the pages, they should be removed.

[2019-02-15 13:26] gonutz opened #378 "Sensor.Close calls SDL_SensorGetNonPortableType"
[The implementation of Sensor.Close](https://github.com/veandco/go-sdl2/blob/master/sdl/sensor.go#L307) calls `SDL_SensorGetNonPortableType`. It should probably be calling `SDL_SensorClose` right?

This is the same thing that happened in #377. I am currently going through your whole API, removing the CGo from the Windows port by loading the DLL and calling it directly rather than going through the

[2019-02-15 15:33] rvi64 opened #379 "commit #3acc826 regression"
[code]

This bug was introduced with commit #3acc82665a0b4c8fde7789d2392c77e895613438

[2019-02-16 10:32] dedalqq commented on #379
I have a similar problem = (

[2019-02-16 13:30] gonutz commented on #377
I see you did the change so I am closing this now.

[2019-02-16 13:30] #377 closed

[2019-02-16 13:35] gonutz opened #380 "AudioStream.Clear returns an error"
In [the current SDL_audio.h](http://hg.libsdl.org/SDL/file/48e26b5d4f56/include/SDL_audio.h), line 602, the function `SDL_AudioStreamFlush` is defined as

    extern DECLSPEC void SDLCALL SDL_AudioStreamClear(SDL_AudioStream *stream);

with the return type `void`. In [your implementation](https://github.com/veandco/go-sdl2/blob/3acc82665a0b4c8fde7789d2392c77e895613438/sdl/audio.go#L621) however, y

[2019-02-16 13:59] dedalqq commented on #380
duplicate:
https://github.com/veandco/go-sdl2/issues/379

[2019-02-16 14:13] gonutz commented on #380
Oh I see, closing this one then.

[2019-02-16 14:13] #380 closed

[2019-02-16 14:46] veeableful commented on #379
Oh dear! Sorry about that, I thought the CI would have failed. I've fixed it now..I think.

[2019-02-16 15:34] veeableful commented on #378
Thanks for catching this! I've fixed it in master branch.

[2019-02-16 16:23] #379 closed

[2019-02-16 18:01] gonutz commented on #378
OK, closing this as well.

[2019-02-16 18:01] #378 closed

[2019-02-16 19:04] gonutz opened #382 "Remove CGo for Windows"
I have started [an implementation of this library](https://github.com/gonutz/go-sdl2) using the `SDL2.dll` on Windows directly, thus removing the necessity for a C-compiler.

What I have done so far is: I went through [the veandco docs](https://godoc.org/github.com/veandco/go-sdl2/sdl), copied the API with comments from there. This resulted in more or less [the same docs](https://godoc.org/github.

[2019-02-16 19:08] gonutz commented on #89
You might be interested in [issue 382](https://github.com/veandco/go-sdl2/issues/382). If we can remove CGo on Windows, you only need a Go compiler and the `SDL2.dll`.

[2019-02-16 19:09] gonutz commented on #358
You might be interested in [issue 382](https://github.com/veandco/go-sdl2/issues/382). If we can remove CGo on Windows, you only need a Go compiler and the `SDL2.dll`.

[2019-02-16 19:11] gonutz commented on #328
You might be interested in [issue 382](https://github.com/veandco/go-sdl2/issues/382). If we can remove CGo on Windows, you only need a Go compiler and the `SDL2.dll`.

[2019-02-16 19:11] gonutz commented on #178
You might be interested in [issue 382](https://github.com/veandco/go-sdl2/issues/382). If we can remove CGo on Windows, you only need a Go compiler and the `SDL2.dll`.

[2019-02-16 19:12] gonutz commented on #382
I have referenced a couple of other Windows related issues to this one to get a conversation started with people who have had problems with this in the past.

[2019-02-17 07:15] veeableful commented on #382
Hi @gonutz, that sounds like a really nice alternative that would make this package so much more usable! I can see that even on Linux and other platforms that it can be beneficial. For example, we could statically cross-compile the binary, copy it into another machine, and let it load the libraries at run time.

[2019-02-17 23:02] gonutz opened #383 "Unsafe uses of pointers to first slice element"
There are some places in the code where a pointer to the first element of a slice is used but there is no check if they really exist. Here are the places I found:

[Renderer.DrawLines](https://github.com/veandco/go-sdl2/blob/1fdc5b030ca1278d54e7519fa286964216bdc7c7/sdl/render.go#L548)
[Renderer.DrawPoints](https://github.com/veandco/go-sdl2/blob/1fdc5b030ca1278d54e7519fa286964216bdc7c7/sdl/render.

[2019-02-18 10:12] dedalqq opened #384 "how to get text from sdl.TextInputEvent.Text???"
[code]

i do not found examples for this. =(

[2019-02-18 15:49] gonutz commented on #384
You can go through the Text variable until you find a `0`. This marks the end of the string, say that `i` is the index at which the `0` occurs, then you would get the text string like this: `s := string(event.Text[:i])`.

[2019-02-19 03:13] veeableful commented on #384
Hi @dedalqq, I added `GetText()` method to get the text as string from the `TextEditingEvent` and `TextInputEvent`. Let me know if it works!

[2019-02-19 05:58] #383 closed

[2019-02-20 12:19] depili opened #386 "Pull #385 broke sdl gfx"
https://github.com/veandco/go-sdl2/blame/master/gfx/sdl_gfx.go#L620 Line 620 has a (copy-paste?) mistake and is missing the underscore in len causing the compilation to fail. Faulty commit is 042cf8322c847379ced77b4d7d1832b6b560ddd6

[2019-02-20 13:15] depili opened #387 "Improve travis automation"
https://github.com/veandco/go-sdl2/blob/master/.travis.yml#L18 should be augmented to building all of the examples, currently the go build command does nothing at all and will always exit with status 0.

[2019-02-20 13:21] depili commented on #387
Actually just changing the go build to "go build github.com/veandco/go-sdl2/{sdl,img,mix,ttf}" should also improve things quite nicely. That would have caught #386

[2019-02-20 14:22] veeableful commented on #387
Hi @depili, nice suggestion! I have changed the Travis configuration file accordingly. The CI should build the other packages now.

[2019-02-20 14:23] veeableful commented on #386
Hi @depili, so sorry about that! It should be fixed now in master branch. Please try!

[2019-02-20 15:28] depili commented on #386
Yes, 902a8518c8fcea0ff782bb346a8767d5e1bf89f8 does indeed fix this issue and rerunning the previously failed build job succeeds now: https://gitlab.com/Depili/clock-8001/-/jobs/164517043

[2019-02-20 15:28] #386 closed

[2019-02-21 06:21] gonutz opened #388 "Do in tests"
Hey, I am trying to use your tests for [my DLL port](https://github.com/gonutz/go-sdl2/tree/master/sdl) but right away when I copy [TestEventsAddEventWatch](https://github.com/veandco/go-sdl2/blob/902a8518c8fcea0ff782bb346a8767d5e1bf89f8/sdl/events_test.go#L187) I get a panic in the test because the test does not call Main but uses Do. Could you explain to me how you run your tests if not with `go

[2019-02-22 03:16] veeableful commented on #388
Hi @gonutz, I use `go test` to run the tests. However there is `TestMain()` in `sdl_test.go` that will be called first which will in turn call the `sdl.Main()` function. But yeeeah, the tests are not super comprehensive or looked after right now. I just fixed a compile error and the tests seem to pass (for now!).

[2019-02-22 18:56] gonutz commented on #388
I see, that is what I was missing. Thank you very much, I am on my way and testing now. I want to have as many functions tested as possible and I am using your repo as an example.
The progress of my port is good, only a handful of functions that have not yet been ported. After testing as much as possible I will probably open the PR.

[2019-02-22 18:56] #388 closed

[2019-02-23 12:07] gonutz commented on #384
Don't you want to close this issue? I have tested the code and it works fine :-)

[2019-02-24 13:31] gonutz opened #390 "Question: how do I port callbacks to DLL"
Hello again, I am still working on [my DLL port](https://github.com/gonutz/go-sdl2) but in my tests I discovered a serious problem. I have recreated [a minimal sample](https://github.com/gonutz/sdl2-dll-issue) of the problem to demonstrate it and ask for help.

Basically I use `syscall.NewCallback` to create a hint callback but when it gets triggered by `SDL_SetHint` there is a runtime exception.

[2019-02-24 15:47] gen2brain commented on #390
@gonutz I think you should use `syscall.StringToUTF16Ptr()` instead of `&name[0]`, something like this:
[code]

[2019-02-24 18:03] gonutz commented on #390
I tried it just to be sure but that was not the problem. The UTF-16 pointer stuff is there for Windows because the Win API uses UTF-16 for Unicode and not UTF-8 like Go. However, the SDL2 was converted to use UTF-8 internally but strings have a NULL terminator, that is why I just convert the `string` to `[]byte` and append a `0` to indicate the end to the SDL function.

The strange thing about the

[2019-02-24 19:00] gonutz commented on #390
Alright, great news for me, hajimehoshi solved the case [in the issue's repo](https://github.com/gonutz/sdl2-dll-issue/issues/1) :-)

Turns out that `SDL2.dll` uses the `cdelc` and not `stdcall` convention so using `syscall.NewCallback` is wrong, I needed to use `syscall.NewCallbackCDecl` and now it works. The reason it worked for 64 bit builds was thus just a coincidence I guess.

[2019-02-24 19:00] #390 closed

[2019-02-25 08:37] veeableful commented on #384
Thanks for testing it @gonutz! I shall close this issue then~

[2019-02-25 08:37] #384 closed

[2019-02-26 04:20] jclc commented on #362
Returning to my project after a while, I'm finding more linker flags being lost.

[code]

Adding `-lsetupapi` fixes this error. I'm not sure if upgrading mingw or SDL2 triggered this. Again, this only happens when importing both go-sdl2 and ui in the same program.

[2019-02-26 15:05] andlabs commented on #362
Right; I've taken steps to allow libui to be statically linkable specifically to make it more Go-like in nature; the interplay between this and that is an interesting question, and one that's in scope for the next release. Please file a bug there so I can keep track of it.

[2019-02-27 03:23] jclc opened #391 "Using as a Go module breaks static linkage"
I'm trying out the `static` build tag and I'm getting this:
[code]

Contents of the module directory:
[code]

So the git submodule with SDL2 binaries isn't being downloaded. This seems logical to me, since it is in a different repository (I don't think Go fetches git submodules as part of Go modules?). Moving the binaries into a subdirectory in this repository might fix this.

[2019-02-27 03:41] veeableful commented on #391
Hi @jclc, I'm not familiar with the Go modules yet but could you see if the sub-module directory is there via `ls -a`? If it's there but not initialized, you could try running `git submodule update --init` in the `go-sdl2` directory and try again.

I'm not sure if we should put the static libraries into the main repository though. I fear that the size will increase too much. It is already at 36M a

[2019-02-27 04:01] jclc commented on #391
I'm an idiot, forgot the `-a` flag. But still no submodules. Also, the module directory isn't a git repository so I can't download the submodules either (tried that earlier).

This seems pretty common with cgo packages. They could be split into their respective packages, eg. `libSDL2_image_*.a` in `go-sdl2/img/` and so on. I don't consider 36MB to be a huge issue, but that's just my 2 cents.

Anot

[2019-02-27 07:38] veeableful commented on #391
Ahh that's too bad. I guess since it's not a git repository, it should be fine to include the static libraries here then.

Hmm I suppose you're right.. If you're not in a hurry, I'll get it done later this week (probably this Saturday when I have my morning breakfast in the cafe 😌). But let me know if you need it ASAP. I'll make time for it!

I'll create a PR and ask @gen2brain for his comments wh

[2019-02-27 17:15] jclc commented on #391
No rush :)

[2019-02-27 20:14] jclc commented on #362
Are you sure it's an issue with libui though? I have no issues importing both ui and https://github.com/mattn/go-sqlite3; only go-sdl2 seems to have this issue.

[2019-02-28 03:02] veeableful commented on #362
Hi @jclc, I'll have a look at this as well during the weekend. I'll keep you posted!

[2019-02-28 04:26] andlabs commented on #362
It's not so much a problem with libui but a subtlety with mixing packages that expect different linking requirements. My question is about what's conventional for the rest of the Go open-source world, so I can provide the best possible solution.

[2019-03-03 14:16] veeableful commented on #391
Hi @jclc, I have merged the static libraries into the repository so you should have no problem building with the Module system now using the master branch like this:

`go get -v github.com/veandco/go-sdl2/sdl@master`

Let me know if this solves your problem!

[2019-03-03 15:24] veeableful commented on #362
Hi @jclc, do you have problem when compiling with `-tags static` like this?

`CGO_ENABLED=1 CC=x86_64-w64-mingw32-gcc CXX=x86_64-w64-mingw32-g++ GOOS=windows go build -tags static`

I can't seem to reproduce the problem on my Linux OS with this code:

[code]

[2019-03-03 19:28] jclc commented on #391
Yep, works like a charm now!

[2019-03-03 19:29] #391 closed

[2019-03-03 19:33] jclc commented on #362
With https://github.com/veandco/go-sdl2/commit/d969945fa22d438e43c81c992cd4243d5278be05 that works, but only when using `-tags static`. The problem was linking ui statically but sdl dynamically.

[2019-03-04 07:40] veeableful commented on #362
@jclc Ahh I see now! You're cross-compiling on Linux to Windows but require SDL2 to be dynamic.

In that case, could you try modifying `sdl/sdl_cgo.go` by replacing the `#cgo windows ...` line to this?

`//#cgo windows LDFLAGS: -Wl, -Bdynamic -lSDL2`

For me, I had to specify include path as well like the following. Perhaps you also need it.

`//#cgo windows LDFLAGS: -Wl, -Bdynamic -lSDL2 -L [path

[2019-03-12 14:14] fopina opened #393 "static build using `go mod`"
`go mod` does not keep `.` directories so we cannot compile statically if using it.

maybe they should be moved to another repository and instructions provided on how to use them in non-default location? That'd be awesome :)

[2019-03-13 07:56] veeableful commented on #393
Hi @fopina, could you elaborate on what you mean? I was able to build the program using `go mod` method if I run `go get -v github.com/veandco/go-sdl2/sdl@master` before compilation. I used the command: `CGO_ENABLED=1 CC=gcc GOOS=linux GOARCH=amd64 go build -tags static -ldflags "-s -w"` to build it.

[2019-03-13 10:42] fopina commented on #393
You’re right, this question doesn’t make much sense. It just seems wrong to get the dep into GOPATH/pkg with go mod and then go get it tO GOPATH/src because of the libs. If they were a separate repo, I could just clone without duplicating stuff and set the appropriate LDFLAGS and CFLAGS. But it’s not an issue, so closing :)

[2019-03-13 11:58] veeableful commented on #393
Perhaps you could tell me what you are trying to accomplish. If this makes the package better, I need to hear it!

[2019-03-13 16:11] fopina commented on #393
props for the spirit @veeableful but it is likely this is just me being wrong. I'm new to go (but go is also still quite new/imature from the little I've seen) and trying to get the grip on proper code structure and design, so I decided to use `go mod` in everything I do.

But in this case, as there's the bonus of getting the static libs (which is awesome, not only we do not need to install libsdl

[2019-03-13 16:11] #393 closed

[2019-03-13 16:59] fopina commented on #382
Being able to compile without cgo would definitely make me `gonutz`! what are the downsides of loading libraries in runtime versus dynamic linking? is there any performance hit?

Instead of starting a whole different project to eventually try to merge in this, wouldn't it be easier to start directly from this one, look for every file with `import "C"` and mark it with `// build !dll` and try to ma

[2019-03-13 19:34] gonutz commented on #382
I have not evaluated this but I think there are no performance disadvantages. Using CGo is probably the same overhead as calling into a DLL but that is just a feeling. Maybe someone could do a comparison. Then again it does not really matter, the function call overhead is not important in reality. How much time is a couple of nanoseconds to invoke a function versus blitting a bitmap? Nothing reall

[2019-03-13 20:23] fopina commented on #382
Yes I mentioned performance as it was the only thing that came to mind, not that it was important. I was really wondering about other cons of runtime loading, as I don’t know any (besides compile-time validations that can be covered with unit tests I guess).

Not really sure I understand your last statement. Most Linux distros come with gcc, that’s true (except for minimal ones, common in docker i

[2019-03-13 20:27] gen2brain commented on #382
Just to add, you can load DLL like that only in Windows, via syscall. In Linux, that is the job of `C` lib (usually glibc),  even `plugins` just use `libdl` and cgo.

[2019-03-13 22:36] fopina commented on #382
Crap, good to know @gen2brain cheers. So multiple toolchains still would be required, just not building all dependent libraries with them (as the only requirement would be `libdl` which is part of any of these toolchains I suppose).

[2019-03-14 00:37] fopina opened #394 "static build in raspberry"
I was trying to avoid opening an issue but I saw that the `linux arm` flags were added with a commit message saying `Android and RPi` specifically so I'd like to know what I'm doing wrong...

[code]

After removing `-liconv` from `*_cgo_static` files I get

[code]

As functions in `libc` (replacement of libiconv) are now called `iconv_close` only...
How was that static library compiled? How did a

[2019-03-14 10:49] gonutz commented on #382
You are of course right, it would be great to remove CGo on every platform. Cross-compilation is a great feature, it is really said that it is seemingly impossible to remove it in Linux. Still the main reason I even started doing everything with DLLs on Windows was in fact that I found C compilers annoying to set up. I sometimes teach students programming and I use [my little prototying](https://g

[2019-03-14 11:16] fopina commented on #382
I was highlighting the cross-compiling and ignoring the tricky parts of mingw in Windows because I am fighting with the cross-compiling to ARM (RPi), sorry.

But I do get your point, Go (as anything higher-level than C, such as python as well) is easier to setup in Windows than GCC... Specially if it's GCC+CGo... Even though Travis-CI supports windows machine, I ended up using Linux one with cross

[2019-03-14 14:47] fopina commented on #394
Actually, just tried with a docker image of arch linux (for RPi, [nice exercise](https://github.com/fopina/bubbles/tree/builder) in case anyone interested) and even arch does not bring libiconv. After installing it though, we do get it as dependency as it is not statically linked in the binary so we end up with a static binary that won't run in neither of these RPi distros..

[2019-03-14 20:10] gen2brain commented on #394
All static libraries are cross-compiled on Gentoo (except for darwin). I have prepared different libraries for arm now, one for `generic` arm (GLES), one for `RPi` video driver and one for `vivante`, those will be available via tags, i.e. `-tags rpi` and default will be `generic`.

Not sure how what currently is in the repo is built, I removed recently all old toolchains I had, but this change, I

[2019-03-14 20:24] fopina commented on #394
Awesome news! If you care to share just the rpi lib adhoc somehow (if it’s already built), I’d give it a go in my setup :)

[2019-03-14 20:35] gen2brain commented on #394
You can try with these, just rename them appropriately and I am not sure if any change is needed in SDL_config.h.

http://185.177.59.7/tmp/libs-arm.tar.gz
http://185.177.59.7/tmp/libs-rpi.tar.gz

[2019-03-15 01:29] fopina commented on #394
Thanks for the quick share! There's something strange with the headers indeed as it keeps complaining about SDL_GRAVITY constant (which exists in the repo headers but not in libsdl installed in my raspberry). Replacing it yields other constants missing. And as I also need the gfx, I'll just wait for your release then, in the meantime I'll use dynamic linking :)

Thanks!

[2019-03-17 19:49] jclc opened #395 "Static libraries compiled without Vulkan support"
When using the static libraries, trying to load Vulkan results in the error: `Vulkan support is either not configured in SDL or not available in current SDL video driver (x11) or platform`. The same function doesn't fail when using libs installed on the system. The static libraries should be compiled with Vulkan support enabled.

[2019-03-17 20:02] jclc commented on #362
@veeableful Hi, sorry for the delay, I've been busy. What version of Go are you using? For me it says those flags are not valid; even adding them to `CGO_LDFLAGS_ALLOW` doesn't make a difference.
[code]

As a sidenote, I've decided it's better to just use static linkage on Windows anyway; maybe even on other platforms. I'll still help out figuring out this issue if needed.

[2019-03-17 20:28] andlabs commented on #362
Remove the space after the comma.

[2019-03-17 20:33] jclc commented on #362
Right, thanks... It does link SDL2 dynamically but now it also requires `libstdc++-6.dll`

[2019-03-17 23:40] jclc commented on #343
I don't think it's a good idea, you'd have to start guessing what some functions or constants are called if you have to rename them to avoid conflicts. This renaming scheme could also be inconsistent between different contributors and it's just a lot of extra work for very little benefit.

[2019-03-19 20:18] gen2brain commented on #395
As I remember compiling with Vukan support will add additional dependencies, and I wanted to avoid that. How often is that needed, and where? I don't have experience at all with Vulkan.

Probably will not happen before SDL releases a new version, building all static libraries is time-consuming, and I don't have an automated way to do the build currently. Adding new build flag for all platforms (wh

[2019-03-19 20:26] jclc commented on #395
It shouldn't require anything extra, the headers are included in the source. The only Vulkan types SDL2 even cares about are the instance and surface pointers. Just enable the option in the makefile and it should work. You don't need to worry about the platform support either, SDL2 should know which platforms support it and just disable support on unsupported platforms. On Darwin, it enables suppo

[2019-03-20 04:06] #357 closed

[2019-03-20 04:07] #360 closed

[2019-03-20 04:14] veeableful commented on #343
It seems based on the feedback we should keep the constants as they are which I also agree, mostly because I don't want to upset people. I also remember when I tried to do this, there was a conflict with either struct, constants, or functions having same name.

I'll be closing this issue then!

[2019-03-20 04:14] #343 closed

[2019-03-20 20:51] jclc commented on #395
Here's a demo you can try it out on https://github.com/vulkan-go/demos/tree/master/vulkancube/vulkancube_sdl2

[2019-03-26 03:28] veeableful opened #397 "Cannot build when using SDL2 2.0.9 + Go 1.7"
It seems when the package cannot successfully compile when using SDL2 2.0.9 and Go 1.7.

The output is something like this:
[code]

I suspect it's something to do with older Go not supporting usage of floating point macro definition.

[2019-04-02 15:37] veeableful commented on #397
Should be fixed by 61ef6c9 now

[2019-04-02 15:37] #397 closed

[2019-04-03 01:48] krazzei opened #398 "Memory Leak with PollEvent"
Hey I seem to be running into a memory leak issue with PollEvent. Here is a simple example:

[code]

if you set `GLSetSwapInterval(0)` this problem is more apparent. You can see memory keeps increasing in task manager or activity monitor (I haven't tested on linux). If you have pprof write heap profile to a file you can also see it allocating memory:
[code]
And if we `list` that function in pprof:

[2019-04-05 01:13] veeableful commented on #398
Hi @krazzei, I couldn't reproduce the issue with the code on my Ubuntu 19.04 beta. I'm currently abroad and that's the only OS I have right now but I'll try again on my PC and/or Macs once I get back in two days :smiley:

[2019-04-07 15:53] veeableful commented on #398
I tried again on a fresh Fedora 30 Beta distro and it does seem to leak, even when I call SDL2's functions directly like this:

[code]

and when I write the C version, there doesn't seem to be a problem:
[code]

I'm not sure what is causing this :thinking:. I might need to ask around.

[2019-04-07 17:00] krazzei commented on #398
That's super odd. I wonder if Go doesn't know what to do with the `C.int` returned from `PollEvent` so it always stores it on the heap? Good to know that the C version doesn't have this problem, I assume you are referencing the same SDL libraries between Go and C?

I also wonder why it shows on Fedora but not Ubuntu. Maybe SDL was built differently?

[2019-04-09 03:44] veeableful commented on #398
It seems the leak happens if I call SDL_GL_SwapWindow. If I uncomment it, it doesn't happen:

[code]

I'm guessing it has something to do with C and Go contexts but I'm not entirely sure.

This one is on macOS (PS. Sorry I kept changing OS, I seem to always be at different places with different hardware available when I'm checking on this issue 😅)

[2019-04-09 04:34] tenox7 opened #399 "static build for linux produces dynamically linked executable"
[code]

I tried using `-extldflags "-static" ` but that produces a binary that either crashes or hangs forever. It could be something to do with Alsa lib.

Would it be possible to support fully statically linked binaries?

[2019-04-09 13:19] veeableful commented on #398
I found out that re-unlocking OS thread and setting GOMAXPROCS to 1 prevents the memory leak but I don't know why...

[code]

[2019-04-09 17:52] tenox7 commented on #399
Perhaps doesn't have to be with musl, but just static.

[2019-04-13 07:00] flga commented on #398
Did a quick test and although I do see allocations (as expected) I don't see a leak.
Try adding a call to runtime.GC() after the swap and check if you still see it.

I'm running v0.3.1-0.20190402152124-61ef6c98c6b1

(I also removed the heap profile)

[2019-04-13 09:22] flga commented on #398
I'm nowhere near qualified to give a definitive answer, but i'll share my point of view.
The allocations you are seeing are normal, it's the pointers to cevent passed to cgo.

Since we're in a hot loop calling swap, go is too busy to run gc, and defers it until it is absolutely necessary.
It is not a leak, it's just a case of lazy gc.

This is further corroborated by the fact that manual GC trigge

[2019-04-13 16:58] veeableful commented on #398
I'm not familiar with how Go works internally but you are probably right @flga. I have discovered that if I run the program without the tweaks, the memory starts lower around 8MB but climbs up until around 12MB and then it stops increasing. If I do the tweaks, it immediately starts at 12MB but won't increase anymore. I don't know why that is happening but it seems to match what you said :smiley:

[2019-04-14 12:58] BlackEspresso opened #400 "GetGlobalMouseState is missing"
the function https://wiki.libsdl.org/SDL_GetGlobalMouseState is not available.

[2019-04-15 03:22] veeableful commented on #400
Hi @BlackEspresso, thanks for reporting this! I have added it to the master branch. Let me know if it works for you.

[2019-04-15 04:40] krazzei commented on #398
Sorry, just had time to look at this. Yeah Adding `runtime.GC()` stops the memory form getting out of control, but that feels like a band aid and I wouldn't want to run the gc every frame.

And adding `runtime.UnlockOSThread()` and `runtime.GOMAXPROCS(1)` seems to have removed the allocations from the memory profile but in task manager (or activity monitor) the memory keeps increasing, not sure wh

[2019-04-15 06:04] flga commented on #398
@krazzei you do not need to call GC manually, it was only to prove a point, go will do it for you.
Leaks are not collected, if after GC the retained size is the same, there's no leak.

Try to run your program for a long period of time (5 mins for example) and see if the growth is unbounded or if it stabilizes eventually.

A good way to stress it is to move your mouse.
It will probably be ok :)

[2019-04-15 12:55] BlackEspresso commented on #400
Thanks @veeableful, it works perfectly.

[2019-04-15 12:55] #400 closed

[2019-04-17 01:11] fopina opened #402 "raspberry pi fullscreen window"
I'm not sure this issue would fit into here but I've been looking for libsdl2 and raspberry pi driver and can't find anything.

So I simplified my use to something like [this](https://gist.github.com/fopina/1a592dcac57e67cf3f5eec0e3a205768).

If I run this in Mac I get the 800x600 window scaled up so that 800 will fit my 1280 resolution (leaving black bars in the sides).

If I run it in my raspber

[2019-04-17 05:57] veeableful commented on #402
Hi @fopina, I never tried go-sdl2 on Raspberry Pi before but have you tried putting the rendering code inside the loop?

[2019-04-18 00:43] fopina commented on #402
thank you for that reply so quick I couldn't even test it at the time!

do you rendering it like the change I made to the [gist](https://gist.github.com/fopina/1a592dcac57e67cf3f5eec0e3a205768)?

Because it does indeed seem to use the full screen now even though a small rect stays in the corner

![asd](https://user-images.githubusercontent.com/636320/56329372-0f797300-617b-11e9-8969-73f77757dc4f.j

[2019-04-18 02:35] veeableful commented on #402
No justification from me. That was just a pure guess! I should get myself a Raspberry Pi.. Do you mind to tell me which Raspberry Pi you have?

I just noticed you don't have `sdl.Init()`. Have you tried calling `sdl.Init(sdl.INIT_VIDEO)` at the top of the run function to see if that helps?

[2019-04-18 08:47] fopina commented on #402
I based myself on the cgo routines render example in the repo, but I’ll check that then.

Thank you again for your educated guess :) I’ll try to understand why my actual code does not behave like this as it already renders inside the loop

[2019-04-18 17:36] TerensTare opened #403 "SDL_Net"
There is also a library by the original SDL maker called SDL_Net.
What about that?

[2019-04-19 04:40] veeableful commented on #403
Hi @TerensTare we think that Go already provides most if not all networking capabilities either in the standard library or external library so there is no SDL_net binding because it would be somewhat redundant. However if there is a good use-case, we could create binding for it as well of course!

[2019-04-19 22:31] fopina commented on #402
`sdl.Init´ did not solve for that sample code, but it doesn't matter as `Clear` + `Present ` inside the loop does solve the issue though [my actual code](https://github.com/fopina/bubbles/blob/master/cmd/bubbles.go#L60) always had that in the loop and doesn't get a resized `Rect` for some reason...

I'll close this anyway to avoid polluting project issues and re-open if I actually find one :) than

[2019-04-19 22:31] #402 closed

[2019-04-24 15:39] flga opened #405 "Possible overflow"
Hey, I was looking into removing unsafe.Pointer from Renderer.ReadPixels and I stumbled upon [this](https://github.com/veandco/go-sdl2/blob/5a9e461058bd05ddef9c8cde64e58d4f96d1f186/sdl/render.go#L372).

Isn't it overriding arbitrary memory?

[2019-04-24 17:08] flga commented on #405
Took a look at the docs, which state "This is filled in with a **pointer** to the locked pixels, appropriately offset by the locked area" (regarding the data pointer).
I assumed SDL wrote to it.

[2019-04-24 17:08] #405 closed

[2019-04-25 18:12] veeableful commented on #405
Hi @flga, I really appreciate the continuous care you give to this project! That certainly would be a nice design improvement to make. Will you be creating a PR for it?

[2019-04-26 08:17] flga commented on #405
@veeableful it's a very useful lib, it's my pleasure :)
Yep, i'll work on it today, I just need to think a little bit more on how to test it properly.

[2019-05-06 16:08] TerensTare commented on #403
Well, that's a quiet good reason.
I understand it and that's cool.
So I wish you good luck in continuing the development of go-sdl2.
all the bests

[2019-05-06 16:08] #403 closed

[2019-05-11 11:47] pouryatorabi opened #408 "Clicking outside window, minimizes the window"
I have created a window in my secondary monitor, when I click in my Main monitor, the created window will minimize. This is my code:

[code]

[2019-05-11 11:49] pouryatorabi commented on #408
If I omit the pollevent loop, it won't minimize but my mouse cursor would show a busy indicator, only on windows.

[2019-05-12 16:34] veeableful commented on #408
Hi @pouryatorabi, have you tried setting `SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS` environment variable to `0`?

[2019-05-12 21:51] Nightwulf opened #409 "Vulkan funcs should return unsafe.Pointer instead of uintptr"
VulkanCreateSurface(instance interface{}) returns an uintptr which is a dangerous behaviour hence uintptr is not updated by the garbage collector. It should return the unsafe.Pointer instead which is updated.
In VulkanGetVkGetInstanceProcAddr() it is done correctly.
if you use VulkanCreateSurface() and try to cast it to a vkSurfaceKHR, you need to cast it back to unsafe.Pointer which then causes a

[2019-05-13 04:56] pouryatorabi commented on #408
Sorry I didn't understand what to do. I'm a newbie :)

[2019-05-13 05:02] pouryatorabi commented on #408
I just made an environmental variable, SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS, and put the value to 0. I tested again but still have problem.
Another thing bothering me is that if I don't handle the events, my mouse cursor would show a busy indicator in Windows, but I don't have this problem on Ubuntu, is there anyway to solve it?

[2019-05-15 15:06] veeableful commented on #408
Hmm I see. Perhaps it only works on Linux. Have you tried using `sdl.WINDOW_FULLSCREEN_DESKTOP` instead of `sdl.WINDOW_FULLSCREEN` in your `sdl.CreateWindow()` function?

[2019-05-15 15:55] veeableful commented on #409
Hi @Nightwulf, thanks for the feedback! I've updated the function to return `unsafe.Pointer` instead.

[2019-05-16 06:07] pouryatorabi commented on #408
I have tested them all, no luck.

[2019-05-16 19:25] Nightwulf commented on #409
Hey @veeableful,

thank you for the fast reply and change. Go vet no longer moans now!

[2019-05-16 19:25] #409 closed

[2019-06-11 02:13] kroppt opened #410 "SysWMEvent member 'msg' not accessible"
Presently, there is no way to access a part of SysWMEvent, which is necessary for winapi menu bars.

https://github.com/veandco/go-sdl2/blob/1bad6977f9fe18e8c4a47dd0934015b7fb319ae6/sdl/events.go#L865-L871

Notice how `msg` is unexported.

This is what type `msg` points to in the SDL2 source:
https://github.com/veandco/go-sdl2/blob/1bad6977f9fe18e8c4a47dd0934015b7fb319ae6/.go-sdl2-libs/include/SDL

[2019-06-11 03:49] veeableful commented on #410
Hi @kroppt! I don't have access to Windows machine right now but could you try to apply this patch and see if it works? You would be able to access via `SysWMEvent.Msg.Windows()`.

https://transfer.sh/ImoDD/0001-sdl-syswm-add-way-to-access-internals-of-SysWMmsg.patch

[2019-06-11 04:02] kroppt commented on #410
[code]

I hope I didn't do anything wrong!

[2019-06-11 04:27] kroppt commented on #410
If it helps:
`HWND` is `HANDLE` is `void *`, which I have been using as `uintptr` in go.
`LPARAM` is `LONG_PTR` is `long` (32-bit) or `int64` (64-bit), which should be `int` in go.
`UINT` is `unsigned int`, which is `uint32` in go.
`WPARAM` is `UINT_PTR` is `unsigned int` (32-bit) or `unsigned int64` (64-bit), which I guess would be a `int` in go.
It's really just the sizes that matter I suppose.

[2019-06-11 05:03] veeableful commented on #410
@kroppt Okay, Let me try the header file approach! Could you try this patch?

https://transfer.sh/ImoDD/0001-sdl-syswm-add-way-to-access-internals-of-SysWMmsg.patch

[2019-06-11 05:46] kroppt commented on #410
That patch was the same, but adding the include was trivial.
I successfully tested it and got the expected result upon menu bar interaction. Thank you.
Side note, this looks clumsy.
[code]

[2019-06-11 05:58] veeableful commented on #410
@kroppt Oops, sorry about that! Do you mean the API is not user-friendly?

[2019-06-11 06:03] kroppt commented on #410
Yes, that is what I meant.

[2019-06-11 06:05] veeableful commented on #410
@kroppt Ahh okay. Do you think it would have been better if `SysWMmsg` contained the members of `WindowsMsg` directly?

[2019-06-11 06:30] kroppt commented on #410
The more I think about it, the more sense it makes to leave it how it is. It looks odd, but this is mainly a quirk of the Windows version of the SDL API, because it has a member called `msg`. For example, in C this would look like:
[code]
I'm not sure which way would be best here, but I would try to make it consistent with other parts of the API, even if that means the Windows version looks quirky

[2019-06-11 06:52] veeableful commented on #410
Alright then. I'll push it to the test branch and then master branch some time today. I'll keep the API and perhaps revisit this in the future!

[2019-06-12 03:00] veeableful commented on #410
I have merged the changes into the master branch. Let me know if it still works for you 😃

[2019-06-12 05:55] kroppt commented on #410
Yes, it worked using latest. Thank you.

[2019-06-12 05:55] #410 closed

[2019-06-26 23:04] flipkick commented on #299
This behavior in sdl2_mixer 2.02 comes from a bug mentioned in: https://discourse.libsdl.org/t/bug-sdl2-mixer-init-error-format-support-not-available/23705/2

Workaround: Call Mix.OpenAudio before Mix.Init, like this:

`package main

import (
	"log"

	"github.com/veandco/go-sdl2/sdl"
	"github.com/veandco/go-sdl2/mix"
)

func main() {
	if err := sdl.Init(sdl.INIT_AUDIO); err != nil {
		log.Println(

[2019-06-28 23:06] jaenek opened #412 "Usage of Texture.Lock"
Hi,
Basically I wanted to recreate this:
[code]
but [this](https://github.com/veandco/go-sdl2/blob/649ea85188106bf99d15daf5cdcd93b0da65ada9/sdl/render.go#L375) implemetation of ```LockTexture``` is different from the SDL one. I saw the discussion under [#238](https://github.com/veandco/go-sdl2/issues/238#issuecomment-326920664) but unfortunately the link to a solution has expired. So I want to kno

[2019-06-30 07:28] veeableful commented on #412
Hi @jaenek,  do you mean something like this?

[code]

[2019-06-30 19:41] jaenek commented on #412
Well never mind turns out I need to freshen up my go builtins I tried to do:
[code]
instead of:
[code]
And here is the code example:
[code]

[2019-06-30 19:41] #412 closed

[2019-07-01 19:34] madmagi opened #413 "A non-"one and done" sample, sample request"
Thanks for a great library.

Almost all of your samples are what would call "one and done" examples; that is build up something, draw it and that is it.  Which is great, can learn specifically how a particular thing works.

However, in real life you end up building up objects, drawing and redrawing over and over.  And that is where where I am struggling.

For example, draw A window, react to some

[2019-07-03 17:03] veeableful commented on #413
Hi @madmagi, do you have any specific example in mind? I created this example as a starter.

[code]

[2019-07-03 17:36] madmagi commented on #413
I will take a look, thanks.  Should have feedback or possible questions about my mental blocks later tonight. :)

[2019-07-04 01:11] madmagi commented on #413
Ok, able to look at it.  Here is my thoughts and would love to understand better.

In the example you are creating some rect objects, placing in slice array.  prety straight forward.  then after your event loop, you range over the rects and draw them out.  correct?

So I can relate to that in what I have been attempting.  In my case, I have a UX (Menus, Dialogs, Buttons, etc), each is a self conta

[2019-07-04 04:24] veeableful commented on #413
Hi @madmagi, In order to unblock the thread, I'm thinking that perhaps the main thread should do only rendering. When the events come, they can be sent off to another go-routine via a channel and be processed there. How the UI elements will appear is then modified by that go-routine if necessary and the main go-routine will just call the UI elements' render function. I suppose there should be a wa

[2019-07-04 04:49] madmagi commented on #413
@veeableful That does make sense.  I did go down that road a couple of times with frustrating results.  I think not knowing how the underlying portions of the SDL subsystem work have caused me some grief.  One such adventure I ended up with panics due to thread issues; I think mutexes would have fixed that, but I find that when I start dropping mutexes in my code there usually is a sign of a desig

[2019-07-06 00:59] madmagi commented on #413
Thanks for the suggestions;  I finally made headway by doing the following:

I setup the main part of the application as a wrapper to create a) the graphics subsystem (SDL), the UX subsystem (GX) and the application (APP).  I set the app to run within a seperate GO routine while leaving the GX and SDL on the main thread.

The main thread has the message pump for SDL, and the action classes for the

[2019-07-06 15:49] veeableful commented on #413
Hi @madmagi, I'm glad you got it to work! And thanks for explaining how you got it to work as well. I'll be sure to keep those in mind when I create an example for this.

[2019-07-28 17:32] Nightwulf opened #416 "Compile error with sdl2-2.0.10"
Compiling any go-program which includes "github.com/veandco/go-sdl2/sdl" causes an compile error when sdl2-lib is at version 2.0.10:
`# github.com/veandco/go-sdl2/sdl
../../github.com/veandco/go-sdl2/sdl/hints.go:107:50: could not determine kind of name for C.SDL_HINT_ANDROID_SEPARATE_MOUSE_AND_TOUCH`

After downgrade to sdl2-2.0.9, compile works again.
Simple example code showing the problem:
[co

[2019-07-29 00:48] veeableful commented on #416
Hi @Nightwulf, thanks for reporting this! It should have been fixed in the master branch.

[2019-07-30 17:33] Nightwulf commented on #416
Great, compiling works again. Thanks for the blazingly fast fix!

[2019-07-30 17:33] #416 closed

[2019-08-10 10:19] lkppo commented on #382
Mabe github.com/rainycape/dl is what you need for a dynamic loading on linux:

https://github.com/golang/go/issues/30162#issuecomment-462346856

[2019-08-10 10:58] gonutz commented on #382
@lkppo Hey, thanks for the hint. I took a look at github.com/rainycape/dl and it uses CGo internally. This is what we want to avoid ideally. The point of this port is to remove CGo from the process because on Windows, installing a C-compiler is a pain. On Linux I do not see a problem with using CGo, most Linux Distros come with GCC. Of course we could also build something using C.dlopen and the .s

[2019-08-10 11:50] lkppo commented on #382
Hi gonutz,

My point was you could cross-compile and provide this thin wrapper for linux as binary and change only your main function to use it on linux.

This could avoid two ways of writing the binding. Since I did not do this before, did I say something silly?

[2019-08-10 13:43] gonutz commented on #382
Oh, I see. Do you mean cross-compiling from Windows to Linux or vice versa?

Removing CGo from the Windows thing will allow you to cross-compile from Linux to Windows easily.

Cross-compiling from Windows to Linux would still require you to have a GCC installed on Windows, since as I said the library you suggested uses CGo for dlopen as well. If we could however get CGo out of the way and use dlop

[2019-08-10 15:39] lkppo commented on #382
Yes it's what I mean. Using Linux the first time for compiling a dl package for Linux. Adapt the binding to use the native windows loader or dl loader for Linux. After that use the dl binary package to cross-compile for Linux from windows, or compile on Linux. When we have a binary package of dl. Would it be possible to do that?

[2019-08-10 19:17] husio opened #418 "Panic on surface.FillRect(nil,0)"
When running the below example, `surface.FillRect(nil, 0)` _occasionally_ panics with

[code]

go1.12.7 linux/amd64
github.com/veandco/go-sdl2 v0.3.1-0.20190809154531-da65661eff7f
gcc (GCC) 9.1.0
SDL source-revision: SDL2:d3df61d8af
architecture: x86_64-musl

[code]

[2019-08-10 19:30] gonutz commented on #382
I am not really sure what you mean by "binary package of dl". As I said, we would have to be able to call dlopen without CGo, see [Go issue #18296](https://github.com/golang/go/issues/18296).

[2019-08-11 02:39] veeableful commented on #418
Hi @husio, while I don't know why it segfaults exactly, I believe the issue is related to the mixing of software and hardware rendering.

If you want to use SDL_Surface (software) for rendering,  you can omit `sdl.Renderer`. If you want to use SDL_Renderer (hardware), you can set `sdl.WINDOW_OPENGL` in `sdl.CreateWindow()` and use `renderer.FillRect()` for rendering instead.

[2019-08-13 11:51] nitrajka opened #419 "'SDL_image.h' file not found"
Hi,

I installed sdl and sdl_image by these commands:
`brew install sdl_image`
`brew install sdl2`

Then I downloaded sdl for go: `go get -v github.com/veandco/go-sdl2/sdl`
and `go get -v github.com/veandco/go-sdl2/img`

I used it in my program and got an error:

[code]

I have mac os High Sierra and go version go1.12.7 darwin/amd64. I assume I have the latest version of go_sdl2 and that is 0.3.0.

[2019-08-13 12:14] gen2brain commented on #419
Hi,

Just use the command from README, `brew install sdl2{,_image,_mixer,_ttf,_gfx} pkg-config` , you installed `sdl_image` which is old sdl1 package.

[2019-08-13 12:20] nitrajka commented on #419
That worked! I tried to rewrite the command and probably forgot the "2". Thank you very much for your answer. And sorry to bother with such a trivia.

[2019-08-13 12:20] #419 closed

[2019-08-14 04:26] Matias-Barrios opened #420 "Audio messed up"
I'm trying to add audio to a game I'm making.

I can see the audio plays ok just the first three times ( .WAV by the way ) and from the 4th time.onwards is messed up ( like it were radio static ).

Here is the repo of my code : https://github.com/Matias-Barrios/SDL_Universe/blob/master/SDL/audio.go

Can someone tell me if I'm doing something wrong that might cause the issue?

[2019-08-14 12:06] bussiere opened #421 "could not determine kind of name for C.SDL_HINT_ANDROID_SEPARATE_MOUSE_AND_TOUCH"
On windows :

[code]

[2019-08-14 15:31] veeableful commented on #421
Hi @bussiere,

Could you please try the newly created v0.3.1? I back-ported some commits from master that fixed it. Seems to work on my macOS!

[2019-08-14 18:04] bussiere commented on #421
@veeableful will try monday thanks for your work :)

[2019-08-15 14:12] veeableful commented on #420
Hi @Matias-Barrios, I have been investigating the issue but I haven't found the real problem that is causing it yet. I did find that the `board.Draw` function seems to contribute to the problem, at least at a glance. For example, if I call the function three more times, it seems to reproduce the problem as soon as the next piece appears. However, if I play the sound before the next piece appears,

[2019-08-15 14:28] Matias-Barrios commented on #420
@veeableful Thanks for checking on this. I'll try to check on that relationship and I'll post here with my findings

[2019-08-16 21:31] Matias-Barrios commented on #420
@veeableful so I tried removing the board.Draw method entirely and it works fine. Then I tried  removing only the SDL.Draw from it, and it also works fine.

So the issue is happening only because of the amount of times I call SDL.Draw. (?)

Do you have any idea if this is possible and why? I can help to solve the bug if you give me some hint

[2019-08-17 06:39] veeableful commented on #420
Hi @Matias-Barrios,

I seem to have fixed it by allocating the destination rectangle for `Copy()` in the native C context. I suppose it has something to do with how Go's memory works (perhaps the rectangle got cleaned up before it can be used by SDL_Renderer?). I have pushed the fix into the `master` branch so let me know if it works for you!

[2019-08-17 13:37] Matias-Barrios commented on #420
@veeableful Hi ! I have just downloaded the latest version and now it works perfectly fine. thanks so much for your help!! Your work is awesome.

[2019-08-17 13:37] #420 closed

[2019-08-18 05:43] veeableful commented on #420
No problem! Thanks for reporting the issue!

[2019-08-19 01:22] jackmott opened #422 "Recent commit breaking use of render.Copy"
This commit seems to have broken copy on some of my existing programs:
https://github.com/veandco/go-sdl2/commit/fbf6279185d95a1266b391df284c2db53a611649

`renderer.Copy(tex, nil, nil)`   now panics with a nil pointer dereference error.

Per SDL2 specs this should be allowed:
https://wiki.libsdl.org/SDL_RenderCopy

I'm not familiar with what was attempting to be fixed here with this change, so can

[2019-08-19 02:05] veeableful commented on #422
Hi @jackmott, truly sorry about that! I should have fixed that in the `test` branch. Could I trouble you to go to `$GOPATH/src/github.com/veandco/go-sdl2/sdl` and run `git fetch`, `git checkout test`, `git reset --hard origin/test`, and finally `go install`? After that, you can try compiling your program again and see if it still happens. If everything's fine, I'll push to `master` branch immediat

[2019-08-19 02:25] jackmott commented on #422
Confirmed fixed, go ahead and push to master, thank you.

[2019-08-19 02:27] veeableful commented on #422
Alright, I have pushed to master!

[2019-08-20 11:49] bussiere commented on #421
Now i have a new error :

D:\eu\Workspace\Emissaries>go get github.com/veandco/go-sdl2/sdl
# github.com/veandco/go-sdl2/sdl
cannot parse $WORK\b001\_cgo_.o as ELF, Mach-O, PE or XCOFF

[2019-08-21 00:02] Matias-Barrios opened #423 "Screen flickering when drawing Text ( as in the example )"
Hi All!,

I am having troubles while applying text to the game I am developing. While the text itself renders correctly, the problem arises as I need to call **window.UpdateSurface()** which causes flickering. ( Its like there are two *screens* , the one containing the game and a black screen containing the red text which are constantly trying to overlap themselves ).

This is the exact line in my

[2019-08-21 01:51] veeableful commented on #421
Hi @bussiere, could you try running `go get -v -u github.com/veandco/go-sdl2/sdl`?

[2019-08-21 01:51] #422 closed

[2019-08-21 01:56] #398 closed

[2019-08-21 05:12] POPSuL opened #424 "Invalid color converting in Surface.Set()"
Example code for drawing **RED** square:

[code]

Problem: Windows 10 draws RED square, but in Linux (Ubuntu, KDE) that code draws BLUE square.
Due debugging I found difference between pixel format in surface (windows have RGB888 but linux have RGBA8888).
If we look at the code of Surface.Set() we can found 2 branches:
[code]

[2019-08-21 22:55] Matias-Barrios commented on #423
Oh my bad! I finally got it. This is my function now :+1:
[code]

[2019-08-21 22:55] #423 closed

[2019-08-22 04:32] veeableful commented on #424
Hi @POPSuL, I'll have a detailed look at it sometime today! I will comment again once I know what causes the issue.

[2019-08-22 12:07] POPSuL commented on #424
@veeableful thanks! I'll wait. If additional information needed - I can inform.

Btw, I force set pixel format via
[code]

(before calling Surface.Set()) and now that sample works correctly, and in linux looks like in windows (both OS draws RED square).

[2019-08-22 14:12] jclc opened #425 "Vulkan functions not included in releases"
sdl/vulkan.go isn't included in any of the release tags, so the default module Go tries to use won't work if you want to work with Vulkan. This should probably be fixed for future releases.

[2019-08-22 16:41] veeableful commented on #425
Hi @jclc, that's a very good point! I suppose I will push a v0.4.0 tag this weekend with the master branch once I have reviewed all the commits since v0.3.0 for the release write-up.

[2019-08-22 16:47] veeableful commented on #424
Hi @POPSuL, it should have been fixed in the master branch now!

[2019-08-28 11:11] MarcusTU opened #427 "How to get gfx running?"
Hello there,

the instructions (Windows 10, Visual Studio Code, Go), for installing sdl, img, ttf, mix are all the same: download the devel package, unpack the package, copy x86_64-w64-mingw32, go get -v github.com/veandco/go-sdl2/XXX, hit run -> it works fine.

sadly this wont work with the gfx package because it doesnt contain any folder named x86_64-w64-mingw32. It is some visual studio (not co

[2019-08-29 03:35] veeableful commented on #427
Hi @MarcusTU, thanks for pointing that out. I'd guess that for the GCC version you can run `./configure; make` and copy the library into the same directory as other libraries.

I'll have a look at this and update the guide when I have the time (probably this weekend).

[2019-09-02 00:41] veeableful commented on #427
So I had to edit the `configure` script at line 13142 to make sure they escape spaces in `$SDL_CONFIG`. Then I edit `sdl2-config` to use the correct `$prefix`. But looking at `config.log`, I found out that you need `autoconf`, `autoheader`, and `automake` in the end which aren't provided by mingw-w64.

I will try with MSYS2 if it can be used to successfully compile the project since it does provid

[2019-09-08 13:49] Matias-Barrios opened #428 "Sound messed up when polling events from a module insead of main"
In the game I am making I am polling for vents on the game loop, which works fine and it has no problems. The problem arises when Im trying to poll for events from a module within my app.

I have crated this function that imitates a single key press :

https://github.com/Matias-Barrios/SDL_Universe/blob/master/elements/elements.go#L101-L117

But if I call it from another method as I am doing it he

[2019-09-10 01:58] veeableful commented on #428
Hi @Matias-Barrios, could you provide a simple way to reproduce the issue? Thanks!

[2019-09-14 15:37] veeableful commented on #427
I found a nice person who shares his SDL2_gfx.dll which I confirmed to be working with go-sdl2/gfx! Here's the link: https://github.com/Vladar4/sdl2_nim/blob/master/LINKS.md

The header files of SDL2_gfx (.h files) will need to be copied into `include` folder of your MinGW. They can be obtained from the source code here: http://www.ferzkopp.net/wordpress/2016/01/02/sdl_gfx-sdl2_gfx/

[2019-09-15 22:55] CarterScadden opened #429 "go get github.com/veandco/go-sdl2/{img, mix} fails"
When running in bash getting this error.
In file included from go/src/github.com/veandco/go-sdl2/img/sdl_image.go:5:0:
[code]

[code]

[2019-09-16 01:32] veeableful commented on #429
Hi @CarterScadden, what platform are you on? Did you install the native libraries for SDL_image and SDL_Mixer?

[2019-09-16 02:07] CarterScadden commented on #429
Yes sorry, I've resolved the issue didn't realize I needed to install those libraries from else where. Thank you

[2019-09-16 02:07] #429 closed

[2019-09-16 22:21] Matias-Barrios commented on #428
@veeableful, you can clone my repo directly. Then you let yourself lose which in turn draws You lose on the screen and waits for any key being pressed. Thing is, in order to read that key I'm looping through events. When I do that all sound is messed up from that point onwards

[2019-09-18 12:47] veeableful commented on #428
Hi @Matias-Barrios, could you try using the master branch? I have pushed a similar fix to #420 :relaxed:

[2019-09-19 18:04] Matias-Barrios commented on #428
@veeableful Sure. I'll do. I'll let you know the outcome. Thanks

[2019-09-20 00:54] Matias-Barrios commented on #428
@veeableful Done! It works like charm now. Thanks!

[2019-09-20 00:54] #428 closed

[2019-09-21 17:06] Matias-Barrios opened #431 "Alpha not working for big?? images"
I have a weird issue when trying to add alpha to the background of my game. I have this function :

[code]

The problem is, it seems to make textures transparent only when they are small (??). for instance I can make each small block in my game transparent but it does not seem to affect the background, although both are drawn in the same way.

[2019-09-22 03:47] veeableful commented on #431
Hi @Matias-Barrios, could you please create a very minimal example that demonstrate this issue? That would really help me in figuring out the issue. Thanks!

[2019-09-22 15:24] Matias-Barrios commented on #431
Hi @veeableful . I have created this small repo which only draws a background and a block :+1:
https://github.com/Matias-Barrios/transparency_bug

You can clone and play around with these two lines :
https://github.com/Matias-Barrios/transparency_bug/blob/master/main.go#L32-L33

You will see that although the transparency of the block changes the background is not affected. Please let me know if t

[2019-09-23 12:35] veeableful commented on #431
Hi @Matias-Barrios, it seems like the texture needs to set a blend mode via `textureImg.SetBlendMode(sdl.BLENDMODE_BLEND)` so any image can be made translucent. Otherwise, it seems like the image needs to be saved with RGBA color type (based on quick investigation using fotoforensics.com on the images).

[2019-09-23 12:39] veeableful commented on #431
Oh and thank you very much for the mini example! That was super helpful! :smiley:

[2019-09-23 13:47] Matias-Barrios commented on #431
@veeableful understood. Thanks for digging into this. I'll try to add the changes and contact you back in case of issues. Awesome! :)

[2019-09-23 13:47] #431 closed

[2019-09-26 01:41] Matias-Barrios opened #432 "Sudden panic"
[code]

I am having a sudden panic while my game is running. Out of nowhere the app just stops and throws this. It seems to be tied to line 124 in my main.go.

In that specific line I am polling for events. But nothing else.

Any ideas? It happens randomly, sometimes it does not even happen at all.

[2019-09-26 17:38] veeableful commented on #432
Hi @Matias-Barrios, thanks for the issue report! I'll see if I can reproduce it later today.

[2019-09-27 09:36] husio commented on #418
I do not fully understand what was the issue with the code. What @veeableful wrote seem to help. Would it be helpful to add the information about not using `sdl.Render` with software rendering to the documentation?

[2019-09-28 03:53] veeableful commented on #432
Hmm I can't seem to reproduce it. For reference could you tell us the versions of Go, SDL2 and what OS you are running it on? Thanks!

[2019-09-28 12:00] Matias-Barrios commented on #432
Sure this is my OS version :

[code]

My GO version :

[code]

My SDL2 version :

[code]

I am trying to reproduce it as well but it's hard. It happens totally randomly but I am almost sure it happens while either polling or doing a render copy.

[2019-09-28 15:00] Matias-Barrios commented on #432
ok I have pinpointed the issue again. For instance :+1:

[code]

Every time it always points to a **DrawStuff** function. And my **DrawStuff** function is only a wrapper on top of **render.Copy**.

One more hint to something being wrong is that the audio is messed up after a while of playing once again. It seems that mashing buttons seems to help to reproduce the issue. So one way of reproducing t

[2019-09-28 15:18] gen2brain commented on #432
@Matias-Barrios did you try with `runtime.LockOSThread()`? Just put it at start of your main() as noted in FAQ.

[2019-09-28 15:51] Matias-Barrios commented on #432
@gen2brain I have not. I'll do and test again.

[2019-09-29 02:36] Matias-Barrios commented on #432
Hi @gen2brain . I did as you told and the app crashed with the very same panic in just a few minutes as well :(

[2019-09-29 12:09] veeableful commented on #432
Hi @Matias-Barrios, to confirm, are you running the latest version of `go-sdl2`? Could you run `go get -v -u github.com/veandco/go-sdl2/sdl` and rebuild your program by running `go build -a`? I was under the impression that the sound issues have been fixed in the `master` branch but perhaps there's other audio issues.

I tried to reproduce the issue under the same environment (albeit in a virtual

[2019-09-29 16:52] ali2210 opened #433 "SDL2 not found"
![Capture](https://user-images.githubusercontent.com/20568079/65835744-50b5a780-e303-11e9-919e-c05da7fee36d.JPG)

I'm using your package in my project but hadn't download properly

[2019-09-30 02:03] veeableful commented on #433
Hi @ali2210, it seems like the native packages are not installed for your environment. You can refer to our [Requirements](https://github.com/veandco/go-sdl2#requirements) in the README to see how they can be installed for your OS. Once you have done that, you should be able to use our package.

[2019-09-30 08:42] ali2210 commented on #433
Thank you for this valuable information
This Message send through secure channel called BBM

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F

[2019-10-01 01:19] Matias-Barrios commented on #432
Hi @veeableful. Im sharing this video where I demonstrate the bug. I have updated the packages and the issue still persist. Although there is no audio in the recording, the game in fact lost the audio after reproducing a few times.

https://youtu.be/Qf4T5xKBdR8

Note - I am not using Go modules. But I can downgrade my version of Go if you think is worth it.
I also tried building with **-a** but it

[2019-10-01 14:48] veeableful commented on #432
Well! After I installed Ubuntu MATE 16.04.6 (normal Ubuntu doesn't seem to work on my old Samsung Chromebook), I can at least reproduce it somewhat although it crashed at a different place. That gives me something to work with at least! I'll report back if I found something.

[2019-10-02 13:55] veeableful commented on #432
Hi @Matias-Barrios, I haven't pinned down why exactly it segfaults but I noticed that the memory usage goes up quite high overtime (around 300M from 50M) before it crashes. Perhaps reducing the memory leak might help for now while I continue investigating.

[2019-10-03 16:37] #433 closed

[2019-10-09 13:00] dre2004 opened #434 "Friendly color names"
Hello,

Is it possible to have a "friendly" set of color names?

Something similar to this [Basic Colors](https://github.com/gen2brain/raylib-go/blob/master/raylib/raylib.go#L396-L449).

I have been able to take that code and modify it slightly for my project but currently I still have to reference each color individually as opposed to just passing LightGray where a RGBA value is expected.

Are co

[2019-10-09 14:37] Noofbiz commented on #434
There's a colornames package in golang.org/x/image that has a ton of color names, all the ones that you'll find in a browser / the svg spec. https://godoc.org/golang.org/x/image/colornames

[2019-10-12 18:51] kroppt commented on #421
I had this issue, and it was fixed when I downloaded master, currently at 68b56f2c64c36f41da33d0985dc5f173ae7cb0f9. I am not sure which version I had before.

[2019-10-13 14:38] kroppt commented on #418
In the SDL2 documentation, `window.GetSurface` is documented here: https://wiki.libsdl.org/SDL_GetWindowSurface.
It notes, "You may not combine this with 3D or the rendering API on this window."
The bottom of that page indicates it is in the Video API category.
So if we look at the API categories and select 2D Accelerated Rendering, we get the page https://wiki.libsdl.org/CategoryRender.
This page

[2019-10-16 19:06] sadek69 opened #435 "when i am try go get github.com/veandco/go-sdl2/sdl"
or compile sdl2 test,
i am received this error

src/github.com/veandco/go-sdl2/sdl/hints.go:86:50: could not determine kind of name for C.SDL_HINT_ANDROID_SEPARATE_MOUSE_AND_TOUCH

i am use osx mojave.
latest sdl2
and latest golang.
please help.

[2019-10-16 21:47] dpeckham opened #436 "Problems after macOS Catalina upgrade"
Until upgrading to macOS Catalina, my app has been running fine. It's 768x1024 and runs properly on Linux, MacOS, and on an ARM/Linux embedded device.

However, after upgrading to MacOS Catalina, almost all of the content is not rendering. See the attached images. With SDL2 2.0.10 installed, the app is the proper dimensions, but is missing content.

So, I tried rolling back to an older version of

[2019-10-17 00:01] #436 closed

[2019-10-18 03:33] veeableful commented on #435
Hi @sadek69,

That issue should have been fixed in the master branch. Could you try running `go get -v -u github.com/veandco/go-sdl2/sdl`?

[2019-10-18 03:34] veeableful commented on #436
Hi @dpeckham, did you manage to solve this issue?

[2019-10-18 19:04] sadek69 commented on #435
Hi @veeableful thank you who you try to help but after this command i am received this error

Aborting
package github.com/veandco/go-sdl2/sdl: exit status 1

he try to start update but exit with this mistake....
maybe you have more idea what me do?

[2019-10-19 15:18] Linus4 opened #437 "Need help: crosscompiling for windows (gfx colors flickering)"
Hey there,

I'm developing an [application](https://github.com/Linus4/csgoverview) that I want to port to windows. But when I cross-compile from linux, the colors of most of the shapes I draw with the gfx library are flickering or are just wrong.

Cross-compiled on windows: [Video](https://giant.gfycat.com/GiddyThreadbareGibbon.webm)
Linux: [Image](https://camo.githubusercontent.com/1476c0b230d987

[2019-10-20 13:54] #427 closed

[2019-10-20 13:59] MarcusTU commented on #427
Thank you very much :)
This method is not complicated and works fine.

[2019-10-20 14:13] veeableful commented on #435
Hi @sadek69, is that the full output? If you run the command I posted, I believe it should at least show:
[code]

[2019-10-20 15:09] veeableful commented on #437
Hi @Linus4, could you try the `v0.4.0-rc.0` version and build it statically?

You can modify go.mod like this:
[code]

and run
[code]

In a Windows VM I tested, it seems to not flicker. If it works for you, this could be a temporary solution!

[2019-10-20 16:03] sadek69 commented on #435
exes-Mac-mini:go _exe$ go get -v -u github.com/veandco/go-sdl2/sdl
github.com/veandco/go-sdl2 (download)
# cd /Users/_exe/go/src/github.com/veandco/go-sdl2; git pull --ff-only
error: The following untracked working tree files would be overwritten by merge:
	.go-sdl2-libs/include/SDL2/SDL.h
	.go-sdl2-libs/include/SDL2/SDL2_framerate.h
	.go-sdl2-libs/include/SDL2/SDL2_gfxPrimitives.h
	.go-sdl2-libs/

[2019-10-21 01:45] veeableful commented on #435
Hi @sadek69, could you delete the whole directory like so:
[code]

and run `go get -u -v github.com/veandco/go-sdl2/sdl` again?

[2019-10-21 02:37] Linus4 commented on #437
Hi @veeableful , thank you so much for your help! :) Building the app statically with `v0.4.0.-rc.0` works for me as well. 🎉

[2019-10-21 19:30] sadek69 commented on #435
thank you.now all work.

[2019-10-21 19:30] #435 closed

[2019-10-23 07:24] #434 closed

[2019-10-23 07:24] dre2004 commented on #434
Thanks!

[2019-10-27 21:14] cburchert commented on #421
SDL_HINT_ANDROID_SEPARATE_MOUSE_AND_TOUCH was removed from SDL:

https://hg.libsdl.org/SDL/rev/d581caf613cd

This error appears when you are linking against a new version of SDL. I guess we need to delete the constant from go-sdl2 as well to fix this problem.

[2019-11-03 16:52] 5k3105 commented on #382
Just tested https://github.com/gonutz/go-sdl2 and this worked great!
Keep up the great work!

[2019-11-04 11:10] gonutz commented on #382
@5k3105 Thank you very much, there are some issues left, however. I have not worked on this fork for some time now and the status I left it in was testing if everything works. Unfortunately the SDL 2 API is pretty large and I cannot really test everything (e.g. some game controller functionality) which is why I have not yet created a pull request for the main repo.

[2019-11-30 04:43] jamesfmackenzie opened #438 "Can't build to wasm"
When I try to build my Go app to wasm, I get many SDL failures:

$ GOOS=js GOARCH=wasm go build -o myapp.wasm
# _/C_/temp/go/src/myapp
.\sdl.go:9:20: undefined: sdl.Surface
.\sdl.go:9:43: undefined: sdl.Renderer
.\sdl.go:22:46: undefined: sdl.MapRGB
.\sdl.go:34:37: undefined: sdl.Rect
.\sdl.go:39:12: undefined: sdl.Init
.\sdl.go:39:21: undefined: sdl.INIT_EVERYTHING
.\sdl.go:42:8: undefined: sdl.Q

[2019-11-30 08:59] TerensTare opened #439 "SDL 2.0.10"
Does this support SDL 2.0.10?

[2019-11-30 12:40] veeableful commented on #438
Hi @jamesfmackenzie, unfortunately it isn't supported yet. From what I read, it seems like the Go WebAssembly back-end doesn't handle linking with C library. It's certainly something that I will keep an eye on though as I'm creating a static site for it where WebAssembly would be useful to show examples!

[2019-11-30 12:52] veeableful commented on #439
Hi @TerensTare, yes! Though it seems like it's written in C++ which is incompatible with cgo.

[2019-11-30 20:58] TerensTare commented on #439
What if I make it work in GoLang?
Maybe by rewriting it in pure Go?

[2019-12-01 02:53] veeableful commented on #439
That sounds like a good approach. There doesn't seem to be any problem other than the amount of work you have to put into it. If you are driven to do this, I'd say go for it!

[2019-12-01 09:01] TerensTare commented on #439
I will leave commenting up to you.
So you can write it in your own style.

[2019-12-03 18:51] TerensTare commented on #439
There is a small problem.
The library uses SDL_gfx and I am on Windows.
Is there any way to use SDL_gfx on WIndows?

[2019-12-04 01:31] veeableful commented on #439
Yes, I was able to get it running [here](https://github.com/veandco/go-sdl2/issues/427#issuecomment-531489290). It seems like you just need to copy the header and .dll files to the MinGW's include and lib directories. Let me know if you have any difficulty.

[2019-12-04 06:25] TerensTare commented on #439
It worked. Thanks a lot.
Talk to you later.

[2019-12-04 08:03] veeableful commented on #439
No problem. I'm glad it helped :relaxed:

[2019-12-06 18:29] 20kdc opened #440 "Failed to cross-compile to Windows i386: GetDoubleClickTime"
On an Ubuntu 19.10 (Eoan Ermine) system, the following command:
`CGO_ENABLED=1 CC=i686-w64-mingw32-gcc GOOS=windows GOARCH=386 go build -v -tags static -ldflags "-s -w"`
fails to build https://github.com/20kdc/CCUpdaterUI (Please be noted: If you wish to test this specific application, it expects my fork of CCUpdaterCLI) with:
[code]

Note: This issue mostly exists to document the workaround, whic

[2019-12-06 19:48] jamesfmackenzie commented on #438
Thanks! Very interested to hear more as this develops

[2019-12-07 16:01] veeableful commented on #440
Hi @20kdc, thanks for the workaround. It does work! I tested it by compiling the library (e.g. `cd $GOPATH/src/github.com/veandco/go-sdl2/sdl` then run `CGO_ENABLED=1 CC=i686-w64-mingw32-gcc GOOS=windows GOARCH=386 go install -v -tags static -ldflags "-s -w"`.

Do you think we could simply update the Windows 32-bit `.a` files with the ones from the website, @gen2brain? Or did you compile the stati

[2019-12-07 18:19] gen2brain commented on #440
Hi @veeableful , libs are compiled with minimal dependencies (i.e. without smpeg, flac, mikmod, modplug etc.) and made to work by default with libmpg123. All libs are cross-compiled on Linux (except for darwin but I can now also cross-compile for darwin on Linux).

I don't have any automatic procedure for the build, just some notes, will try to compile and update everything again, not sure when wi

[2019-12-08 04:47] veeableful commented on #440
I see, thank you @gen2brain. Let me know if I can help with the build. I certainly have some time to spare :grin:

[2019-12-26 11:01] jonathaningram opened #441 "sdl/surface: I wonder if Surface.set should return an error and not panic"
Hi there! See https://github.com/veandco/go-sdl2/blob/ec14881f3097f4a0b38fc904ded7bea5e042a860/sdl/surface.go#L566

Do you think the signature of this method should be

[code]

?

I was reading through the implementation while working out how to call this method in my program and it makes me nervous that this panics.

Could it instead return an error:

[code]

?

[2019-12-27 13:29] veeableful commented on #441
Hi @jonathaningram, it needs to not return error in order to keep compatibility with `draw.Image` interface. We could add a second version called `Set2()` which returns an error. Do you think that is a good idea?

[2019-12-28 03:33] jonathaningram commented on #441
Thanks @veeableful I had overlooked that. In that case I don't think adding a `Set2(x, y, color) error` is the solution.

Does this library need to be concerned with making `*sdl.Surface` satisfy the `draw.Image` interface?

Could callers just wrap `*sdl.Surface and call `Set` themselves (ignoring the error). So in a userland program:

[code]

[2019-12-28 03:40] jonathaningram opened #442 "raster: does this package belong in go-sdl2?"
While writing #441, and reading the PRs that introduced the `Set` method, I see that the `raster` package was also introduced. Looking through the package, I wonder if it's better placed outside of this library as a standalone library or even just in userland code if the calling program needs that behaviour.

The reasons are that it introduces a dependency to `github.com/golang/freetype/raster` bu

[2019-12-28 04:38] veeableful commented on #441
No problem @jonathaningram. `sdl.Surface` implements the `draw.Image` interface so other libraries that work with `draw.Image` interface can work with it as well. There does seem to be some work left before it can handle all the essential pixel formats. Is there any particular problem that is blocking you at the moment? I could try to fix that first when I have some time later!

[2019-12-28 05:17] veeableful commented on #442
Hi @jonathaningram, I don't think you are missing anything, it is just a result of a green maintainer like me :joy:. At the moment, I thought that it would be convenient and more easily discoverable as this repository contains the commit history and issue that explains its use-case. And I think if you import the other sub-packages directly (e.g. `import "github.com/veandco/go-sdl2/sdl"`), it shoul

[2019-12-28 05:21] jonathaningram commented on #441
@veeableful no issue specifically—just the panic that I was concerned about originally, but nothing is stopping me.

I understand the concerns around backwards compatibility and I wouldn't want to be the one to be breaking it either—though having said that, while this library is in the <v1.0 stage would be the best time to do these breaks and I (personally) think that it's acceptable for go-sdl2 t

[2019-12-28 05:21] #441 closed

[2019-12-28 05:27] jonathaningram commented on #442
All good @veeableful it happens and like I said, it doesn't matter and doesn't block me either, but I I happened to notice this so thought I would ask :)

I think you're right about `freetype/raster` not being pulled in if you only import sub-packages. I stand corrected on that front. I don't know if things change if this library ever gets a `go.mod` file because at that time the `freetype` dep wo

[2019-12-28 05:27] #442 closed

[2019-12-28 05:52] veeableful commented on #441
@jonathaningram I see.. in that case, I'll add some of the missing cases in the switch statements and tests later to make it harder to trigger the panic case. Hopefully it will eventually remove the need for the panicking `default` case in the switch statement and therefore remove the need to break API :stuck_out_tongue:

And thank you for the compliment and using this library! I'm glad you are en

[2019-12-28 06:25] veeableful commented on #442
@jonathaningram Oh yeah.. I haven't thought about adding `go.mod` file at all. I will have a look at it as well. Thank you for reminding me about it and for the question about the package structure! I will consider moving the `raster` package out for v1.

[2020-01-02 09:43] Suceru opened #444 "How to install SDL_gfx on windows"
Mingw is currently installed, its directory is in  `D:\Program Files\mingw-w64\x86_64-8.1.0-win32-seh-rt_v6-rev0\mingw64
`, the SDL_image and ttf are installed to copy the entire `SDL2_image-devel-2.0.5-mingw.tar.gz\SDL2_image-devel-2.0.5-mingw.tar\SDL2_image-2.0.5\x86_64-w64-mingw32` folder to `D:\Program Files\mingw-w64\x86_64-8.1.0-win32-seh-rt_v6-rev0\mingw64\x86_64-w64-mingw32
`

But SDL_gfx

[2020-01-04 05:28] veeableful commented on #444
Hi @Suceru! Sorry for the late reply. Could you try [this](https://github.com/veandco/go-sdl2/issues/427) method and see if it works for you? I will add it to the README if it's simple enough to follow.

[2020-01-05 05:27] Suceru commented on #444
@veeableful
I'm not familiar with mingw, i downloaded` SDL2_gfx.dll` and put it in the `\bin` directory like `SDL_image`. Then copy all the `.h` files to the `x86_64-w64-mingw32\include\SDL2` folder, and change the file name and header file to 2 (eg:like SDL2_gfxPrimitives.h). When using `go run C:\Users\fidax\go\src\github.com\veandco\go-sdl2\.go-sdl2-examples\examples\gfx` command, it prompts `l

[2020-01-05 05:54] dragonfax opened #445 "Where are the joystick events?"
When using PollEvent, you have structs for mouse and controller events. but no joystick events.

[2020-01-05 05:55] dragonfax commented on #445
I'm an idiot, I found it.

[2020-01-05 05:55] #445 closed

[2020-01-07 11:34] veeableful commented on #444
Hi @Suceru, have you tried to put it inside `lib` as well?

[2020-01-10 09:24] Suceru commented on #444
@veeableful
Sorry, when I did this, I didn't know what I should do next.
I have put `SDL2_gfx.dll` in  `\lib`, Run ... .
<img width="960" alt="copy" src="https://user-images.githubusercontent.com/20983345/72141118-2f1d8f00-33cd-11ea-824a-133e19e4bb14.png">
<img width="960" alt="cmd go run" src="https://user-images.githubusercontent.com/20983345/72141117-2e84f880-33cd-11ea-867f-b1f7665571a7.png">

[2020-01-11 14:26] veeableful commented on #444
Hmm that's strange.. are you using `sdl.Surface` instead of `sdl.Renderer` with `gfx` functions?

[2020-01-19 09:09] Suceru commented on #444
@veeableful I am directly running the code for the example.

That's what he originally wrote.
So, I don't known

[2020-01-19 12:07] veeableful commented on #444
Hi @Suceru, I see that you are using `sdl.Surface` (at least from what I can tell in the screenshot above) and the example doesn't have `sdl.Surface`. Are you using the latest `go-sdl2`?

[2020-01-19 13:35] Suceru commented on #444
Yes, `go-sdl2` is the latest version. There is no `SDL_surface` code in the examples, only `SDL_renderer`.
The location of this `error` message comes from the file `SDL_gfx.go
`

My other SDL2 configurations can be used normally, but `sdl_gfx` does not know how to install. I put the `sdl_gfx.dll` in the link you posted earlier into the `\ bin `and `\ lib` folders (I don't know if it is correct). I

[2020-01-19 13:54] veeableful commented on #444
Hmm that's weird... Could you post the definition of `pixelColor` in the `SDL2_gfxPrimitives.h` file? The one I have looks like this:

[code]

[2020-01-20 03:33] Suceru commented on #444
@veeableful Oh, thank you guys, I have configured.
First of all, I mistakenly regarded the `gfx of SDL `as the `gfx of SDL2` (I saw two `versions 1.0.4` and `2.0.25` on the website, I didn't pay much attention to `2.0.25` as the latest version of SDL2). Then I copied `the .h and .c files` of `SDL2-gfx` to the ` \include\SDL2 of mingw` folder  and it worked fine.
The correct is:
<img width="349" al

[2020-01-20 03:38] Suceru commented on #444
@veeableful It turns out that the method you proposed earlier is correct, as long as you download `the .dll file and .h and .c files`, you can use it.
<img width="591" alt="run" src="https://user-images.githubusercontent.com/20983345/72697012-4bfa5500-3b79-11ea-91a1-44ac3e622938.PNG">

[2020-01-20 10:44] veeableful commented on #444
No problem @Suceru! Glad I could help 😃

[2020-01-20 10:44] #444 closed

[2020-01-26 12:13] Suceru commented on #336
Hi, for `SDL2_image` to work properly, I copy the `zlib1.dll` file to current path of cmd.
~~Or copy all img.dll file to that.~~

eg:
 Copy the `zlib1.dll` to `%GOPATH%\src\github.com\veandco\go-sdl2\.go-sdl2-examples\examples\texture_png\`

then

[2020-01-28 23:12] Zaya6 opened #447 "Need Help: Cross-Compile to MIPS Architecture"
For a hobby project I've been trying to create a program to run on the rg350 handheld, with a jz4770 processor. When I try to build I get these errors:

./hey.go:11:21: undefined: sdl.INIT_EVERYTHING
./hey.go:14:8: undefined: sdl.Quit
./hey.go:16:17: undefined: sdl.CreateWindow
./hey.go:18:3: undefined: sdl.WINDOWPOS_UNDEFINED
./hey.go:19:3: undefined: sdl.WINDOWPOS_UNDEFINED
./hey.go:21:3: undefi

[2020-01-29 10:50] veeableful commented on #447
Hi @Zaya6, do you already have SDL2 compiled for MIPS architecture? If so, what happens if you run `go get -v github.com/veandco/go-sdl2/sdl`?

[2020-02-03 11:11] deveshd020 opened #448 "skipping incompatible"
**github.com/veandco/go-sdl2/sdl
# github.com/veandco/go-sdl2/sdl
/usr/bin/ld: skipping incompatible /usr/local/lib/libSDL2.so when searching for -lSDL2
/usr/bin/ld: skipping incompatible /usr/local/lib/libSDL2.a when searching for -lSDL2
/usr/bin/ld: skipping incompatible //usr/lib/x86_64-linux-gnu/libSDL2.so when searching for -lSDL2
/usr/bin/ld: skipping incompatible //usr/lib/x86_64-linux-gnu/

[2020-02-04 02:00] veeableful commented on #448
Hi @deveshd020, could you tell me the operating system and what you did to produce this? Thanks!

[2020-02-04 03:48] AndrewSav commented on #328
Just to leave some feedback - I picked up it today on Windows, and had no problem whatsoever of building the example in readme - just followed the steps. This may be no longer an issue.

[2020-02-04 16:33] deveshd020 opened #449 ""undefined reference""
when i do, go get   -v github.com/veandco/go-sdl2/{sdl,img,mix,ttf}

/tmp/go-build182250740/b001/_x038.o: In function `_cgo_16a2af4b4be1_Cfunc_SDL_ShowSimpleMessageBox':
/tmp/go-build/cgo-gcc-prolog:1198: undefined reference to `SDL_ShowSimpleMessageBox'
/tmp/go-build182250740/b001/_x038.o: In function `_cgo_16a2af4b4be1_Cfunc_SDL_ShowWindow':
/tmp/go-build/cgo-gcc-prolog:1213: undefined reference

[2020-02-04 16:41] #448 closed

[2020-02-05 09:30] veeableful commented on #328
Thanks @AndrewSav for confirming that it builds now. I will close this issue then. Feel free to reopen if it's not solved!

[2020-02-05 09:30] #328 closed

[2020-02-05 09:34] veeableful commented on #449
Hi @deveshd020, did you install SDL2 and its additional libraries (such as `SDL2_image, `SDL2_mixer` and `SDL2_ttf`)? Which Linux distribution are you running this on?

[2020-02-05 10:20] deveshd020 commented on #449
i m using ubuntu 18.04.0, and had installed : libsdl2{,-image,-mixer,-ttf,-gfx}-dev.

[2020-02-05 12:32] veeableful commented on #449
Hi @deveshd020, what kind of device are you running this on? I noticed that you are running on a 32-bit version of Ubuntu. How did you get Ubuntu 18.04 32-bit version? The issue doesn't occur to me even when I set `GOARCH` to `386` and there is no 32-bit version of Ubuntu 18.04 on the official website as far as I can tell. Any additional information would be helpful as well!

[2020-02-05 13:27] #449 closed

[2020-02-06 08:56] chilicat opened #450 "Problem: It is not possible to use multiple Viewports"
consider the following example. It creates two viewports and draws a simple rect into each.
I would expect to see a blue rect at 0,0 and a green rect at  200,0 but I only see the blue rect.

`
                 renderer.SetDrawColor(0, 0, 0, 0)
		renderer.Clear()
		rect := &sdl.Rect{0, 0, 100, 100}

		viewport1 := &sdl.Rect{0, 0, 100, 100}
		renderer.SetViewport(viewport1)
		renderer.SetDrawColor(0

[2020-02-07 13:12] veeableful commented on #450
Hi @chilicat, it seems to be the same with the C version below. I tried on Linux which worked but then it didn't work when I tried on macOS Mojave. I modified it a bit to have event loop which sometimes help but it still happens. I posted a question on the SDL2 Discourse [here](https://discourse.libsdl.org/t/unable-to-render-on-multiple-viewports-on-macos-mojave/27186).

[code]

[2020-02-11 06:02] veeableful commented on #450
Hi @chilicat, it seems like it is a bug in SDL2. It's been fixed in [Mercurial](https://hg.libsdl.org/SDL/rev/22308b7ba06c) so it should be okay in the next release of SDL2!

[2020-02-11 11:17] chilicat commented on #450
Ok, I close the ticket since it is an upstream issue.
Thanks @veeableful.

[2020-02-11 11:17] #450 closed

[2020-02-18 20:27] seletskiy opened #451 "Use of platform-specific int type for JoyDeviceAddedEvent.Which"
Line in question:

https://github.com/veandco/go-sdl2/blob/0f0aff6510ff6b885d668509789fbf6120e47d8c/sdl/events.go#L564

I believe this should be [declared as `int32`][1] instead of `int`, since it will be silently compiled as `int64` on 64-bit systems.

In particular, [`joystick-input`][2] example from `go-sdl2-examples` fails with panic because of that.

[1]: https://wiki.libsdl.org/SDL_JoyDevice

[2020-02-19 11:21] veeableful commented on #451
Hi @seletskiy, thank you for catching that. I have changed it to use `sdl.JoystickID` which is an `int32` in the latest patch version!

[2020-02-19 13:13] seletskiy commented on #451
@veeableful: nice one!

[2020-02-19 13:13] #451 closed

[2020-02-22 12:58] xTal96 opened #452 "os x rendering bug"
I'm having this bug with go-sdl2 on mac os x catalina, it seems like the renderer has a lot of padding, for example, this red box should be rendered at (0, 0):
<img width="912" alt="Screen Shot 2020-02-22 at 14 55 10" src="https://user-images.githubusercontent.com/10939574/75092755-af661100-5583-11ea-9270-e598b1de2a51.png">
after changing the window's position the box is renderer properly, like th

[2020-02-23 05:13] veeableful commented on #452
Hi @xTal96, could I bother you with providing an minimal example code that reproduces this? I simply would like to know if it's an issue with the binding or SDL2 itself.

[2020-02-24 15:16] xTal96 commented on #452
I updated my os to the latest version and now it won't happen,
closing

[2020-02-24 15:16] #452 closed

[2020-03-07 04:32] jclc commented on #425
This seems to have been fixed.

[2020-03-07 04:32] #425 closed

[2020-03-09 13:12] godstanis opened #453 "Linux->Windows10 cross compiled executable hangs/not responding (for loop drawing)"
From: _Ubuntu 18.04.4_
To: _Windows 10 x64 [17763.1039]_
Runtime win sdl2 dll: SDL2-2.0.10-win32-x64.zip (http://libsdl.org/download-2.0.php)

_I compile it to windows with the command in your documentation._

<hr>

Hello guys, I appreciate your work, library is great!) I guess I'm doing something wrong, but it works on Linux perfectly... I don't do any async stuff so tricks from FAQ didn't help.

[2020-03-10 14:35] veeableful commented on #453
Hi @godstanis, have you tried listening to `sdl.QuitEvent`? Something like this?

[code]

[2020-03-10 16:53] godstanis commented on #453
Hmm, thanks @veeableful, it works when i listen to events in the main thread :joy_cat: . I have actually been using `WaitEvent` method for a while in a separate goroutine (it feels a bit more comfortable and natural to do this thing separately), something like this:

[code]

I heard that there are some problems with multithreading and sdl2, but it actually works perfectly on my Ubuntu. Is there a

[2020-03-11 12:46] veeableful commented on #453
I must admit I don't know exactly why either :sweat_smile:.. but I have had applications freeze when using tight loop without some sort of delay / sleep on Windows GUI applications though I also do that just in general so as to free the CPU up to handle other things. Perhaps the event code can be rewritten to receive in batches? e.g. get all the available events with a for-loop and sleep for a whi

[2020-03-11 14:43] #453 closed

[2020-04-06 16:46] dev-abir commented on #434
Each color in colornames package is of type color.RGBA.
sdl.Color is also of type color.RGBA. [(see this)](https://github.com/veandco/go-sdl2/blob/9dccbdb139b8af63c31a3b46d37cc5629e18ab86/sdl/pixels.go#L74)
Now, if you try to display a simple rect using:
[code]
You will see a blue rect, instead of red. I think there is a problem with the ```Uint32()``` method

[2020-04-06 17:13] dev-abir commented on #424
[This example from @veeableful](https://github.com/veandco/go-sdl2/issues/424#issue-483203493)

Though the following code is not working. It is showing a blue rectangle, on GNU/Linux, I haven't tested it on Windows.
[code]

[2020-04-07 16:01] veeableful commented on #424
Hi @dev-abir! Unfortunately, the default pixel format used by the window surface is RGB888 which is incompatible with sdl.Color (RGBA8888).

You can work around this by creating another surface with matching pixel format and then blit it on to the window surface, like this:

[code]

[2020-04-08 11:11] dev-abir commented on #424
Okay thanks

[2020-04-09 18:22] jdavid5815 commented on #299
I can't seen to use that brew option:

Error: invalid option: --with-mpg123

Update brew and made sure that mpg123 was installed .. to no avail.

[2020-04-17 14:57] l-f-h opened #455 "why do some original functions not exist in this project?"
Some original functions suck like
[SDL_SetVideoMode](http://dranger.com/ffmpeg/functions.html#SDL_SetVideoMode)
[SDL_CreateYUVOverlay](http://dranger.com/ffmpeg/functions.html#SDL_CreateYUVOverlay)
etc...
I could't found them in go-sdl project, but we really need them!
why not add these functions?

[2020-04-17 15:57] gen2brain commented on #455
These functions are for SDL1 and are removed from SDL2. Bindings are for ver2 and there you create SDL_Texture with YV12 format for something like you want to do.

[2020-04-18 04:46] l-f-h commented on #455
Thanks~

[2020-04-18 05:15] #455 closed

[2020-05-01 06:29] TerensTare commented on #439
Hey @veeableful . I found [this](http://www.stroustrup.com/bs_faq2.html) faq hosted by Bjarne Stroustrup (the creator of C++). It says that you can export C++ classes to C code. That means that I can use C bindings to generate GoLang bindings (way simpler than rewriting the whole thing in GoLang).

[2020-05-02 19:57] Keithcat1 opened #457 "SDL_Mixer: Flac support not available"
FLAC support is not available.
I have mix.INIT_FLAC specified.
go version go1.14.1 windows/amd64

[2020-05-03 01:53] veeableful commented on #439
That's true. You could contribute to that project by writing C binding for them!

[2020-05-03 15:22] veeableful commented on #457
Hi @Keithcat1, could you post the a minimal code that reproduces the issue? I tried to reproduce it but was unable to.

[2020-05-04 05:54] snakeru opened #458 "CopyExF ignores src rect"
It seems that the F variant of CopyEx ignores the source rectangle.

This code
`renderer.CopyEx(texture, &sdl.Rect{W: 60, H: 60}, nil, 0, nil, sdl.FLIP_NONE)
`
correctly renders the cropped texture full-screen.

This code however
`renderer.CopyExF(texture, &sdl.FRect{W: 60, H: 60}, nil, 0, nil, sdl.FLIP_NONE)`
renders the whole texture full-screen.

[2020-05-04 06:03] snakeru commented on #311
I think this got closed some time ago. Currently all three of these functions have Go-style signatures. For example:

`func GetDisplayBounds(displayIndex int) (rect Rect, err error)`

[2020-05-04 13:55] dev-abir opened #459 "DrawRectF, FillRectF are not working"
This is my code:

[code]

The methods DrawRectF and FillRectF are not rendering anything on the screen. Whereas, if I use just DrawRect and FillRect in place of them then I can see the expected results.

The CopyExF method is also not working. Am I doing something wrong here or it's a bug?

[2020-05-04 15:16] veeableful commented on #459
Hi @dev-abir, I can't seem to reproduce the issue on Linux, macOS, or Windows. Are you perhaps using an old version of SDL2? The functions are introduced on SDL 2.0.10.

[2020-05-04 15:22] veeableful commented on #311
Nice catch @snakeru! I think I will close this for now then. If there's some other functions that haven't been converted, this issue can be re-opened!

[2020-05-04 15:22] #311 closed

[2020-05-04 15:28] dev-abir commented on #459
No.

According to my go.mod file, it is using go-sdl v0.4.1(which should use SDL 2.0.10)

[2020-05-04 15:49] veeableful commented on #459
Ah are you using the static compilation method? Unfortunately, the SDL2 included is at version 2.0.9. However, if you're using a standard `go build` command, it will use the SDL2 library of the system.

[2020-05-04 16:56] dev-abir commented on #459
I used `GetVersion(...)` method to find the SDL version it is using.
I tried to build [this way](https://github.com/veandco/go-sdl2#static-compilation), and I found that it is using 2.0.9, it was previously using 2.0.8.

But still I am facing the same issue.

[2020-05-05 12:17] veeableful commented on #459
Hi @dev-abir, I'm so sorry. We will try to update the static library to match the latest version. In the meantime, perhaps you could use the `go build` method and install a more up-to-date version of SDL2 in your system? What operating system are you running? I could guide you on how to install it if you'd like.

[2020-05-05 14:06] dev-abir commented on #459
I use an ubuntu-based distro, while developing my application.

I may cross-compile the application for Windows, Mac and other linux distros.

I don't want to mess with the SDL2 installed in my system. I would like to link the libraries statically (maybe by replacing the old libraries inside `.go-sdl2-libs`), and thanks for helping me :-)

[2020-05-05 18:13] Keithcat1 commented on #457
package main
import(
"github.com/veandco/go-sdl2/mix"
"time"
"os"
)
func HandleError(err error) {
	if err!=nil { panic(err) }
}
func main() {
	if len(os.Args)<2 {
		println("Usage: File\n")
		os.Exit(0)
	}
	file:=os.Args[1]
	HandleError(mix.Init(mix.INIT_MP3|mix.INIT_OGG|mix.INIT_FLAC))
	HandleError(mix.OpenAudio(mix.DEFAULT_FREQUENCY, mix.DEFAULT_FORMAT, mix.DEFAULT_CHANNELS, mix.DEFAULT_CHUNKSIZ

[2020-05-07 12:00] veeableful commented on #459
I see.. in that case, it can't be helped. I will let you know here once the static libraries have been updated!

[2020-05-07 12:24] dev-abir commented on #459
What is the other way?

[2020-05-07 12:35] veeableful commented on #459
The other way I can think of is to download the source from https://libsdl.org/download-2.0.php, extract the library archive and run `make` inside it. After that, set `PKG_CONFIG_PATH` so  it can find the `sdl2.pc` file which I believe should reside in the `lib` directory.

Another way is perhaps you can set `PREFIX=$HOME/.local`  and run `make; make install` and also set `PKG_CONFIG_PATH=$HOME/.l

[2020-05-07 18:08] veeableful commented on #457
Hi @Keithcat1, could you tell me what kind of error did you encounter? Depending on the problem, it might be possible to solve the issue by copying the SDL2 *.dll files. For example:
[code]

Your MinGW version might be a little different!

[2020-05-07 18:26] veeableful commented on #458
Hi @snakeru, I'm sorry for the wait. I have pushed the fix up to the master branch. Could you please test it out and let me know if it solves the issue? Once it's confirmed to be fixed on your side, I will immediately tag it as the next patch release!

[2020-05-07 19:33] snakeru commented on #458
Hi @veeableful. You call that a wait???
Frankly, I thought that this is an upstream bug and therefore it will take months to be fixed.

Anyway, it works now. Many thanks! you can include this into your next release.

[2020-05-07 19:51] veeableful commented on #458
Haha I usually try to respond within two days so it's a relief that you didn't wait long 😃

In any case, I have pushed it as v0.4.2!

[2020-05-08 18:04] Schobers commented on #458
Added PR #460 for the Renderer.CopyF signature.

[2020-05-09 03:24] veeableful commented on #458
Hi @Schobers, thank you so much! I have merged the commit and tagged it as the next patch release.

[2020-05-09 18:04] Keithcat1 commented on #457
panic: FLAC support not available

goroutine 1 [running, locked to thread]:
main.HandleError(...)
        command-line-arguments/s.go:8
main.main()
        command-line-arguments/s.go:16 +0x1fa

[2020-05-11 06:24] veeableful commented on #457
Hi @Keithcat1, did you try coping the *.dll files into your program directory? If you have, could you list the files in your program directory (with `ls -lh` for example)? There should be a .dll file for FLAC.

[2020-05-12 12:18] gen2brain commented on #459
Static libraries are now updated.

[2020-05-12 12:45] gen2brain commented on #395
Static libraries are updated, now with Vulkan support. I tried your demo and it works.

[2020-05-12 14:52] veeableful commented on #459
Thank you so much @gen2brain! I have tagged it as the next patch release :smiley:

[2020-05-12 21:50] neophob opened #461 "go vet issue: Surface not declared by package sdl"
Hi thanks for that nice library! I use v0.4.4 in my project (https://github.com/neophob/ganother-world). anyway when i run `go vet` it reports this error:

[code]

hal-sdl.go line 17 looks like (https://github.com/neophob/ganother-world/blob/master/sdl/hal-sdl.go#L17):
[code]

I did not experience any issue with the lib itself, its more a question why it appears as error... let me know if you need

[2020-05-13 06:14] neophob commented on #461
doh! `GOARCH=wasm GOOS=js go vet `of course go complains if I compile the wasm version. sorry for the noise!

[2020-05-13 06:14] #461 closed

[2020-05-17 15:59] dock-lab commented on #337
Hey @malashin

your example with the docking windows is exactly what I was looking for thanks a lot.

In the first window I create a WebView using :
[https://github.com/zserge/webview](https://github.com/zserge/webview)

This also works so far, except for a few slight delays when moving a window. The other window will follow after a short time.

I just wonder if it is possible to put these two int

[2020-05-23 06:09] bartgrantham opened #462 "mac->linux cross compiling fails on linking "unknown option: --no-undefined""
I'm having trouble cross-compiling from mac (darwin) to linux, both amd64.  I am running go version **go1.14.3 darwin/amd64**.

The program in question can be statically compiled for macOS (compiler host), and statically cross-compiled from macOS to Windows.  But static cross-compiling from macOS to linux gives the following error during linking:

[code]

I've read elsewhere that this is a gcc/cla

[2020-05-23 10:59] gen2brain commented on #462
To cross-compile something that uses CGO you need to have a toolchain and compiler for that platform installed. For example, CC=x86_64-w64-mingw32-gcc when you cross compile for Windows, or CC=arm-linux-androideabi-clang for Android etc.

It seems you are just trying to add GOOS=linux and GOARCH=amd64 with your native compiler?

[2020-05-23 21:56] bartgrantham commented on #462
Now that you say this (and after sleeping on it), this makes perfect sense.  I did install `x86_64-w64-mingw32-gcc` in order to have a Windows cross-compiler, but I haven't installed one for Linux.  I guess part of why I was confused is because I was mixing up my native macOS gcc (which I have installed) and a Linux gcc cross-compiler (which I do not).

Is there a homebrew package for linux-gcc?

[2020-05-23 22:48] danielgatis opened #463 "`RenderUTF8Blended` doesn't work well"
Hi!

I'm trying to write some strings:

[code]

With this font:
[code]

But I'm getting this output:
<img width="614" alt="Screen Shot 2020-05-23 at 19 46 31" src="https://user-images.githubusercontent.com/7380/82741931-20a59380-9d2e-11ea-8c5c-a7c5f4e59294.png">

What's wrong?

[2020-05-25 09:38] veeableful commented on #463
Hi @danielgatis, does the font contain the emoji? I tested with other fonts such as NotoColorEmoji and it seems to draw it.

[2020-05-25 20:50] Schobers commented on #462
Got the same issue on Linux using go1.14.3 linux/amd64 and gcc 7.5.0 (the default compiler currently for the distribution I'm using). The previous libraries (with go1.13.8) didn't have this issue. Output when go build-ing (-tags static):

[code]

[2020-05-26 01:54] danielgatis commented on #463
@veeableful
you are right, I also did the same teste but the glyph color is grayscale. There is no color support?

[2020-05-27 02:51] #463 closed

[2020-05-27 21:45] Keithcat1 opened #464 "-Wl,-no-undefined breaks LLD linker"
Hi,
IT seems that Clangs LLD linker doesn't recognize the -Wl,-no-undefined argument and crashes.
Can it be removed or altered?

[2020-05-29 14:36] veeableful commented on #464
Hi @Keithcat1, could you try setting the version to the previous release `v0.4.3`? I suppose there's something different with the way the static libraries are built this time which will take us some time to find out the cause.

[2020-05-30 15:59] gen2brain commented on #464
I think that was just a way to silence some errors, not sure if those are still valid, and it is disabled on darwin. Anyway, if it makes problems it can safely be removed.

[2020-06-03 17:32] newtorn opened #465 "how to build for linux on macOS"

[2020-06-04 19:41] nasermirzaei89 commented on #465
Try to build in Docker or you can build in CI and grab binary from artifacts (in GitLab)

[2020-06-05 02:50] veeableful commented on #465
Hi @newtorn, did you try this command?
[code]

[2020-06-05 07:45] nasermirzaei89 commented on #465
Is `gcc` in macOS useful for building Linux binaries?

[2020-06-05 07:51] veeableful commented on #465
Hi @nasermirzaei89, yes I believe so. It points to the `clang` compiler.

[2020-06-18 19:51] QiProject opened #466 "Plan to add iOS compilation support ?"
Or any guide that's we could build it our own ?

[2020-06-22 01:36] veeableful commented on #466
Hi @QiProject,

We don't have any effort in adding iOS compilation support yet as I'm unknowledgeable in that area. We certainly could use some help! Otherwise, I might need to learn about the iOS development process.

[2020-06-24 01:21] QiProject commented on #466
It’d be great if it could support iOS since sdl itself support iOS,
And go is a such good Lang to work, hope id help some of this in the future.

[2020-06-24 01:21] #466 closed

[2020-07-04 01:32] nathan-fiscaletti commented on #436
@dpeckham I'd like to know as well, any solution? I'm seeing this happen on Mojave, but not on Catalina and I'm a little confused.

[2020-07-05 06:31] veeableful commented on #436
Hi @nathan-fiscaletti, would you be able to provide me with a minimal code that reproduces the issue? I have two Macbooks which run Mojave and Catalina so I can test this and hopefully find the issue!

[2020-07-05 07:00] nathan-fiscaletti commented on #436
@veeableful

I'm seeing it happen on Catalina now as well. After some more testing, I've been able to discover that for some reason, my canvas is not the same size as the initial values i had originally passed to `sdlcanvas.CreateWindow()`.

Here is some sample code.

[code]

When I run it, I get this output:

![Output display](https://user-images.githubusercontent.com/1699763/86527295-419bf100-be

[2020-07-05 07:11] nathan-fiscaletti commented on #436
And I'm just now realizing this issue is in a dependant library of the one I'm using. So the issue may be in the higher level library, but it could be here. I really don't know :( it does sound somewhat like @dpeckham was experiencing something similar though.

[2020-07-06 13:38] veeableful commented on #436
Hi @nathan-fiscaletti, I discovered that you can disable the high DPI scaling by setting the SDL2 hint like below:

[code]

before creating your window. Would this help?

[2020-07-10 04:40] nathan-fiscaletti commented on #436
That seems to fix it!

[2020-07-10 10:09] bejaneps opened #467 "No rendering when running on separate goroutine"
So, basically I'm following justforfunc series, and started to build flappy gopher game. I've run into an issue that after running a renderer in a separate goroutine it doesn't copy texture to window.

**Minimal reproduction**
1. Build game: ```go build *.go```
2. Run it: ```./main```
3. Draws only _Flappy Gopher_ title on window, no bird and background.

Goversion: 1.14.4
OS: Elementary OS Juno

[2020-07-11 03:46] bejaneps commented on #467
Up

[2020-07-13 23:30] RoganMatrivski opened #468 "Manipulating Pixel on SDL.Texture Didn't Work as Expected"
I've made a simple program that will make a square window filled with a blue gradient. Here's the snippet:
[code]
And it works as expected

![image](https://user-images.githubusercontent.com/19743747/87363271-01dbb480-c59b-11ea-8ff5-be39cfaae1a8.png)

But if I change the width to a smaller value, this error shows up:

![image](https://user-images.githubusercontent.com/19743747/87363330-22a40a00-c5

[2020-07-14 14:10] watchdog19 opened #469 "# github.com/veandco/go-sdl2/sdl cc1.exe: sorry, unimplemented: 64-bit mode not compiled in"
This is the error message i get

[2020-07-15 04:13] veeableful commented on #469
Hi @watchdog19, could you mention your operating system and Go version (run `go version`), and the command you ran to get the error message?

[2020-07-15 04:15] veeableful commented on #467
Hi @bejaneps, sorry for the wait. Could you post a minimal example that reproduces the issue? I don't have all the assets so it would be very helpful if you can share a tiny project that requires no assets and reproduces the same issue so I can see what's going on.

[2020-07-15 13:44] Noofbiz commented on #467
I'm not sure if SDL supports using Renderer.Paint off the main thread. The only things I'm seeing that allow you to do so is via OpenGL contexts, not directly using the Renderer. [Here](https://stackoverflow.com/questions/6172020/opengl-rendering-in-a-secondary-thread?rq=1) and [here](https://stackoverflow.com/questions/17981101/sdl-2-0-create-window-in-main-thread-but-do-all-rendering-in-separate

[2020-07-17 16:08] lemon37564 opened #470 "sdl.Renderer Present() cause program no responding"
I was using renderer.Present() after Copy some texture in a for loop, and sometimes the program just froze and no responding.
I try to print some message to figure out where's the problem, and the output was able to print the line before Present(), but not able to reach the line after Present(), so I think it might be the problem.
How can I fixed it or it is a bug?

a part of my code:
[code]

[2020-07-18 06:03] #470 closed

[2020-07-18 07:18] veeableful commented on #468
Hi @RoganMatrivski, I'm really sorry for the wait! I believe the `currentIdxPos` line should be `currentIdxPos := (x + y * texLockedX) * 4` so it multiplies the width by the y instead of the height by the y.

[2020-07-19 04:31] RoganMatrivski commented on #468
Oh god that was a dumb mistake. After fixing it with your suggestions it works. Thanks! And sorry for taking your time.
![image](https://user-images.githubusercontent.com/19743747/87867077-5cb64700-c9b3-11ea-8483-d104ac0afc2f.png)

[2020-07-19 04:31] #468 closed

[2020-07-19 06:39] watchdog19 commented on #469
I use Windows
**go env**
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\Osose\AppData\Local\go-build
set GOENV=C:\Users\Osose\AppData\Roaming\go\env
set GOEXE=.exe
set GOFLAGS=
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOINSECURE=
set GONOPROXY=
set GONOSUMDB=
set GOOS=windows
set GOPATH=C:\Users\Osose\go
set GOPRIVATE=
set GOPROXY=https://proxy.golang.org,direct
set GOROOT=

[2020-07-21 09:51] #469 closed

[2020-08-01 00:17] Linus4 opened #471 "Alpha blending doesn't work on Windows"
#### Description

Rendering a string using the `RendererUTF8Blended` [function](https://godoc.org/github.com/veandco/go-sdl2/ttf#Font.RenderUTF8Blended) from the ttf package ignores the alpha value specified in the `sdl.Color` after cross-compiling from Linux to Windows. It does, however, work on Linux.

#### Code example

[code]

#### Library version

v0.4.4

[2020-08-03 03:46] wenchaomartin opened #472 "can't install sdl2 in win10"
win10  professional

D:\Program Files\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0\mingw64

i am  newer in go ,
i install the sdl from descprition
flow the step 1,2
but get error when type the command go get -v

github.com/veandco/go-sdl2/sdl
![image](https://user-images.githubusercontent.com/16484054/89143938-e4d54880-d57e-11ea-9b81-691b86583810.png)

[2020-08-03 06:02] veeableful commented on #471
Hi @Linus4, have you tried setting the texture's blend mode via `textTexture.SetBlendMode(sdl.BLENDMODE_BLEND)` before copying it onto the renderer surface?

If that doesn't work, could you provide a minimal but complete application code that I can just build? Thanks!

[2020-08-03 06:09] veeableful commented on #472
Hi @wenchaomartin, could you post the full output of the `go get -v`? Thanks!

[2020-08-03 08:53] wenchaomartin commented on #472
$ go get -v github.com/veandco/go-sdl2/sdl

output

github.com/veandco/go-sdl2/sdl
# github.com/veandco/go-sdl2/sdl
src\github.com\veandco\go-sdl2\sdl\audio.go:6:26: error: missing binary operator before token "("
 #if !(SDL_VERSION_ATLEAST(2,0,4))
                          ^
src\github.com\veandco\go-sdl2\sdl\audio.go:25:26: error: missing binary operator before token "("
 #if !(SDL_VERSION_ATLEA

[2020-08-03 12:24] Linus4 commented on #471
Hi @veeableful , I tried out setting the texture's blend mode, but it did not change anything.

Here's a small test-application:
[alpha-blending-issue-app.zip](https://github.com/veandco/go-sdl2/files/5015891/alpha-blending-issue-app.zip)

main.go
[code]

This is using `go-sdl v0.4.4` and `CGO_ENABLED=1 CC=x86_64-w64-mingw32-gcc GOOS=windows GOARCH=amd64 go build -tags static -ldflags "-s -w"` to

[2020-08-04 10:15] veeableful commented on #471
Ah I think I might have found the problem. It seems that the included SDL_ttf static library in the repository is on version 2.0.14 which apparently doesn't support alpha component of text color (according to the release note of 2.0.15 [here](https://discourse.libsdl.org/t/sdl-ttf-2-0-15-released/25671)). I'll see if I can update it.

[2020-08-04 15:21] veeableful commented on #472
Hi @wenchaomartin, I could not replicate the problems. Could you print the output of `go version`, `uname -a`, and `go env` as well? I wonder if it's because of old compiler or some mismatch in configurations. Thanks again!

[2020-08-05 02:24] wenchaomartin commented on #472
hi @veeableful
C:\Users\Administrator>go version
go version go1.14.1 windows/amd64

$ uname -a
MINGW64_NT-10.0-18362 DESKTOP-T90CO9O 3.0.7-338.x86_64 2019-07-03 15:16 UTC x86_64 Msys

C:\Users\Administrator>go env
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\Administrator\AppData\Local\go-build
set GOENV=C:\Users\Administrator\AppData\Roaming\go\env
set GOEXE=.exe
set GOFLAGS=

[2020-08-05 06:03] veeableful commented on #472
Hi @wenchaomartin, how did you install the native SDL2 libraries? Did you do any modifications at all? From what I see, it looks like the compiler could not find the macro `SDL_VERSION_ATLEAST` and that might be caused by some missteps during the installation of native SDL2 libraries.

Perhaps you could try a fresh install of the native SDL2 libraries and see if it solves the problem? If possible,

[2020-08-09 09:03] veeableful commented on #471
Hi @Linus4, sorry for the wait! I've been struggling to develop an automated way to update all the static libraries as it was created by another contributor with very different OS setup from mine. As a workaround, I have managed to build static library version of SDL2_ttf for Windows amd64. You can replace the `libSDL2_ttf_windows_amd64.a` file in `$GOPATH/src/github.com/veandco/go-sdl2/.go-sdl2-l

[2020-08-11 18:22] Linus4 commented on #471
Hi @veeableful , thanks for your help! I'm getting a few errors when I try to build the test application with your version of `libSDL2_ttf_windows_amd64.a` (without go modules). I think for my main project though, I need to use modules.

[code]

[2020-08-12 03:58] Linus4 commented on #471
I'm working on Fedora and they provide a package `mingw32-SDL2_ttf` which is on version `2.0.15`. I took the library and used it to compile the test application. It worked and alpha blending worked on windows, too.

[2020-08-12 07:16] veeableful commented on #471
Hi @Linus4, thanks for working it out and providing me the solution! Did you copy just `libSDL2_ttf.dll.a` file, replace `.go-sdl2-libs/libSDL2_ttf_windows_386.a`, and ran `CGO_ENABLED=1 CC=i686-w64-mingw32-gcc GOOS=windows GOARCH=386 go build -tags static -ldflags "-s -w"`? I tried that but it doesn't seem to run on my Windows VM.

If this method works, I'll update the libraries with the librarie

[2020-08-12 08:55] Linus4 commented on #471
Hi @veeableful , this is what I did:
`sudo cp /usr/x86_64-w64-mingw32/lib/libSDL2_ttf.a $GOPATH/src/github.com/veandco/go-sdl2/.go-sdl2-libs/libSDL2_ttf_windows_amd64.a`, (removed go.mod and go.sum) and then `CGO_ENABLED=1 CC=x86_64-w64-mingw32-gcc GOOS=windows GOARCH=amd64 go build -tags static -ldflags "-s -w"`.

I'm not 100% sure the file `libSDL2_ttf_windows_amd64.a` comes from the `mingw32-SD

[2020-08-12 14:02] wenchaomartin commented on #472
hi @veeableful  i switch another computer win10 professional,  i install all stuff again , but  found following

$ go get -v github.com/veandco/go-sdl2/{sdl,img,mix,ttf}
github.com/veandco/go-sdl2/ttf
github.com/veandco/go-sdl2/img
github.com/veandco/go-sdl2/mix
github.com/veandco/go-sdl2/ttf

In file included from go\src\github.com\veandco\go-sdl2\ttf\sdl_ttf.go:5:
./sdl_ttf_wrapper.h:2:11: fatal

[2020-08-13 07:02] veeableful commented on #471
Hi @Linus4, I couldn't find the file `/usr/x86_64-w64-mingw32/lib/libSDL2_ttf.a` even after I installed the three packages `mingw32-SDL2_ttf`, `SDL2_ttf`, and `SDL2_ttf-devel`. Did you compile and install SDL2_ttf yourself using the MinGW compiler?

Since I couldn't make it work with the Fedora package, I tried another way which is to download from [MSys](https://packages.msys2.org/package/mingw-w

[2020-08-13 07:04] veeableful commented on #472
Hi @wenchaomartin, it looks like you haven't installed [SDL2_ttf](https://www.libsdl.org/projects/SDL_ttf) and [SDL2_image](https://www.libsdl.org/projects/SDL_image). You should be able to install them the same way as SDL2.

[2020-08-13 14:30] Linus4 commented on #471
Hi @veeableful , now that you say it, I probably did compile and install SDL2_ttf myself, but I forgot because this was more than a year ago. :P
It worked with the library from MSys. :tada: I moved `libSDL2_ttf.a` to `.../.go-sdl2-libs/libSDL2_ttf_windows_amd64.a` and built the app like I did before.

[2020-08-13 16:27] wenchaomartin commented on #472
@veeableful  thanks a lot ,  i test sample code from read.me, popup a   windows which contains red rectangle .

[2020-08-13 16:27] #472 closed

[2020-08-14 08:47] veeableful commented on #471
Hi @Linus4, thanks for trying the MSys packages out! I have updated the Windows SDL2_ttf libraries but decided not to increment the version since we can just use the commit (e.g. `go get -u -v github.com/veandco/go-sdl2/sdl@e1e6fdd`) and this update is somewhat different from normal procedure so I don't want to risk it just yet. So if you don't mind, could you use the commit as the version for now

[2020-08-14 11:55] Linus4 commented on #471
Hi @veeableful , I've tried it with the command you posted and everything worked perfectly! Using the commit as the version is fine. Thank you! :partying_face:

[2020-08-15 05:56] veeableful commented on #471
Yay, I'm glad that it works! And you're welcome 😃

[2020-08-17 10:09] pavankumar-go commented on #465
Need Help!! building for linux on MacOS
CGO_ENABLED=1 CC=gcc GOOS=linux GOARCH=amd64 go build -tags static -ldflags "-s -w"
# github.com/veandco/go-sdl2/sdl
ld: unknown option: --no-undefined
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2020-08-19 04:02] veeableful commented on #465
Hi @pavankumar-go, I believe I could cross-compile to Linux successfully before on macOS but now I also get the same error (though I'm now on the newer macOS Catalina instead of Mojave). It could be caused by the new OS or Xcode updates. What do you think of using Docker to build it? I will create the Docker image later and it can be used as an alternative way to cross-compile to other OS. Linux i

[2020-08-19 10:12] veeableful commented on #465
I have created a Docker image that I've tried on macOS Catalina to compile go-sdl2 application. After installing and launching [Docker](https://www.docker.com/products/docker-desktop), you should be able to go to the application directory and run `docker run --rm -e GOOS=linux -e GOARCH=amd64 -e CC=gcc -v $PWD:/opt/app veandco/go-sdl2`. Th output executable should in the current directory. Please

[2020-08-20 05:57] pavankumar-go commented on #465
Hi @veeableful tried building using your docker image still no luck :(
[code]