[2013-12-21 16:11] fire opened #1 "SDL_GetWindowWMInfo is not wrapped"
SDL_GetWindowWMInfo isn't wrapped.

[2014-01-03 03:39] #1 closed, assigned to aqiank

[2014-01-03 07:23] fire opened #2 "SDL_GetTicks is missing"
The function SDL_GetTicks is missing.

[2014-01-08 13:43] #2 closed, assigned to nobody

[2014-01-08 13:44] fire opened #3 "C.free requires // #include <stdlib.h>"
On Windows, every time you use C.free you require // #include <stdlib.h>.

[2014-01-16 20:07] fire opened #4 "Given a *uint8 from state how do I test if a scancode is pressed?"
Given a *uint8 from state how do I test if a scancode is pressed?

http://wiki.libsdl.org/SDL_GetKeyboardState

I can do state := sdl.GetKeyboardState(nil), but then state is a pointer. Should this api be a map so I can test using a key such as SDL_SCANCODE_RETURN?

[2014-01-19 08:05] akovaski opened #5 "Clipboard Update Event causes panic"
Updating the clipboard, then focusing on the sdl window causes a panic under PollEvent under goEvent:

"panic: Unknown event type: 2304"
(The panic is at sdl/sdl_events.go:424)

2304 = 0x900 = sdl.CLIPBOARDUPDATE

To fix this, a case for CLIPBOARDUPDATE needs to be added to goEvent.

As far as I can tell, there is no data with CLIPBOARDUPDATE events, so an empty struct should probably suffice.

[2014-01-19 09:00] #4 closed, assigned to nobody

[2014-01-19 18:13] #5 closed, assigned to nobody

[2014-01-20 03:55] fire opened #6 "Get the type number of a event?"
How do you get the type number of an event. I want to get the number of the event and print the string of what it does.

[2014-01-20 20:28] fire opened #8 "GetWMInfo doesn't set Version variable."
It seems like it doesn't set the variable Version.

[2014-01-21 01:13] #6 closed, assigned to nobody

[2014-01-30 09:00] T12E opened #9 "WaitEvent() method broken"
I couldn't manage to use the `WaitEvent()` method, and so I posted a question on golang-nuts [1] and it seems  the method is not usable.

A gentleman posted a fix :

[code]

[1] https://groups.google.com/forum/#!topic/golang-nuts/7yKTzmB-cgE

[2014-01-30 09:10] #8 closed, assigned to nobody

[2014-01-30 11:21] #9 closed, assigned to nobody

[2014-01-30 14:31] akovaski opened #10 "Fixing the other Event funcions"
Continuing on from the last issue...
PeepEvents, WaitEventTimeout, and PushEvent are still broken.
- PeepEvents needs to use a slice instead of an Event pointer
- PeepEvents and WaitEventTimeout suffer from the same problem that WaitEvent had
- PushEvent probably suffers from the same problem

I'm posting this as an issue instead of a pull request because I'm about to raise another issue about ref

[2014-01-30 14:44] akovaski opened #11 "Refactoring Event functions"
(See fixing Event functions issues first #10 )
So Carlos in the google groups thread suggested to make WaitEvent more like PollEvent by returning an Event instead of taking a pointer as a parameter.

I think the other functions can be refactored as well:
- WaitEvent(*Event) int -> WaitEvent() Event
- WaitEventTimeout(*Event, timeout) int -> WaitEventTimeout(timeout) Event
- PushEvent(*Event) int -

[2014-02-02 02:54] #10 closed, assigned to nobody

[2014-02-05 01:39] #11 closed, assigned to nobody

[2014-02-15 07:52] thanthese opened #17 "`package main` commented out in examples"
`package main` is commented out at the top of each of the examples. `go run` doesn't work without it.

Fix: uncomment the 3rd line in the 4 example files.

[2014-02-15 16:31] #17 closed, assigned to nobody

[2014-04-21 18:55] zygm0nt opened #23 "'SDL_HasAVX' undeclared"
Hi

I'm getting the following error when executing `go get`

[code]

[2014-04-21 20:33] #23 closed, assigned to nobody

[2014-04-26 19:01] ghost opened #29 "SDL2/SDL_filesystem.h: No such file or directory"
I followed the installation instructions and installed the libsdl2 dev packages before trying the examples.

~/gocode/src/github.com/jackyb/go-sdl2$ go run examples/texture.go
github.com/jackyb/go-sdl2/sdl
sdl/sdl_filesystem.go:3:34: fatal error: SDL2/SDL_filesystem.h: No such file or directory
 // #include <SDL2/SDL_filesystem.h>
                                                        ^
compilati

[2014-04-27 07:56] #29 closed, assigned to nobody

[2014-05-11 15:54] Forsevin opened #38 "Unknown event type: 8192"
When creating a new window with sdl.WINDOW_RESIZABLE flag and later attempt at resizing the window or setting full screen through the window.FullScreen() method the program panics with "Unknown event type: 8192". Something similiar also happens when opening the task mananger with CTRL+ALT+DEL

Full error:
    C:/Users/ADMINI~1/AppData/Local/Temp/2/makerelease250988475/go/src/pkg/runtime/panic.c:26

[2014-05-12 09:37] hschendel opened #39 "Implement GetDisplayBounds"
Hi,

it would be very helpful if you could provide a Go version of the display information function SDL_GetDisplayBounds. Right now I have my own patch in sdl_video.go, but I'd prefer it to be in the official go-sdl2:

[code]

The function is very helpful if one wants to open a borderless fullscreen window to avoid switching the display mode.

Or is there a reason why you left it out?

BR
Hagen

[2014-05-12 10:25] #39 closed, assigned to nobody

[2014-05-15 13:49] JobLeonard opened #40 "Can't install on Ubuntu 14.04 using standard instructions"
EDIT: Instructions have been updated, but I will keep this open until the Ubuntu package is fixed.

I followed the instructions on readme.md, installed the SDL packages trough apt-get, the way it was suggested. So far no problems. Then, when trying to do

[code]

I get the following error:

[code]

Any ideas what I did wrong? Again, running Ubuntu 14.04.

[2014-05-28 15:05] #40 closed, assigned to nobody

[2014-05-29 09:21] skitoo opened #42 "SDL_BlitSurface"
Hello,

I don't find the SDL_BlitSurface function in go-sdl2.
Is it not implemented ? Is it planned ?

Thank you for your work :)

[2014-06-29 14:18] 22morph opened #46 "Missing SDL_AddEventWatch function."
I have looked around and I can't find this http://wiki.libsdl.org/SDL_AddEventWatch implemented as a function or method. Do you plan on including it?

[2014-07-16 14:04] zdychacek opened #47 "PNG Support"
Hello,

pls, is PNG image loading support (LoadPNG) planned?

Thanks for reply.

[2014-07-17 02:18] paulspychala opened #48 "GameController GetBind"
[code]

Will return a struct whose members are unexported (they are lowercase in gamecontroller.h) making this really hard to use.

[code]

[code]

[2014-07-17 04:14] #42 closed, assigned to nobody

[2014-07-17 04:14] #47 closed, assigned to nobody

[2014-07-21 18:20] gusbin opened #49 "events.go Compilation Error"
Hi all. I'm trying to install the SDL2 bindings and followed the instructions. However the compilation terminates at the events.go file, which the following:

D:\gocode\src\github.com\veandco\go-sdl2\sdl\events.go:5:20: fatal error: events
.h: No such file or directory
 #include "events.h"
                    ^
compilation terminated.

Looking at the events.go source I'm missing the events.h heade

[2014-07-22 01:32] #48 closed, assigned to nobody

[2014-07-22 18:15] #49 closed, assigned to nobody

[2014-07-30 10:05] #38 closed, assigned to nobody

[2014-08-16 09:47] #46 closed, assigned to nobody

[2014-08-27 11:10] EvanTheB opened #53 "SDL_MapRGB not implemented"
I was attempting to follow this tutorial while translating to go: http://lazyfoo.net/tutorials/SDL/10_color_keying/index.php
The tutorial introduces color keying (identifying the transparent color in a surface):
bmp := img.Load("resources/foo.png")

//C++
SDL_SetColorKey( loadedSurface, SDL_TRUE, SDL_MapRGB( loadedSurface->format, 0, 0xFF, 0xFF ) );
//Go
bmp.SetColorKey(1, sdl.Color{0xFF,0xFF,0x00

[2014-08-28 14:54] #53 closed, assigned to nobody

[2014-09-06 09:04] EvanTheB opened #54 "Panic from renderer.DrawPoint"
Hi, sorry I haven't been able to diagnose this one much at all. I have several (4) points being drawn to screen, some code updating positions and then points being redrawn.
Code@: https://github.com/EvanTheB/SDLGame
"go run game.go"
After about 30 seconds I get a panic:
https://gist.github.com/EvanTheB/c5b2051d4b6a85c48f83
"sdl._Cfunc_SDL_RenderDrawPoint" Seems to be the caller.
Let me know how I

[2014-09-10 18:21] JalfResi opened #55 "Problems with Go Get under OSX"
I've downloaded and installed the SDL development libraries found here:
https://www.libsdl.org/download-2.0.php
specifically:
https://www.libsdl.org/release/SDL2-2.0.3.dmg

I installed the framework by copying it to /Library/Frameworks/

However, when I run:
go get -v github.com/veandco/go-sdl2/sdl

I get the following output:

[code]

Any pointers would be much appreciated!

[2014-09-11 03:20] #54 closed, assigned to nobody

[2014-09-11 12:31] paked opened #56 "What is the state of a full go sdl port and how do I get involved?"
Two things:
* I see in the readme that there is talk, and a notion that a full go port of SDL could (and potentially should) be done. I feel this is the next step in go game (and other graphical application) development, and would love to be around if it happens.

* Is their is an IRC channel or a website where I could keep posted, get stuck into the community or perhaps contribute some code?

*No

[2014-09-13 19:38] #55 closed, assigned to nobody

[2014-11-09 15:22] denisdefreyne opened #62 "Unusable header search path using pkg-config on Mac OS X"
Attempting to run `go get -v github.com/veandco/go-sdl2/sdl` fails:

[code]

_sdl/sdl.go_ contains this:

[code]

_pkg-config_ returns an include path _with_ the SDL2/ directory:

[code]

So, since the _SDL2/_ directory is already in the search path, the _sdl/sdl.go_ comment should probably be changed to include _SDL.h_ directly, rather than _SDL2/SDL.h_:

[code]

I don’t know how this affects non

[2014-11-15 15:07] zan-xhipe opened #63 "Return error instead of nil checking"
At the moment when calling CreateWindow or CreateRenderer, etc, you have to check if the return is nil, and then call sdl.GetError(). These functions should instead return an error (gotten by GetError) as a second return value.

This is more Go like, and lets someone using library know that they should check for an error. Someone who doesn't have an intimate knowledge of sdl might not know when th

[2014-11-17 15:36] #63 closed, assigned to nobody

[2014-12-01 21:31] AlasdairWJ opened #65 "No such file "SDL.h" ??"
Hi, I'm having issues setting this up on windows. When I run "go get -v github.com/veandco/go-sdl2/sdl" I get a error regarding "SDL.h", Which seems odd as not only is this line a comment, but is not even the correct c header for sdl (which would be "SDL2/SDL.h" ?). Here's what it gives me (using msys):

[code]

Any thoughts?

[2014-12-02 06:34] ghost opened #66 "SDL_GameControllerName is missing?"

[2014-12-02 07:33] #66 closed, assigned to nobody

[2014-12-02 12:36] #65 closed, assigned to nobody

[2014-12-02 12:55] #62 closed, assigned to nobody

[2014-12-03 07:53] kasworld opened #67 "import sdl make program show testing args"
write program import sdl like
package main

import (
    "flag"
    _ "github.com/veandco/go-sdl2/sdl"
)

func main() {
    flag.Parse()
}

and run with -? argument show
 -test.bench="": regular expression to select benchmarks to run
  -test.benchmem=false: print memory allocations for benchmarks
  -test.benchtime=1s: approximate run time for each benchmark
  -test.blockprofile="": write a gorouti

[2014-12-03 12:57] #67 closed, assigned to nobody

[2014-12-04 00:26] Allyally opened #68 "Intermittent SIGSEGV Issues"
I'm getting segfault errors about 30-40% of the time when running my sdl2 compiled programs. Every other time works fine. In this example this is my code (An altered example):
https://dl.dropboxusercontent.com/u/22109038/Go/sdltest.go

Here's my gdb output

[code]

[2014-12-04 20:02] morcmarc opened #69 "Problems installing the package"
Hi,

I have a problem installing the package; it looks like the compiler gets into an infinite loop while trying to look up the `sdl.h` header. I wonder whether it's caused by the `#include <SDL.h>` line in `sdl/sdl.h`, it may be trying to include itself and not the "global" one?

Error log:
[http://pastebin.com/NKD45Mce](http://pastebin.com/NKD45Mce)

Environment:
- OS X Yosemite
- Homebrew: sdl2

[2014-12-06 04:21] #69 closed, assigned to nobody

[2014-12-06 22:12] Stantheman opened #72 "Godoc comments including link to original library call"
I understand that this is library is in active development, but I think it would be helpful in the meantime to add some godoc comments to the library calls to at least link to the underlying SDL call. It would be incredibly convenient to be able to hit:

http://godoc.org/github.com/veandco/go-sdl2/sdl#Renderer.SetDrawColor

And (as a holdover before a stable release with documentation) have a link

[2014-12-10 11:58] GendoIkari opened #73 "'SDL_HINT_VIDEO_MAC_FULLSCREEN_SPACES' undeclared"
`37: error: 'SDL_HINT_VIDEO_MAC_FULLSCREEN_SPACES' undeclared (first use in this function)`

This is the error I find when installing and building the library. I think this is a problem somewhere in the sdl package, but I'm puzzled because I do not find where the hint is called.

My machine is a 14.04 (already patched) ubuntu 64 bit.

EDIT:
Probably the hint is added in sdl 2.2.0.2. If it is requi

[2014-12-10 17:37] AuroreDupont opened #74 "go-sdl2 does not compile on macos x"
I have the following error:

go get -v github.com/veandco/go-sdl2/sdl{,_mixer,_image,_ttf}
github.com/veandco/go-sdl2/sdl
# github.com/veandco/go-sdl2/sdl
gotree/src/github.com/veandco/go-sdl2/sdl/syswm.go:5:10: fatal error: 'SDL2/SDL_syswm.h' file not found
#include <SDL2/SDL_syswm.h>
         ^

Maybe the following line is missing:
# cgo pkg-config: sdl2

(from http://golang.org/cmd/cgo/)

[2014-12-11 00:16] AuroreDupont opened #75 "Example of go-sdl2 using go routines"
SDL2 has threading requirements. For instance, it would seem that the thread creating the main window needs also to be the same thread for manipulating the renderer and for pooling events.

Is it possible to use go routines with go-sdl2?

[2014-12-11 20:59] #73 closed, assigned to nobody

[2014-12-15 01:55] #74 closed, assigned to nobody

[2015-01-06 15:56] brunoqc opened #78 "Exception 0xc0000005 0x1 0x333249 0x6c7bec77 PC=0x6c7bec77 signal arrived during cgo execution"
I have this intermittent problem. Sometimes it crashes on launch.

[code]

[code]

[2015-01-06 16:47] jackyb commented on #78
I can't reproduce the error but I put a lock inside RenderText_Shaded(). Could you check if it helps?

[2015-01-06 17:02] brunoqc commented on #78
Do you mean like this?

[code]

[2015-01-06 17:06] jackyb commented on #78
Yes, does it help?

[2015-01-06 17:18] brunoqc commented on #78
No, I still have the problem randomly.

go version go1.4 windows/amd64
gcc (x86_64-posix-seh-rev1, Built by MinGW-W64 project) 4.9.2
SDL2_ttf-devel-2.0.12-mingw
SDL2-devel-2.0.3-mingw

It's weird that I have a different version for ttf but I got the latest version of both yesterday.

[2015-01-06 17:20] jackyb commented on #78
Could you show me the error again? Just want to see if it still happens at the same function.

[2015-01-06 17:45] brunoqc commented on #78
You're right. I should have seen that.

[code]

I added a lock to OpenFont but now I still have :
[code]

Line 84 is OpenFont's last line (it was line 81 before I added the lock so it seems the lock isn't working):
[code]

[2015-01-06 20:37] akovaski commented on #78
I have the same setup and cannot reproduce this. Perhaps go is building using an old version of go-sdl2; have you tried clearing your %GOROOT%\pkg folder and building again to see if the problem persists?

[2015-01-06 20:59] brunoqc commented on #78
@akovaski: Do you mean %GOPATH%\pkg ? If I clear %GOROOT%\pkg I can't build anymore. I get `go tool: no such tool "6g"`.

I still have the problem if I clear %GOROOT%\pkg.

[2015-01-06 21:00] akovaski commented on #78
whoops, yeah I meant GOPATH

[2015-01-07 16:08] brunoqc commented on #78
I don't have the problem on XP 32-bit with `gcc (i686-posix-dwarf-rev1, Built by MinGW-W64 project) 4.9.2`.

[2015-01-07 17:20] brunoqc commented on #78
That's weird. I don't have the problem on 64-bit if I replace all `C.SDL_free` by `C.free`. Even if I remove the locks I added to `sdl_ttf.go`.

`SDL_malloc.c` seems to use a custom malloc (dlmalloc) which is outdated (it doesn't mean it's the cause of my problem). dlmalloc seems to have some options we can define when compiling (like USE_LOCKS).

[2015-01-07 19:40] akovaski commented on #78
Ok, I have finally replicated the exception. What triggered when I switched out the SDL2.dll that I compiled from source and put in the SDL2.dll from the SDL-website.

Regarding SDL_free, it seems to me that it should default to the built-in 'free' (at the top of SDL_malloc.c), but perhaps it is using dlmalloc in the website's dll.

In any case, I think SDL_free should only be used with SDL_malloc

[2015-01-08 19:44] brunoqc commented on #78
Thanks for the fix.

In case you didn't know, if the commit had `fix #80`, this issue would have been closed automatically. See [Closing issues via commit messages](https://help.github.com/articles/closing-issues-via-commit-messages/).

[2015-01-08 19:44] #78 closed

[2015-01-29 21:00] Decker108 opened #88 "SDL.h: No such file or directory (Win7, no pkg-config installed)"
Another unlucky Windows user here.
Is there a way to solve this without using pkg-config? I'm still getting the "fatal error: SDL.h: No such file or directory  // #include <SDL.h>".

Do I have to put the SDL.h file in one of the go-sdl2 folders?
Do I need to put in on the path?
I've tried experimenting with putting SDL.h in various go-sdl2 folders and running make.bat, but no luck.

Using x86_64-w

[2015-01-29 22:18] akovaski commented on #88
SDL.h would have to been in your mingw's include directory, specifically (your include directory)\SDL2\SDL.h

Also, don't forget to put SDL's lib files in your lib folder.

[2015-01-31 08:15] Decker108 commented on #88
I put the source files in the mingw include\SDL2\SDL.h and the .dll's in the lib folder. Still getting the same error.

[2015-01-31 08:21] Decker108 commented on #88
The strange thing is that according to the GCC -v printout, it is looking in the include dirs and lib dirs that I have put the SDL2 files in:

Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=C:/Program\ Files/mingw-w64/x86_64-4.9.2-posix-seh-rt_v3-rev
1/mingw64/bin/../libexec/gcc/x86_64-w64-mingw32/4.9.2/lto-wrapper.exe
Target: x86_64-w64-mingw32
Configured with: ../../../src/gcc-4.9.2/c

[2015-01-31 08:40] Decker108 commented on #88
Okay, seems this is not a problem with go-sdl2 but rather with my SDL2 installation. I can't get hello-world with SDL in C/C++ to compile, so I'm closing this and going down that troubleshooting route.

[2015-01-31 08:40] #88 closed

[2015-02-13 22:37] HaCk3Dq opened #89 "Compiling for windows"
I am trying to compile a game for windows, it works great on linux.
I have installed all needed stuff such as 32 bit Golang, SDL2, MinGW and so on.
After trying to build it i get this error:

[code]

I've googled it, found that I should add an include for stdio "// #include <stdlib.h"
But i dont know where to do it, added in almost any file but it does not help

[2015-02-13 23:14] akovaski commented on #89
I think this is a problem with your installation of your tools.

When you have installed Go and MinGW correctly, you should be able to compile and run the following program just fine.
[code]

[2015-02-14 00:31] HaCk3Dq commented on #89
Yep, it works well, but when i try to compile a game with sdl it doesn't work

[code]

[2015-02-14 01:23] akovaski commented on #89
Whats the difference between main2.go and main.go?

Are you sure that you have a clean version of this library?

Does `go build github.com/veandco/go-sdl2/sdl` work?

Can you run the examples/events.go ?

Cross-compiling with cgo is a little tricky, I haven't done it in a while because it was too much of a bother the first time. I'm not very familar with it, but at the very least you have to make

[2015-02-15 08:26] HaCk3Dq commented on #89
main.go is my game, main2.go is ur source

ive installed it like on linux ```go get ithub.com/veandco/go-sdl2/sdl```

[code]

So i cant even try examples :C

Dont u know, what cross-compiler should i use? MinGW?

[2015-02-15 17:04] akovaski commented on #89
I still can't really tell where the error you're having is coming from...
It still seems like it isn't importing stdlib.h ...

So if you take a clean copy of go-sdl2 and add
`#include <stdlib.h>`
to the end of the file `go-sdl2/sdl/sdl_wrapper.h`,
does it change `go build github.com/veandco/go-sdl2/sdl`  ?

As for the cross-compilation, you'd be better off finding somebody familiar with it, try go

[2015-02-16 00:17] pmcatominey opened #90 "SDL_CloseAudioDevice call incorrect"
I believe that this [line](https://github.com/veandco/go-sdl2/blob/master/sdl/audio.go#L276) is incorrect and should call CloseAudioDevice.

[2015-02-17 18:46] HaCk3Dq commented on #89
omg, added `#include <stdlib.h>` to `go-sdl2/sdl/sdl_wrapper.h`

[code]

[2015-02-17 22:57] akovaski commented on #89
That's pretty telling, I believe that this is the result of not having SDL2 installed correctly (for MinGW that is).

I still can't quite reproduce your output, but you could try re-copying the *.a files for SDL2 to mingw's lib folder (making sure to use the 32-bit version if you're still using 32-bit mingw & go).

[2015-02-18 03:21] jackyb commented on #90
Hey, sorry for super late reply. I pushed a fix upstream. Thanks!

[2015-02-20 21:16] HaCk3Dq commented on #89
Thnx a lot, it turned out that crosscompiling is much easier then compiling on win :D
Plz, close the issue.

[2015-02-28 10:30] Decker108 commented on #75
Seconding the wish for a go-sdl2 example with goroutines. This issue isn't very obvious to beginners of go or sdl.

[2015-03-01 19:13] Decker108 opened #98 "*mix.Chunk.setVolume() fails on Windows 7"
So I finally got everything compiling and running under Windows (Win 7 32 bit using MSYS and MinGW). However, one function call causes a cgo exception with the following output:

    Exception 0xc0000005 0x0 0xc 0x6788777b
    PC=0x6788777b
    signal arrived during cgo execution

    github.com/veandco/go-sdl2/sdl_mixer._Cfunc_Mix_VolumeChunk(0x0, 0x63, 0x0)
        C:/dev/golang/src/github.com/v

[2015-03-03 01:05] akovaski commented on #98
Your LoadWAV calls are probably failing (at least it is for your project on my machine). Check that gameAudio.enemyHit et al. are not nil.

I suspect that your sdl_mixer installation is not built with ogg support.

That being said, perhaps some changes should be made to the sdl_mixer library:
* This is an unpleasant way to crash... a nil check in the Chunk methods might be a worthwhile investment

[2015-03-03 01:08] #90 closed

[2015-03-03 01:08] #89 closed

[2015-03-03 01:09] #68 closed

[2015-03-03 01:09] #72 closed

[2015-03-03 18:41] Decker108 commented on #98
Sorry, I screwed up. I built the game with go run outside the game folder... and then it couldn't find the asset files and threw this exception.

More idiomatic error handling for sdl_mixer would be a nice thing though :)

I implemented your loadWav function and got this output:
2015/03/03 19:38:40 Couldn't open assets/SFX_Explosion_01.ogg
exit status 1

Which of course make sense since the applic

[2015-03-03 18:41] #98 closed

[2015-03-08 12:06] slevin opened #99 "int vs int32"
I've been writing some simple code and finding I'm doing a lot of casting to int32 which are used by Rect and Point. And used in lots of functions. However, several other functions like CreateWindow and Texture.Query work with regular ints. The Go compiler wants to do int by default and seems to be pretty strict about requiring explicit casting.

Going deeper, I see that SDL2 C code just uses int

[2015-03-08 12:17] PhiCode commented on #99
Golang's Int on 64 bit machines is 8 bytes.
Methods which return or accept an Integer could be changed easily.
Structures which are passed to SDL need to adhere to the ABI of the C structures.
Otherwise all structs would need to go through a translation layer.

I recently fixed (almost) all struct ABIs, see: https://github.com/veandco/go-sdl2/blob/master/sdl/struct_test.go

In general I agree that

[2015-03-08 14:26] Decker108 opened #100 "sdl_mixer's PlayChannel error checking is wrong"
The current implementation for sdl_mixer's PlayChannel function returns a bool specifying whether the call was successful or not:

    func (chunk *Chunk) PlayChannel(channel, loops int) bool {
        _channel := (C.int)(channel)
        _chunk := (*C.Mix_Chunk)(unsafe.Pointer(chunk))
        _loops := (C.int)(loops)
        return int(C.Mix_PlayChannelTimed(_channel, _chunk, _loops, -1)) == 0

[2015-03-08 14:30] Decker108 commented on #100
It seems this applies to a number of other sdl_mixer functions as well, such as AllocateChannels, playChannelTimed, etc. It seems the sdl_mixer devs used a "novel" definition of return values...

[2015-03-08 17:14] slevin commented on #99
I see. I was mistakenly under the assumption that C ints would be 64bits on a 64bit machines. I missed that you were doing casting into and out of Go ints in parameters and return values. I guess translating structs would be too much a performance hit? And its not clear making everything int32 (parameters and return values) would be less casting or more convenient even if that might make the api m

[2015-03-08 19:24] robzan8 commented on #56
News? :)

[2015-03-08 21:49] PhiCode commented on #99
I contributed the unit tests and fixes because I ran into some misaligned structures while developing some little test applications.

From an architectural point of view I believe that a translation layer would make a lot of sense.
For example I did not fix the 'AudioCVT' structure because CGO has a hard time dealing with packed structures.

Since I only fixed existing code I did not add real stru

[2015-03-10 03:25] jackyb commented on #56
Hi @robzan8, it will be released for public (so they can suggest and improve things) once it's ready.

[2015-03-10 03:47] paked commented on #56
Is there a time frame yet?

[2015-03-10 05:42] jackyb commented on #56
@paked I'm hoping to release it in pre-alpha state at the end of April simply for release sake so people can take a look at it and contribute. It'll only have Linux/X11 part implemented so it won't be ready for general use, however people who contribute will be able to implement (or change) the generic interfaces for other OSes and display servers.

[2015-03-14 02:36] robzan8 commented on #56
While having everything ported to Go would be great, it looks to me that it would be a tremendous amount of work that may never get to a release (depending on how many people are willing to contribute). Do you think it would be possible (and make sense) to create a Go-style API on top of the C bindings and link everything statically? I mean: create a big fat .syso object containing sdl and depende

[2015-03-23 11:51] tapir commented on #3
Can we reopne this issue. Currently go-sdl2 does not build in windows because #include <stdlib.h> is needed by below files

[code]

[2015-03-23 11:52] tapir commented on #3
Or we can just put it in "sdl_*_wrapper.h" files.

[2015-03-23 11:59] tapir opened #104 "Readme Example"
The small example provided by the readme needs "sdl.Init" before any SDL calls.

[2015-03-24 01:17] jackyb commented on #104
Done!

[2015-03-24 01:24] jackyb commented on #3
I put #include <stdlib.h> on the wrapper files. Does it work?

[2015-03-24 07:27] #104 closed

[2015-03-24 07:28] tapir commented on #3
:+1:

[2015-03-24 08:28] jackyb commented on #3
Cool, I'll be closing this issue again then!

[2015-03-24 08:28] #3 closed

[2015-03-24 21:50] krux02 commented on #99
I actually would suggest, to chage the API to int whenever possible. For example in `timer.go` GetTicks and Delay could be changed to use `int` instead of `uint32`. For the Rect API, I do suggest, to implement both Rect and C compatible non exported rect32 for communication. I think a rect is small enough to be casted back and forth on calls, where it matters. All functions that do clipping and ot

[2015-03-24 21:53] krux02 commented on #75
I would suggest here, that sdl.Init() calls runtime.LockOSThread() internally, so that users of SDL do not need to worry about this anymore.

[2015-03-27 10:14] krux02 commented on #98
actually I am writing at the moment more ideomatic error for the mixer. But it's a compatibility changing. Especially SetVolume is now called like the original function just Volume, because it's also the getter.

[2015-03-29 15:32] krux02 commented on #100
I updated the SDL_Mixer functions to more ideomatic go, and all functions that return an int that is not simply translateable as error/no-error, it stays as an int  result.

[2015-04-01 07:46] krux02 commented on #100
I would like to vote this issue as fixed

[2015-04-01 07:50] Decker108 commented on #100
@krux02 PlayChannel and PlayTimed doesn't return their channel_ values though...

[2015-04-01 07:53] Decker108 commented on #100
Done!

[2015-04-01 07:53] #100 closed

[2015-04-03 16:05] Decker108 commented on #88
In case anyone finds this in the future, I put together a tested and working step-by-step guide here: https://gist.github.com/Decker108/7df1726192433a3bdb32

[2015-04-03 16:08] Decker108 commented on #89
@HaCk3Dq In case you want to try setting go-sdl2 up on Windows again, I put together a step-by-step guide here: https://gist.github.com/Decker108/7df1726192433a3bdb32

[2015-04-20 11:49] krux02 opened #114 "non-utf8 functions in sdl-ttf"
I recently saw, that the sdl-ttf wrapper has latin1 and utf8 support. Since go is utf8-only. I suggest to remove the non-utf8 version, since there is no way of providing a string that is encoded in latin1 (in the non ascii compatible range of course)

[2015-04-22 18:34] wenerme opened #116 "SDL2 use golang image"
How to make SDL2 use golang image package ?
My image decoder is implemented as an image decoder, I want to reuse this, is this possible ?

[2015-04-23 09:48] krux02 commented on #116
you have a valid point there, go-sdl2-image could use the golang image package, but it doesn't do that, because it was implemented as a simple wrapper around the C library. But you can avoid using the sdl-image library entirely and just use [CreateRGBSurfaceFrom](https://wiki.libsdl.org/SDL_CreateRGBSurfaceFrom). That function does not copy the pixel data nor does it's pointer to a golang image pr

[2015-04-23 17:37] wenerme commented on #116
Any example ?

[2015-04-24 12:28] krux02 commented on #116
No, I am sorry, I do not have an example at the moment that I can just paste here. But you need the Pix array from your image, and cast that to an unsafe.Pointer to give it to the function. then you need to get the format parameters right. most important here, is that you get the size and bytes per pixel right, because otherwise you might get a segmentation fault. when the color masks are wrong yo

[2015-04-24 20:33] wenerme commented on #116
Here is some thing I tried.

[code]

Conclusion:

1. Surface and RGBA can use same Pixels
2. Can not use CreateRGBSurfaceFrom method
3. Can CreateRGBSurface first, then Create a RGBA, give the Surface Pixels to RGBA(CreateSurfaceFromImageV2), can reuse golang Draw

Question:

1. If enable this, `window.UpdateSurface()` will get error, why ?
[code]

2. `surface.Blit(&sdl.Rect{0, 0, 800, 600}, s, &s

[2015-04-24 22:25] krux02 commented on #116
You definitely can use CreateRGBSurfaceFrom method. The only problem you have, is that the image.Image interface does not give you enough information. What you actually have to do is to do is a type switch of the different implementations of image.Image. And when you have a compatible implementation like image.RGBA, you can just get the uint8 array. Alternatively, you can also get the array with r

[2015-04-25 08:29] wenerme commented on #116
Turns out, Image and Surface is all about color mode convert, golang have RGBA.

RGBA match RGBA8888 and RGBX8888, other SDL pixel format have to implement new color.Modle to support.The color issues in above code, the caused by `CreateRGBSurface`,have to create the RGBA8888 and RGBX8888.

[2015-04-25 15:36] krux02 commented on #116
Don't you just have to find the one color model that is supported in both golang image and go-sdl/img? To my common sense blitting operations can only be fast implemented, if the encoding of the src and target image are the same.

[2015-05-17 06:05] wenerme commented on #116
Close this issues now.

[2015-05-17 06:05] #116 closed

[2015-05-17 06:16] wenerme commented on #114
Currently I need this features, my font encoding is gbk, I can not use the RenderUTF8

[2015-05-17 14:03] akovaski commented on #114
How can you using sdl-ttf to display gbk strings? (Which functions do you use?)

Would converting your text strings from gbk to utf-8 not work?
http://golang.org/x/text/encoding
http://golang.org/x/text/encoding/simplifiedchinese

[2015-05-17 14:34] wenerme commented on #114
I mean the font only support GBK encoding.

[2015-05-17 15:08] akovaski commented on #114
If it's a .ttf font file, then I don't think the encoding should matter.

Can you open this as a new issue?

[2015-05-17 15:19] wenerme commented on #114
Some font only support gbk charset, like described [here](https://msdn.microsoft.com/en-us/library/cc194829.aspx). If the font only support gb2312, you can not use UTF8 encoded char to get the glyph.

[2015-05-17 15:38] akovaski commented on #114
I get that the font only supports the gbk charset. Where are you seeing that you can't use a utf-8 encoded character to get the glyph?

Also, could you link an example gbk font's ttf file? I would like to test this myself.

[2015-05-17 15:45] wenerme commented on #114
In Windows, SIMSUN.ttf (宋体 in Chinese) is a bitmap font and encoded in gb2312. I'm not sure is this font only exists in Chinese Windows system.

[2015-05-17 18:23] akovaski commented on #114
I only have simsun.ttc . I imagine it's similar. (Maybe not, who knows)

In any case, it seems to work fine for me: https://gist.github.com/akovaski/e46478f9a911c654ab5a

[2015-05-17 20:50] krux02 commented on #114
Let me inform you again. In go it is not possible, to have a build in string that is not encoded as utf8. Of course you can force the runtime to take your raw data as a string, but then you have an invalid string, or at least something that is not compatible with anything, or behaves weird in every way. And you talked about Chinese letters. Latin1 does not contain any Chinese letters, it has europ

[2015-05-17 21:13] akovaski commented on #114
By the way, I believe the original issue was resolved with commit 498b51e29eb9a0

[2015-05-18 02:09] wenerme commented on #114
@akovaski Try this font [simsun.ttf](https://drive.google.com/open?id=0B8v8c6AgISHrMW5NQjY5c1BGTDg&authuser=0)

This is what I got
![image](https://cloud.githubusercontent.com/assets/1777211/7673437/ef33525c-fd45-11e4-8019-1b38d3d81894.png)

[2015-05-18 02:52] wenerme commented on #114
@krux02 My source encoded in UTF8, but I use
http://golang.org/x/text/encoding
http://golang.org/x/text/encoding/simplifiedchinese
to convert to gbk encoding.

In sdl_ttf here is an [TTF_RenderGlyph_Solid](https://www.libsdl.org/projects/SDL_ttf/docs/SDL_ttf_46.html#SEC46).But when I convert a utf8 string to gbk, how would I know the bytes pre-char ?

This is easy, we can use the Encoding to encod

[2015-05-18 02:56] wenerme commented on #114
BTW, should sdl.ttf also add the original [SDL_TTF document](https://www.libsdl.org/projects/SDL_ttf/docs/) link in comment like other functions.

[2015-05-18 03:33] akovaski commented on #114
Yea, that font doesn't work for me either. From what I can tell, that font is actually only used for Extension B characters (which are supposed to be rarer).

I don't know how to utilize the ExtB  version, but if you just need simple strings like "ABC 您好" you can use std_ttf like my example above with the main SimSun ttf/ttc file.
![capture](https://cloud.githubusercontent.com/assets/1094022/76740

[2015-05-18 05:02] wenerme commented on #114
That font is uploaded from my windows, in windows, the Chinese default encoding is gbk/gb2312, so I need the correct encoding to get the glyph.May be in you system, the SimSun is utf8, you can upload you font and I'll try.

[2015-05-18 12:45] akovaski commented on #114
There should also be a simsun.ttc in your font folder as well. In any case, this link works https://code.google.com/p/way2ctx/downloads/detail?name=simsun.ttc

[2015-05-18 13:07] krux02 commented on #114
Sorry I don't get it. For what do you need an encoder/decoder care for byte ordering etc? Your string s is a valid utf8 string. sdl_ttf accepts a utf8 string. Put it together, done. Maybe you should fix your font instead‽

[2015-05-21 23:00] THUNDERGROOVE commented on #75
I recently wrote something that uses a Goroutine that calls `runtime.LockOSThread()` to poll events into a channel in a select statement as to not block.  Everything else related to SDL is ran outside of any Goroutines.

It works very well and I no longer get any `program.exe is not responding` pop-ups from Windows.

All of my drawing code is actually come from a struct `Screen` that has a slice o

[2015-05-24 16:26] joeblew99 opened #119 "Questions;"
does anyone know if SDL2 is available on IOS and Android ?.

I was reading about how SDL was used for IOS and Android here (https://google.github.io/pienoon/pie_noon_guide_engine.html), but i am curious is SDL2 is also available on these mobile platforms.

Golang can compile to Android, and soon IOS.

[2015-05-24 17:11] krux02 commented on #119
All you need to do to check weather a specific backend is supported, is to download the sourcecode, and check for the platforms that are actually there. And yes SDL2 is available on those platforms.

[2015-05-24 18:37] joeblew99 commented on #119
Great.

Will give it a shot. Thank you very much

[2015-05-24 19:12] krux02 commented on #119
Can you please tell how well it turned out with go? Would be nice to read some practical experince.

[2015-05-24 19:42] joeblew99 commented on #119
For sure. I am setting up ios and android now. Not sure how well that will flow since ios is very raw.

[2015-05-25 21:23] avdept opened #120 "Types mismatch using texture.Query()"
I have simple code like

    dst := sdl.Rect{X: x, Y:y, W:0, H:0}

    _, _, dst.W, dst.H, _ = texture.Query()

according to docs interface sdl.Rect requires int32 values, while texture.Query() returns int values.
Thus i got this error

    ./sdl.go:63: cannot assign to int(dst.W)
    ./sdl.go:63: cannot assign to int(dst.H)

Is it ok, to allocate new temp variables, to later do like

    _, _, w,

[2015-05-25 21:39] jackyb commented on #120
I pushed a quick change to allow that assignment.

Honestly, we haven't really thought through the types.

[2015-05-25 21:59] avdept commented on #120
Thanks. I'm kinda new to golang and sdl2, but where else would i need to use texture.Query() method? ALso in native version, you passing pointers for `width` and `height` arguments, while go version, returning these values instead. What was reason behind this?

[2015-05-25 22:08] jackyb commented on #120
It's mostly because we decided to cater to people who are used to Go instead of C.

[2015-06-02 12:24] paytonrules commented on #49
I am getting this again with the latest build.

Erics-MacBook-Pro:CubicleWars paytonrules$ go test ./...
ok  	github.com/paytonrules/CubicleWars	0.004s
# github.com/veandco/go-sdl2/sdl
../../veandco/go-sdl2/sdl/events.go:5:10: fatal error: 'events.h' file not found
#include "events.h"

[2015-06-03 13:06] #120 closed

[2015-06-03 13:06] #119 closed

[2015-06-06 14:54] danmondy opened #121 "Installation trouble (homebrew / go get) - help please"
Sorry for a newb questions here. I followed the homebrew installation steps. When I try to go get sdl2 I see this message:

~/code/go/src$ go get -v github.com/veandco/go-sdl2/sdl
github.com/veandco/go-sdl2/sdl
\# pkg-config --cflags sdl2
Package sdl2 was not found in the pkg-config search path.
Perhaps you should add the directory containing `sdl2.pc'
to the PKG_CONFIG_PATH environment variable
N

[2015-06-06 20:03] danmondy commented on #121
I fixed this by adding this to my bashrc : export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig

[2015-06-06 20:03] #121 closed

[2015-06-08 22:54] srwiley opened #122 "Bug in func (texture *Texture) Lock; does not set unsafe pointer value"
Pretty obvious when you see it. I fixed it in this fork: https://github.com/srwiley/go-sdl2

[2015-06-09 03:23] jackyb commented on #122
Could you submit a pull request? Thanks!

[2015-06-09 03:31] srwiley commented on #122
OK, tried. Hope that worked.

On Mon, Jun 8, 2015 at 8:23 PM, Jacky Boen <notifications@github.com> wrote:

[2015-06-09 06:10] #122 closed

[2015-06-18 13:19] gcatlin opened #127 "How do you create an sdl.AudioCallback function?"
I don't understand how to create my own callback function of type `sdl.AudioCallback` to pass to `sdl.AudioSpec`. Can anyone provide a simple example?

I was able to get something to compile, but I don't think it's valid -- the callback doesn't get called:
[code]

For reference:

audio.go:
[code]

SDL_audio.h (SDL 2.0.3):
[code]

[2015-06-18 21:36] krux02 commented on #127
Sorry, to tell you this, but this is a very hard part to wrap and nobody did it properly yet. The problem is,  that SDL_AudioSpec is a struct that contains a pointer to a C.Compatible function. That is nice for a C api, but not easy to port, since functions from go canst be cast to a C compatible function pointer. But it is poissible to write a function in go that can be cast into an AudioCallback

[2015-06-19 12:50] gcatlin commented on #127
Thank you! I need to think more on the API for `sdl.AudioCallback`s . In the meantime, I'll submit a PR for an example.

[2015-06-19 17:11] #127 closed

[2015-06-23 06:57] Depado opened #129 "How can I package my program ?"
Hi,

I've been wondering whether or not the generated binary was actually a standalone binary. After a quick thinking on that, I realised that it's not possible at the time.

My questions is : How can I distribute my program (mainly on Linux) without the need for the person receiving the program to install the dev libs ? Does anyone have a working example that works "out of the box" ? :)

Thanks f

[2015-06-23 18:17] krux02 commented on #129
the "dev libs" known on debian systems as the packages containing the development headers, are not required for a bundled program. but the SDL libraries are. As far as I know, you should be able to bundle your application with the sdl libraries, and supply a simple run script that does something like this:

    export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/path/to/your/libs"
    programName

but hones

[2015-06-24 02:22] jangler commented on #129
I agree that it's no problem on Linux, but Linux isn't the only OS out there. As @krux02 said, it's possible to include the dynamically linked libraries when you distribute your application, but I'd be very interested in being able to statically link the SDL libraries with the executable. In my view, the fact that Go libraries are statically linked into the executable is a major boon, and I hate t

[2015-06-24 11:51] krux02 commented on #129
I am sorry to tell you, I did not find any way to statically link a GO program with an extern C library yet. I tried a lot, but I was never successful.

[2015-06-24 13:00] Depado commented on #129
That's what I ended up doing, the bash (shell) script technique that exports the `LD_LIBRARY_PATH` before running the binary. Although it's quite an ugly solution. You're right, on Linux having SDL installed is pretty common, but I wonder if there wouldn't be a better way of packaging the binary for it to have no external dependency. That kind of loses one of the key concepts of Go which are the s

[2015-06-24 14:10] Depado commented on #129
@krux02 There seem to be a solution for static linking a C library with a Go program : https://github.com/shadowmint/go-static-linking
http://stackoverflow.com/questions/16747021/how-do-you-statically-link-a-c-library-in-go-using-cgo

Did you give that a shot ? ^^

[2015-06-24 14:14] jalan commented on #129
I'm not sure it will be a good idea to create a completely static binary with SDL2, since you would need to statically link SDL2's dependencies as well, which on linux seem to include libdl and libpthread. But you should be able to statically link some libraries. In plain C, to statically link SDL2 but dynamically link its dependencies, I think this works:

[code]

There SHOULD be a way to instruc

[2015-06-25 07:57] Depado commented on #129
@jalan You're right, I never thought of that. Indeed if I link the SDL2 lib I'll also need to link the libpng and all the SDL2 dependencies. On the other hand, is there a way I can list all the dependencies to my binary ?

[2015-06-25 22:26] jalan commented on #129
Here's an example of what to change in go-sdl2 to get SDL2 statically linked on linux:

[code]

You would be able to extend this example to statically link most of those other libraries too, everything that's not part of glibc.

[2015-06-28 09:14] Depado commented on #129
That's impressive. I'll give it a try :) Thanks a lot !

[2015-07-15 20:31] velovix opened #131 "Creating a stable binding release"
The README states that go-sdl2 is not stable right now. Is there anything that needs to happen before someone can tag a version number that we can vendor to?

[2015-07-17 02:51] jackyb commented on #131
I personally want a full test suite first before committing to a stable release, just to make sure everything is working and tested before labeling it as stable.

[2015-07-17 05:04] velovix commented on #131
Fair enough. As you may already know, SDL2 comes with a set of tests. They'd have to be ported, but would that fit the bill?

[2015-07-17 06:08] jackyb commented on #131
That's a good idea! Yes, I believe the package is complete if we manage to recreate their tests.

[2015-07-17 23:07] velovix commented on #131
Great! I'll see what I can do to make that happen.

[2015-07-21 01:01] krux02 commented on #131
I am not sure if just porting all their tests to go really worth the time. Especially, because go-sdl is just a wrapper. But there is something that needs to be solved that I think is a little bit more urgent.

For example the API at it's current state has some issues, that do not have a solution.

    func (rect *Rect) IntersectLine(X1, Y1, X2, Y2 *int) bool {
        X1 := (*C.int)(unsafe.Pointe

[2015-07-21 01:22] jangler commented on #131
I agree that porting all the SDL2 tests is overkill. Whether SDL2 works is SDL2's problem; we just should be testing whether the wrapper works properly.

@krux02, maybe this is a topic for a different issue, but how about casting the `int`s to `int32`s inside the function?

[2015-07-21 05:18] velovix commented on #131
I have to say, porting the SDL tests definitely ended up looking like more work than I originally thought. So long as this is a more or less a discussion thread, how thin are these bindings supposed to be? I was surprised to see LoadWAV, for instance, requiring I pass it a pointer, C-style. Even pretty thin wrappings tend to turn that kind of thing into a slice, and I think it makes more sense fro

[2015-07-21 06:07] jangler commented on #131
I think there are definitely places in the library where little things like that can be made more Go-like and less C-like, but I'm not sure if `LoadWAV()`'s `audioBuf` is a prime candidate. I don't think Go exposes a way to construct a slice from a pointer like that without an O(n) copy operation. That being said, I see no reason for `audioLen` to be a parameter instead of a return value.

[2015-07-21 11:22] jackyb commented on #131
@jangler Surface.Pixels() method demonstrates how to construct array from C pointer without copying.

[2015-07-21 11:54] jangler commented on #131
Ah, cool. In that case I agree that the function should return a slice instead of filling `audioBuf` and `audioLen`.

[2015-07-21 14:44] jackyb commented on #131
I just made a quick modification to the functions. Somebody test it!

[2015-07-22 04:23] velovix commented on #131
I think casting in the function from int to int32 would be the right choice. C doesn't actually guarantee the size of an int to be 32-bit, I believe, so technically having the Go function accept int32's isn't entirely correct. In practice, C ints are 32-bit, but I still think it makes more sense for that to be an implementation detail.

[2015-07-22 20:32] krux02 commented on #131
on 16 bit systems a C int is 16 bit, but as far as I know SDL2 doesn't support any 16 bit systems. But I couldn't find an official list of supported platforms.

[2015-07-23 04:04] velovix commented on #131
According to [this list](https://wiki.libsdl.org/MigrationGuide#Dead_platforms), the supported platforms are Windows (XP and later), Linux, Mac OS X, iOS, and Android, so you are correct (though I guess there are 16-bit Linux distributions). Still, the API would be easier to work with if the user didn't have to typecast their ints themselves every time they call IntersectLine

[2015-07-27 08:18] velovix opened #143 "Using freetype-go as a back end for sdl-ttf"
Making an SDL2 implementation for Go would be great, but we probably shouldn't reinvent the wheel when we don't have to. In the case of sdl-ttf, that would be a particularly tough wheel to reinvent. What if we used [freetype-go](http://code.google.com/p/freetype-go) as the back end? I took a quick look at the API and it seems like most of the features we need are in there with a few exceptions (ch

[2015-07-27 08:42] jangler commented on #143
My thoughts on this:

- I've had *weird* problems with sdl_ttf, like certain glyphs randomly disappearing and rendered text being zero width when it shouldn't be. Maybe these problems could be fixed in a reimplementation, but I'd be happy to consider an alternative solution.
- I actually tried using freetype-go as a replacement for sdl_ttf because of these problems, but it was prohibitively slow.

[2015-07-27 17:34] velovix commented on #143
I agree that speed should be a pretty big concern in this case. I didn't know that sdl_ttf used freetype2, so that might make the transition easier if freetype-go is performant enough. I'll look into this.

[2015-07-31 00:05] velovix commented on #143
Okay, it looks like freetype-go is not in any state to serve as our back end, simply because it's too lacking in features. That said, it looks like developers on golang.org/x/exp/shiny want to help improve the library as seen [here.](https://github.com/golang/go/issues/11818)

"A secondary goal is to drive development of the Freetype Go port - it has some basic functionality but also some long-sta

[2015-07-31 16:03] wanton7 opened #145 "os.Exit in examples breaks defer"
https://golang.org/pkg/os/#Exit tells us that deferred functions are not called after os.Exit.
As an example that means window.Destroy() will not be called if CreateRenderer fails.

[2015-08-01 02:54] #145 closed

[2015-08-02 06:30] Triangle345 opened #147 "golang sdl2 png test example not working?"
Every time I run the png test example I get:

<code>
exit status 3221225781
</code>

I installed sdl_image using go-get and have sdl_image shared libraries etc.
However; the bmp test example works just fine for me?  Is this a bug with the example or an issue with my system setup.  All I see is that message above without any other debug.  Hopefully someone can help :)

[2015-08-02 07:44] jackyb commented on #147
I added a C version of the example as examples/texture_png.c. Could you try to run it and see if it also crashes?

`gcc texture_png.c -lSDL2 -lSDL2_image`

[2015-08-02 15:30] Triangle345 commented on #147
All though I was not able to compile the c example I have successfully got the png go example to work. Your comment allowed me to debug some library issues I was having with mingw64.  You need to place all .a files under the mingw64 lib folder and all dlls in the same directory as golang png test executable.
The image seems to be displayed correctly and everything.

thank you.

[2015-08-02 15:30] #147 closed

[2015-08-03 17:40] billyninja opened #148 ""Audio device hasn't been opened" - Not clear how to open the device."
I'm a noob with SDL2, but I've tried several ways to init audio/open device and then play a .mp3, none worked. The sinewave example works fine.

Is this working? Can someone provide a minimum example?

[2015-08-04 00:37] jackyb commented on #148
I added some missing functions to the package. Could you try the `audio_mp3` example I added? If it doesn't work, try the C version with `gcc audio_mp3.c -lSDL2 -lSDL2_mixer` if you're on Unix system.

[2015-08-04 01:37] billyninja commented on #148
In both, C and Go, I'm getting "Mixer not built with MP3 support" when it tries to init the mixer with INIT_MP3

[2015-08-04 02:10] jackyb commented on #148
Ah, in that case you need to install SDL2 from source.

1. Download the source code for SDL2 and SDL2_mixer at http://libsdl.org/download-2.0.php and https://www.libsdl.org/projects/SDL_mixer/ and unpack them.

2. Go to SDL_mixer's folder and inside external/smpeg2-2.0.0/ folder, run `./autogen.sh` then `./configure` followed by `make` and finally `sudo make install`.

3. Run the same command for

[2015-08-06 02:31] jangler opened #149 "CreateRenderer() generates exception on Windows VM"
Running a 32-bit Windows Vista VM on VirtualBox, `CreateRenderer()` always crashes with output such as the following:

[code]

I tried messing around with the parameters to `CreateRenderer()`, but it doesn't seem to make a difference. I don't have access to a modern, non-virtual Windows environment at the moment, so I can't check whether the environment is a factor.

[2015-08-07 09:41] jackyb commented on #149
Going to have to download pirated Windows Vista 32-bit to test this out :P

[2015-08-07 09:42] #148 closed

[2015-08-20 00:43] ArchRobison opened #150 "Long pauses with go1.5beta1 windows/amd64"
Thanks for writing this package!

I'm having problems with long pauses.  I've put a short demo program on Github at [https://github.com/ArchRobison/Crosshair](https://github.com/ArchRobison/Crosshair).  The program is supposed to display cross-hairs that track the cursor, and indeed does so intermittently, but with pauses on the order of 5-20 seconds on Windows 8.1.

I'm using go1.5beta1 windows/a

[2015-08-20 02:36] akovaski commented on #150
Add runtime.LockOSThread() to the beginning of your run() function.

Interestingly enough, your program seems to work as intended with go 1.4.2, but not 1.5 (even with GOMAXPROCS=1)

[2015-08-20 12:08] phicode commented on #150
Your program runs fine after adding the following lines to your program:

    func run() int {
        runtime.LockOSThread()
        defer runtime.UnlockOSThread()

        if err := sdl.Init(sdl.INIT_EVERYTHING); err != nil {
                panic(err)
        }
        defer sdl.Quit()
        ......

GODEBUG=gctrace=1 reveals that all GCs terminate in less than 1ms.

[2015-08-21 00:28] ArchRobison commented on #150
Thanks to all!  That solved the problem.  Now that I know what to look for, I see SDL is even the motivating example [on the Go wiki](https://github.com/golang/go/wiki/LockOSThread).

[2015-08-21 00:52] #150 closed

[2015-08-23 13:42] ip opened #151 "Android/iOS/WebGL support"
What needed to implement it? I particularly interested in Android.

[2015-08-24 02:07] jackyb commented on #151
You might already be aware of it but [gomobile](https://godoc.org/golang.org/x/mobile/app) is probably the only solution at the moment.

[2015-08-24 11:54] ip commented on #151
@jackyb Did anyone try to compile the library for Android? How I could accomplish it?

[2015-08-24 12:31] nikiiv opened #152 "Open GL example doesn't work on OSX"
The opengl example uses github.com/jackyb/go-gl/gl
That doesn't work properly.. the package doesn't compile because darwin uses different flags. I submitted an issue about that in that project. If using the proper c directives it fails to find the proper GL bindings... I guess..
I tried modifying the opengl.go file to use https://github.com/go-gl v21.but then it crashes gloriously
o run opengl.go

[2015-08-24 12:51] jackyb commented on #152
It's not recommended to use my go-gl package anymore, sorry. I've updated the opengl.go example to use go-gl/gl package.

[2015-08-24 12:54] jackyb commented on #151
I haven't tried it but take a look at the talk.

[Go on Mobile](https://talks.golang.org/2015/gophercon-go-on-mobile.slide)

[2015-08-27 14:05] #152 closed

[2015-08-27 14:05] #151 closed

[2015-08-27 14:06] #131 closed

[2015-08-28 20:35] Dashed commented on #56
@jackyb Is this already released somewhere?

[2015-08-31 02:02] ArchRobison opened #153 "examples/audio.go not working with Go 1.5, Windows 8.1"
I built and ran `examples/audio.go`, but all I hear is a barely perceptible faint click when it starts.  Has anyone else gotten it to work recently?  Any advice on how to debug it?

[2015-08-31 03:48] akovaski commented on #153
Yep, I don't hear anything either.

Adding
[code]
to the beginning of main() seems to fix it. Please confirm.

[2015-09-01 00:40] ArchRobison commented on #153
There's no `log`:
[code]
I tried inserting:
[code]
but I'm still just getting the faint click.

[2015-09-01 05:18] akovaski commented on #153
So... did you resolve your problem?

[2015-09-01 14:18] ArchRobison commented on #153
Oops.  I accidentally hit the "Close and comment" button instead of "Comment".

I have not been able to resolve the problem with the `audio.go` example.  However, in my "real" code, the sound is working fine and I'm not sure what I did differently.

[2015-09-01 15:22] akovaski commented on #153
ahaha. Well I have made a pull-request #154  that fixes the problem for at-least me. Maybe you could check if that works for you.

[2015-09-02 02:58] ArchRobison commented on #153
Yes, that fixed it.  Indeed I wish I had turned down the volume before trying it :-).

[2015-09-02 02:58] #153 closed

[2015-09-04 21:45] rookieMP opened #155 "go-sdl2 frequently crashes in various, seemingly random places (linux x64)"
Let me preface this by saying my code is doing nothing strange with memory; it is a typical Go program. However, go-sdl2 is frequently crashing with strange errors, as if my renderer pointer is somehow becoming invalidated randomly. It's strange.
Here is a sample stack  trace, although it can appear anywhere

	/home/map/prog/go/src/github.com/veandco/go-sdl2/sdl/render.go:408 +0x6a fp=0x7fd2f02938

[2015-09-06 05:55] jackyb commented on #155
The usual solution is to use runtime.LockOSThread. https://github.com/golang/go/wiki/LockOSThread

We haven't implemented it yet but for now, you can do it in your main program.

[2015-09-13 21:40] acsellers opened #156 "Reading from image.RGBA to sdl.Texture"
I figured out the code to update a sdl.Texture from an image.RGBA using the Update function. Would you like me to write a pull request for an example showing that?

[code]

[2015-09-14 05:56] jackyb commented on #156
Definitely. We don't have enough examples!

[2015-09-20 22:11] tiggus opened #157 "Build to android?"
Is it possible to build a go-sdl2 program to the Android target?  All my attempts seem to bomb out with missing includes when I use gomobile.

[2015-09-24 01:36] jackyb commented on #157
We don't support Android yet.

[2015-09-24 01:36] #157 closed

[2015-09-26 04:19] #155 closed

[2015-09-26 04:19] #156 closed

[2015-09-26 04:20] #56 closed

[2015-09-28 18:59] stqn1 opened #158 "sdl_mixer wrapper requires MIDI support"
When I try to install the sdl2-mixer wrapper, it fails:
[code]
The reason seems to be that my version of sdl2-mixer was built without MIDI support.
Would it be possible to make MIDI support optional?

[2015-09-29 06:41] jackyb commented on #158
Hi, I applied a patch that allows you to disable MIDI support through build tag.

`go install -tags nomidi`

[2015-09-29 11:10] stqn1 commented on #158
Excellent, thanks! I ran "go get -v -u -tags nomidi github.com/veandco/go-sdl2/sdl_mixer" and got no error, so it seems it worked :).

[2015-09-29 23:46] fmd opened #159 "sdl.GL_SwapWindow INSANELY slow"
Hi everyone, I've been using this repo for a project and I've found that 99% of my program's execution time is spent in sdl.GL_SwapWindow:

![screen shot 2015-09-30 at 00 09 23](https://cloud.githubusercontent.com/assets/2799915/10181159/70410b34-670c-11e5-841a-d25fcb03d123.png)

![screen shot 2015-09-30 at 00 09 35](https://cloud.githubusercontent.com/assets/2799915/10181162/86db15c4-670c-11e5-89

[2015-09-29 23:51] fmd commented on #159
Even when my entire main loop is this:

[code]

The rendering time still looks like this:

![screen shot 2015-09-30 at 00 49 10](https://cloud.githubusercontent.com/assets/2799915/10181214/318a8b3a-670d-11e5-8e9a-69ce442da7b1.png)

Any ideas? I'm honestly not even rendering *anything* at this point.

[2015-09-30 01:22] akovaski commented on #159
I can't seem to reproduce your results. Perhaps post an entire program that reproduces the problem?

[2015-09-30 09:31] fmd commented on #159
How fast is your SDL_GL_SwapWindow? Mine's faster after restarting the computer (same as glfw examples and a minimal program) but all examples are still between 13ms and 17ms.

Does this just mean that openGL programs in Go will never hit 60fps on my computer? How fast does your computer call SDL_GL_SwapWindow?

[2015-09-30 10:54] jackyb commented on #159
Does this still produce the slow timings? What's your environment?
    package main

    import (
    	"fmt"
    	"time"

    	"github.com/veandco/go-sdl2/sdl"
    )

    func main() {
    	sdl.Init(sdl.INIT_EVERYTHING)

    	window, err := sdl.CreateWindow("Test", 100, 100, 800, 600, sdl.WINDOW_SHOWN | sdl.WINDOW_OPENGL)
    	if err != nil {
    		fmt.Println("Failed to create window:", err)

[2015-09-30 11:25] fmd commented on #159
In your example there you haven't created an openGL context. What are your results with this program?:

[code]

[2015-09-30 13:20] jackyb commented on #159
Seems like if I add sdl.Delay(16) inside loop(), the time it takes to swap window drops down to nanoseconds. I guess SDL probably waits for the screen to refresh behind the scene.

[2015-09-30 14:50] jalan commented on #159
Sounds like it's vsync at 60 Hz. Your video driver might ignore calls to `GL_SetSwapInterval`, but maybe you can change that behavior in the driver configuration.

[2015-09-30 15:39] fmd commented on #159
@jalan You were right! My Mac OS video driver was forcing vsync. For future people, to fix this: http://stackoverflow.com/questions/12345730/how-to-disable-vsync-on-mac-osx

[2015-09-30 15:39] #159 closed

[2015-10-02 14:23] jkearse3 commented on #158
Hello! It seems this patch has broken installation of the bindings. When using "go get -v github.com/veandco/go-sdl2/sdl_mixer ", I get the following errors:

../../veandco/go-sdl2/sdl_mixer/midi.go:16: undefined: unsafe in unsafe.Pointer
../../veandco/go-sdl2/sdl_mixer/midi.go:29: undefined: unsafe in unsafe.Pointer

Is it because of a missing import?

Thanks!

[2015-10-03 07:47] jackyb commented on #158
Seems so! I fixed it in the latest patch. Sorry about that.

[2015-10-06 10:10] #158 closed

[2015-10-07 06:18] Russtopia opened #160 "Can't build -- SDL2 headers not found though installed?"
I installed the SDL2 minGW devel packages (manually from .tgz, not using msys2).. but I get this when trying to 'go get -v github.com/veandco/go-sdl2/sdl' as instructed.

See below for error messages and my MinGW-64 and Go env. I'm probably doing something very dumb but I'm a bit new at Go.. tips appreciated, thanks.

<pre>
russtopia@JUNK /c/Users/Public/Documents/Go/src/github.com/veandco/go-sdl2

[2015-10-10 07:35] jackyb commented on #160
Sorry for the late response, had to find a Windows machine. I'm not familiar with Windows either but I managed to get it working by installing both MinGW (just for `make`) and MinGW64. I ran `make native` at the `SDL2-2.0.3` folder and copied the resulting `C:\MinGW\msys\1.0\include\SDL2` folder and libSDL2.* files at `C:\MinGW\msys\1.0\lib` folder into `C:\Program Files\mingw-w64\x86_64-5.2.0-pos

[2015-10-10 16:50] Russtopia commented on #160
Thanks, I will try it out!

On October 10, 2015 12:36:01 AM PDT, Jacky Boen <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-11-12 20:58] tanema opened #161 "Haptics Support"
Hello again,

I have found that you are missing support for [SDL_HapticNumAxes](https://wiki.libsdl.org/SDL_HapticNumAxes) As well as the [HapticEffect struct is just simply an interface](https://github.com/veandco/go-sdl2/blob/master/sdl/haptic.go#L126). The makes it impossible, to set a haptic effects type or any of its associated data.

[2015-11-13 01:46] ArchRobison opened #162 "Frame flicker on MacOS"
I'm having what appears to be an image synchronization problem on MacOS.  I'm wondering if I've done something wrong.  The [example program](https://github.com/ArchRobison/Crosshair/blob/65aa9738d78dabe52ffd25fcd85565bad2ac3cb1/crosshair.go) repeatedly does the following:

1. Read mouse events
2. Fills a texture with red.
3. Overwrites the texture with black and white.
4. Copies and presents the t

[2015-11-14 04:56] jackyb commented on #161
Hi tanema, thanks for reporting. I have added the missing parts. Could you check if they're working?

[2015-11-14 05:53] jackyb commented on #162
Hi ArchRobison, I created a C version that mimics the Go version. Could you check if the issue still happens? Just wanted to quickly check if it's a problem with the binding.

https://gist.github.com/jackyb/dbc38cba4cf7a05b55f2

[2015-11-15 19:27] tanema commented on #161
Hey I see the updates but I won't be able to test them until tomorrow. I will let you know how it goes

[2015-11-16 13:12] tanema commented on #161
hey @jackyb, thanks for your quick work it is appreciated. I tried it out today though and there is still a little bit missing. I cannot change the type. I will give you an example of how I normally use this.
for intance if I want to change the effect type in SDL I would have done this

[code]

in Go this is all I can do

[code]

I hope this is helpful.

[2015-11-17 14:20] tanema opened #163 "SDL_GetDisplayName not implemented"
Sorry I keep finding these issues but I found another missed method.

cheers,

[2015-11-17 15:35] krux02 commented on #163
you can also add a pull request, because implementing missing methods shouldn't be too hard.

[2015-11-17 15:41] tanema commented on #163
cheers, you are absolutely right, but having done this before I found it more of a pain because I have to change imports everywhere just to test it.

I figured for one method (that isn't that important, or urgently needed) I could document it here and it could be done when time permits.

however maybe you are right, I should just go ahead and do it

[2015-11-17 15:57] krux02 commented on #163
for changing the imports, do this in your bash:

    sed -i 's,veandco/go-sdl,tanema/go-sdl,g' $(find . | grep '\.go$')

it renames all imports

[2015-11-17 15:58] tanema commented on #163
hey now that is a neat trick! thanks!

[2015-11-17 16:11] krux02 commented on #163
no problem

[2015-11-18 01:07] jackyb commented on #161
Hi @tanema, sorry for the delay. Just added the method. See if it works for you.

[2015-11-18 01:13] jackyb commented on #163
It's a welcome issue, @tanema.

I just added the missing function. Check it out on the latest update!

[2015-11-18 01:31] kelcecil opened #164 "Provide functions accepting arrays for certain methods"
There's situations where you'll want to define your color or other things using an array literal. This can be helpful to DRY up code. What I'd like to see is something like:

[code]

I'll be happy to contribute this where it makes sense if the PR would be considered.

[2015-11-18 02:39] ArchRobison commented on #162
I'm having trouble getting the example to link.  (I'm new to MacOS's non-Unix "frameworks'.)  There seems to be no `SDL/SDL2.h` on my system.  I used Brew to install SDL.  There is a `Headers/SDL2.h`, so I tweaked the `#include` to use it.  But now I seem to be missing some fundamental MacOS library on my link line.  Here's a sample:
[code]
What do I need to add to my compile line?

[2015-11-18 12:21] krux02 commented on #164
go-sdl2 is generally just a wripper around sdl2 with some little changes to make the functions a little bit more go ideomatic. At the moment I do not see why this does make the api more ideomatic.

[2015-11-18 13:26] jackyb commented on #164
I added a quick implementation. See what you guys think!

[2015-11-18 14:33] kelcecil commented on #164
@jackyb That's pretty much exactly what I did in my fork. Looks good to me!

@krux02 It's not intended to make the wrapper more idiomatic. The desire is to define a color once using a single variable and use the same definition in various places. It eases DRYing up the code.

[2015-11-18 14:42] tanema commented on #163
It works perfectly, thanks again!

[2015-11-18 14:42] #163 closed

[2015-11-18 15:03] tanema commented on #161
It seems to work and all the functionality is great but for some reason my controllers haptics are not registered. SDL GetError() returns "Haptic: There are 0 haptic devices available" so I think this is either a SDL/OSX issue and not a problem with your library. However that also means I cannot fully test it at the moment.

[2015-11-20 02:37] ArchRobison commented on #162
I got the program to compile.  The C program exhibits the same red flicker program, so it's not the Go bindings.  Do you have recommendations on how best to report the C example to the SDL community?

P.S. By patiently looking up symbols in the SDK sources, I was able to get the program to link.  I ended up with:
[code]

[2015-11-20 05:08] jackyb commented on #162
Hi ArchRobison, it's great you got it to work! I believe the development mailing list is the best way for you to report the problem. http://libsdl.org/mailing-list.php.

[2015-12-04 19:33] #164 closed

[2015-12-23 12:52] billyninja opened #166 "Not a issue. Question. pkg/image vs. go sdl for image processing."
Suppose I want to make a webservice for simple image manipulation: crop, resize, rotate, filters, concatenating images etc.

Which library would give the highest image throughput? go-sdl2 or pkg/image?

[2015-12-23 13:04] jackyb commented on #166
Definitely use other libraries like [imagick](https://github.com/gographics/imagick) which is a C binding to the popular ImageMagick or native Go solution like [imaging](https://github.com/disintegration/imaging). By pure reputation, ImageMagick should be faster but I'm not sure how much overhead the binding has on it.

[2015-12-23 13:26] krux02 commented on #166
I thik it doesn't matter that much, because the bottleneck will be the internet. Images can be big, and the operations you want to do on them are very trivial. If you really want high performance, you should prevent completely that the images are on your server. There are options, that you can run imageMagic in the browser on the client side (asm.js or nativeclient). Then you can prevent completel

[2015-12-26 16:56] tycho opened #167 "Can't build sdl_mixer.go with gccgo 5.3.0"
[code]

[2015-12-26 19:00] akovaski commented on #167
Interesting,
https://github.com/golang/go/issues/6357
but you could replace it with any typedef since all it ever uses is the pointer to the object, never the object itself (I think).

looking at the defition of the struct that is actually used (unofficial mirror https://github.com/aduros/SDL_mixer/blob/master/music.c), it looks like it actually is different depending on how it's compiled (I don't

[2015-12-26 21:53] tycho commented on #167
Hi @akovaski! A C union is actually not too tough, e.g.:
[code]
The union above makes the variables 'foo' and 'bar' reside at the same memory location (the size of the memory used by the union itself depends on the inputs (the largest of them determines the memory reserved for it). With the above union you can use either 'data.foo' (type Foo*) or 'data.bar' (type Bar*) to refer to the value stored

[2015-12-26 22:42] akovaski commented on #167
Ok, I didn't notice they were all pointers (and thus didn't notice the union would take up just the space of 1 pointer in the struct).

Yes, that is an empty struct... (If you look at the methods of the 'Music' type, they all just use a pointer to the Music type and don't actually acre what's in it, or even about the size of the struct, which is why I suggested it as a potential replacement). Go s

[2015-12-26 23:19] tycho commented on #167
Using `type Music C.Mix_Music` seems to work. I tested the 'audio' and 'audio_mp3' examples and they worked as well, built with `go build -gccgoflags '-lSDL2_mixer -lSDL2'`.

[2015-12-26 23:39] akovaski commented on #167
huh, I'm surprised that you need to pass those link flags.

Anyways, feel free to send a push request with that change, I'm sure Jacky would accept it.

[2015-12-26 23:41] tycho commented on #167
I think gccgo is a bit of a special snowflake. There are advantages though, like all the years of development that have gone into GCC's auto-vectorization. I'll get a pull request up in a minute.

[2015-12-27 11:23] #167 closed

[2015-12-29 08:37] #160 closed

[2015-12-29 08:37] #161 closed

[2015-12-29 08:37] #162 closed

[2016-01-02 01:14] charneykaye commented on #75
Here's an example I made, of go-sdl2 working with a goroutine. However, I'm noticing that the performance of this program is extremely choppy. https://github.com/charneykaye/go-SDL-experiements/blob/master/stars_goroutine.go

[2016-01-02 01:16] charneykaye opened #172 "Execution is choppy"
I've built a simple example to push the computation limit (slightly) in order to see how smoothly go + SDL actaully operates. For me, compiled on Ubuntu 14.04 this program begins running nominally for about 2 seconds, then becomes choppy, running in short bursts separated by delays of no activity. This is enough for me to consider shelving Go+SDL for the moment (sticking with C++ SDL) Any thoughts

[2016-01-02 02:27] akovaski commented on #172
fun example!

The reason it slows after 2 seconds is a memory leak, turns out you're supposed to call texture.Destroy once you're done with a texture. If you add a
[code]
after assigning it makes the program run smoothly for me, but it still ate up a lot of cpu. Certainly, documentation of such would be a good thing... perhaps adding a finalizer for those who don't call the destroy method would pr

[2016-01-02 03:11] charneykaye commented on #172
thanks for these 2 excellent pro tips, and keeping the faith with Go- its mildly increased abstraction comes with a deeply fulfilling simplicity that I am hopeful to adopt in many applications.

RENDERER_PRESENTVSYNC is a big help, and a lead on better understanding what SDL is asking the machine to do. That and proper Texture-garbage-collection indeed made the example program [run better](https:/

[2016-01-02 03:11] #172 closed

[2016-01-15 17:14] tanema opened #176 "ShowMessageBox doesn't properly display buttons"
Hey I was quite happy to see the new message box implementation so I started to play around with it and noticed that it doesn't quite work yet. I just ran the example and I got this for the buttons:
![screen shot 2016-01-15 at 12 05 40 pm](https://cloud.githubusercontent.com/assets/463193/12359466/87bd0754-bb80-11e5-8599-a6925d73840b.png)

If you press the unlabeled one it will crash the example a

[2016-01-19 06:35] godispy opened #177 "Does sdl.DropEvent work on Linux?"
The drag and drop files did not work.
I further added “sdl.EventState(sdl.DROPFILE,sdl.ENABLE)” but it still did not work.
So, does sdl.DROPFILE work on Linux?

-------------------------------------------------------------------------------------------------
sdl.EventState(sdl.DROPFILE,sdl.ENABLE)
for event := sdl.PollEvent(); event != nil; event = sdl.PollEvent() {
		switch e := event.(type) {

[2016-01-19 07:21] aqiank commented on #177
It works on my Linux/Plasma 5 desktop.

[2016-01-19 08:30] aqiank commented on #176
Hi @tanema, I've fixed it in a recent commit. Please try again.

[2016-01-19 09:07] godispy commented on #177
it doesn't work on gentoo kde4

[2016-01-19 09:15] aqiank commented on #177
Can you try this quick C snippet and see if it works? Just checking if it's really the binding's issue. https://gist.github.com/aqiank/efa6eefcc81157982acc

[2016-01-19 09:52] godispy commented on #177
I tried.  It doesn't work.

[2016-01-19 11:54] aqiank commented on #177
You should report the issue to the SDL2 devs. Here's their Bugzilla link: https://bugzilla.libsdl.org/

[2016-01-19 12:07] godispy commented on #177
thx

[2016-01-19 14:33] tanema commented on #176
It works perfectly @aqiank, it looks like my suspicions were correct as well. Thanks for the fix!

[2016-01-19 14:33] #176 closed

[2016-01-19 14:36] #177 closed

[2016-02-02 17:21] caioariede opened #178 "Cannot cross-compile from Mac to Windows"
I'm trying to cross-compile [something](https://github.com/caioariede/sugoku-sdl) but I'm getting an error.

Any ideas?

**Command:**

**Error message:**

../../golang/src/github.com/veandco/go-sdl2/sdl/yuv_sw_c.go:18: undefined: Surface

**Full log:**
[code]

[2016-02-02 21:54] saturn4er opened #179 "Can't create opengl context at version requested"
Imports:

	"github.com/go-gl/gl/v4.1-core/gl"
	"github.com/veandco/go-sdl2/sdl"

Code:

	 var winTitle string = "Go-SDL2 + Go-GL"
	 var winWidth, winHeight int = 800, 600
	 var window *sdl.Window
	 var context sdl.GLContext
	 var event sdl.Event
	 var running bool
	 var err error

	if err = sdl.Init(sdl.INIT_EVERYTHING); err != nil {
		panic(err)
	}
	defer sdl.Quit()

	sdl.GL_SetAttribute(sdl.GL_C

[2016-02-02 22:02] saturn4er commented on #179
Resolving:

    sdl.GL_SetAttribute(sdl.GL_CONTEXT_PROFILE_MASK, sdl.GL_CONTEXT_PROFILE_CORE)

[2016-02-02 22:02] #179 closed

[2016-02-05 09:49] aqiank commented on #178
It's a little tricky to be able to cross-compile it from Mac to Windows because it requires the native SDL2 library for Windows to link against. But I'm keeping this issue here just in case it is indeed possible.

[2016-02-25 22:22] rakyll opened #181 "messagebox example crashes"
[code]

[2016-02-25 22:58] jalan commented on #181
Nice to see some results from 1.6's [new rules for sharing Go pointers with C code](https://tip.golang.org/doc/go1.6#cgo).

Here's another:

[code]

[2016-02-27 03:18] aqiank commented on #181
@rakyll, I have the fix merged into master.

@jalan, good find! I'll create another issue for that one.

[2016-02-27 03:22] aqiank opened #183 "sdl_image: TestLoadFormat fails test"
[code]

[2016-02-27 03:46] aqiank commented on #183
Fixed

[2016-02-27 03:46] #183 closed

[2016-03-19 19:26] jegor377 opened #185 "Last version doesn't work"
github.com/veandco/go-sdl2 (download)
github.com/veandco/go-sdl2/sdl
# github.com/veandco/go-sdl2/sdl
..\github.com\veandco\go-sdl2\sdl\video.go:183:13: expected (unqualified) identifier

[2016-03-19 19:26] jegor377 commented on #185
I've got windows 10 pro

[2016-03-19 20:55] akovaski commented on #185
Works fine for me, Windows 10 Pro, 64 bit, go1.5.2/go1.6

[2016-03-20 02:48] aqiank commented on #185
Hi @jegor377, could you go to the directory of the go-sdl2 that you have go-get and run `git show`? Check if the commit really matches the last version (starts with 3105ff129..).

[2016-03-22 20:56] gen2brain opened #186 "Android example"
This is just a proof of concept.  Golang example is compiled to C shared library and then linked with the help of Android.mk files from SDL2. SDLActivity.java is used, same as with C/C++ and SDL2.

https://github.com/gen2brain/go-sdl2-android-example

[2016-03-23 19:41] jegor377 commented on #185
no problem,
D:\Dane\Projekty\Go\TestSDLCode\src\github.com\veandco\go-sdl2>git show
commit 3105ff129069157b33de6d246abcefb4d7178d45
Merge: a8fc14d d4e82ab
Author: Jacky Boen <aqiank@gmail.com>
Date:   Thu Mar 17 09:53:43 2016 +0800

    Merge pull request #184 from gen2brain/master

    Add mutexes

D:\Dane\Projekty\Go\TestSDLCode\src\github.com\veandco\go-sdl2>

[2016-03-23 19:43] jegor377 commented on #185
It's windows 10 pro 32bit

[2016-03-23 19:46] jegor377 commented on #185
and I've got a question. I'm a noob in golang, so I don't know how, but how to get values from sdl.Event? It's an interface and when I used events in C++ it was just "Event.type == SDL_QUIT", but here the compilator says that sdl.Event doesn't have got value like Type or something. How to get an event type value or else? :)

[2016-03-23 20:08] jegor377 commented on #185
ok, I found how to read events, but the last version still doesn't work.

[2016-03-24 05:29] aqiank commented on #185
Okay, I'll install Windows 10 32-bit tonight and see if I can reproduce the issue.

[2016-03-24 14:29] jegor377 commented on #185
ok :)

[2016-03-24 14:55] akovaski commented on #185
Just a suspicion, but this may be caused by using a C struct as a method receiver on line 183. I'm not sure, as that would be a weird thing to be system dependent. Also, I'm not sure why this method is needed, so perhaps a fix would be to remove the method altogether. If it is needed, perhaps a fix would be (re)defining the type for the package ```type cMessageBoxButtonData C.SDL_MessageBoxButtonD

[2016-03-25 01:31] aqiank commented on #185
@akovaski is right that there shouldn't be a method for a C type (and it returns itself!?). I removed the method so hopefully it's fine now.

[2016-03-25 01:48] aqiank commented on #186
Hi @gen2brain, sorry for the late reply. Could you write down instructions about the build process? I'm not very familiar with how Android development works. I've tried running the scripts and opening the android folder with Android Studio but it doesn't seem to recognize it as something that can be built. Also thanks! This is awesome.

[2016-03-25 02:06] gen2brain commented on #186
Hi, I will try to write all instructions in README. Or even better to write some bootstrap script that can install android toolchain, compile Go for that target and build and copy SDL2 libs and headers to toolchain location. After bootstrap is done all that is needed is to run ./make.bash in example dir and after that ./make.bash in android dir.

There is no need to use Android Studio. ndk-build w

[2016-03-25 05:56] gen2brain commented on #186
Ok, I added a boostrap.bash script and some compile instructions to README. Script should prepare everything that is needed.

[2016-03-25 15:54] jegor377 commented on #185
Oh, now it's working. thx:)

[2016-03-25 15:55] #185 closed

[2016-04-02 13:39] aqiank commented on #186
Thanks gen2brain. I'll just reference your example in the README for now.

[2016-04-13 19:58] jackc opened #187 "Document runtime.LockOSThread() requirement more explicitly"
The examples do not use `runtime.LockOSThread()`. The readme / FAQ only mentions `runtime.LockOSThread()` as solution if you are experiencing random crashes.

Running on OSX my test program (see below) would pinwheel randomly. The program would keep rendering, but no messages from `PollEvent` would be received. This would render the program unresponsive, but not quite crashed. Eventually, it might

[2016-04-15 07:39] aqiank commented on #187
I'm still waiting for someone to do [this](https://groups.google.com/forum/#!msg/golang-nuts/IiWZ2hUuLDA/SNKYYZBelsYJ) instead.

Let's see how it goes this weekend for me. I might do it if nothing comes up IRL.

[2016-04-16 14:40] aqiank commented on #187
I've added a call queue system for thread-sensitive code that users can use. It uses CallQueue variable which accepts a `func()` that is called immediately. User does need to do `go sdl.ProcessCalls()` first to initiate the call queue processor. See the `render_queue` example for runnable code example.

[2016-05-02 19:59] 6677 opened #189 "Joystick and Gamepad axis and buttons all return 0"
All buttons for both the Joystick and Gamepad classes return 0. All axis return 0. Tested on OSX El Capitan with a dualshock 4, sixaxis and Xbox 360 wired controller, these controllers function in other software.

[2016-05-03 13:30] aqiank commented on #189
Did you set up the Joystick correctly? I've updated the 'events' example to show.

[2016-05-04 10:36] krux02 commented on #189
Can you please give write an example project that we can compile to verify this behavior? Your behavior can also come from wrong initialization or usage of this library, and to exclude it would be very nice if you provide a project on github with your code.

[2016-05-04 10:43] #114 closed

[2016-05-05 08:58] aqiank commented on #75
I've added a new `render_goroutines` example which uses a global channel where you can put your thread-sensitive calls like SDL's render functions. It's called `sdl.CallQueue` for now but if you guys have suggestions, go ahead.

The example code looks something like this:

    // Set a WaitGroup to wait until all pixels are drawn
    var wg sync.WaitGroup

    for y := 0; y < winHeight; y++ {

[2016-05-05 09:11] #181 closed

[2016-05-05 09:13] #166 closed

[2016-05-05 09:13] #186 closed

[2016-05-05 09:14] #187 closed

[2016-05-05 17:23] 6677 commented on #189
The events example also does not function with a DS4, sixaxis or xbox 360 controller. It does function on windows. These controllers are functioning in gangbeasts on steam on OSX.

[2016-05-06 02:51] aqiank commented on #189
Perhaps you can provide us with a minimal example that shows the Joystick and the others not working? We'll find out what the issue is.

[2016-05-06 11:19] dominikh opened #193 "Typo in (*Rect).Equals"
`Equals` checks that `a.Y == a.Y` but should check that `a.Y == b.Y`.

[code]

[2016-05-06 11:32] aqiank commented on #193
Fixed it. Thanks for finding this!

[2016-05-06 11:37] #193 closed

[2016-05-06 13:48] jackc commented on #187
Thanks. I looked at the render_queue example. I think I can make CallQueue do what I need, but FYI some of the example code isn't correct.

[code]

The above code causes a race condition.

[code]

[2016-05-06 14:12] aqiank commented on #187
Thanks, I'll fix that. It's probably worth to check the new `render_goroutines` out too.

[2016-05-07 06:46] #75 closed

[2016-05-18 06:29] gerow opened #194 "sdl.AddEventWatch broken in go 1.6"
I'm still not sure if this is 1.6-specific or just something that's broken for other reasons. Looking into solutions, though. Anyway, the below commands should make the situation clear:

[code]

[2016-05-18 13:19] veeableful commented on #194
Fixed by #195

[2016-05-18 13:19] #194 closed

[2016-06-09 16:48] DeedleFake commented on #143
It's been about 11 months since the last post in this discussion. Has [golang/freetype](https://www.github.com/golang/freetype) gotten any better since then? Is this more feasible now? I'm working on a project using SDL2, and I'm running into problems with glyphs randomly not rendering. I get errors like the following:

So far as I can tell, it's a pretty common problem with SDL2_ttf. The most ann

[2016-06-09 22:02] veeableful commented on #143
I hadn't followed this discussion but if this issue can't be fixed with SDL2, I'll have a go at writing the code that use the Go freetype library.

In the meantime, is it possible for you to share a small runnable code that reproduce the issue? It seems like the only other similar problem I found is in another binding for D lang: http://stackoverflow.com/questions/26956658/sdl-ttf-rendertext-blend

[2016-06-17 15:45] Sendoushi opened #196 "Loading icon..."
This code is causing the window to set a loading icon. It doesn't crash since it keeps logging but it becomes non responsive. I've used `1` as `fps`. I'm using `MacOs`

[code]

[2016-06-17 16:05] tanema commented on #196
What are you expecting in this loop? The tick loop will never even be reached because the poll event loop wont exit. Have you tried the examples?

[2016-06-17 16:26] veeableful commented on #196
I think the `select` is blocking the loop and causes the lag? You could try something like the following proof-of-concept but if you're going to draw stuff in the ticking thread, the example at `examples/render_goroutines` might help as it shows how to queue drawing calls in SDL2 (because it is not originally thread safe).

    package main

    import (
        "fmt"
        "time"

        "gith

[2016-06-17 16:36] Sendoushi commented on #196
@tanema trying to make a fps loop for a running game. examples don't have loops.
@veeableful yes i think i'll implement the example go routines on my loop but i still need a loop to animate and control and what not... Why delay 33? Why is KeyDownEvent oppositing the var? Still... thanks. It works now!

Here is the code working:
[code]

[2016-06-17 16:36] #196 closed

[2016-06-17 16:48] veeableful commented on #196
@Sendoushi

The `sdl.Delay()` is there because I was assuming you'd be rendering things in the loop as well. Monitors usually can't refresh faster than 60hz so the delay helps reduce wasteful processing. The 33ms is from 1000ms / 30 fps. In more intensive games, they probably also minus the delay with time it takes to process a single frame so the fps is more stable.

The KeyDownEvent is just a si

[2016-06-17 20:10] Sendoushi commented on #196
Oh... Right! Sorry what a noobiness. If I wasted like 5minutes looking at that KeyDownEvent I would understand it ehehe

[2016-06-24 15:47] DeedleFake commented on #143
I have not been able to reproduce the problem consistently. It happens a lot, but sometimes it doesn't happen at all. For some bizarre reason, it seems to happen far more often when using the race detector, but even then it doesn't happen sometimes. I think it may have to do with multithreading issues, but I'm not sure.

I looked into [golang/freetype](https://www.github.com/golang/freetype). I lo

[2016-06-26 16:29] jegor377 opened #197 "Errors while getting library from git."
User>go get -v github.com/veandco/go-sdl2/sdl
github.com/veandco/go-sdl2 (download)
github.com/veandco/go-sdl2/sdl
## github.com/veandco/go-sdl2/sdl
37: error: 'SDL_ANDROID_EXTERNAL_STORAGE_READ' undeclared (first use in this function)
37: error: 'SDL_ANDROID_EXTERNAL_STORAGE_WRITE' undeclared (first use in this function)
37: error: 'SDL_AndroidGetInternalStoragePath' undeclared (first use in this

[2016-06-27 05:53] veeableful commented on #197
Interesting. If you're using Windows, the code that requires Android-specific shouldn't be part of the compilation AFAIK. I'll try on my 32-bit Windows laptop later and let you know how it goes.

[2016-06-27 19:47] jegor377 commented on #197
Ok, thank you for response. I will be wait.

[2016-06-28 10:28] veeableful commented on #197
Hi jegor377, I was able to get and compile the library using a Windows 10 32-bit machine. Do you have MinGW installed? I assume you're using MinGW version of SDL2.

What I did is basically install Git, Go, and MinGW. Then I put `C:\MinGW\bin` into Path environment variable in Windows. Then I downloaded development libraries of SDL2 (MinGW version) and put the development headers `C:\MinGW\mingw32\

[2016-06-28 10:54] jegor377 commented on #197
I installed MinGW and SDL2. Library worked correctly before last update. All paths are set correctly. :/ Now I'm using my backup copy of the SDL2 for Go and it's working.

[2016-06-28 11:35] veeableful commented on #197
Could you give me the commit that started to cause this problem? I'll check what went wrong in the commit.

[2016-07-02 23:48] jegor377 commented on #197
Version that I'm already using is the version which has been commited just after solve this issue - https://github.com/veandco/go-sdl2/issues/185

[2016-07-03 05:49] veeableful commented on #197
So that is the version that works? What about the one that doesn't? Could you also give me a specific commit reference for the one that fails to compile? Sorry for the back-and-forth :(

[2016-07-03 20:08] jegor377 commented on #197
It's the newest version what came out - b219958. :)

[2016-07-04 14:29] veeableful commented on #197
Just a final check, is your Go at least version 1.5? It seems they just finalized android support on that release. If not, try updating to it and let me know if it works for you.

At the moment, that seems like the only explanation I can come up with.

[2016-07-05 05:46] veeableful commented on #197
I added go1.4 build tag so now you should be able to compile the package even on older Go versions.

[2016-07-06 20:02] jegor377 commented on #197
You're right! I had go1.2.1 version. Now I've updated to 1.6.2 and tried once again and it's all working. Thanks! :)

[2016-07-06 20:02] #197 closed

[2016-07-17 19:53] gasquake opened #198 "could not determine kind of name for C.AUDIO_F32"
There is more printed out that all relates to audio, how do I fix this?

[2016-07-18 01:25] veeableful commented on #198
Heya, that sounds like a build environment problem. What's the version of Go and OS?

[2016-07-18 15:59] gasquake commented on #198
go version go1.6.2 windows/386
Windows 10

[2016-07-19 06:39] veeableful commented on #198
It seems the preprocessor macro for Windows is wrong in `sdl/sdl_wrapper.h`. I have fixed it in the latest commit. Could you try updating the library and see if the problem comes up again?

[2016-07-19 15:45] #129 closed

[2016-07-19 15:45] #189 closed

[2016-07-19 19:50] gasquake commented on #198
What do you mean update the library? I'm very new to go and go's workflow.

[2016-07-20 12:00] veeableful commented on #198
You can update the go-sdl2 library by running `go get -v -u github.com/veandco/go-sdl2/sdl`.

But perhaps there's something else that is wrong. What version is the SDL installed on your environment?

[2016-07-20 16:58] gasquake commented on #198
The latest from the website.  SDL2-2.0.4 32bit

[2016-07-22 15:07] veeableful commented on #198
Are you using MinGW? If not, can you try using MinGW and see if it works for you? Otherwise, I'm not really sure what the problem is with your environment. If you could explain the steps you took to compile go-sdl2 from start to finish, I think it would help.

[2016-07-22 23:56] bj4rtmar commented on #198
I'm having similar issues. When I do `go get -v -u github.com/veandco/go-sdl2/sdl` I get:

github.com/veandco/go-sdl2/sdl
\# github.com/veandco/go-sdl2/sdl
could not determine kind of name for C.SDL_HINT_MAC_BACKGROUND_APP
could not determine kind of name for C.SDL_HINT_THREAD_STACK_SIZE
could not determine kind of name for C.SDL_HINT_VIDEO_X11_NET_WM_PING
could not determine kind of name for C.SD

[2016-07-24 02:53] veeableful commented on #198
Hi @bj4rtmar, current the package depends on `pkg-config` for Unix-like OSes. Could you try running `pkg-config --cflags --libs sdl2` and see if it works?

[2016-07-24 12:31] bj4rtmar commented on #198
this is what i get:

[2016-07-24 16:39] veeableful commented on #198
I did fix certain flag and function when using SDL 2.0.0 but none of them are related to the ones you encountered. Other than that, all versions of SDL2 (both distro packages from Arch and Ubuntu, and compile-from-source) seem to work on my computer. Have you tried the package from your distro?

[2016-07-24 16:51] veeableful commented on #198
@gasquake Could I trouble you to put all output of the errors here?

[2016-07-24 19:30] bj4rtmar commented on #198
I'm using ubuntu and I installed SDL2 by doing `sudo apt-get install libsdl2-dev`

The thing is that go-sdl2 used to work fine on my machine when I installed it a few weeks ago (I was able to run a few go-sdl2/examples programs). I only got those errors when I updated go-sdl2 a few days ago

[2016-07-24 20:33] bj4rtmar commented on #198
It seems to me that this commit https://github.com/veandco/go-sdl2/commit/3d2cbd79a2157392f7dc6d3d4fad58da2a81b4b8 introduces the errors on my machine.

I did a git checkout on the commit before that one (`git checkout 0ff68e49`) and I got no errors (tested by running examples/texture/texture.go)

[2016-07-24 23:44] veeableful commented on #198
If you have installed SDL2 through the package manager, the headers should be located at /usr/include/SDL2 instead of /usr/local/include/SDL2. Could you check if this is true? It might or might not solve the problem.

If that is not the problem, the only thing I can think of is that your SDL2 is version 2.0.4 but somehow doesn't have the hints. If that's the case, I can make the fix by putting dum

[2016-07-25 00:07] bj4rtmar commented on #198
I checked and I have header files in both of these directories..

In /usr/include/SDL2 I grepped for:
SDL_HINT_MAC_BACKGROUND_APP
SDL_HINT_THREAD_STACK_SIZE
HINT_VIDEO_X11_NET_WM_PING
SDL_HINT_WINDOWS_NO_CLOSE_ON_ALT_F4

and they're all defined in the SDL_hints.h file.
But when I grepped for the same strings in /usr/local/include/SDL2 I got no matches.

I'm not sure what this means.. :confused:

[2016-07-25 00:21] veeableful commented on #198
It seems like `pkg-config` defaults to using the local one. Could you try uninstalling the local version of SDL2 temporarily and try again? If you still have the SDL2 source, you should be able to run `make uninstall` inside its folder which will uninstall the local version for you.

[2016-07-25 00:27] bj4rtmar commented on #198
That did the trick :smile:

Thanks for the help!

[2016-07-25 00:43] veeableful commented on #198
@bj4rtmar  yay! No problem!

[2016-07-25 23:07] gasquake commented on #198
These are my error messages: http://puu.sh/qeodS/3d9aaf9a87.png. Thanks for trying to help veeableful :).

[2016-07-25 23:10] gasquake commented on #198
By the way when I make a SDL project with C everything works fine. I don't think SDL is to fault, I'll try fully cleaning and reinstalling Go. I'll get back to you; hopefully with a "yay" message ;P.

[2016-07-25 23:26] gasquake commented on #198
Ok, I've just reinstalled all of Go and I'm still getting these audio related messages. It's worth to mention that I get them when I try to install each package. Also if it's any help: my Go and SDL versions are both 32bit.

[2016-07-26 01:19] veeableful commented on #198
Hi @gasquake, from the error messages it seems like Go could not find the SDL2 headers. Where do you put the SDL2 header files? go-sdl2 expects it to be at somewhere like `C:\MinGW\mingw32\include\SDL2` if you use MinGW.

[2016-07-26 02:07] gasquake commented on #198
Oh, then that's definitely the problem. I keep them at C:\SDL. I'll get back to you after I try implementing this.

[2016-07-26 02:16] gasquake commented on #198
Wow, that worked! I mean I had to put my other SDL stuff into MinGW as well, but yeah, that did the trick! Thanks so much, by the way you look beautiful in your profile picture. Have a nice day!

[2016-07-26 02:56] veeableful commented on #198
Glad I could help! and thanks for the nice compliment! I appreciate it :blush:

[2016-07-26 06:33] #198 closed

[2016-08-02 12:32] faiface opened #199 "No SDL2 gfx bindings"
Hello!

These SDL2 bindings are absolutely rocking, there's just one thing that's missing for me: the SDL2 gfx extension. Is there any problem adding it in? If not, I'd be very thankful for having it in.

Thanks!

[2016-08-02 14:53] veeableful commented on #199
Hey, thanks! We just haven't thought about adding it in. I'll have a go at it tomorrow.

[2016-08-02 16:22] faiface commented on #199
That's very cool! Gfx extension is not essential, however, it's very helpful, because it implements things like drawing various shapes, rotating and scaling images and so on. I am currently using SDL2 with Go in my game and of course, I can implement this functionality myself, however, having it implemented through SDL2 gfx is comfortable and potentially faster in performance.

[2016-08-03 18:50] veeableful commented on #199
Okay! I've implemented the GFX primitives part on my branch `iskandar`. Hopefully you can start making use of them. I'll add the rest of the functions later :grin:

[2016-08-04 18:24] faiface commented on #199
Thank you very much! :D I'll go get 'em and test them as soon as possible.

[2016-08-08 20:55] handicraftsman opened #200 "Guide"
Will there be something like tutorial/guide? Not just reference.

[2016-08-09 05:22] veeableful commented on #200
We haven't thought about creating a tutorial but that's an interesting suggestion I'll work on creating the tutorials :smiley:

[2016-08-09 15:47] handicraftsman commented on #200
Thanks. It's cool. Why i am asking? Just because reading references is not very easy when trying to start using library.

[2016-08-09 15:47] #200 closed

[2016-08-13 20:45] handicraftsman opened #201 "Crash on surface.FillRect()"
Line:
    `gfxSurf.FillRect(&gfxLeftPanel, 0xffff0000)`
Crash:
[code]

[2016-08-14 07:22] veeableful commented on #201
Hi @handicraftsman, could you give me a minimal code that could reproduce the problem? I've tried a simple code that does Surface.FillRect() but it doesn't seem to happen.

[2016-08-14 16:39] handicraftsman commented on #201
Okay. (OS - ArchLinux (manjaro) with Go from original repo)
[code]
[code]
[code]

[2016-08-14 16:40] handicraftsman commented on #201
P. S. I am developing roguelike.

[2016-08-14 16:42] handicraftsman commented on #201
Updated go-sdl package - still crashes, same error.

[2016-08-14 16:43] handicraftsman commented on #201
Full log:
[code]

[2016-08-15 12:51] veeableful commented on #201
Oh it seems like you didn't get the surface from the window using Window.GetSurface() or create it using sdl.CreateRGBSurface(). Try doing something like:
[code]

[2016-08-15 13:16] handicraftsman commented on #201
Okay, i'll try (stops PHP dev servers)

[2016-08-15 13:18] handicraftsman commented on #201
Thanks. It works.

[2016-08-15 13:18] #201 closed

[2016-08-16 15:20] faiface commented on #199
Trying it out and seems to be working fine ;)

[2016-08-16 15:32] faiface opened #202 "Color.Uint32() probably implemented incorrectly"
Currently, `Color.Uint32()` returns an integer in format `#00RRGGBB`.
However, functions in SDL2_gfx, such as `FilledPolygonColor` require `#AABBGGRR`.
I am not sure if this is a bug, or SDL2_gfx just use some crazy representation, however, `Color.Uint32()` doesn't produce usable results in this case.

[2016-08-16 16:17] veeableful commented on #202
Hi faiface, it seems like SDL2_gfx doesn't use the same format as SDL2 itself according to the a test I did using both C and Go versions of filledPolygonColor() and SDL_FillRect(). The former function produces blue while the latter produces red using 0xFFFF0000.

However, I did discover that the binding doesn't use the A value for some reason which I fixed in the latest commit :+1:

[2016-08-16 16:30] #199 closed

[2016-08-16 16:32] faiface commented on #202
Ok, that's funny. So I have to make my own func for that, but that's no problem. Thanks anyway ;)
Guess the issue can be closed.

[2016-08-16 16:52] veeableful commented on #202
If you have a suggestion on how to make it easier, we could put it into the binding. I'm thinking of either changing all the uint32 into sdl.Color which is then converted internally _or_ provide a function for users that does the conversion. Which one would be more convenient for you?

[2016-08-16 17:05] faiface commented on #202
I like the first option alot. It kinda breaks the "isomorphism" between the binding and the original, but I guess that's broken anyway already :D. But it adds a lot of convenience, which is good. Having two functions would work (that's what I have right now), but would be cumbersome in the library I think.

[2016-08-16 17:55] veeableful commented on #202
Alright then, I've updated gfx to use sdl.Color instead! :grin:

[2016-08-16 18:47] faiface commented on #202
Great! :D And thanks for a very responsive feedback.

[2016-08-17 02:00] veeableful commented on #202
You're welcome!

[2016-08-17 02:00] #202 closed

[2016-08-24 01:38] cdelorme opened #203 "trouble with example/render_queue"
I am on linux, debian jessie specifically, and using the latest go (1.7).  I began playing with SDL2 and it works for me with the `runtime.LockOsThread()`, but obviously I would love to take advantage of multi-threading to process updates in parallel.

I looked into the examples, and the render_goroutines has a near-infinite length goroutine stacktrace, so I decided to post the crash I get from re

[2016-08-24 01:40] cdelorme commented on #203
For amusement, I tried adding the lock os thread to the example file, and it still crashes.  Same with the render_goroutine example.  I will try switching go versions and give it another try.

[2016-08-24 01:45] cdelorme commented on #203
Finished trying with go1.4.3, go1.5, and go1.6.2, all of which had the same crash.

If I didn't mention in the opening, the window appears for a fraction of a second before the crash occurs.

[2016-08-24 05:56] cdelorme commented on #203
I could just be unskilled, and my backend knowledge of go is certainly lacking, but after a few hours of reading and trial/error I am confident that the CallQueue implementation is flawed.

The documentation for `runtime.LockOSThread()` states that it's context is the current goroutine and not the entire application:

_I was operating under the false assumption that this meant new goroutines would

[2016-08-24 16:02] veeableful commented on #203
Hi @cdelorme, I've updated the `render_goroutines` example. Could you check if the crash is still happening? I've wrapped all the SDL2 functions under the CallQueue so it shouldn't crash anymore.

[2016-08-24 17:24] cdelorme commented on #203
@veeableful Your patch worked, the code now displays a series of white outlined boxes sliding across a black background.

I'm still not sure I follow how this works, but does this mean that so long as only one goroutine/thread uses sdl functions it doesn't matter which one calls `runtime.LockOSThread()`?

[2016-08-25 01:21] veeableful commented on #203
@cdelorme According to SDL2's [article](https://wiki.libsdl.org/CategoryThread), as long as SDL2's thread-sensitive functions are called from the same OS thread (which is the goroutine that calls `runtime.LockOSThread`), it should be safe.

How it works in the library is that we pass functions to that "main" goroutine which then becomes the one who calls the SDL2's thread-sensitive functions. It i

[2016-08-25 11:58] cdelorme commented on #203
@veeableful Thank you for the detailed explanation; I figured there was a particular set of rules in SDL around thread association but I couldn't find the document on their wiki that described that, so the link is appreciated.

I did notice that every call to SDL was being routed through the queue stack which was locked to a thread.  I thought it was the main thread (eg. first thread the program s

[2016-08-25 13:28] cdelorme commented on #203
I stand corrected, I gave the previous version a try using my mac and it worked.  It looks like a big static picture that appeared suddenly so you couldn't really tell goroutines were used to draw the screen.

[2016-08-25 14:47] veeableful commented on #203
I've updated the `render_queue` example. Could you check if it works?

and of course I'd like help! If you could fork this repository, we could start working on the SDL2 thread-sensitive functions under the CallQueue. Once it's tested and we're happy with it, I'd merge it!

[2016-08-25 18:11] cdelorme commented on #203
I tested the old and new on my macbook as well as the linux desktop, and the old one broke on both, the new one works on both.  I will close this ticket with this comment as the issue is resolved.  Thank you again; I think I have a much better understanding of how this all ties together now.

I created a fork and added you as a collaborator if that's agreeable.  I'll try to review the list of sdl

[2016-08-25 18:11] #203 closed

[2016-08-25 23:48] cdelorme opened #205 "struct ABI test"
I get failed tests with this message on debian linux:

        struct_test.go:75: type size mismatch: MouseWheelEvent(28) != cMouseWheelEvent(24)

_This may be a platform or sdl version dependent bug, as the same error does not happen on my macbook when using the same go version._

[2016-08-26 10:28] phicode commented on #205
my mouse wheel event definition in `/usr/include/SDL2/SDL_events.h` on linux/amd64 contains 7 4-byte fields:

    /**
     *  \brief Mouse wheel event structure (event.wheel.*)
     */
    typedef struct SDL_MouseWheelEvent
    {
        Uint32 type;        /**< ::SDL_MOUSEWHEEL */
        Uint32 timestamp;
        Uint32 windowID;    /**< The window with mouse focus, if any */
        Uint32 whic

[2016-08-26 11:21] cdelorme commented on #205
@phicode I installed from the debian package manager, so I used `aptitude download` to grab the source, here is the package info /w version:

	$ aptitude show libsdl2-dev
	Package: libsdl2-dev
	State: installed
	Automatically installed: no
	Version: 2.0.2+dfsg1-6
	Priority: optional
	Section: libdevel
	Maintainer: Debian SDL packages maintainers <pkg-sdl-maintainers@lists.alioth.debian.org>
	Archi

[2016-08-26 12:56] cdelorme commented on #205
As a follow-up, I tried adding backports to see if a newer copy was available, but it seems I'm stuck with 2.0.2 if I don't want to do any extra source compilation.

So I grabbed the latest source release from [libsdl.org](https://www.libsdl.org/download-2.0.php), which was only 2.0.4, and proceeded to compile and install.  The instructions were very simple, and **`go test` is passing** with no ex

[2016-08-26 18:46] veeableful commented on #205
According to the SDL2 [article](https://wiki.libsdl.org/SDL_MouseWheelEvent), it seems like the `direction` field was added only in >= 2.0.4. If that's the case, then I guess we need to add separate version of `MouseWheelEvent`. I'm thinking to use Go's build tags like `go build -tags 2.0.4` and create separate file called `compat_2.0.4.go`or similar.. but I wonder if there's anything that can be

[2016-08-26 19:53] cdelorme commented on #205
As you said, that approach isn't very automated and beyond that I don't think `>=` logic is supported in build constraints, so tags probably don't fit the problem very well.  This also means creating and maintaining compatibility layers within the bindings, and that's a bumpy road.

_Since this ticket originated from a test failing, I'd almost say we should leave the source as is and fix the tests

[2016-08-26 23:19] cdelorme commented on #205
Worth mentioning, it turns out I did have to compile extensions (so far only toying with SDL_image, just guessing it applies to all) from source to match the compiled SDL2; I'm assuming it has to do with the path I installed to versus the linker paths for the extensions the package manager installed.

[2016-08-27 03:37] veeableful commented on #205
Maybe your first option can be valid for tests (e.g. only requires the latest version for tests, otherwise you can use any version you want). The third might be too much because then we're enforcing the users to compile SDL2 from and it will greatly increase our repository size.

The second option seems to me as the best way to test it as it doesn't diverge too much from how we currently do things

[2016-08-27 17:17] cdelorme commented on #205
@veeableful I created a [compatibility branch](https://github.com/cdelorme/go-sdl2/tree/compatibility) under my fork to try out option #2, namely I added a disclaimer which we could check versions before printing and only notify folks using older versions.

In particular I disabled the immediate exit behavior in favor of getting all incompatible results, and here is the result when run with versio

[2016-08-30 12:10] cdelorme commented on #205
It may be unrelated, but while using SDL 2.0.2 I was unable to receive GameController Device events.  The Joystick Device events worked, and reinstalling 2.0.4 fixed the problem, but this would pretty much confirm my fears that changes in structs per patch version are possibly creating incompatibility within the bindings.

[2016-09-01 12:06] veeableful commented on #205
Sometimes, the issues could be from SDL2 itself. Could you provide us the code you have to confirm the issue? I'll check it out.

[2016-09-01 14:23] veeableful commented on #205
Sorry, what I mean is the source code you used to test the game controller event.. and what game controller is it?

As for including the source, if you could propose a way we can make it work, definitely.

[2016-09-01 14:45] cdelorme commented on #205
Ah, my mistake, I should have understood the context.  I have just uploaded the source [here](https://github.com/cdelorme/go-game).

I was using [this commit](https://github.com/cdelorme/go-game/tree/009ec0c79849f62388deb932d15e2eb8cfa390e9) with additional event logging when I ran into the error, but I think the current version would work just as well.

I don't have much in the readme yet as far

[2016-09-01 17:22] veeableful commented on #205
It seems like I can't get joystick events in your program (it works on `examples/events` though) .

Could you try the following C snippet? Just to check if the game controller events are working for you. It didn't work for me on both 2.0.2 and 2.0.4 (I used Xbox360 controller but could be I'm missing something).

[code]

[2016-09-01 18:59] cdelorme commented on #205
I was also testing on linux using xboxdrv and an xbox360 controller.  _I would use xpad if they fixed the lights, but currently it just flashes indefinitely even though the controller input works._

I have my xboxdrv configured to accept up to 4 controllers, and it appears that this pre-emptively creates `/dev/input/` resources, and as a result it always displays 4 messages for devices added when

[2016-09-06 04:41] veeableful commented on #205
I added commit that should fix the test issue from a patch I posted on your repository. Please try.

[2016-09-11 13:06] cdelorme commented on #205
Just gave this a try, it passed all tests; I will close this ticket.  I still haven't tried code that actually uses these structs but if I encounter anything unexpected I'll open a new ticket.  Thank you very much for the fix!

[2016-09-11 13:06] #205 closed

[2016-10-10 14:45] billyninja opened #208 "Multiple Key Down & Hold"
The following snippet captures alright a single arrow key pressed over time. But if I press and hold 2 arrow keys simultaneously, it captures both keys for the first "tick", but if I keep them pressed, only one of them keeps capturing. (The goal here is to make my game character walk in diagonals using arrow keys.)

`
println("S-----------------------------------------")

for event = sdl.PollEvent

[2016-10-10 22:29] billyninja commented on #208
I've managed do get the result I wanted by using the KeyUp event type as the only way to decrease velocity added by a KeyDown event. So if you pressed up arrow key your velocity Y = -1, only when detected a arrow_up keyup that velocity is zeroed (and that is even more efficient than computing KeyDown everytime). That is doing for now. *But* I'm still confused about the way PollEvent works. If it s

[2016-10-13 14:11] monkeybird opened #209 "Race conditions in queue/goroutine examples"
I noticed a few potential race conditions in the `examples/render_goroutine` and `examples/render_queue` sources. Specifically the following is not safe and will not behave as intended when `GOMAXPROCS > 1`.

[code]

This goes for the creation of the renderer as well. The error checking code expects the queued function to already be executed. There is no guarantee that this is the case. Which mean

[2016-10-13 14:16] monkeybird commented on #209
Additionally, setting `running = false` in a goroutine, is also not safe. I would suggest either using a quit channel to signal exiting of the main loop, or use an atomic flag and read/write it using the `sync/atomic' package.

[2016-10-18 08:42] veeableful commented on #208
Sorry for the late reply! Been really busy for the past three weeks..

I've created a simple C version. It does seem to be the normal behaviour.

[code]

[2016-10-18 09:35] veeableful commented on #209
Sorry for the late reply! been really busy for the past three weeks..

I added a blocking helper to run functions on the main thread so now it should be guaranteed to finish. Also added a mutex for the running variable.

I'm not familiar with the `sync/atomic` package but patch is welcome!

[2016-10-30 14:26] #208 closed

[2016-10-30 14:26] #209 closed

[2016-11-16 19:26] shepheb opened #211 "Heavy allocation in SDL_PollEvent"
I'm working on a Gameboy emulator. I was getting ~28-30 fps instead of the targeted 60, so I started profiling. Lots of time was being spent in the allocator and GC, so I profiled memory use. 99.99% of it came from `sdl.PollEvent()`, which I was calling from the main loop.

I tried patching it locally to use a single global `C.SDL_Event`, and that reduced the allocation to 0.

I've since made this

[2016-11-16 19:34] billyninja commented on #211
Your issue caught my attention, since I'm as well calling sdl.PollEvent() every frame in my game. But I haven't visualized your solution quite clearly (especially the global C.SDL_EVENT part). Could you share some snippet(s)?

[2016-11-16 20:18] shepheb commented on #211
I mean changing `PollEvent` from

[code]
to

[code]

The API is the same, except that the returned pointer is only valid until the next call to `PollEvent`.

[2016-11-16 20:40] billyninja commented on #211
You patched in a go-sdl2 fork of yours?

[2016-11-16 20:55] shepheb commented on #211
Just in my local `$GOROOT`. It's an easy enough change to make locally.

[2016-11-17 02:26] veeableful commented on #211
Hi @shephep, I've added your solution to the master branch. Thanks for reporting this issue!

[2016-11-18 15:36] shepheb commented on #211
Thanks!

[2016-11-18 15:36] #211 closed

[2016-12-01 05:05] shabinesh opened #212 "Window Doesn't Respond Sometimes"
I buillt a small 2D game. However, the window becomes non-responsive to any events. The strange part is it works sometimes and doesn't most of the time. I am on a OSX Yoesmite and using go-1.7.

Below is the main function

[code]

[2016-12-01 06:34] veeableful commented on #212
Hi @shabinesh, usually the main loop needs an `SDL_Delay(16)` or something similar at the end of the block. Could try and see if it works?

[2016-12-02 04:43] shabinesh commented on #212
@veeableful Thanks for getting back quick. I tried & I still seem to be struck. I increased the delay upto 100ms. Just to add some more information, animation just works fine every time, but the window doesn't capture any events and window controls doesn't work. PollEvent() returns nil, but sometimes everything works fine and captures all the events. Does this tick you a common mistake or could it

[2016-12-02 05:55] veeableful commented on #212
@shabinesh Hmm..I guess it might be a bug. Could you try compiling the following C code and Go code to see if only the Go code produces the issue?

**C**
[code]

**Go**
[code]

[2016-12-02 06:31] shabinesh commented on #212
Hi @veeableful , Thanks a ton, It does work in both C and Go, However I am wondering if scope of the `window SDL.Window` to the main loop matter to the PollEvent. If you see my code I create my window inside `g.init("Flappy")` ,

[2016-12-02 06:46] veeableful commented on #212
Hi @shabinesh, I'm not 100% sure of SDL2's behavior, but I believe it should be okay if you create SDL2 window on the same thread as main() and have a living reference to it during the SDL_PollEvent().

[2016-12-05 04:21] shabinesh commented on #212
@veeableful Thanks. It seems to work sdl.window instance is in the scope of the main thread.  But seldom i hit the same problem of window not responding. I was wondering if 100% CPU consumption of PollEvent() is a problem and changed to WaitEvent(), but no waiver. But thanks to you 90% of the problem is solved 👍 :)

[2016-12-06 02:11] veeableful commented on #212
@shabinesh Glad to hear that it's almost solved! Could you then create a minimal example that reproduces the problem? Perhaps then I can see what's causing the issue.

[2016-12-08 04:27] prsolucoes opened #213 "How to compile for ARM?"
How to compile for ARM?

Im trying compile the example on README for ARM:

[code]

[2016-12-09 02:37] veeableful commented on #213
Hi @prsolucoes, I never cross-compiled SDL to ARM but I'm thinking if you compiled and installed SDL2 for ARM, you should be able to compile go-sdl2 for ARM too. Perhaps this guide can tell you how to do it https://how-to-build-for-arm.wikispaces.com/sdl2

[2016-12-17 03:38] prsolucoes commented on #213
Hi,

I have installed using brew on my mac, but i have the version for ARM already compiled.

You can download here:
https://www.dropbox.com/s/5a8um05bymc8pgg/sdl2.zip?dl=0

I only dont know how i can do it using go. In c++ you can pass -I, -i, -L to include and libs args.

Can you help me?

[2016-12-22 13:17] shabinesh commented on #212
@veeableful Un/fortunately I couldn't reproduce that error, This sometimes happen in the actual game , Killing and restarting the program makes it work. But actually the initial problem might be due to the program losing scope of the window,

[code]

The window gets created inside the init() method, the garbage collection could could actually kick in to remove the local window references which in

[2016-12-24 21:06] wtlangford opened #214 "AudioCVT not usable"
There doesn't appear to be a way to allocate the buffer space for the `AudioCVT` struct.
In C, you would do this:
[code]
(Source: https://wiki.libsdl.org/SDL_AudioCVT)

On the Go side, there doesn't appear to be a way to actually store a reference to the buffer in the `AudioCVT`.  The `.Buf()` function returns a slice with its length and capacity set, but the data pointer is still `nil`, so any ac

[2017-01-01 09:49] veeableful commented on #214
Hiya, sorry for the late reply (merry christmas and happy new year!).

I'm thinking of giving user a couple interfaces for allocating and freeing the buffer `AllocBuf()` and `FreeBuf()`. I think it's more streamlined than making `buf` public and doesn't disturb the SDL interface of `ConvertAudio()`. But if it's a problem, then I think I like option 1 the best because it's the most straightforward

[2017-01-01 10:12] veeableful commented on #213
Hiya, sorry for late reply! Hope you had a merry christmas and happy new year!

I haven't tried it myself because I'm missing the right GCC toolchain but I think you might be able to do it with the right commands. Something like this might work: `CC=arm-linux-gnueabi-gcc CGO_ENABLED=1 GOARCH=arm GOARM=5 go build -a`. I found out about the ARM version of the library you gave me through `readelf -A`

[2017-01-01 19:17] wtlangford commented on #214
No worries on the delay, its a busy season for everyone.

ConvertAudio takes a pointer to go memory, so any pointers in that memory must not be pointers to go memory. So we need `buf` to point to C memory. Unfortunately, unless we `include "C"` in the calling code for `C.malloc` or expose `sdl.Malloc` and `sdl.Free`, there's no good way to provide a C buffer. I'm somewhat against exposing the SDL_

[2017-01-02 05:21] veeableful commented on #214
Done! I suppose I'll let the user decide whether to do something with `Buf` directly using `import "C"` or use the functions provided. I also made `Buf` into `unsafe.Pointer` to make it clearer that it should point to memory from C.

[2017-01-02 21:08] wtlangford commented on #214
This works! There's an odd point where you need to set `LenCVT = Len` in order for the slice from `BufAsSlice()` to be useful for filling with source data (`len_cvt` is really an out-value from `ConvertAudio` telling you how much of the buffer is the output), but I don't see a better option, because `LenCVT` is definitely the right value to use as the length of the slice, and I'm not going to asse

[2017-01-02 21:08] #214 closed

[2017-01-24 23:37] Grandzam commented on #212
This issue happens as well with my project, and notably if I run the events.go example it also becomes unresponsive after a while. I will try to fix the problem with my game using the above solution and come back, but definitely your own example needs to be changed.

[2017-01-24 23:39] Grandzam commented on #212
Ok there was no solution to the problem above. This is a really great project but I will have to throw away all my code and use something else if this problem doesn't get fixed. I definitely cannot have this problem when I release.

[2017-01-25 02:31] veeableful commented on #212
Hi @Grandzam, sorry to hear that. I'll try the events example on Windows 10 using go 1.6 and see if I can reproduce it.

[2017-01-25 03:58] Grandzam commented on #212
If it works for you I think it might be an installation thing.

I'm also using gcc 5.1 so maybe I need to update it?

[2017-01-25 09:43] veeableful commented on #212
It seems like I can't run even a simple SDL2 program on my side. Will experiment around and let you know once I found a solution.

[2017-01-25 14:41] veeableful commented on #212
@Grandzam, I experience the same thing (I hope?) and it seems like adding an `SDL_Delay()` in the loop fixes the stuttering. Could you confirm?

[2017-01-25 19:21] Grandzam commented on #212
Which loop? I have one in my main loop but I don't think I have one in my event loop. I don't have access to my code right now, I'll confirm in 4 or 5 hours.

[2017-01-26 04:52] veeableful commented on #212
Yeah, it should be in the main loop. But that's strange if it still happens. Could you check with the latest events example? (I pushed to git)

[2017-01-26 13:41] Grandzam commented on #212
events.go works for me now. However, my program still doesn't work properly (actually, it already had sdl.Delay)

I kept working on it and condensed the bug down to this. I made a few observations playing around with this code but nothing conclusive and I want to confirm that this doesn't work for you first. Put a image path in img.Load() and try it out.

[code]

[2017-01-29 10:37] Grandzam commented on #212
Does this code work fine for you? Is there an issue with this code or the sdl binding?

[2017-01-29 10:40] veeableful commented on #212
Hi @Grandzam, sorry for late reply!

I experience the same result on my Windows 10 virtual machine. I find that locking the OS thread through `runtime.LockOSThread()` "fixes". I'm guessing anything that does rendering needs to have it OS thread locked according to the SDL FAQ: https://wiki.libsdl.org/FAQDevelopment. Let me know if it solves your issue.

[2017-01-29 20:08] Grandzam commented on #212
Sorry about that, I saw that and was planning to try it, but forgot about it. My program works perfectly now.

[2017-02-09 14:08] ctwoodward opened #217 "Can't compile on Windows"
Followed installation instructions  given for Windows and I can't get it to compile.

Used MSYS2 to install:

That runs fine.

[code]
When I run go get -v github.com/veandco/go-sdl2/sdl  I get this error:

[code]

And then  after that sdl_image, sdl_ttf all give the same error:

[code]
sdl_mixer gives this message:

`can't load package: package github.com/veandco/go-sdl2/sdl_mixer: no buildable Go

[2017-02-10 03:46] veeableful commented on #217
Hmm that is interesting.. it didn't happen to me on Windows 10 64-bit. How did you install Go? I used `pacman -S mingw-w64-x86_64-go`.

[2017-02-15 19:29] vinzBad commented on #217
Had similar problems last week, heres my writeup on building go-sdl2 on windows: https://github.com/vinzBad/go-sdl2-tut/blob/master/00_preparation/windows.md

[2017-02-16 02:24] veeableful commented on #217
Hey @vinzBad, thanks for the detailed instructions! May I appropriate it as part of the README?

[2017-02-16 05:55] vinzBad commented on #217
Of course! Maybe review it before adding? Because I was the only tester of this "guide" so far ;)

[2017-02-20 05:04] robert-wallis commented on #217
The `set CGO_CFLAGS=-ID:\dev\mingw64\mingw64\include` part of your guide just helped me get my `go get` command to compile.  Thank you @vinzBad

Incidentally, I compiled from source and manually copied the files into the `mingw64` directories.

[2017-02-20 07:54] veeableful commented on #217
I tested @vinzBad's guide on a fresh Windows 10 64-bit VM and it seems to work for me. However, it seems like some steps are not strictly required or could be done another way so I did another test from clean snapshot and skipped / reworked some steps to be simpler (hopefully). If one of you has the time, please check the updated Windows instruction in README.md and let me know if something doesn'

[2017-02-20 08:44] vinzBad commented on #217
Great to hear @robert-wallis  :)

@veeableful Thanks for reviewing my guide :+1: It's interesting that you didn't need to set CGO_FLAGS, maybe there are some hardcoded paths in the mingw64 toolchain?

[2017-02-20 09:11] veeableful commented on #217
@vinzBad No problem! Thank you for the guide. I'm guessing adding the second `bin` folder:
`C:\Program Files\mingw-w64\x86_64-6.3.0-win32-seh-rt_v5-rev1\mingw64\x86_64-w64-mingw32\bin`

 to the Path environment variable makes it works because the tools in the `bin` folder have the standard include paths set.

[2017-02-20 14:03] robert-wallis commented on #217
I just tried to add that second inner bin (`C:\MinGW64\mingw64\x86_64-w64-mingw32\bin`) to my `PATH`, but it still couldn't find the include folder in my case.  Although I didn't follow the same MinGW install instructions so maybe it's something else.

[code]

[2017-02-20 14:13] robert-wallis commented on #217
False alarm, I just found out that I "installed" SDL2 in the wrong directory.  Following the instructions on the new README I moved the SDL lib and include files into the `C:\MinGW64\mingw64\x86_64-w64-mingw32` folder, they were in the one above that `C:\MinGW64\mingw64`  Then, after deleting go-sdl2, I tried in a new cmd window without CGO_FLAGS set, and it worked perfectly.

So the README instru

[2017-02-20 15:23] veeableful commented on #217
Amazing. Thanks @robert-wallis for taking the time to retry the installation process again. Much appreciated!

[2017-02-27 20:53] r41d opened #219 "Compile errors on Linux"
I get several compile errors due to some paramters not casted right.
I fixed it in my form [HERE](https://github.com/r41d/go-sdl2/commit/57cc93b93e086cadb32b82e88d3b81fe94d425a2) and this works for me.

Does anyone have an idea why this problem occurs on my system.
System is Gentoo with Go 1.8 and media-libs/sdl2-gfx-1.0.1

[2017-02-28 05:49] veeableful commented on #219
It seems like Go 1.8 introduced a certain change in the compiler that caused the issue although I can't find it in the release note. Go 1.7 seems to work fine for me.

Could you submit your fix as a pull request?

[2017-03-02 01:02] r41d commented on #219
Just did :)

[2017-03-02 01:02] #219 closed

[2017-03-03 10:17] icza opened #221 "Wrong constant values in sdl_gfx package"
The [sdl_gfx.go](https://github.com/veandco/go-sdl2/blob/master/sdl_gfx/sdl_gfx.go) file contains wrong constant values:

	// FPS
	const (
		FPS_UPPER_LIMIT = 200
		FPS_LOWER_LIMIT = 200
		FPS_DEFAULT     = 30
	)

`FPS_LOWER_LIMIT` should be something small (no greater than `FPS_DEFAULT`), most likely `1`.

And:

	const (
		SMOOTHING_OFF = 0
		SMOOTHING_ON  = 0
	)

`SMOOTHING_ON` should be `1`.

[2017-03-03 10:28] chaeyoungsong commented on #221
:open_mouth:

Fixed it in the latest commit. Thanks!

[2017-03-03 10:30] icza commented on #221
Cool, thanks for the fast fix :)

[2017-03-03 10:30] #221 closed

[2017-03-20 05:50] gengen1988 opened #222 "support DequeueAudio"
see: https://wiki.libsdl.org/SDL_DequeueAudio

[2017-03-20 12:36] chaeyoungsong commented on #222
Hi @gengen1988, thanks for reporting this. I just added the binding in latest commit 👍

[2017-04-09 14:38] #222 closed

[2017-04-10 00:40] #217 closed

[2017-04-10 00:41] #212 closed

[2017-04-24 08:30] deadprogram commented on #222
Hello @gengen1988 & @chaeyoungsong

This latest updated is giving us build errors.

Can we please get a pragma warning but no build error for this, in the same fashion that https://github.com/veandco/go-sdl2/pull/215 corrected?

Thank you!

[2017-04-24 09:03] veeableful commented on #222
Should be fixed in the latest commit e97e53b.

[2017-04-24 10:42] deadprogram commented on #222
Thanks @veeableful that did it.

[2017-04-26 16:38] billyninja opened #225 "img.SavePNG not working?"
SavePNG_RW works fine for me, but i think the simpler method (SavePNG) seems to be broken.

SDL_RWFromFile(): No file or no mode specified

func SavePNG(surface *sdl.Surface, file string) error

[code]

[2017-04-27 02:27] veeableful commented on #225
Oh seems like the filename passed to the function were immediately freed. Fixed in latest commit d781c3f.

[2017-05-09 09:53] #225 closed

[2017-05-15 17:35] stillwarter opened #226 "Can I use go-mobile to build an android app with go-sdl2?"
There is a example using shared library. Can I use go-mobile to create a native app with go-sdl2?

[2017-05-16 06:21] veeableful commented on #226
Hi @stillwarter, we don't use gomobile but you can take a look at https://github.com/gen2brain/go-sdl2-android-example as an example on how to use go-sdl2 on Android.

[2017-05-19 21:38] GrundleTrundle opened #227 "sdl_image.SavePNG() always returns an error."
I can't do a pull request for this now, but it looks like it's a typo.  The code in SavePNG() does this:

`C.free(unsafe.Pointer(_file))`

`_file` is used on the next line after that, I suspect that free is supposed to be deferred.

[2017-05-21 02:00] veeableful commented on #227
Hi @GrundleTrundle, the issue has been fixed. Could you try updating the package?

[2017-05-21 09:58] tecknut opened #228 "Strange xbox controller axis behaviour"
Hey I've been trying to get an xbox controller working and I'm seeing something strange.

I can't seem to get the left thumb-stick values. I've made a small example.

Looking at this I would have expected only the left thumb-stick to register a change, but when I move any of the other axis I still get a printout.

[code]

Am I doing something wrong?

[2017-05-21 12:48] veeableful commented on #228
It seems like you need filter out some values. Here's a small example. You can see a more complete example by Lazy Foo which I looked at [here](http://lazyfoo.net/tutorials/SDL/19_gamepads_and_joysticks/index.php).

[code]

[2017-05-21 16:13] tecknut commented on #228
That's perfect, thank you!

[2017-05-21 16:13] #228 closed

[2017-05-21 21:31] GrundleTrundle commented on #227
Yes, that did it.  Thanks!

[2017-05-21 21:31] #227 closed

[2017-06-09 02:41] #226 closed

[2017-06-09 02:42] #213 closed

[2017-06-25 16:32] DanTulovsky opened #229 "gfx.StringRGBA with multiple windows/renderers"
Hi.

(I am not confident there is not a bug in my code somewhere, but I can't seem to find it.)  If I create two windows and two renderers that run at the same time, or one after the other, the gfx.StringRGBA(r, ...) call only works on the first window.

Calling it on the second renderer/window, results in one of two errors messages.

If the first window is still running (Destroy() hasn't been cal

[2017-06-27 02:56] veeableful commented on #229
Hi @DanTulovsky, it seems to be a behavior from SDL2 or SDL2_gfx itself. I managed to reproduce with the native implementation [here](https://paste.fedoraproject.org/paste/hJfSyRi4Vk-7lWca~oJ5xg).

Perhaps there's a specific way to do it that I'm not aware of but I'll label this as SDL2 issue for now.

[2017-06-27 09:13] veeableful commented on #229
Hi again @DanTulovsky, according to the [reply](https://discourse.libsdl.org/t/sdl2-gfx-not-working-with-multiple-windows/22713/2) by a poster in the SDL forums, it seems you need to do `gfx.SetFont(nil, 0, 0)` to clear character texture cache in SDL2_gfx after calling the `gfx.StringRGBA()` function.

Note that I also just updated the `gfx` package so the function is `gfx.SetFont()` instead of `g

[2017-06-27 12:05] DanTulovsky commented on #229
Thank you for your help.  I don't see gfx.SetFont() yet, but using gfx.GFXPrimitiveSetFont() with your patch for nil seems to work.  It seems that calling this too often is not a good idea. The first obvious place I put this into in my real code, a section that gets called a lot, promptly resulted in my mac locking up (reproducible every time).

I moved it into the main for() loop that does the sc

[2017-06-28 01:54] veeableful commented on #229
Ah I didn't seem to push the latest commits (doh!). Now it should have `gfx.SetFont()`.

I've also removed symlinks to the gfx and friends as it seems to be the cause of the compile error with nested import. You can try using the new path `github.com/veandco/go-sdl2/gfx` instead. I wanted to let people who still uses `sdl_gfx` to compile just fine but I guess there's some issues with that approach

[2017-06-28 03:18] DanTulovsky commented on #229
Confirmed all working. Thank you very much for your help!

[2017-06-28 03:18] #229 closed

[2017-07-22 18:15] jrmiller82 opened #231 "Example in readme.md doesn't work"
Code run:

[code]

**Expected**: an 800x600 window with a 200x200 red rectangle in the corner.

**Actual Results**: An 800x600 window flashes for 10 seconds, with nothing in it, showing the background of the windowing environment. [Linked screenshot](http://imgur.com/a/OdujR).

**Go version**: `go version go1.7.4 linux/amd64`
(also tried on 1.8.3 on debian unstable, same results).
**Linux version*

[2017-07-22 19:22] veeableful commented on #231
Hi @jrmiller82, could you run this similar native C code and see if it's any different?

[code]

[2017-07-23 01:39] jrmiller82 commented on #231
It won't compile; I wonder if I have a path issue. Going to reboot and try again and see. I definitely installed the SDL dev packages per the install instructions though.

[code]

[2017-07-23 01:49] jrmiller82 commented on #231
Scratching my head... Can't figure out what's going on. Maybe there's some sort of bug in Debian / Ubuntu upstream? It sure looks like all the right SDL packages are installed...

[code]

[2017-07-23 02:03] jrmiller82 commented on #231
There's something weird going on... most of those `undefined references` don't exist in any of the headers when I do a `grep -iname "SDL_INIT" ./*` on `/usr/include/SDL2/`. Any ideas?

[2017-07-23 02:14] jrmiller82 commented on #231
I copied all the `*.h*` headers into my local directory with the `example.c` file and switched the include to `#include "SDL.h"` and still getting the same failure to compile.

[2017-07-23 04:33] veeableful commented on #231
Ah perhaps you didn't link the libraries? Try this `gcc example.c -lSDL2`. It should output an `a.out` executable file.

[2017-07-23 17:36] jrmiller82 commented on #231
D'oh! (There I go showing my lack of C knowledge). Yes, with the -lSDL2 flag it compiled just fine. Same issue as above. So there must be something wrong with Debian and Ubuntu's SDL packages. I'll see if I can slap fedora on a VM later today and try the same thing.

[2017-07-23 18:32] jrmiller82 commented on #231
I just installed Fedora 26 to a VM and to pure golang example works as expected. So something must be wrong in the Debian/Ubuntu realm. Any ideas on how to fix?

[2017-07-24 00:00] jrmiller82 commented on #231
It looks like it may have something to do with Mir; I can't even install SDL2 from source on ubuntu 17.04 without getting all sorts of compiler errors referencing mir. Tried to compile both the 2.0.5 release as well as the tip their mercurial repo. Both fail. Quite frustrating/ (I know that's not this repo's fault... just trying to get this working so I don't have to change my dev system to fedora

[2017-07-24 02:14] veeableful commented on #231
Hm... perhaps there's an error while drawing that SDL2 returns? Could you try this updated code and see if it reports any error? I added a couple of error checks for `SDL_FillRect()` and `SDL_UpdateWindowSurface()`. It doesn't seem to happen on my Ubuntu 17.04, VM or not. I do use the Nvidia driver on my non-VM Ubuntu 17.04.

[code]

[2017-07-24 15:38] jrmiller82 commented on #231
Same issue as before running the new code; and no errors are being printed to the console. Is there a log file somewhere I should be checking?

[2017-07-25 08:34] veeableful commented on #231
I see.. I don't know any log that could be related and am clueless to what is going on, so I have asked on the SDL2 forum here https://discourse.libsdl.org/t/blank-drawing-using-sdl-fillrect/22835

[2017-07-25 13:34] jrmiller82 commented on #231
Thank you for your help.

Sent from my iPhone

[2017-07-26 04:48] veeableful commented on #231
It seems like ChliHug from the SDL2 forum is right. Kubuntu 17.04 seems to do something different when creating the window. If you put some delay after creating the window or put the drawing in a loop, it should work okay.

[2017-07-26 16:19] jrmiller82 commented on #231
Let me try with a different DE like Gnome or XFCE and see what happens.

[2017-07-26 16:23] jrmiller82 commented on #231
Yup. It worked on Unity on 17.04. Strange. Sorry for all the confusion. I appreciate your time helping me!

[2017-07-27 07:44] veeableful commented on #231
No worries! Let me know if there's anything else you need help with.

[2017-08-03 09:52] #231 closed

[2017-08-04 20:20] jrmiller82 opened #233 "Example use of Renderer.SetRenderTarget requested"
I can't get seem to set a texture to a render target, render to it, and then switch back to `nil` on the SetRenderTarget and then render the prior texture to the screen.

My renderer returns `true` when calling `r.RenderTargetSupported()`, and I'm not throwing any errors in my code, just getting a white screen and 100% CPU usage.

I'm creating the texture like this:

[code]

And here's the renderi

[2017-08-04 21:44] jrmiller82 commented on #233
And... it wasn't me. It's again another SDL and KDE Plasma issue. Works just fine on Gnome. (That's really quite frustrating).

[2017-08-07 03:09] veeableful commented on #233
Have you tried adding delay after window creation using `sdl.Delay(1000)`? It solves the previous issue on Plasma.

[2017-08-09 22:44] topheman opened #234 "Generate a standalone build on Mac OS X"
How do you generate a build shipping with statically linked version of the libs (the goal being to be able to distribute a binary to people without asking them to install sdl2 and other shared libs via homebrew or apt-get) ?

I tried multiple things - nothing works. The closest I got is on [topheman/gopher-ball](https://github.com/topheman/gopher-ball), running `CGO_ENABLED=0 GOOS=darwin GOARCH=am

[2017-08-10 02:03] veeableful commented on #234
Hi @topheman, it is a real problem. I believe for Mac you have to bundle everything you need including the SDL2 library into an .app directory which acts as a Mac bundle.

I'll be getting a Mac system this Saturday so I'll get back to you then. Once I get an initial working packaging process, I'll add a guide to the README and notify you here.

[2017-08-10 08:37] topheman commented on #234
Thanks a lot @veeableful !

If that can help, I tried something a few days ago : https://github.com/topheman/gopher-ball/commit/0c7043cad33e0ba9d2197a6c94993a99076f9153 (removed then)

* retrieved the used libs of the generated binary with `otool -L mybinary` (same as `ldd` on linux)
* copied those in the folder I distribute the binary

But there were some pitfalls:

* the binary was still pointin

[2017-08-12 14:08] veeableful commented on #234
No problem @topheman!

I've created a simple packaging guide for macOS at https://github.com/veandco/go-sdl2-example which I may eventually move here. It's very basic as I don't really know the macOS ecosystem but it seems okay if you're only using go-sdl2.

Let me know if you can get your application to run (at least, without the assets).

[2017-08-12 23:48] topheman commented on #234
Hie @veeableful ,

Thanks for your example. I got my whole application to run - even with the assets:

* The PR with the changes (packaging a real MacOS app + better Makefile) : https://github.com/topheman/gopher-ball/pull/3/files (everything is on master now)
* You can try the binary I generated from my computer, it's on the [releases](https://github.com/topheman/gopher-ball/releases) section

If

[2017-08-13 01:31] veeableful commented on #234
Hi @topheman,

It seems like it's missing some libraries on my computer. Here's the output:

[code]

[2017-08-13 10:14] topheman commented on #234
Those are dependencies of dependencies, it seems I can't `install_name_tool -change` on a dependency (a *.dylib file) ...

[2017-08-13 12:34] topheman commented on #234
@veeableful I just pushed a fix on this PR: https://github.com/topheman/gopher-ball/pull/4 , can you check [the generated binary](https://transfer.sh/txiIH/gopher-ball-darwin-amd64.app.zip) to see if the linking worked, please ?

I'm using the following command for the dependency *.dylib:

[code]

Unfortunately, it seems that `sudo` is required ...

[2017-08-14 01:52] veeableful commented on #234
Hi @topheman, I didn't bring my Macbook to work ><. I will test it back home and let you know.

[2017-08-14 02:09] #233 closed

[2017-08-14 16:35] veeableful commented on #234
It seems I could run `install_name_tool -change` using `sudo` (only some need it?). Here's the one I was working with if you want [here](https://transfer.sh/RBgR3/gopher-ball-darwin-amd64.app.zip). It needs `libfreetype` to be bundled as required by `libSDL2_ttf`.

[2017-08-14 16:57] topheman commented on #234
`install_name_tool -id` requires `sudo` (for `dylib` - see https://github.com/topheman/gopher-ball/pull/4/files#diff-b67911656ef5d18c4ae36cb6741b7965R73 )

But it seems that `install_name_tool -id` isn't the way to change the pointing dependencies ... they still point to the previous path ...

[2017-08-14 17:10] veeableful commented on #234
Hi @topheman, are you sure you can't use `install_name_tool -change` with `sudo`? I just used it to change most of the dependency paths of the `.dylib` files and `otool` does show the changes.

[2017-08-14 17:28] topheman commented on #234
Sorry, I wasn't clear.

You **can** use `install_name_tool -change` with `sudo` (as well as all the other commands in the Makefile like `cp`, `mv`, `mkdir` ...), but if you execute the whole Makefile as `root`, you will produce a bundle whose owner is `root` (which is bad, for example if you want to delete it, share it or anything else ...).

Whatever `install_name_tool -change` doesn't need `sudo

[2017-08-15 11:23] veeableful commented on #234
Hi @topheman, I believe some of the libraries do need `install_name_tool -change` with `sudo`. I've bundled the application and confirmed that it can run on my friend's Macbook Pro. You can download it [here](https://transfer.sh/GhzbA/gopher-ball-darwin-amd64.app.zip). You don't need to run the whole Makefile as sudo.

One thing to note though is that it can't run on older macOS than 10.12. Someth

[2017-08-16 13:27] topheman commented on #234
Hie @veeableful ,

I tried your [last version](https://transfer.sh/GhzbA/gopher-ball-darwin-amd64.app.zip) on a MacOS X Sierra (without any SDL2 libs installed). I got the following:

[code]

[2017-08-16 14:52] veeableful commented on #234
Sorry, I guess my friend must have used a version I sent to him before which I thought is the last one. Could you try this one and let me know if it works? https://transfer.sh/dufTT/gopher-ball-darwin-amd64.app.zip.

[2017-08-18 22:07] topheman commented on #234
Hie @veeableful ,

I made a change to my Makefile : https://github.com/topheman/gopher-ball/pull/4/files

1) I `install_name_tool -change` on the dependencies .dylib of the root .dylib
2) to avoid `sudo` I `chmod +w` the .dylib that I change
3) I removed the logs on the events (it was slowing down the app)

I checked with `otool -L`, the dylib are pointing correctly. Could you tell me if it works

[2017-08-19 15:56] veeableful commented on #234
Hi @topheman, it seems like there's a mistake in your Makefile that uses `@executable_path/[library]` path instead of `@executable_path/../[library]`. Could you try changing that and generate the app bundle again?

[2017-08-19 16:05] topheman commented on #234
@veeableful

Just made the fix in https://github.com/topheman/gopher-ball/pull/4/commits/7e7317caabd4e7f219232dafad393e81a9554dd3

You can test the build : https://transfer.sh/zlAMv/gopher-ball-darwin-amd64.app.zip

[2017-08-19 16:16] veeableful commented on #234
Ahhh my bad! It should be `@executable_path/../Frameworks/[library]`. Also, I think you are missing some `install_name_tool -change` for dependencies in `libSDL2_image`, `libSDL2_ttf`, `libfreetype`, and `libtiff`. Check their `otool` results for the ones that start with `/usr/local`. You can ignore the ones that point to themselves though.

[2017-08-19 16:27] topheman commented on #234
You're right, this was my bad too (I was treating them as relative path since I was in the same directory when using `install_name_tool -change` but I assume it should be relative to the binary inside the package).

Just made the fix: https://github.com/topheman/gopher-ball/commit/248fa1e68af3974c99d2dec608c5b9bb7e17999c

You can test the build: https://transfer.sh/SGMSd/gopher-ball-darwin-amd64.a

[2017-08-19 16:35] veeableful commented on #234
Almost there! Just need to update some dependency paths of the `libSDL2_image`, `libSDL2_ttf`, `libfreetype`, and `libtiff`. There's some that is still pointing to `/usr/local`.

[2017-08-19 17:01] topheman commented on #234
New fixes : linked the missing `/usr/local` libs : https://github.com/topheman/gopher-ball/commit/46fae8a72b9581ecfd06e4bd2872db5b73b9e51d

You can test the build: https://transfer.sh/ypsbY/gopher-ball-darwin-amd64.app.zip

[2017-08-19 17:40] veeableful commented on #234
Yup, it's working now! Congrats haha.

[2017-08-19 18:34] topheman commented on #234
Thanks so much @veeableful !

I'll update my readme then merge to `master` and publish a new release, that way we'll be able close the issue (I renamed it so that it's specific to Mac OS X).

My next step will be to rebase my branch with the windows build steps on `master` - I had to reset my Windows VM (that's a problem for an other day 😉 )

[2017-08-19 19:09] veeableful commented on #234
No problem! One thing to note is that the app bundle doesn't work on older version of macOS. Probably needs to build it on older macOS or something? Anyway, we took the first step!

[2017-08-19 19:17] topheman commented on #234
It seems, some minimum version of the system / sdk can be specified in [`Info.plist`](https://github.com/topheman/gopher-ball/blob/master/build/darwin/Contents/Info.plist).

I'll do some digging here (it might not require to build on a previous Mac OS X, because the kind of app made with go and sdl2 aren't hardly tighted with the version of the system).

[2017-08-23 14:07] Pixdigit opened #236 "Building fails"
I have followed the instructions step-by-step for ubuntu/linux yet when building

…ttf/sdl_ttf.go
…mix/midi.go
…img/sdl_image.go

they all fail with
[code]
Whereas module is image, mixer or ttf. It is most probably not your fault but I did not know where to ask else.

[2017-08-23 15:38] veeableful commented on #236
Hmm how did you install the SDL2 modules? And how did you try to build go-sdl2 packages? Which version of Ubuntu is it?

[2017-08-23 17:07] Pixdigit commented on #236
via:
`sudo apt install libsdl2-dev libsdl2-mixer-dev libsdl2-image-dev libsdl2-ttf-dev`
And then go-sdl with:
`Downloads go get -v github.com/veandco/go-sdl2/{sdl,mix,img,ttf}`
I am running Xubuntu 17.04

[2017-08-24 02:46] veeableful commented on #236
Do you have `/usr/lib/x86_64-linux-gnu/pkgconfig/sdl2.pc` file in your Xubuntu? Does `pkg-config --cflags sdl2` output anything?

[2017-08-24 15:41] Pixdigit commented on #236
`/usr/lib/x86_64-linux-gnu/pkgconfig/sdl2.pc` exists and `pkg-config --cflags sdl2` returns
`-D_REENTRANT -I/usr/local/include/SDL2`

[2017-08-24 23:17] topheman commented on #234
@veeableful I fixed the memory leak and made the Windows build 🎉

https://github.com/topheman/gopher-ball/releases/tag/v0.3.0

[2017-08-25 01:28] veeableful commented on #236
That is weird that you have include directory at `/usr/local/include/SDL2`. Did you install SDL2 from sources other than apt? If yes, perhaps try uninstalling it and run the `pkg-config --cflags sdl2` command again. It should point to `/usr/include/SDL2` and hopefully go-sdl2 works then.

[2017-08-25 01:34] veeableful commented on #234
@topheman Nice! Would you mind writing how you packaged the Windows build? I will use it as reference to write packaging instructions on my [go-sdl2-example](https://github.com/veandco/go-sdl2-example) repository (which I probably will expand to include the other SDL2 modules).

[2017-08-25 18:08] Pixdigit commented on #236
I tried a different sdl-go binding which required building sdl yourself. But I did a apt purge libsdl2*-dev afterwards. Also I purged again with no avail.

[2017-08-25 18:40] Pixdigit commented on #236
So I now used cat to hunt down any reference to SDL in my filesystem and forcefully remove each file. Then a reinstall and for now it seems to work.
But why did apt purge or dpkg --reconfigure etc. not fix it?

[2017-08-25 18:43] veeableful commented on #236
That's because the custom SDL2 was overriding system's SDL2 so you need to remove the custom one (usually a `make uninstall` would do). There was no need to touch SDL2 in apt.

[2017-08-25 18:45] Pixdigit commented on #236
But I already did a `make uninstall`. So then it was probably a mistake in the 6 year old makefile

[2017-08-25 18:45] #236 closed

[2017-08-25 21:43] Pixdigit opened #237 "DestroyWindow is missing?"
I would expect [this](https://wiki.libsdl.org/SDL_DestroyWindow?highlight=%28%5CbCategoryAPI%5Cb%29%7C%28SDLFunctionTemplate%29) function to be invoked by `sdl.DestroyWindow()` but it does not exist. Also I did not find any informations about the window object in the sdl wiki so could it be that sdl's window is "just a pointer" so does not have any properties? But since go-sdl2's windows have meth

[2017-08-26 04:22] veeableful commented on #237
Hi @Pixdigit, our convention for making a function into a method is usually we remove the type name of the object (e.g. in this case `Window` in `SDL_DestroyWindow` and then we just take whatever is left as the method name e.g. `window.Destroy()`). If you spot anything that you feel inconsistent, feel free to tell us and we'll have a look about it.

[2017-08-26 13:53] Pixdigit commented on #237
Ok thank you again. But generally a small guide on the differences between "pure" SDL and Go-SDL would be nice for starters.

[2017-09-02 15:50] Pixdigit commented on #237
Neither sdl.CreateTexture nor sdl.Texture.Create exist (I tested Createtexture, Create_texture and Create_Texture too). Or do these follow some other kind of pattern?

[2017-09-02 15:55] Pixdigit commented on #237
And while we are at it: Where is SDL.PIXELFORMAT_RGBA32?

[2017-09-02 16:38] veeableful commented on #237
Hi @Pixdigit,

You can create texture through renderer:
`func (renderer *Renderer) CreateTexture(format uint32, access int, w int, h int) (*Texture, error)`

SDL_PIXELFORMAT_RGBA32 and its variants were missing from the package. I just added them in the latest commit. Let me know if you can use them.

For future reference, you can take a look at https://godoc.org/github.com/veandco/go-sdl2 for an

[2017-09-02 17:09] Pixdigit commented on #237
Ok I will for close this issue. I did not know there was a documentation.
However I will post here if it worked.

[2017-09-02 20:27] Pixdigit commented on #237
Works now

[2017-09-02 20:27] #237 closed

[2017-09-02 22:18] Pixdigit opened #238 "Missing Documentation about Texture.Lock"
Sorry to bother yet again but I promise it is different this time.

When locking a Texture for pixel access it requires a *unsafe.Pointer as a pointer to the pixel bytes. So I created a Surface, called .Pixels() on it and created a pointer pointing to the result. However `cannot use &pixels (type *[]byte) as type *unsafe.Pointer`. In the documentation of unsafe it merely requires a Pointer to an a

[2017-09-03 15:30] Pixdigit commented on #238
[This](url) should be enough to understand the situation.

[2017-09-04 01:43] veeableful commented on #238
Hi @Pixdigit,

Could you try posting the link again? It seems like it leads to a page not found.

[2017-09-04 08:09] Pixdigit commented on #238
Weird. Try this: [https://pastebin.com/qJwrnpWw](https://pastebin.com/qJwrnpWw)

[2017-09-04 09:56] veeableful commented on #238
Hi @Pixdigit,

I've updated the code in go-sdl2/sdl package to make the `Lock` function more user-friendly. You can see my example here: https://paste.fedoraproject.org/paste/7VdvmajUp4KnrOpTWIQ3UA

Let me know if it works out for you or you have any other problem.

[2017-09-04 10:06] Pixdigit commented on #238
Why did you create your own struct instead of sdl.Rect ?

[2017-09-04 10:18] veeableful commented on #238
Because I'm an idiot 🤣

I just continued your example and didn't know you meant to use sdl.Rect.

[2017-09-04 10:24] Pixdigit commented on #238
Well nobody is perfect (The variable has rect in it though).
Everything works now.

[2017-09-04 10:43] veeableful commented on #238
Haha thanks, and glad to know it works now.

[2017-09-04 11:11] #238 closed

[2017-09-04 14:27] Pixdigit commented on #238
Bad news. Still does not work.
[This](https://pastebin.com/SMZAvkBE) is the complete code I am running. I would expect to see a white screen. However It remains black. I checked the err returns even though they are discarded in the code I posted. However the code that you wrote works.

[2017-09-04 15:26] veeableful commented on #238
Hi @Pixdigit,

You should lock the texture before modifying it and after that unlock it. The rect you use for `renderer.Copy()` also has X and Y positions that are outside the screen.

[2017-09-04 17:10] Pixdigit commented on #238
I tried that but it did not work work so I tried the other way around but forgot to revert for the paste.
Yeah and I totally forgot that sdl.WINDOWPOS_UNDEFINED is not 0. If I change the position it works thank you very much

[2017-09-04 19:37] Pixdigit commented on #238
Sorry for bothering yet again. But this might actually be a bug in SDL itself:
[This](https://pastebin.com/CTKaDv1Q) for me renders a red screen. But sometimes not. The other colors work but only sometimes.  It is really inconsistent.

[2017-09-05 02:08] veeableful commented on #238
Hmm yeah that's weird, it's always red screen for me. The pixel format seems to be backwards as well (ABGR instead of RGBA) even though when I print the texture's pixel format, it says RGBA8888. Maybe you can try and modify my minimal semi-reproduction of the program in C [here](https://paste.fedoraproject.org/paste/P~moQtw4U7rycEzAht1TWw) and see if it works as intended on your end. If it still h

[2017-09-05 08:28] Pixdigit commented on #238
I get the error that the calls to SDL are undefined. libsdl2-dev ist installed. I do not code in C so I do not know how to fix that

[2017-09-05 08:54] Pixdigit commented on #238
I fiddled around again with the go variant and in seems that the byte order is just inverted meaning its  ABGR instead of RGBA. Might have something to do with endianess?

[2017-09-05 09:57] veeableful commented on #238
Hi @Pixdigit,

You can try run the C version by executing `gcc [filename].c -lSDL2` followed by `./a.out`. You can try modify it a little to match your expectation. As for the byte order, I think we probably just missed something simple (hopefully!).

[2017-09-05 10:17] Pixdigit commented on #238
I tried the C version and still get a red screen. So it is probably either something with SDL or hardware.

[2017-09-05 10:18] Pixdigit commented on #238
However when I use reversed byte order [it works](https://pastebin.com/SpSf44b3)

[2017-09-05 10:25] Pixdigit commented on #238
I also tried PIXELFORMAT_ABRG which then behaves like PIXELFORMAT_RGBA

[2017-09-05 10:48] Pixdigit commented on #238
And I also checked, that I have little endian. Might it have something to do with that?

[2017-09-05 11:06] veeableful commented on #238
Hi @Pixdigit,

I'm afraid I'm not knowledgeable about the implementation. You probably will have better luck asking in SDL2's forum.

[2017-09-05 18:42] Pixdigit opened #240 "Goify renderer.GetRendererInfo"
The method name should be renderer.GetInfo and also not expect a pointer to a RenderInfo struct.

[2017-09-06 01:52] veeableful commented on #240
Nice catch! I changed it to `GetInfo()` and returns the info struct.

[2017-09-06 05:26] Aukstkalnis opened #241 "Question: In FAQ last question about SDL2 with Go."
Hello,

Will there be Go port of SDL2?
Due to the way Go is going with C interopability, this might not be possible or even make sense. Another way that we're currently thinking is to create a Rust port instead as it has nicer compatibility with C.

Does this mean that this library is not binding to SDL2? If so, why it is called go-sdl2?

[2017-09-06 05:28] veeableful commented on #241
Hi @Aukstkalnis,

There was an intention to make this a port but we realized it was a mistake so it's there to clarify. This is still just a binding.

[2017-09-06 08:22] Pixdigit commented on #240
Also same for renderer.GetRendererOutputSize

[2017-09-06 08:31] Pixdigit commented on #240
While we are at it: renderer.GetLogicalSize is completely missing.

[2017-09-06 08:48] veeableful commented on #240
Thanks! I've updated the code.

[2017-09-07 06:44] ZeroXLR opened #246 "PollEvent() fails outside package main on macOS Sierra"
**Operating system**: macOS Sierra 10.12.6

I ran `go test -v` in the **go-sdl2/sdl** directory and an uncaught exception was thrown. The culprit is the `PollEvent()` call in **go-sdl2/sdl/events_test.go**. Here is a minimal example that replicates the failure (run `go test foo_test.go` on this):

[code]

and here is the stack trace of the failure:

[code]

When I uncomment the blocked out code in

[2017-09-07 07:36] veeableful commented on #246
Hi @ZeroXLR,

It doesn't seem to happen on Linux. I'll try later on my Macbook Air =)

[2017-09-07 07:43] ZeroXLR commented on #246
@veeableful Indeed, it appears to be an Apple-exclusive problem: the exception thrown is an Objective C exception after all.

[2017-09-07 13:26] veeableful commented on #246
Weird, it seems removing `runtime.LockOSThread()` from the library fixes it. I'll look into this more.

[2017-09-08 00:18] ZeroXLR commented on #246
@veeableful Can you tell me what you did? I'd like to try out that fix on my fork too

[2017-09-08 00:29] veeableful commented on #246
I removed `runtime.LockOSThread()` from the `init()` in `sdl.go`. Then removed the `runtime` import in the same file. I'm not sure if that counts as fix though :P

[2017-09-08 00:40] ZeroXLR commented on #246
Hmm. I will try that out. By the way, here is an even shorter example that causes the failure:

[code]

Basically, `PollEvent()` crashes whenever it is in _some_ thread different from main. I don't know whether that helps you understand what is going on.

[2017-09-08 05:54] ZeroXLR commented on #246
An obvious but adhoc solution is possible by doing an `unlockOSThread()` inside `TestMain(m *testing.M)` before the other tests begin. I will submit a pull request with the patch. However, reading through related issues like [**golang/go/issues/7905**](https://github.com/golang/go/issues/7905) make me think that there should be a more
 comprehensive way to resolve this...

[2017-09-08 17:06] #240 closed

[2017-09-09 01:25] veeableful commented on #246
I agree. I've merged the pull request for now and hopefully will find solution to this.

[2017-09-10 04:18] veeableful commented on #241
I figure I can remove it now since it's been awhile since we cancelled that plan. I think most people shouldn't be aware of it by now.

[2017-09-12 02:48] ZeroXLR commented on #246
I have confirmed that the tests still fail by running `go test -v -race`. However, it only fails sometimes now. Depending on how you look at it, this may be worse as it is a hidden bug.

[2017-09-12 02:55] veeableful commented on #246
It is known that [SDL_PollEvent](https://wiki.libsdl.org/SDL_PollEvent) should be run in the main thread according to [SDL_PumpEvents](https://wiki.libsdl.org/SDL_PumpEvents). Perhaps we just need to find a way to do that in the test.

[2017-09-12 05:05] ZeroXLR commented on #246
There is certainly a way of doing that by wrapping each `PollEvent()`/`WaitEvent()` calls that I could find with `sdl.Do(..)`s and calling `sdl.Main(..)` from `TestMain(..)`. This was the way I was originally trying to solve the problem. But I always end up getting a message: `2017-09-12 10:41:14.346 sdl.test[8522:53069] !!! BUG: The current event queue and the main event queue are not the same. E

[2017-09-14 02:52] #241 closed

[2017-09-14 12:19] ZeroXLR commented on #246
With this issue seemingly fixed by 4fc54e5 I will close it.

[2017-09-14 12:19] #246 closed

[2017-09-14 20:25] billyninja opened #252 "Dep. problem cross-compiling to Android."
Having a hard time cross-compiling a program to android/arm. It complains about missing X11/Xlib.h. While a regular x86_64 build works just fine. Sure it is more related to the SDL2 itself, but either way if you guys could lend me a hand.

The program itself doesn't do anything special, it's a regular ~100 loc go-sdl2 program.

[code]

[code]

[code]

[2017-09-15 01:49] veeableful commented on #252
We don't have a nice out-of-the-box support for Android yet but @gen2brain has kindly provided an example of using go-sdl2 on Android for us plebs at https://github.com/gen2brain/go-sdl2-android-example. I personally haven't tried it but perhaps it can help you.

It's definitely something that can be improved so I can keep this issue open.

[2017-09-15 11:45] billyninja commented on #252
Thank you! I will try to follow @gen2brain steps/organization. The content covering gomobile across the web is very scarce (and most of the non-official came to be by the time of the initial release and is kinda outdated), any sort of good example is very valuable!

[2017-09-19 06:26] pvitaliy84 opened #255 "how play mp3 from memory?"
Hello. Please help me, i don't understand how play mp3 from memory --> []byte

[code]

[2017-09-19 07:07] veeableful commented on #255
Hi @pvitaliy84, I updated a bit of the code (particularly `mix.QuickLoad_WAV()`) and added an example called `audio_wav_memory` in the `examples` directory. You can only play WAV or raw audio data from memory though. If you want to play MP3, perhaps save the data as a temporary file and then play the file.

[2017-09-19 07:58] pvitaliy84 commented on #255
Ok, thnx for you help!

[2017-09-19 07:58] #255 closed

[2017-09-20 00:17] fohristiwhirl opened #256 "Is min() supposed to return the minimum value?"
I was just glancing through the code, and noticed that in `gfx/sdl_gfx.go` the function min() does not do what one would expect.

Assuming it is supposed to be the minimum, a correct version would be:

[code]

[2017-09-20 02:20] veeableful commented on #256
Oh dear! You're right. I've fixed it now. Thanks!

[2017-09-21 23:41] #256 closed

[2017-09-29 17:23] Pixdigit opened #259 "Event interface has no exported fields?"
I might just getting this wrong how to use SDL_Event but how come that when I execute
[code]
I get `&{Type:512 Timestamp:154 WindowID:2 Event:1 _:0 _:0 _:0 Data1:0 Data2:0}`
But when I try to
[code]
it raises `a.Type undefined (type sdl.Event is interface with no methods)`.
What do I need to do? Or is this actually an error in `go-sdl2`?
(By the way I feel sorry for always asking here, is there a

[2017-09-30 04:53] veeableful commented on #259
Hi @Pixdigit, no worries you can ask here :)

`sdl.PollEvent()` returns an `interface{}` where you can then use type assertion to match the type. You can see an example in `examples/events/events.go` to see how it is done. This is because the native version uses a union instead of struct so we can't just easily translate it to Go.

[2017-10-02 10:32] #259 closed

[2017-10-17 08:22] LifeSoftServ opened #260 "missing function SDL_GetWindowID(SDL_Window * ptr)"
SDL_GetWindowID(SDL_Window * ptr)
is missing

[2017-10-17 08:25] veeableful commented on #260
Hi @LifeSoftServ, you can use https://godoc.org/github.com/veandco/go-sdl2/sdl#Window.GetID

[2017-10-17 13:21] #260 closed

[2017-10-18 14:02] Pixdigit opened #261 "Window is missing SetResizable method."
[This](https://wiki.libsdl.org/SDL_SetWindowResizable?highlight=%28%5CbCategoryAPI%5Cb%29%7C%28SDLFunctionTemplate%29) SDL function/method is missing to go-sdl2

[2017-10-18 16:24] veeableful commented on #261
Thank @Pixdigit ! I've added it in the latest commit.

[2017-10-18 16:34] Myu-Unix commented on #261
Hello !

I just happens to be looking at go-sdl2 at the very moment and I've a related issue I believe :

[code]

[2017-10-18 16:52] veeableful commented on #261
@Myu-unix Oh dear, I didn't realize it's an SDL 2.0.5 feature. I've pushed commit which hopefully fixes the issue.

[2017-10-18 17:04] Myu-Unix commented on #261
Can confirm, I was able to compile the example with SDL 2.0.4

Thank you (fastest bugfix I've seen since a while :D) !

[code]

[2017-10-22 17:17] Zac-Garby opened #262 "Window frame isn't visible on macOS"
When I create the window using this code:

[code]

It's just a black rectangle, with no titlebar. How can I give the window a titlebar?

[2017-10-22 17:42] veeableful commented on #262
Could you try with this code and see if it works? I tried on my macOS and seems to work fine. I think SDL2 just needs some additional processing in the background to get the whole thing running.

[code]

[2017-10-22 17:44] Zac-Garby commented on #262
It works - thanks :) The titlebar's still dark grey, though. Not a huge problem, but if there's an easy fix it'd be nice

[2017-10-22 17:56] veeableful commented on #262
Is it not supposed to be dark grey? I'm not sure if SDL2 provides the capability to customize the window title bar. You might need to get the native window handle using window.GetID() and do OSX specific code using the handle. I've never coded OSX GUI application though so if it's simple enough to do, I might add it to platform-specific part of the binding as an extra.

[2017-10-22 17:57] Zac-Garby commented on #262
Usually it's light-ish grey, by dark grey I mean about 2x darker than usual. It's strange because it doesn't always happen, either. It seems that if only happens with certain clear colours.

[2017-10-22 18:00] veeableful commented on #262
Could you post screenshots for both? Maybe I'll ask the SDL2 guys about this.

[2017-10-22 18:02] Zac-Garby commented on #262
<img width="912" alt="screen shot 2017-10-22 at 19 01 01" src="https://user-images.githubusercontent.com/19708658/31864771-7f6e115a-b75b-11e7-9e07-152ce1df92cc.png">

<img width="842" alt="screen shot 2017-10-22 at 19 01 53" src="https://user-images.githubusercontent.com/19708658/31864772-7f91b768-b75b-11e7-8eb8-c37bd149e267.png">

(As it says, the dark titlebar seemed to happen with all backgroun

[2017-10-23 04:24] veeableful commented on #262
Hi @Zac-Garby,

According to slouken, it looks like you might have to recompile SDL2 with a bit of modification: https://discourse.libsdl.org/t/question-about-title-bar-color-on-osx/23275/2?u=veeableful

[2017-10-23 08:09] Zac-Garby commented on #262
Nice, thanks! It'd be really cool to be able to set the colour at runtime

[2017-10-23 08:10] #262 closed

[2017-10-28 13:03] demonshreder commented on #178
Go requires a C/C++ cross compiler for Windows for it to cross compile Cgo stuff.

I used mingw-w64 on ArchLinux to compile a basic snake game.  An old build of mingw-w64 is available for Mac. Most popular Linux distros have mingw-w64 available.

Then you need to download mingw devel versions of sdl available at:

`https://www.libsdl.org/download-2.0.php`
`https://www.libsdl.org/projects/`

Cgo is

[2017-10-29 01:43] #261 closed

[2017-10-29 01:45] veeableful commented on #178
Thanks @demonshreder. I'll try it out and put in the README if I can do it successfully. 👍

[2017-10-31 11:16] ScottHuangZL opened #263 "Example texture_png failed"
The sample texture success load bmp files.
However, the sample texture_png failed.

It show error: Failed to load PNG: Failed loading libpng16-16.dll , exit status 3.

I use Win10 64bit, use Go 1.9.2 , thanks.

Can you help on it? thanks.

[2017-10-31 13:16] veeableful commented on #263
Hi @ScottHuangZL , you need to download the [SDL2](http://libsdl.org/download-2.0.php) and [SDL2_image](https://www.libsdl.org/projects/SDL_image/) Windows runtime libraries and put the .dll files inside the texture_png example folder. After that, try run the program again and let me know if it works for you.

[2017-11-01 09:32] malashin opened #265 "Naming convention and documentation"
Hello,

It's seems that `*Texture.GL_BindTexture()` and `*Texture.GL_UnbindTexture()` should be renamed to `*Texture.GL_Bind()` and `*Texture.GL_Unbind()`.
https://github.com/veandco/go-sdl2/blob/master/sdl/render.go#L573-L589

Is it ok to do? I'm asking since it's quite a breaking change, but there was a similar commit before https://github.com/veandco/go-sdl2/commit/4dfff388ba1bfea748957a26a977a

[2017-11-02 02:47] veeableful commented on #265
Hi @malashin, that's a good point. The `GL_BindTexture` and `GL_UnbindTexture` should just be `GL_Bind` and `GL_Unbind`. I can tag current master as `v0.2` so we can introduce breaking changes for the next cycle. Do you want to PR for this?

As for the UpdateYUV, perhaps we can just remove the description altogether since this is just a binding and people can go to the link. But I'm fine with keep

[2017-11-02 03:53] malashin commented on #265
@veeableful, renamed the functions:
https://github.com/veandco/go-sdl2/pull/266

---

I was not talking about UpdateYUV specifically, it was just an example. I'm up for adding proper documentation for all the functions, but I need some sort of approved formatting for it.

Currently the documentation is all over the place. Some functions have it, some don't. Not sure why methods have objects names

[2017-11-02 04:56] veeableful commented on #265
You're right. I guess we were just stuck in between choosing whether to make it easier for C people or Go people and ended up somewhere in the middle which is probably not good.

What do you think if we follow the godoc guidelines and append the link at the end for the documentation? That's a lot of functions to go through though. I wish we have a way to automate these to just take from the offici

[2017-11-02 05:19] malashin commented on #265
Yes, this is the one I'm in favor of.

[code]

There are several problems with the automation. All the docs must be there on github for goDoc to function. This means that the script can not be run on compile, but before a commit instead. The wording of description on SDL wiki is not 100% compatible:

Should be `UpdateYUV updates a rectangle within a planar YV12 or IYUV texture with new pixel data.

[2017-11-02 05:30] ScottHuangZL commented on #263
It is work after I download the runtime libraries to **overwrite** existing one. Thanks.

Originally, I just download the **dev pacakage**, and it including those dll files already, so I think no need additional work.

It will be helpful in case you add this tip in your readme.md in advance, it can save some time for new comers:) Thanks.

[2017-11-02 05:31] #263 closed

[2017-11-02 05:32] veeableful commented on #263
You're right. I'll add the note to readme.

[2017-11-02 06:02] ScottHuangZL commented on #148
I am use win10.
Do you know where to get the run time lib of SDL2 & SDL_Mixer to support MP3 directly? Thanks.

[2017-11-02 08:01] veeableful commented on #265
The SDL2 wiki function description seems quite structured. I'll look into the automation part. Seems pretty doable to make it look the same as how you would write the Go function description 😁

[2017-11-02 08:21] malashin commented on #265
I've added documentation for render.go pretty much by hand. Do you need it PRed or should we wait with the automation?
https://github.com/malashin/go-sdl2/commit/c0f391421274d71ae86182e19b2c4154a9675dbc

The patterns I was able to determine from this are:
"Use this function to get" -> "returns"
Everything else like "Use this function to set", "...copy", "...destroy" has to be transformed into thir

[2017-11-02 08:35] veeableful commented on #265
Yeah definitely. We'll merge the PR first. Thank you very much for doing this. I know there's a lot of function descriptions there need rewriting.

I plan to start with writing a program for getting all the function descriptions and then we can break down the structure and generalize it well enough so the transformation works on all functions. I will add the program under `tools` directory when it

[2017-11-07 03:06] malashin opened #271 "Several functions should return bool instead of 0 or 1 ints"
Not sure how critical this is, but `MouseIsHaptic()` currently returns 0 or 1 ints (SDL_FALSE or SDL_TRUE).
https://wiki.libsdl.org/SDL_MouseIsHaptic

I'm just saying that, because all similar functions I've encountered before return bools.
**For example:**
`sdl: render: Renderer.RenderTargetSupported()`
https://wiki.libsdl.org/SDL_RenderTargetSupported

---

Found some more. Will list them all he

[2017-11-07 03:10] malashin commented on #271
Found some more. Will list them all here.
[code]

[2017-11-07 06:06] malashin opened #272 "SDL_KeyboardEvent is currently split into KeyDown and KeyUp events"
https://github.com/veandco/go-sdl2/blob/master/sdl/events.go#L146-L173

There is even a comment about this in the code:

SDL_KeyboardEvent contains the type of the event SDL_KEYDOWN or SDL_KEYUP so there is no need for boolean.
https://wiki.libsdl.org/SDL_KeyboardEvent

[2017-11-07 06:31] malashin opened #273 "Add new SDL constants"
https://wiki.libsdl.org/SDL_MouseWheelEvent
[code]
---
https://wiki.libsdl.org/SDL_WindowFlags

[code]
---
https://wiki.libsdl.org/SDL_WindowEventID
[code]
---
https://wiki.libsdl.org/SDL_GL_SetAttribute
[code]
---
https://wiki.libsdl.org/SDL_SysWMmsg
[code]

[2017-11-07 07:12] malashin opened #274 "Possible memory leak in sdl: events: DropEvent"
https://wiki.libsdl.org/SDL_DropEvent

According to docs `file` should be freed after the event.

I'm not sure how this is handled in Go.  Maybe we should defer C.SDL_free() before returning the event.

https://github.com/veandco/go-sdl2/blob/master/sdl/events.go
[code]

Need someone much more experienced then me to check this.

[2017-11-08 08:43] malashin opened #276 "Update sdl: mutex.go"
`sdl: mutex.go` should be rewritten to use methods and return errors instead of ints.

[2017-11-08 08:48] malashin opened #277 "sdl: video: cMessageBoxData struct seems to be unused"

[2017-11-08 09:09] malashin commented on #274
This is actually the case. Will make a PR later.
[code]

[2017-11-09 10:35] malashin opened #280 "sdl: yuv_sw_c: SW_YUVTexture seems to be depricated"
sdl: yuv_sw_c: SW_YUVTexture seems to be depricated. I can find it in SDL 1 sources, but not in SDL 2.

`SDL_UpdateYUVTexture()` uses a simple Texture, not a YUVTexture.

[2017-11-11 14:54] x8522207x commented on #274
Hello,could you also test the following code?
I think there is also memory leak in the function.

func PollEvent() Event {
        ret := C.SDL_PollEvent(&cevent)//here memory leak
        if ret == 0 {
                return nil
        }
        return goEvent((*CEvent)(unsafe.Pointer(&cevent)))
}

[2017-11-11 14:54] dodobyte opened #281 "Function parameter types and Struct field types are not compatible for coordinates."
Edit: I believe this issue is the same with #99. Can be merged or discarded.

Let me make it clear with a simple example.

`sdl.Point` structure has `X` and `Y` fields as `int32`. However `renderer.DrawPoint` has `x` and `y` parameters as `int`.

[code]

Same applies to `DrawLine` and some other functions that deal with coordinates such as `GetMouseState`.

I've seen the same issue even in this li

[2017-11-11 15:38] veeableful commented on #274
Hi @x8522207x, could you tell me which event causes memory leak? I've merged @malashin's PR which fixes DropEvent memory leak.

[2017-11-11 16:14] x8522207x commented on #274
Hi @veeableful  I just call the "sdl.PollEvent()" function when I run a endless loop
like the following code
for {
sdl.PollEvent()
}
I use htop to observe the memory, I find the memory keep increasing.

[2017-11-11 16:29] veeableful commented on #274
@x8522207x, could you provide me with a working code that reproduces the issue? I ran

[code]

but the memory seems to not increase. I monitored using `top` using byte units.

[2017-11-11 16:33] veeableful commented on #281
Hi @dodobyte, I see your point. I've converted most of the coordinate and size parameter types to int32. Let me know if I'm missing some things!

[2017-11-11 17:05] x8522207x commented on #274
@veeableful  really? Because I ran the same code ,the memory would increase......
or maybe there are other reasons ?

[2017-11-11 17:13] veeableful commented on #274
@x8522207x, could you tell me the commit id of go-sdl2 that you're using and the OS you are running?

[2017-11-11 17:16] dodobyte commented on #281
Hi @veeableful, I updated my code and tried it out. Everything seems to work fine. I don't see anything missing. Thanks you very much.

[2017-11-11 17:17] x8522207x commented on #274
@veeableful  My OS is centOS 6.8 but I don't know the commit id .
I using the latest  go-sdl2.

[2017-11-11 17:47] #281 closed

[2017-11-13 09:38] malashin commented on #274
No memory leak on windows.

My PR only fixes the dropEvent. So you would actually need to use dropEvents it to leak memory by not freeing the pointer to the filename. Just running a PollEvent loop does not leak.

I think this issue can be closed.

[2017-11-13 10:13] malashin commented on #281
Wouldn't it make more sense to actually convert everything to `int` instead of `int32`? To me this seems much more userfriendly, and more Go-like.

Though it would require either rewriting of some structs, or writing additional getter methods that read `int32` from a struct and return `int` while original values are unexported.

[2017-11-14 02:03] veeableful commented on #281
Ideally I guess `int` is more desirable but yeah, most of the structs right now are designed to be compatible with the C counterparts so they can be directly transferred between C and Go for efficiency. If we want to use `int`, we definitely need some translation layer as mentioned in the original [issue](https://github.com/veandco/go-sdl2/issues/99) which might add some overhead and code complexi

[2017-11-14 06:24] macroblock commented on #281
Hi all, I think that the main part of the problem is transferring Point and Rect structures and their fields between an application that uses go-sdl2 (int) and go-sdl2 itself (int32). Maybe we should add this bridge-functionality in the library. For example:
[code]

[2017-11-14 09:02] malashin opened #285 "Some functions should be rewritten into methods"
For example this three can be methods for `*Window`, `*Surface` and `*GameController`:
[code]

You can find more with this regexp expression:
[code]

[2017-11-14 12:04] dodobyte commented on #281
@macroblock, bad idea. Too many new things to learn and document, too many unnecessary indirection.
go-sdl2 is already a bridge between sdl2 and go-sdl2 users.

First off, the problem is not only `sdl.Rect` structure, there are many other things. [see](https://github.com/veandco/go-sdl2/commit/4ebcc929905579c7fd0e5caff4e40be03c85e6e1).
Second, `sdl.Rect` was always `int32`, @veeableful converted f

[2017-11-14 13:31] macroblock commented on #281
@dodobyte, my proposal does not affect your code in any way. It does not change existing fields. It's extended functionality for gophers who prefer to use a native int in their calculations as it provided in golang. And make their code more clean readable.
This:
[code]
vs. this:
[code]

[2017-11-14 13:51] dodobyte commented on #285
I speak only for `CreateRenderer`, please don't do it. Just because renderer needs a window to draw doesn't make it window's method. It's a different animal.

A window should have methods only to manipulate that window. Any objects should have methods only to manipulate itself. Some external objects may want to use your window object, in this case a renderer, so be it. But they are not your concer

[2017-11-14 14:03] dodobyte commented on #281
@macroblock, i understand your point but i am against inventing new functions or methods that don't have SDL2 counterpart. The library is very intuitive because it's a fairly straightforward translation from C to Go.

Second and perhaps more important thing is that it would split the users. Some people would use the library like me, with literals and `int32` variables while others use with `int`'s

[2017-11-14 14:22] dodobyte commented on #281
@malashin, i invalidate my previous point about serialization. It's my C habit to dump structs directly to file in binary. There are much better ways to serialize objects in Go such as [Gob](https://golang.org/pkg/encoding/gob/). This deals with the issues i mentioned before.

I still believe `int32` to be a better choice though.

[2017-11-16 05:13] #274 closed

[2017-11-16 06:20] malashin commented on #285
@dodobyte if this is the case for object creation, then we have some rogue methods that already do this as methods.

[code]
[code]

This one is weird, not a simple getter. Though I'd rather leave is as it is now.
[code]

We need to decide what to do with those.

---
This one definitely needs to be rewritten, since its a simple getter:
[code]

[2017-11-16 08:44] veeableful commented on #276
Added it in https://github.com/veandco/go-sdl2/commit/6a5f9c44c6d4c9cdad16bbccaf86d96197323ebd

[2017-11-16 09:27] malashin commented on #276
Should be mentioned in BREAKING.md.

[2017-11-16 09:28] malashin commented on #276
Ok, you've already did it. Issue can be closed.

[2017-11-16 14:57] dodobyte commented on #285
@malashin, i see. Consistency is more important than anything else. SDL doesn't imply what should be a method of what. But there are some hints in documentation, namely [categories](https://wiki.libsdl.org/CategoryCategory).

I believe the original creator of this library also took categories into consideration. File names show that.

API's in [CategoryRender](https://wiki.libsdl.org/CategoryRende

[2017-11-17 11:09] malashin commented on #273
[code]

[2017-11-18 14:56] #276 closed

[2017-11-21 09:35] malashin commented on #272
https://github.com/veandco/go-sdl2/commit/b565ce20739d7a6df3ef64abe70ee21d5b8e8d9a

[2017-11-21 09:35] #272 closed

[2017-11-21 09:42] malashin commented on #273
https://github.com/veandco/go-sdl2/commit/ca14348af9e3165e58f1394d94d8cb564b9398a2
https://github.com/veandco/go-sdl2/commit/07a75b073c4617e6881502e4c1dc3da774026de0
https://github.com/veandco/go-sdl2/commit/4e7bc65c5d887d6ad008a4ba6225c3b4cb09c743
https://github.com/veandco/go-sdl2/commit/8a0cd896d89bac43c198e9c5620f5e5cfc7f6368
https://github.com/veandco/go-sdl2/commit/15998055e3da9388799b28c7ee

[2017-11-21 09:42] #273 closed

[2017-11-21 09:43] malashin commented on #271
https://github.com/veandco/go-sdl2/commit/ddb9ec555a774abb2eba9bc016fe6304e9cf0dff

[2017-11-21 09:43] #271 closed

[2017-11-21 09:43] #265 closed

[2017-11-23 02:59] malashin opened #289 "Error handling in haptics is wrong"
[code]

`errorFromInt(ret)` won't return error in this function, because it check for negative ints, but SDL_HapticOpened() returns 0 on error.

Didn't check the other functions.

[2017-11-23 03:17] veeableful commented on #285
I fixed the `GameControllerMapping()` first as it definitely needs to be made a method.

I'm not really sure about what to do about the rest. Both of you have some valid points. I think we should wait until there's a strong case for either of the options before we make further changes. If it is already working okay for everyone then we don't need to make any changes. I was thinking of providing bo

[2017-11-23 07:38] veeableful commented on #289
Nice catch, thanks! Fixed it in master.

[2017-11-24 03:22] macroblock commented on #285
First of all, the reason which @dodobyte mentioned (function's category) is not a good point to consider it seriously. Renderer has its own category just because it is big enough to have it.
Further I will try to give a reason why @malashin is right:
* Renderer is actually part of Window struct (inside SDL library).
* Window is not "just an argument". Renderer can't have normal functionality after

[2017-11-25 15:38] demonshreder commented on #178
Hi @veeableful, were you able to look into cross compiling?

[2017-11-27 02:28] veeableful commented on #178
Hi @demonshreder, sorry I totally slipped this one! I just tested cross-compiling on Linux to produce a Windows binary and it works with your guide. I have written a guide for Linux-to-Windows version inside README.md.

I'll try on OSX next!

[2017-11-27 09:44] demonshreder commented on #178
Hi, thanks for the update. I saw the README.md, it would be nice to include https://www.libsdl.org/projects/ for sdl-ttf, sdl-img, sdl-mixer MinGW devel/runtime libs.

[2017-11-27 09:52] veeableful commented on #178
@demonshreder You're right. I've added them to the README.md!

[2017-11-27 10:42] demonshreder commented on #178
Thank you. I had deleted my previous comment later thinking the additional links from windows setup help should be fine but in retrospect a linux user wouldn't stumble upon it easily.

Hope you are able to get it working on Mac OS.

[2017-11-30 14:06] macroblock opened #292 "GetViewport() should return Rect as retval instead of a pointer to an argument"
Now:
``func (renderer *Renderer) GetViewport(rect *Rect)``
Should be:
``func (renderer *Renderer) GetViewport() Rect``

and same way ```func (renderer *Renderer) GetClipRect(rect *Rect)```

[2017-11-30 16:18] veeableful commented on #292
Fixed! Thanks for the tip.

[2017-12-01 04:41] #289 closed

[2017-12-02 08:59] akzi opened #294 "something error in ubuntu 16.04 go version go1.9rc1 linux/amd64"
# github.com/veandco/go-sdl2/sdl
../github.com/veandco/go-sdl2/sdl/events.go:125:17: could not determine kind of name for C.SDL_DROPBEGIN
../github.com/veandco/go-sdl2/sdl/events.go:126:17: could not determine kind of name for C.SDL_DROPCOMPLETE
../github.com/veandco/go-sdl2/sdl/events.go:124:17: could not determine kind of name for C.SDL_DROPTEXT

[2017-12-02 14:26] veeableful commented on #294
Hmm is that the latest go-sdl2? It should have placeholders already so those errors shouldn't happen. Could you try updating go-sdl2?

[2017-12-02 14:35] veeableful commented on #280
Hmm you're right. I can find it in SDL2 sources but it doesn't seem to be publicly declared anywhere in the header files. Seems like it's safe to remove it so I did it.

[2017-12-02 16:10] veeableful commented on #149
I installed a Windows Vista 32-bit and latest MinGW as of today under Virtualbox and it seems like it doesn't happen anymore. There _is_ a problem with renderer created with sdl.RENDERER_ACCELERATED but the error messages suggest it's a problem with Virtualbox's OpenGL implementation.

I'll be closing this issue then. If there's someone who still has this issue, feel free to comment!

[2017-12-02 16:10] #149 closed

[2017-12-02 16:13] veeableful commented on #178
Hi @caioariede, I've added a guide to cross-compile from Mac to Windows. If you're still here, I would love to have your input!

Otherwise, I'll wait for people to confirm that the guide is working for them.

[2017-12-02 16:17] veeableful commented on #277
You're right. I removed it in master.

[2017-12-03 12:26] #292 closed

[2017-12-04 06:15] hsoolien commented on #294
I am having the same issue, Mint 18.2, go1.6.2

[2017-12-04 07:08] malashin commented on #294
Ubuntu 16.04 SDL's version is 2.0.4.
`SDL_DROPTEXT`, `SDL_DROPBEGIN`, and `SDL_DROPCOMPLETE` are available since SDL 2.0.5.

Substitute function are currently checking for >= 2.0.4 instead of 2.0.5. Should be fixed once PR is merged with the master. Update go-sdl2 after that.

[2017-12-04 07:09] #277 closed

[2017-12-04 07:10] #280 closed

[2017-12-04 07:14] veeableful commented on #294
I have merged it to master. Thanks @malashin!

[2017-12-04 18:15] dt-rush opened #296 "Code comments in examples?"
It would probably massively improve the value of the examples if they had comments.

I'd be interested in taking on some of this work and could create pull requests to be reviewed.

What motivated me to file this issue is actually a somewhat separate question, though, which I'd also appreciate clarification on while anybody reading is reading:

[In the render_goroutines example](https://github.com

[2017-12-05 01:45] veeableful commented on #296
That's a good idea @dt-rush. The project always needs more improvements so PRs are always welcome and appreciated. Improving the examples is a nice start!

[2017-12-16 03:16] 5k3105 opened #298 "No available video device"
Hey,
Trying to get SDL working without x11. I get 'No available video device' using example.

[code]

installed sdl according to:
https://discourse.libsdl.org/t/rendertarget-texture-got-deleted-between-renderpresent/22983/19
[code]

Any hints?
Thanks!

[2017-12-16 04:07] veeableful commented on #298
Hi @5k3105, could you provide us with a minimal sample code? Just want to make sure that the issue is related to go-sdl2.

[2017-12-16 18:36] 5k3105 commented on #298
It's probably some settings somewhere - not related to go-sdl2.

Example from the front page:

[code]

[2017-12-16 21:04] 5k3105 commented on #298
Nevermind. Looks like my pi is too old to use vc4. I just don't understand why I can get my emulator that uses SDL to run from terminal without x11 but I can't develop an application for SDL.

[2017-12-16 21:04] #298 closed

[2017-12-18 05:36] veeableful commented on #298
Which emulator is that? Might be worth trying it out on my Raspberry Pi to see if it works. I can add it as an extra documentation in README or the go-sdl2 website we have in mind for the future reference.

[2017-12-21 19:16] somatorio commented on #200
as this issue is closed i guess the tutorials are done, could someone point me towards the tutorials? i'm really lost here =x

[2017-12-21 23:33] 5k3105 commented on #298
Oh, I had compiled vice http://vice.pokefinder.org/ for the pi with sdl and without x11. It's probably using sdl1 though. However, it seems like I should have been able to compile with sdl2 without x11 but maybe it couldn't find opengl. openvg worked well though because I only needed a simple display.

[2017-12-23 09:48] veeableful commented on #200
Hi @somatorio, unfortunately no but we have been thinking about mimicking processing.org's way of writing the tutorials and references. Our API has been changing a lot as well but it's stabilizing so maybe we're close to ready to get a real website up and running!

[2017-12-23 19:44] shibingli opened #299 "MP3 support not available"
[code]

Mac OS 10.13.2

brew install sdl2_mixer --with-flac --with-fluid-synth --with-libmikmod --with-libmodplug --with-smpeg2 --with-mpg123

[2017-12-24 13:55] veeableful commented on #299
Hmm weird, it seems to not work on my Linux laptop too. I'll check on this more when I'm back from overseas.

[2017-12-25 09:05] shibingli commented on #299
Thanks.

[2017-12-25 09:18] veeableful commented on #298
Thanks for responding even though you found a solution!

[2017-12-28 17:29] veeableful commented on #299
It seems like sdl2_mixer 2.0.2's MP3 support is broken? When I reverted to 2.0.1 on both Linux and macOS, it seems to work.

on macOS, I had to checkout Homebrew's formula back to when sdl2_mixer was still 2.0.1. Something like this (assuming sdl2 and sdl2_mixer aren't installed yet):
1. `cd $(brew --repo homebrew/core)`
2. `git checkout 956d9f`
3. `HOMEBREW_NO_AUTO_UPDATE=1 brew install sdl2_mixe

[2018-01-02 03:09] amtektonics opened #300 "Alter pixel data of a surface"
Is it possible to alter the pixel data of a surface struct?
In the C implementation of it you can directly interact with the pixels, but it appears that you can't in this binding.  The reason I need it is I am working on a photo data base system and I was to just encode my format of image to a SDL Texture, via a create texture from surface, without having to save it to disk first.

[2018-01-02 03:16] amtektonics commented on #300
Never Mind I found out you can use surface.Pixels()[] to access it.

[2018-01-02 03:16] #300 closed

[2018-01-12 06:01] geek1011 commented on #299
Can confirm with OGG on Arch Linux.

[2018-01-12 06:41] #294 closed

[2018-01-14 17:42] Pixdigit opened #301 "Ability to optionally exclude examples"
I set up my new laptop along with a working environment for go. However when I set it up I wondered why I suddenly had 3 more source packages for go-gl. Since I do not need them do not want to keep maintaining that bit of code (meaning checking for (security-)updates etc.) it would be nice to be able to exclude it when installing go-sdl2.

[2018-01-15 01:39] veeableful commented on #301
Hi @Pixdigit, installing go-sdl2 shouldn't install any extra packages (or at least it doesn't for me). How did you install go-sdl2? Maybe I'll try and see if it happens to me. I usually just use `go install -v github.com/go-sdl2/sdl` (or I can also use `go install -v github.com/go-sdl2` but that means the `sdl` package won't be pre-compiled).

[2018-01-15 18:04] Pixdigit commented on #301
I got it by `go get -v github.com/veandco/go-sdl2{ttf,mix,sdl,gfx}`

[2018-01-17 06:13] veeableful commented on #301
Hmm strange, it doesn't seem to do it for me. Have you tried backing up the `$GOPATH` folder and run the same command to see if it happens again? The only way I see you can get `go-gl` package is if you run `go get -v` inside one of the opengl examples.

[2018-01-17 21:17] Pixdigit commented on #301
Turns out the gl packages only get installed when I execute `go get -u -v all`. I mean I _could_ do selective updates but it is a bit inconvenient.

[2018-01-18 01:49] veeableful commented on #301
Okay, I'll move the examples and assets out to another repository.

[2018-01-18 02:01] veeableful commented on #301
I've moved them out to another [repository](https://github.com/veandco/go-sdl2-examples). Could you try again and confirm that it works? You might need to clear the $GOPATH though.

[2018-01-19 10:11] tosone opened #302 "Is it possible to play network audio?"
Is it possible to play network audio While downloading and play it immediately?

[2018-01-19 13:54] veeableful commented on #302
Hi @tosone, I provided an [example](https://github.com/veandco/go-sdl2-examples/tree/master/examples/audio_network) that does something similar. Does that help?

[2018-01-19 21:44] Pixdigit commented on #301
This has fixed it. And thank you for your effort as it is not usual to fix such minor annoyances so fast.